
{% extends "base_layouts/_site" %}

{% set title = 'Articles - Deep Insights from the Experts' %}
{% set desc = 'Find interesting articles and publications from Aranca that brings to you meaningful news, trends, analysis and views on the latest that is happening around in financial markets and businesses globally.' %}
{% set keywords = 'aranca articles & publications, articles & publications, financial market news, global market news, global market analysis, investment world news and views, global business news' %}

{% block main %}

{% include '_components/global/_header' %}
{% include '_components/articles/_masthead' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/kc/_highlights' %}
      {% include '_components/media-center/_pr-list' %}
      {% include '_components/media-center/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/articles/_list' %}
      {# include '_components/press-kit/_pk-download' #}
      {% include '_components/media-center/_contact' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>

{% include '_components/global/_footer' %}


{% endblock %}
