
{% extends "base_layouts/_site" %}

{% set title = 'Articles - Deep Insights from the Experts' %}
{% set desc = 'Find interesting articles and publications from Aranca that brings to you meaningful news, trends, analysis and views on the latest that is happening around in financial markets and businesses globally.' %}
{% set keywords = 'aranca articles & publications, articles & publications, financial market news, global market news, global market analysis, investment world news and views, global business news' %}

{% block main %}


{% set kcBodyCss %}

body {
  background-color: #F4F8FA !important;
}

.sub-form {
  margin-top: 180px;
}

{% endset %}

{% includeCss kcBodyCss %}

{% include '_components/global/_header' %}
{% include '_components/kc/_subscribe-alert' %}
{% include '_components/articles/_masthead' %}

<div class="container-fluid kc-cat">
  <div class="row">
    <div class="col-sm-8">
      {% include '_components/articles/_list' %}
    </div><!--  end col-sm-8 -->

    <!-- start sidebar -->
    <div class="col-sm-4">
      <div class="sidebar">
        {% include '_components/category/_sidebar' %}
      </div>{# end sidebar #}
    </div>{# end col-sm-4 #}
  </div>{# end row #}
</div>{# end container #}

{% include '_components/global/_footer' %}


{% endblock %}
