
{% extends "base_layouts/_site" %}

{% set title = 'Expert Articles' %}

{% block main %}

{% include '_components/global/_header' %}
{% include '_components/articles/_masthead' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/kc/_highlights' %}
      {% include '_components/media-center/_pr-list' %}
      {% include '_components/media-center/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/articles/_list' %}
      {% include '_components/press-kit/_pk-download' %}
      {% include '_components/media-center/_contact' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>

{% include '_components/global/_footer' %}


{% endblock %}
