
{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_vfilter' %}
{% include '_components/services/_why-aranca-4col' %}
{% include '_components/services/_client-list' %}
{% include '_components/services/_svc-testimonials' %}
{% include '_components/services/_featured-case-study' %}
{% include '_components/services/_indus-filter' %}
{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_kc-content' %}
{% include '_components/global/_footer' %}
