

{% set custblokCss %}
  .cust {
    background-color: white;
    margin-top: -1px;
    background-color: #E2F0FB;
  }

  /* top triangle will show if passed in */
  {% if topConnector is defined %}
  .cust::before {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    {% if brandColor is defined %}
      border-top: 25px solid {{ brandColor }};
    {% endif %}
    position: absolute;
    left: 50%;
  }
  {% endif %}

  .cust-blok {
    background-color:  {{ bgBlue }};
    color: {{ ttPrimary }};
  }

  .cust-blok__headline--main {
    text-align: center;
  }
  .cust-blok__headline {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
    line-height: 40px;
  }
  .cust-blok__subheadline {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .cust-blok__headline--small {
    color: {{ redPrimary }};
    font-weight: 300;
    line-height: 1.3em;
  }

  .cust-blok__headline--col {
    text-align: center;
  }
  .cust-blok--intro {
   text-align: center;
   padding: 25px 0;
  }



  .cust-blok__border {
    width: 50%;
    border: 1px solid #034883;
  }
  .cust-blok__content {
  color: #8B8D8F;
  font-size: 1.2em;
  text-align: center;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 21px solid {{ bgBlue }};
  }

  .cust-blok__headline--main > .triangle-down {
    position: relative;
    top: 40px;
  }

  .cust-blok__icon {
    padding-top: 20px;
  }

  .cust-blok--col {
    padding-bottom: 30px;
  }
  .fa-check {
    text-align: center;
    color: green;
  }
  .fa-times {
    text-align: center;
    color: red;
  }
  .cust-blok__headline--main td {
    color: #6F7981;
  }
  @media only screen and (max-width : 480px) {
    .cust::before {
      left: 42%;
    }
  }

{% endset %}

{% set custBlockJs %}

  new Waypoint.Inview({
    element: $('.cust-blok--col')[0],
    enter: function(direction) {
      $('.cust-blok__headline--col').addClass('animated fadeInUp');
      console.log('Scrolled to waypoint!')
    }
  });

{% endset %}

{% includeCss custblokCss %}
{% includeJs custBlockJs %}




<section class="container-fluid cust">

  <section class="container-fluid cust-blok">
    <div class="row">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 cust-blok__headline--main">
            <h3 class="lede__headline" style="color:#ffffff; padding-top: 20px;"">Solution Portfolio</h3>
              <p class="lede__subheadline" style="color:#ffffff;     padding-bottom: 20px;">A wide range of Language Editing, Proofreading, and Presentation Design capabilities that you can choose from:</p>
              <div class="panel panel-default" style="font-size: 15px;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  &nbsp;
                </th>
                <th  style="text-align: center; color:#59656B;">
                  Editing
                </th>
                <th style="text-align: center; color:#59656B;">
                  Presentation Design
                </th>
<!--                <th style="text-align: center;">
                  Mixed Bag
                </th> -->
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td width="40%">
                  Reports
                </td>
                <td width="20%">
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td width="20%">
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td width="20%">
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Brochures
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Presentations
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Annual Reports
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Pitchbooks
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Documents
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Newsletters 
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Marketing Material
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Business Plan
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Training Material
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Technical Manuals
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Manuals
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Infographics
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Mails
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Proposals
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  PDF Documents 
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> 
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Press Releases
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td> 
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Cheat Sheets
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Teasers
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
              <tr>
                <td>
                  Flash Notes
                </td>
                <td>
                  <em class="fa fa-check" aria-hidden="true"></em>
                </td>
                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td>
<!--                <td>
                  <em class="fa fa-times" aria-hidden="true"></em>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
            <span class="triangle-down"></span>

          </div> <!-- col-sm-12 -->
        </div> <!-- end row  -->
      </div><!-- end container -->
    </div> <!-- end row  -->
  </section><!-- end section -->



  <section class="container-fluid cust-blok--intro">
    <div class="row">
      <div class="container">
        <div class="row">

            <h2 class="lede__headline">What you can expect&hellip;</h2>
            <p class="lede__subheadline">You can rest assured that we will take care of: </p>
            <hr class="lede__border">

         </div><!-- end row -->
        <div class="row">
        
          <ul style="text-align: center; font-size: 1.3em; font-weight: 300; line-height: 1.8em; color: #6F7981;">
            <li>Tone</li>
            <li>Lexical choice and vocabulary</li>
           <!--  <li>Right use of grammar (consistency of verbs/tenses/subject-verb agreement/punctuations, etc.)</li> -->
            <li>Redundancy</li>
            <li>Sentence and paragraph structure</li>
            <li>Grammar and punctuation</li>
            <li>Storyboarding (top-down approach, seamless blending of points, flow, etc.)</li>
          </ul>
        </div><!-- end row -->

      </div><!-- end container -->
    </div><!-- end row -->
  </section>

</section>
