

{% set custblokCss %}
  .cust {
    background-color: white;
    margin-top: -1px;
    background-color: #E2F0FB;
  }

  /* top triangle will show if passed in */
  {% if topConnector is defined %}
  .cust::before {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    {% if brandColor is defined %}
      border-top: 25px solid {{ brandColor }};
    {% endif %}
    position: absolute;
    left: 50%;
  }
  {% endif %}

  .cust-blok {
    background-color:  {{ bgBlue }};
    color: {{ ttPrimary }};

  }
  .cust-blok__headline--main {
    text-align: center;
    text-transform: uppercase;
  }
  .cust-blok__headline {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
    line-height: 40px;
  }
  .cust-blok__subheadline {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .cust-blok__headline--small {
    color: {{ redPrimary }};
    font-weight: 300;
    line-height: 1.3em;
  }

  .cust-blok__headline--col {
    text-align: center;
  }
  .cust-blok--intro {
   text-align: center;
   padding: 25px 0;
  }



  .cust-blok__border {
    width: 50%;
    border: 1px solid #034883;
  }
  .cust-blok__content {
  color: #8B8D8F;
  font-size: 1.2em;
  text-align: center;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid {{ bgBlue }};
  }

  .cust-blok__headline--main > .triangle-down {
    position: relative;
    top: 40px;
  }

  .cust-blok__icon {
    padding-top: 20px;
  }

  .cust-blok--col {
    padding-bottom: 30px;
  }

  @media only screen and (max-width : 480px) {
    .cust::before {
      left: 42%;
    }
  }

{% endset %}

{% set custBlockJs %}

  new Waypoint.Inview({
    element: $('.cust-blok--col')[0],
    enter: function(direction) {
      $('.cust-blok__headline--col').addClass('animated fadeInUp');
      console.log('Scrolled to waypoint!')
    }
  });

{% endset %}

{% includeCss custblokCss %}
{% includeJs custBlockJs %}



<section class="container-fluid cust">

  <section class="container-fluid cust-blok">
    <div class="row">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 cust-blok__headline--main">
            <img src="/assets/uploads/icons/services/trusted-white.png" class="cust-blok__icon" alt="cap-block-icon1" />
            <h2 class="cust-blok__headline">jfldj</h2>
            <p class="cust-blok__subheadline">jdfjsl</p>
            <span class="triangle-down"></span>

          </div> <!-- col-sm-12 -->
        </div> <!-- end row  -->
      </div><!-- end container -->
    </div> <!-- end row  -->
  </section><!-- end section -->



  <section class="container-fluid cust-blok--intro">
    <div class="row">
      <div class="container">
        <div class="row">

            <h2 class="lede__headline">dfs</h2>
            <p class="lede__subheadline">tryr</p>
            <hr class="lede__border">

         </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end row -->
  </section>



  <section class="container-fluid cust-blok--col">
    <div class="row">
      <div class="container">
        <div class="row">



       sfdfsd

        </div><!-- end row -->

      </div><!-- end container -->
    </div><!-- end row -->
  </section>
</section>
