{% set solPortCss %}

#faq-acc {
  padding: 60px 0;
}
#faq-acc .panel-body p {
    color: #6F7981;
    line-height: 1.6em;
    text-align: justify;
    font-size: 1.1em;
}
{% endset %}

{% includeCss solPortCss %}

<section id="faq-acc">
    <div class="row">
      <div class="container">
        <div class="panel-group"  id="accordion">
          <!-- panel 1 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Do you use software to proofread or edit documents?</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body"><p>No, we do not use any software for editing. All reports are scrutinized manually as we believe technology delivers the best results only when effectively integrated with human capital. For presentations, we refer to our internal slide gallery for chart layouts, tables, timeline process slides, etc.</p></div>
            </div>
          </div>
          <!-- panel 2 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Can I supply my own style guide?</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body"><p>Yes. While we strictly conform to global conventions and standards, we will be equally comfortable in following your guidelines/specifications to ensure the final output is in line with your expectations.</p></div>
            </div>
          </div>
          <!-- panel 3 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;How can I be sure the document transmission process is safe?</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body"><p>We have very stringent confidentiality norms and clauses. Our processes are safeguarded by some of the highest protocols and firewalls that ensure no breach of data or information.</p></div>
            </div>
          </div>
          <!-- panel 4 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;What types of documents do you work with?</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body"><p>We work on a range of documents from one-page flash notes to newsletters, proposals, brochures, press releases, teasers, and reports that run into hundreds of pages.</p></div>
            </div>
          </div>
          <!-- panel 5 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse5" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;How will I know when my document is ready?</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body"><p>The editor / design specialist working on your project will promptly notify you upon the completion of your assignment.</p></div>
            </div>
          </div>
          <!-- panel 6 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse6" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;How can I be sure my document remains confidential?</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body"><p>Aranca is an ISO 27001:2013 certified company. We recognize that client documents are highly sensitive and therefore all written and spoken information is protected from access and use by any unauthorized persons. We have stringent processes and protocols to ensure the document remains in safe hands at all times and that client confidentiality and privacy are respected.</p></div>
            </div>
          </div>
          <!-- panel 7 -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse7" data-parent="#accordion" ><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Will you sign our nondisclosure agreement?</a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body"><p>Yes. We understand the concerns of our clients and we have no compunction in signing any such agreement.</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>