<style type="text/css">
	.fa-check {
		text-align: center;
		color: green;
	}
	.fa-times {
		text-align: center;
		color: red;
	}
	td {
		color: #6F7981;
	}
</style>
<section>
    <div class="row">
      <div class="container">
        <div class="row">
			<div class="col-sm-12">
				<h3 class="lede__headline">Solution Portfolio</h3>
			        <p class="lede__subheadline">A wide range of Language Editing, Proofreading, and Presentation Design capabilities that you can rely on.</p>
				<hr class="lede__border">
				<div class="panel panel-danger">
					 <div class="panel-heading"><h3>Editing, Presentation Design & Mixed Bag</h3></div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									&nbsp;
								</th>
								<th>
									Editing
								</th>
								<th>
									Presentation Design
								</th>
								<th>
									Mixed Bag
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Reports
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Manuals
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Brochures
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Business Presentations
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Annual Reports
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Pitchbooks
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Business Documents
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Newsletters 
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Marketing Material
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Business Plan
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Training Material
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Technical Manuals
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Infographics
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Mails
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Proposals
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									PDF Documents 
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Press Releases
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Cheat Sheets
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Teasers
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
							<tr>
								<td>
									Flash Notes
								</td>
								<td>
									<em class="fa fa-check" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
								<td>
									<em class="fa fa-times" aria-hidden="true"></em>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- row -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 why-arc-c__headline--main">
				<div class="panel panel-danger">
				  <div class="panel-heading"><h3>What you can expect&hellip;</h3></div>
				  <div class="panel-body">
				  		<h4 style="font-weight:500; color: #6F7981;">All documents submitted for edit will be checked for: </h4>
						<ul style="text-align: left; list-style: square; font-size: 1.1em; font-weight: 300; margin-left: 1.1em; line-height: 1.8em; color: #6F7981;">
							<li>Business tone</li>
							<li>Lexical choice and vocabulary</li>
							<li>Right use of grammar (consistency of verbs/tenses/subject-verb agreement/punctuations, etc.)</li>
							<li>Redundancy and repetition</li>
							<li>Sentence structure, syntax and paragraph structure</li>
							<li>Grammar and punctuation</li>
							<li>Storyboarding (top-down approach, seamless blending of points, flow, etc.)</li>
						</ul>
				  </div>
				</div>
			</div>
		</div><!-- row -->



		<!--  <div class="row" style="text-align:left;">
		 	<h3 class="lede__headline--white">What you can expect&hellip;</h3>
			<hr class="why-arc-c__border">
			<div class="col-sm-12 why-arc-c__headline--col animated fadeInUp">
				<div class="why-arc-c__content">
					<h4 class="lede__subheadline--white" style="font-weight:500;">All documents submitted for edit will be checked for: </h4>
					<ul style="text-align: left; list-style: square; font-size: 1.2em; font-weight: 300; margin-left: 23em; line-height: 2em;">
						<li>Business tone</li>
						<li>Lexical choice and vocabulary</li>
						<li>Right use of grammar (consistency of verbs/tenses/subject-verb agreement/punctuations, etc.)</li>
						<li>Redundancy and repetition</li>
						<li>Sentence structure, syntax and paragraph structure</li>
						<li>Grammar and punctuation</li>
						<li>Storyboarding (top-down approach, seamless blending of points, flow, etc.)</li>
					</ul>
				</div>
			</div>
		</div> -->

</div><!-- container -->

</section>