{% set pGridCss %}

  .team-member {
    text-align: center;
    margin-bottom: 50px;
  }

  .team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 75%;
  }

  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .team-member p {
    margin-top: 0;
  }

  .team-content p {
    color: #6F7981;
    line-height: 1.6em;
    text-align: justify;
    font-size: 1.1em;
  }

{% endset %}


{% includeCss pGridCss %}


<section class="container p-grid">
  <h2 class="lede__headline text-center">Editorial- Graphics Senior Team Profile</h2>
  <hr class="lede__border">
    <!-- Content container -->
    <div class="pgrid__container">
        <!-- grid starts here -->
      <!-- first row starts here -->
      <div class="corporate">
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#kevin">
            <img src="/assets/images/team/kevin.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Kevin Menezes</h4>
            <p class="text-muted">Head – Editorial &amp; Graphics</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#shruti">
              <img src="/assets/images/team/shruti.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Shruti Sinha </h4>
            <p class="text-muted">Associate VP</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#anand">
            <img src="/assets/images/team/anand.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Anand Gurav</h4>
            <p class="text-muted">Manager – Graphics</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#aishwarya">
            <img src="/assets/images/team/aishwarya.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Aishwarya Nair</h4>
            <p class="text-muted">Manager – Editoria</p>
          </div>
        </div>

      </div><!-- end row -->
      <!-- first row ends here -->
      </div>
    </div> <!-- content container -->


</section>

<!-- Modal 1 -->
<div id="kevin" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Kevin Menezes <span style="font-size:14px;">(Head – Editorial &amp; Graphics)</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
          <p><img src="/assets/images/team/kevin.png" class="img-responsive img-circle" alt=""></p>
          </div>
          <div class="col-sm-9 team-content">
            <p>Kevin has more than 16 years of experience working across the print, e-learning and financial domains. </p>
            <p>He commenced his career at the cusp of the century as an editor with Navhind Times. Thereafter, he worked with Business Standard, one of India’s leading financial dailies, where he developed the Companies, Industry and Markets pages and a syndicated supplement by Financial Times, London.</p> 
            <p>Prior to joining Aranca, he helped e-learning giant  Tata Interactive Systems (part of the $70 billion Tata Group) develop learning solutions in the Education, Banking, Financial Services verticals for clients such as McGraw-Hill. </p>
            <p>Kevin manages the day-to-day affairs of the Edit desk and the Graphics team, overseeing quality, timeliness of deliveries, process improvements and training.
            </p>
          </div>
        </div><!-- row -->
      </div>
    </div><!-- Modal content -->
  </div>
</div>
<!-- End Modal 1 -->

<!-- Modal 2 -->
<div id="shruti" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Shruti Sinha <span style="font-size:14px;">(Associate VP)</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <p><img src="/assets/images/team/shruti.png" class="img-responsive img-circle" alt=""></p>
          </div>
          <div class="col-sm-9 team-content">
            <p>Shruti has around 12 years of professional experience in editing. She has been associated with Aranca’s Editorial desk for almost nine years.</p>
            <p>Prior to Aranca, she worked as an editor at New Media Communications Private Limited, where she handled the company’s quarterly publication, Indo-Swiss Business, besides contributing to its other magazines. </p>
            <p>In her capacity as AVP, Shruti edits complex assignments, oversees management of the work process, creates tests, reviews reports, and mentors new recruits.</p>
            <p>Shruti holds a Masters in Arts (History) from the University of Delhi and a Post-Graduate Diploma in Public Relations from Bharatiya Vidya Bhawan, New Delhi.</p>
          </div>
        </div><!-- row -->
      </div>
    </div><!-- Modal content -->
  </div>
</div>
<!-- End Modal 2 -->

<!-- Modal 3 -->
<div id="anand" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Anand Gurav <span style="font-size:14px;">(Manager – Graphics)</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <p><img src="/assets/images/team/anand.png" class="img-responsive img-circle" alt=""></p>
          </div>
          <div class="col-sm-9 team-content">
            <p>Anand has more than 10 years of experience working on PowerPoint presentations. </p>
            <p>Anand started his career with Integreon Managed Solutions as a consultant. Thereafter, he helped investment bankers at Citi Fincorp and JP Morgan Chase with complex presentations. He also helped investment bankers prepare pitch books for products, marketing, analysis, dashboard, map info and graphics, and roadmaps as well as slideshows.</p>
            <p>At Aranca, Anand manages the overall operations of the Presentation team. He has conducted training on production services skills and contributed to the implementation of quality improvement initiatives.</p>
            <p>Anand has a Bachelor’s degree in Science from Mumbai University and a Diploma in Desktop Publication. </p>
          </div>
        </div><!-- row -->
      </div>
    </div><!-- Modal content -->
  </div>
</div>
<!-- End Modal 3 -->

<!-- Modal 4 -->
<div id="aishwarya" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aishwarya Nair <span style="font-size:14px;">(Manager – Editoria)</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <p><img src="/assets/images/team/aishwarya.png" class="img-responsive img-circle" alt=""></p>
          </div>
          <div class="col-sm-9 team-content">
            <p>Aishwarya has more than eight years of experience in copy editing, proofreading and content management, including five years of experience in reporting, desk research and page-making for two national English dailies.</p>
            <p>She manages a team of editors based in Aranca’s Gurgaon office, ensuring timely, accurate and error-free delivery of research reports. In addition, she conducts internal grammar/language sessions for editors.</p>
            <p>Aishwarya has a Master’s degree in English Literature and a Bachelor’s degree in Journalism.</p>
          </div>
        </div><!-- row -->
      </div>
    </div><!-- Modal content -->
  </div>
</div>
<!-- End Modal 4 -->