{% set whyarcCSS %}
  .why-arc-c {
    padding: 30px 0;
    background: url(/assets/images/backgrounds/why-aranca-c-bkg.jpg);
    padding: 60px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  .why-arc-c__headline--main {
    margin-bottom: 20px;
  }
  .why-arc-c__headline {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }

  .why-arc-c__headline--small {
    color: white;
    font-size: 1.7em;
    font-weight: 300;
  }

  .why-arc-c__subtext {
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .why-arc-c__border {
    width: 15%;
    border: 1px solid #fff;
  }
  .why-arc-c__headline--col {
    text-align: center;
  }
  .why-arc-c__content {
    color: #fff;
  }

  .why-arc-c__content > p {
    font-size: 1.1em;
  }

  .why-arc-c__border--content {
    width: 50%;
  }

  .why-arc-c__icon {
    opacity: 0.8;
  }

{% endset %}

{% set whyarcJs %}
  new Waypoint.Inview({
    element: $('.why-arc-c__headline--col')[0],
    enter: function(direction) {
      $('.why-arc-c__headline--col').addClass('animated fadeInUp');
    }
  });

{% endset%}

{% includeCss whyarcCSS %}
{% includeJs whyarcJs %}

<section class="why-arc-c container-fluid">
  <div class="row">
    <div class="container">

      <div class="row">
  <div class="col-sm-12 why-arc-c__headline--main">
    <h3 class="why-arc-c__headline">The Aranca Edge</h3>
    <p class="why-arc-c__subtext ">We don't just have the experience; we have varied experience. Over the last 13 years, we have published nearly 100,000 reports across domains and delivered them to over 1,500 clients all over the world.</p>
    <hr class="why-arc-c__border">
  </div>
  
</div>
<div class="row">
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
    <img src="/assets/uploads/icons/services/engage-expert-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">Experienced & Qualified Team</h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>We are a 30+ team of skilled and experienced editorial and presentation experts that delivers complex assignments such as infographics, pitch presentation slides, RFPs and proposals, reports, and company profiles for global clients.
      </p>
    </div>
  </div>
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp" style="margin-top: -10px">
    <img src="/assets/uploads/icons/services/global-footprint-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">Global Benchmarks</h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>While our Publication Support team is adept at using the Chicago Manual of Style for all publications in American English, we are equally proficient in referencing the Oxford Style Guide for our clients in Europe, South Africa, and Asia.
      </p>
    </div>
  </div>
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
    <img src="/assets/uploads/icons/services/customized-sol-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">
    <p>Customized Output
    </p></h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>Our Publication Support team provides highly customizable editing services to meet specific client requirements, while our  Presentation Support team is adept at customizing design styles to align with the client’s brand guidelines.
      </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
    <img src="/assets/uploads/icons/services/experience-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">Experience That Counts</h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>Our team comprises people with 10+ years of relevant experience in domains as diverse as print media, e-learning, linguistics, economics, finance and others.
      </p>
    </div>
  </div>
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp" style="margin-top: -10px">
    <img src="/assets/uploads/icons/services/multilanguage-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">Ability To Manage Volumes</h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>We deliver 500+ edited and designed business documents delivered every month for global clients across industry verticals.
      </p>
    </div>
  </div>
  <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp" style="margin-top: -10px">
    <img src="/assets/uploads/icons/services/power-knowledge-white.png" class="why-arc-c__icon" alt="cap-block-icon1">
    <h3 class="why-arc-c__headline--small">Quality Assurance</h3>
    <hr class="why-arc-c__border--content">
    <div class="why-arc-c__content">
      <p>Every document goes through at least two rounds of edit and design iterations to fix errors and maintain consistency in format and font as well as ensure adherence to guidelines.
      </p>
    </div>
  </div>
</div>


    </div><!-- end container -->
  </div><!-- end row -->
</section>


