<section class="footer" style="color: #DDD; background: #272727 none repeat scroll 0% 0%; margin-top: 30px;">
  <div class="container">
    <div class="row" style="margin:10px 0;">
    <div class="col-lg-12">
    <h4>About Aranca</h4>
    <p>Founded in 2003, Aranca is a leading firm providing research & analytics to global clients, from start-ups to global financial institutions and Fortune 500 firms. Aranca has built a strong reputation for insightful opinions and actionable research across markets, industry sectors and technology domains. </p>
    </div>
    </div>
    <div class="row" style="margin:30px 0 0 0;">
    <div class="col-lg-6 pull-left">
      <small>&copy; 2015, Aranca. All rights reserved.</small>
    </div>
    <div class="col-lg-6 pull-right policy">

   <a href="http://www.aranca.com/privacy-policy" target="_blank" style="margin-right: 5px; color: #DDD;">Privacy Policy</a> |
  <a href="http://www.aranca.com/terms-of-use" target="_blank" style="margin-right: 5px; color: #DDD;">Terms of Use </a>

    </div>
    </div>
  </div>
<!--   <a title="Scroll to top" href="#" class="scroll-top" style="display: inline;">Top</a> -->
</section>

    <!-- Popover bootstrap jquery -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      $(function () {
      $('[data-toggle="popover"]').popover({
        animation: true
      });
    });
    </script>
    <!-- customized js -->
    <script src="assets/js/aranca-cn.js"></script>

    <!-- Latest Bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 955828310;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/955828310/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

  </body>
</html>
