<div class="col-sm-4 cust-blok__headline--col">
<img src="/assets/uploads/icons/services/co-sourced-teams.png" class="cust-blok__icon" alt="cap-block-icon3" style="width:15%;">

  <h3 class="cust-blok__headline--small">2000+</h3>
  <div class="cust-blok__content">
    <p>Clients across the globe
    </p>
  </div>
</div>
<div class="col-sm-4 cust-blok__headline--col">
<img src="/assets/uploads/icons/services/bespoke.png" class="cust-blok__icon" alt="cap-block-icon1">

  <h3 class="cust-blok__headline--small">80+</h3>
  <div class="cust-blok__content">
    <p>Delivered Projects across 80+ Countries
    </p>
  </div>
</div>
<div class="col-sm-4 cust-blok__headline--col">
  <img src="/assets/uploads/icons/services/research-helpdesk.png" class="cust-blok__icon" alt="cap-block-icon2">
  <h3 class="cust-blok__headline--small">120+</h3>
  <div class="cust-blok__content">
    <p>Coverage over 120+ sectors and sub-sectors
    </p>
  </div>
</div>
