<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center element-top-70 big">
                    Our services
                </h1>
                <div class="divider-border divider-border-center element-top-10 element-bottom-10" 
                 style="height:3px;">
                    <div class="divider-border-inner" style="background: #0469ac;width:60px;"> </div>
                </div>
                <p class="lead text-center center element-bottom-40"> 
                We help businesses to create and implement exceptional experiences 
                for their customers.<br> We specialise in online 
                <strong>multi-channel</strong> technology services. 
                </p>
                <div class="list-container row element-bottom-50">
                    {%for block in entry.contentGrid %}
                        <div class="col-md-3 element-bottom-20 text-center"> <span class="service-simple-image">
                           {% set icon = block.icon.first() %}
                           {% if icon %}
                            <img alt="{{icon.title}}" src="{{icon.getUrl()}}"/>
                            {% endif %}
                            </span>
                            <h2>{{block.heading}}</h2>
                            <p>{{block.body}}.</p>
                        </div>                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>