<section class="section content-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="content-grid-headline text-center big">
                    Our services
                </h1>

                <hr class="divider-center" />

                <p class="content-grid-lead-text text-center"> 
                We help businesses to create and implement exceptional experiences 
                for their customers.<br> We specialise in online 
                <strong>multi-channel</strong> technology services. 
                </p>
                <div class="list-container row content-grid-content">
                    {%for block in entry.contentGrid %}
                        <div class="col-md-3 content-grid-block text-center"> <span class="service-simple-image">
                           {% set icon = block.icon.first() %}
                           {% if icon %}
                            <img alt="{{icon.title}}" src="{{icon.getUrl()}}"/>
                            {% endif %}
                            </span>
                            <h2>{{block.heading}}</h2>
                            <p>{{block.body}}.</p>
                        </div>                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>