<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky" id="masthead">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/images/aranca-logo.png" alt="aranca-logo"/>
            </a> 
        </div>
        <div class="nav-container">
            <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                <div class="menu-container">
                    <ul class="nav navbar-nav" id="menu-main">
                        <li class="menu-item active  "> <a href="#">About Us</a> </li>
                        <li class="menu-item"> <a href="#">Investment Research</a> </li>
                        <li class="menu-item"> <a href="#">Business Research</a> </li>
                        <li class="menu-item"> <a href="#">Valuation and Advisory</a> </li>
                        <li class="menu-item"> <a href="#">IP Research</a> </li>
                        <li class="menu-item"> <a href="#">Contact Us</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>