<section class="page-body section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {% for block in entry.pageBody %}
          
          <h1 class="page-body-headline">
            {{block.headline}}
          </h1>

          <hr class="divider-center" />

          {% if block.lead %}
            <p class="page-body-lead">
              {{block.lead}}
            </p>
          {% endif %} {# End of if block.lead #}

          {% if block.pageBodyContent %}
            <div class="page-body-content text-center">
              <p>
                {{block.pageBodyContent}}
              </p>
            </div>
          {% endif %}  {# End of if block.pageBodyContent #}

          {% if block.pageBodyContentProfile %}
            {% for relatedEntry in block.pageBodyContentProfile %}
              <section class="section">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">

                      {% if relatedEntry == "Company" %}
                        <div class="row staff-list-container list-container" style="margin-bottom:60px">
                          {% for block in relatedEntry.profile %}
                            {% if block.type == "teamProfile" %}
                              <div class="figure col-md-4  fade-in figcaption-bottom text-left fade-in" style="margin-bottom:20px">
                                <div class="figure-image">
                                  {% set image = block.image.first() %}
                                  {% if image %}
                                    <img alt="{{image.title}}" src="{{image.getUrl()}}"/>
                                  {% endif %}
                                  <div class="text-center">
                                    <ul class="social-icons social-simple">
                                      <li>
                                        <a href="#" target="_self"> <i class="fa fa-linkedin"></i> </a>
                                      </li>
                                      <li>
                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div> <!-- end figure-image -->
                                <div> <!-- Single Item block -->
                                  <h3>
                                    <strong>{{block.personName}}</strong>
                                    <span>{{block.affiliation}}</span>
                                  </h3>
                                  <p>
                                    {{block.about}}
                                  </p>
                                </div> <!-- End of Single Item block -->
                              </div> <!-- end figure col-md-4 -->
                            {% endif %} {# End of if block.type == "teamProfile" #}
                          {% endfor %} {# End of for block in relatedEntry.profile #}
                        </div><!-- end staff-list-container -->
                      {% endif %} {# End of if relatedEntry == "Company" #}
                  
                      {% if relatedEntry == "Client" %}
                        {% for block in relatedEntry.profile %}
                          <blockquote class="text-center" style="margin-top:70px; margin-bottom:50px">
                            <p>{{block.testimonial}}</p>
                            <footer>
                              {% if block.personName %}
                                {{block.personName}},
                              {% endif %}
                              {% if block.affiliation %}
                                {{block.affiliation}}
                              {% endif %}
                             </footer>
                          </blockquote>
                        {% endfor %} {# End of for block in relatedEntry.profile #}
                      {% endif %} {# End of if relatedEntry == "Client" #}

                    </div> <!-- text-center -->
                  </div> <!-- end row -->
                </div> <!-- end container -->
              </section>
            {% endfor %} {# End of for relatedEntry in block.pageBodyContentProfile #}
          {% endif %} {# End of if block.pageBodyContentProfile #}
        {% endfor %} {# End of for block in entry.pageBody #}
      </div> <!-- End of col-md-12  -->
    </div>  <!-- End of Row  -->
  </div>  <!-- End of container  -->
</section>