
        {% for block in entry.pageBody %}
          {% if block.type == "pageBody" %}
          
              <div class="container-fluid">
                <div class="container">
                  <h1 class="page-body-headline">
                    {{block.headline}}
                  </h1>

                  <hr class="divider-center" />
                </div>
              </div>
            
            {% if block.lead %}
              <div class="container-fluid">
                <div class="container">
                  <p class="page-body-lead">
                    {{block.lead}}
                  </p>
                </div>
              </div>
            {% endif %} {# End of if block.lead #}

            {% if block.pageBodyContent %}
             <div class="container-fluid">
                <div class="container">
                  <div class="page-body-content text-center">
                    <p>
                      {{block.pageBodyContent}}
                    </p>
                  </div>
                </div>
              </div> 
            {% endif %}  {# End of if block.pageBodyContent #}

            {% if block.featureList %}
             <div class="container-fluid">
              <div class="container">
                <div class="row text-left">
                  <ul class="features-list" style="margin-top:90; margin-bottom:20">

                    {% for row in block.featureList %}
                      <li class="col-md-6" style="margin-top:20; margin-bottom:20">
                        <div class="features-list-icon box-animate"> <i class="icon-{{row.icon}}" style="color:#ffffff;"></i> </div>
                        <h3>{{row.headline}}</h3>
                        <p>{{row.featureContent}}</p>
                      </li>
                    {% endfor %} {# End of for row in block.featureList #}
                    
                  </ul>
                </div> <!-- End of Row  -->
              </div> <!-- End of container  -->
            </div>
            {% endif %}  {# End of if block.featureList #}

            {% if block.pageBodyMedia %}
              {% for relatedEntry in block.pageBodyMedia %}
                <div class="container-fluid">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">

                        {# This includes the related entry channels dynamically #}
                        {% set entryTemplate = relatedEntry | lower %}
                        {% include "includes/content/_" ~ entryTemplate %}                   

                      </div> <!-- text-center -->
                    </div> <!-- end row -->
                  </div> <!-- end container -->
                </div>
              {% endfor %} {# End of for relatedEntry in block.pageBodyMedia #}
            {% endif %} {# End of if block.pageBodyMedia #}
          {% endif %} {# End of if block.type == "pageBody" #}

          {% if block.type == "image" %}
          {% if block.position == 'left' %}
            {% set margin = "margin-left: 7%" %}
          {% endif %}
          {% if block.position == 'right' %}
            {% set margin = "margin-right: 7%" %}
          {% endif %}
          {% if block.position == 'center' %}
            {% set margin = "" %}
          {% endif %}
          {% if block.position == 'full' %}
            {% set margin = "" %}
          {% endif %}


        
           <div class="pull-{{block.position}}" style="{{margin}}" >
              
                {% set image = block.image.first() %}
                {% if image %}
                {% if block.position == 'full' %}
                  {% do image.setTransform({ width: 1440, height: 480 }) %}
                {% endif %}
                  <img alt="{{image.title}}" src="{{image.getUrl()}}" style="margin:0px 10px 10px 10px"/>
                {% endif %}
                <figcaption class="text-center"> {{block.caption}} </figcaption>
             
          </div>
          {% endif %}

          {% if block.type == "text" %}
            <div class="container-fluid">
              <div class="container">
                <p>{{block.text}}</p>
              </div>
            </div>
          {% endif %}

          {% if block.type == "callToAction" %}
            <div class="container-fluid" style="background-color: #0469ac">
              <div class="container">
                <div class="row" >
                  <div class="col-md-10">
                     <h2 class="text-center text-light big light" style="margin-top:60px; margin-bottom:60px">
                       {{block.callText}}
                    </h2> 
                  </div>
                  <div class="col-md-2 text-center"> 
                  <a class="btn btn-primary btn-lg text-light btn-icon-right" style="margin-top:60px; margin-bottom:60px" href="#" target="">
                    {{block.actionText}}
                    <i class="fa fa-comment-o" style="color:black"></i>
                  </a> 
                  </div>
                </div>
              </div>
            </div>
          {% endif %}          
          

{#            {% set clearFix = (loop.last ? "clearfix": "not last") %}
          {{clearFix}} #}
          {% if block.type == "gallery" %}
            {% for image in block.image %}

              {% if loop.first %}
                <div class="container-fluid">
              {% endif %}

                <div class=" col-md-3 gallery " style="margin-bottom:30px">
                    {% if image %}
                      <a  href="#"> 
                      <img alt="{{image.title}}" src="{{image.getUrl('small')}}">
                      </a>
                    {% endif %}             
                </div>

              {% if loop.last %}
                </div>
              {% endif %}

            {% endfor %}
          {% endif %}
           

         
        {% endfor %} {# End of for block in entry.pageBody #}
        
