<section class="page-body section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {% for block in entry.pageBody %}
          
          <h1 class="page-body-headline">
            {{block.headline}}
          </h1>

          <hr class="divider-center" />

          {% if block.lead %}
            <p class="page-body-lead">
              {{block.lead}}
            </p>
          {% endif %} {# End of if block.lead #}

          {% if block.pageBodyContent %}
            <div class="page-body-content text-center">
              <p>
                {{block.pageBodyContent}}
              </p>
            </div>
          {% endif %}  {# End of if block.pageBodyContent #}

          {% if block.pageBodyMedia %}
            {% for relatedEntry in block.pageBodyMedia %}
              <section class="section">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">

                      {# This includes the related entry channels dynamically #}
                      {% set entryTemplate = relatedEntry | lower %}
                      {% include "includes/content/_" ~ entryTemplate %}                   

                    </div> <!-- text-center -->
                  </div> <!-- end row -->
                </div> <!-- end container -->
              </section>
            {% endfor %} {# End of for relatedEntry in block.pageBodyMedia #}
          {% endif %} {# End of if block.pageBodyMedia #}
        {% endfor %} {# End of for block in entry.pageBody #}
      </div> <!-- End of col-md-12  -->
    </div>  <!-- End of Row  -->
  </div>  <!-- End of container  -->
</section>