{% if entry.richContent %}
  {{entry.richContent}}
{% endif %}

<section class="intro-b">
  <div class="container-fluid" style="background-color: #2276b0;color:white">
    <div class="col-md-6 col-md-offset-3">  

        <img class="intro-b__image" src="http://placekitten.com/g/150/150" alt="">

      <h1 class="intro-b__headline">
        Assignment Examples
      </h1>            
      <hr class="divider-center-white" />
      <div class="intro-b__content">
        <p>
          As a trusted knowledge partner to several global Aerospace & Defense companies, consulting and Private Equity firms, Aranca has helped find answers to a range of business issues. Illustrative examples of recent work that we have conducted include:
        </p>
      </div> <!-- intro-b__content -->
    </div>


  <div class="container">
    <div class="row" style="margin-top:40px;margin-bottom:40px;">
      <div class="col-md-6">
        <ul style="list-style-type:none">

          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Factbase on Aerospace & Defense offset policies and market opportunities in 16 countries</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Research study on 'Services business' of leading aerospace companies</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Aerospace MRO : Market & competition dynamics in Asia-Pacific region</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Market opportunity assessment for business jets in Middle East, Africa and Asia-Pacific</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Market opportunity for batteries in aerospace applications (USA & Western Europe)</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Market opportunity assessment for aircraft maintenance training in Middle East & North Africa</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul style="list-style-type:none">
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Report on low cost country sourcing initiatives of leading aerospace & defense companies</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Profiles of mid-sized companies in the Aerospace & Defense sector (MRO, Parts, Services)</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Defense spend (actual, forecasts) in emerging economies</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Financial performance analysis of 25 Aerospace & Defense companies globally (quarterly reports)</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Report on Aerospace & Defense sector in 32 countries (across Asia, LATAM and Europe)</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Report on fleet size / mix and orders placed by low cost carriers globally</p>
          </li>
          <li style="margin-bottom:30px;">
             <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
             <p style="display:inline;">Supply contracts awarded by global A&D companies (Fortnightly newsletter)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>