{% if entry.richContent %}
  {{entry.richContent}}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tabs-left-vertical">
        <ul class="nav nav-tabs-vertical">
          <li class="active"><a href="#a" data-toggle="tab">For Strategic Planning</a></li>
          <li><a href="#b" data-toggle="tab">Sales and Customer Management</a></li>
          <li><a href="#c" data-toggle="tab">CXO's Business and Functional Heads</span></a></li>
          <li><a href="#d" data-toggle="tab">Market and Procurement Intelligence</span></a></li>
        </ul>
        <div class="tab-content-vertical">
          <div class="tab-pane-vertical active clearfix" id="a">
            <h2>For Strategic Planning</h2>
            <table class="table pull-left ">
              <tr>
                <th>Business Priority</th>
                <th>Aranca Solution</th>
              </tr>
              <tr>
                <td>Enter new markets. Introduce new products/services</td>
                <td>Quick market scans. In-depth Market studies</td>
              </tr>
              <tr>
                <td>Explore acquisition oppurtunities Identify joint venture partners</td>
                <td>Identify and shortlist targets</td>
              </tr>              
              <tr>
                <td>Business Innovation and transformation</td>
                <td>Emerging technologies, trends. Technology impats on traditional business models</td>
              </tr>
            </table>
          </div>
          <div class="tab-pane-vertical" id="b">
            <h2>For Other Planning</h2>
            <table class="table pull-left ">
              <tr>
                <th>Business Priority</th>
                <th>Aranca Solution</th>
              </tr>
              <tr>
                <td>Enter new markets. Introduce new products/services</td>
                <td>Quick market scans. In-depth Market studies</td>
              </tr>
              <tr>
                <td>Explore acquisition oppurtunities Identify joint venture partners</td>
                <td>Identify and shortlist targets</td>
              </tr>              
              <tr>
                <td>Business Innovation and transformation</td>
                <td>Emerging technologies, trends. Technology impats on traditional business models</td>
              </tr>
            </table>
          </div>
          <div class="tab-pane-vertical" id="c">
            <h2>For Some Other Planning</h2>
            <table class="table pull-left ">
              <tr>
                <th>Business Priority</th>
                <th>Aranca Solution</th>
              </tr>
              <tr>
                <td>Enter new markets. Introduce new products/services</td>
                <td>Quick market scans. In-depth Market studies</td>
              </tr>
              <tr>
                <td>Explore acquisition oppurtunities Identify joint venture partners</td>
                <td>Identify and shortlist targets</td>
              </tr>              
              <tr>
                <td>Business Innovation and transformation</td>
                <td>Emerging technologies, trends. Technology impats on traditional business models</td>
              </tr>
            </table>
          </div>
          <div class="tab-pane-vertical" id="d">
            <h2>For More Planning</h2>
            <table class="table pull-left ">
              <tr>
                <th>Business Priority</th>
                <th>Aranca Solution</th>
              </tr>
              <tr>
                <td>Enter new markets. Introduce new products/services</td>
                <td>Quick market scans. In-depth Market studies</td>
              </tr>
              <tr>
                <td>Explore acquisition oppurtunities Identify joint venture partners</td>
                <td>Identify and shortlist targets</td>
              </tr>              
              <tr>
                <td>Business Innovation and transformation</td>
                <td>Emerging technologies, trends. Technology impats on traditional business models</td>
              </tr>
            </table>
          </div>
        </div><!-- /tab-content -->
      </div><!-- /tabbable -->
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->