
{% set social_links = {
    twitter: { title: "Twitter", class: "fa fa-twitter",
              data_iconcolor: "#00acee", href: "https://twitter.com/aranca" },
    linkedin: { title: "LinkedIn", class: "fa fa-linkedin",
              data_iconcolor: "#5FB0D5", href:"https://www.linkedin.com/company/aranca" }
  }
%}

{% macro list(data) %}
  {% for item in data %}
    <li>
      <a href="{{ item.href }}" data-iconcolor="{{ item.data_iconcolor }}">
        <i class="{{ item.class }}"></i>
      </a>
    </li>
  {% endfor %}
{% endmacro %}

{% import _self as list %}

<div class="top-bar">
    <div class="container">
      <nav class="icon-link-list">
        <ul>
          {{ list.list(social_links) }}
        </ul>
      </nav>
    </div><!-- .container -->
</div><!-- .topbar -->