
<div class="container" id="about-us" name="about-us">
  <div class="row">
    <div class="col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
      <h1 class="landing__headline">About Us</h1>
      <div class="landing__content">
        <p>English is the international language of business, but its worldwide acceptance does not necessarily make the language any easier. The nuances of syntax, grammar, meaning and tone can potentially throw non-native speakers off gear. And steering through academia or international business writing is especially challenging. Business communication, however, is non-negotiable, and when you are on a global stage, first impressions count. Between clarity, precision and prose with a compelling element of poetic quality, it is vital that all hurdles in communication are overcome so that the focus remains on your content. And that's the edge Aranca can bring with its edit services.</p>
        <h2 class="landing__headline">What we do</h2>
        <p>At Aranca Editorial, we put great effort into ensuring business reports and documents reflect the highest standards of written English. Benchmarks have been set and maintained by a highly qualified and seasoned team with experience in domains as diverse as print media, e-learning, corporate communications, marketing, linguistics, economics, finance, academic editing, and intellectual property rights. This ensures that no matter the content, the edits are nothing short of a sterling piece of communication. And we specialize in business reports and marketing collateral. </p>
      </div>
      <!-- End of landing__content -->
    </div>
    <!-- End of col-md-6 -->
    <style>
.w3b_url {display:none;}
      </style>
    </style>
       <div class="col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
<form class="landing__form" role="form" accept-charset="UTF-8" id="gatedContent" name="Editorial Services" method="post" action="/landing/19052014/bin/process-equity2.php">
          <input type="hidden" name="LFMIdsite" value="9698" />
          <input type="hidden" name="LFMC" id="LFMC" value="0" />
          <input type="hidden" name="_form_name_" value="Editorial Services" />
          <input type="hidden" name="lead_source__c" value="website" />
          <input type="hidden" name="practice__c" value="Editorial" />
          <input type="hidden" name="created_by__c" value="Marketing" />
          <input type="hidden" name="region" value="Asia-Pacific & Japan" />
          <input type="hidden" name="industry" value="Private Equity" />
          <input type="hidden" name="utm_source" />
          <input type="hidden" name="utm_medium" />
          <input type="hidden" name="utm_content" />
          <input type="hidden" name="utm_campaign" />
          <input type="hidden" name="referrer" />
          <input type="hidden" name="ao_refurl" value="" />
          <input type="hidden" name="formurl" id="formurl" value="" />

        <div class="form-group field" id="yourName-field">
          <div class="heading">
            <label for="yourName">Name</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="name" name="firstname" value="" data-show-chars-left="" autocomplete="off" placeholder="" required="">
          </div>
        </div>
        <div class="form-group field" id="company-field">
          <div class="heading">
            <label for="company">Company</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="company" name="company" value="" data-show-chars-left="" autocomplete="off" placeholder="" required="">
          </div>
        </div>
        <div class="form-group field" id="email-field">
          <div class="heading">
            <label for="email">Email</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="email" id="email" name="email" value="" data-show-chars-left="" autocomplete="off" placeholder="" required="">
          </div>
        </div>
         <div class="form-group field" id="phone-field">
          <div class="heading">
            <label for="phone">Phone</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="phone" name="tel" value="" data-show-chars-left="" autocomplete="off" placeholder="" required="">
          </div>
        </div>
        <div class="form-group field" id="projectDescription-field">
          <div class="heading">
            <label for="projectDescription">How can we help? </label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <textarea class="form-control text nicetext fullwidth" rows="4" cols="50" id="projectDescription" name="comment" data-show-chars-left="" placeholder=""></textarea>
          </div>
        </div>

        <div class="form-group">
            <div class=" col-sm-11">
            <p class="w3b_url">website <br /><input name="url" id="url" type="text" /></p>
            <input name="redirect" value="http://www.aranca.com/thankyou-request-sample" type="hidden" /> <input name="subject" value="Editorial Services" type="hidden" /> <button type="submit" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'Contact', 'Information Request', 'Editorial Services', , false]);">Get Back to me With Answers </button></div>
          </div>
      </form>

    </div>
    <!-- End of col-md-6 -->




  </div>
  <!-- End of row -->
</div>
<!-- End of container -->
