<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" class="brand-logo"><img src="http://www.aranca.com/images/aranca_logo_final.jpg" alt="Aranca logo"></a>
      </div>
      <div class="col-sm-8">
        <nav class="simp-nav">
          <ul>
            <li class="simp-nav__item"><a href="#contact" data-target="contact" data-offset="0">Contact</a></li>
            <li class="simp-nav__item"><a href="#factsheet" data-target="factsheet" data-offset="100">Factsheet</a></li>
            <li class="simp-nav__item"><a href="#solutions" data-target="solutions"data-offset="50">Solutions</a></li>
            <li class="simp-nav__item"><a href="#why" data-target="why" data-offset="100">Why Aranca?</a></li>
          </ul>
        </nav>
      </div><!-- end colsm -->
    </div><!-- end row -->
  </div><!-- end container -->
</header>
