{% includeJsFile '/assets/js/share-button.min.js' %}

{% includeCssFile '/assets/css/share-button.min.css' %}

{% set actionCss %}

.action-bar{
  border-top: 1px solid {{ ttgreyLight }};
  margin-bottom: 22px;
}
.action-bar__item{
  float:left;
  color: {{ ttgreyLight }};
  font-size:22px;
  width: 4em;
  border-right: 1px solid {{ ttgreyLight }};
  transition: font-size 0.2s ease;
}

.action-bar__item:hover{
  color: {{ ttgreyLight }};
  font-size:25px;
}

.action-bar__item-text{
  font-size: 0.5em;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  letter-spacing: 0.1em;
}

.action-bar__icon{
  padding-top: 15px;
}

{% endset %}



{% set actionJs %}

function windowPopup(url, width, height) {
  // Calculate the position of the popup so
  // it’s centered on the screen.
  var left = (screen.width / 2) - (width / 2),
      top = (screen.height / 2) - (height / 2);

  window.open(
    url,
    "",
    "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left
  );
}

$(".action-share").on("click", function(e) {
  e.preventDefault();

  windowPopup($(this).attr("href"), 500, 300);
});


{% endset %}

{% includeCss actionCss %}
{% includeJs actionJs %}

<a href="https://www.facebook.com/sharer/sharer.php?
u={{ entry.url | url_encode }}" target="_blank" class="action-share">
share on facebook</a>

<a href="https://twitter.com/intent/tweet/?text={{ entry.url | url_encode }}" target="_blank" class="action-share">
share on twitter</a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry.url | url_encode }}&title={{ entry.title }}" target="_blank" class="action-share">
share on linkedIn</a>

{# Action Bar #}
<div class="action-bar text-center clearfix">
  <a href="#" class="action-bar__item">
    <i class="fa fa-share action-bar__icon"></i><br/>
    <span class="action-bar__item-text">Share</span>
  </a>
  <a href="#" class="action-bar__item">
    <i class="fa fa-comment-o action-bar__icon"></i> <br/>
    <span class="action-bar__item-text">Comment</span>
  </a>
  <a href="#" class="action-bar__item">
    <i class="fa fa-print action-bar__icon"></i> <br/>
    <span class="action-bar__item-text">Print</span>
  </a>
  <a href="#" class="action-bar__item">
    <i class="fa fa-envelope-o action-bar__icon"></i><br/>
    <span class="action-bar__item-text">Email</span>
  </a>
</div>
{# End Action Bar #}
