{% extends "base_layouts/_site" %}

{% set title = category %}

{% block main %}

  {# set sectionName and sectionHandle variables #}

  {% import 'macros/ctype' as contentType %}

  {% set sectionName = contentType.getSectionName(ctype) %}
  {% set sectionHandle = contentType.getSectionHandle(ctype) %}
  {% set auth = craft.users.username(author).first() %}

<h2>All {{ sectionName }} by {{ auth.firstName }} {{ auth.lastName }}</h2>



{% set blogPosts = craft.entries.section('blogs').authorId(auth.id).find() %}

{% if blogPosts | length %}
<ul>
    {% for entry in blogPosts %}
        <li>{{ entry.getLink() }}</li>
    {% endfor %}
</ul>
{% else %}
    <p>No entries could be found with that tag.</p>
{% endif %}

Found: {{ blogPosts|length }} blog posts.

{% endblock %}
