{% extends "base_layouts/_site" %}

{% set title = category %}

{% block main %}

  {# set sectionName and sectionHandle variables #}

  {% import 'macros/ctype' as contentType %}

  {% set sectionName = contentType.getSectionName(ctype) %}

  {% set sectionHandle = contentType.getSectionHandle(ctype) %}

  <h1>{{ category }} {{ sectionName }} {{ sectionHandle }}</h1>

  {% set category = craft.categories.slug(category).first() %}

  <p>Category is {{ category }}</p>

  {% set entries = craft.entries.section(sectionHandle).relatedTo(category).find() %}

  <p>No of entries found in {{ category }}: {{ entries | length }}</p>

  {% if entries | length %}

    {# Output them #}
    <ul>
    {% for entry in entries %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>

  {% else %}

  <p>No entries found in {{ category }}</p>

  {% endif %}

{% endblock %}


