{% includeJsFile "/assets/js/jquery.matchHeight-min.js" %}

{% set kcMainCss %}

.kc-main {
  padding: 40px 0;
  padding-bottom: 30px;
}

{% endset %}


{% set kcMainJs %}

$(function() {
    $('.kc-wrapper').matchHeight();
});

{% endset %}


{% includeCss kcMainCss %}
{% includeJs kcMainJs %}
<div class="container kc-main">
  <div class="row">
    <div class="col-sm-4 kc-sidebar kc-wrapper shadow-box">
      {% include '_components/kc/_latest' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-5 kc-focus kc-wrapper">
      {% include '_components/kc/_featured' %}
      {% include '_components/kc/_preview' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-3 kc-editorial kc-wrapper">
      {% include '_components/kc/_editor-picks' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>
