{% includeJsFile "/assets/js/jquery.matchHeight-min.js" %}

{% set kcMainCss %}
@media (min-width: 768px) {
/*   .container.kc-main {
      width: 920px;
      max-width: 100%;
  }*/
}


@media (min-width: 992px) {
/*  .container.kc-main {
      width: 992px;
      max-width: 100%;
  }*/
}

@media (min-width: 1200px) {
  .container.kc-main {
      width: 1210px;
      max-width: 100%;
  }
}

@media (min-width: 1300px) {
  .container.kc-main {
      width: 1380px;
      max-width: 100%;
  }
}

.kc-main {
  padding: 50px 0;
}

{% endset %}


{% set kcMainJs %}

$(function() {
    $('.kc-wrapper').matchHeight();
});

{% endset %}


{% includeCss kcMainCss %}
{% includeJs kcMainJs %}
<div class="container kc-main">
  <div class="row">
    <div class="col-sm-4 kc-sidebar kc-wrapper shadow-box">
      {% include '_components/kc/_latest' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-5 kc-focus kc-wrapper">
      {% include '_components/kc/_featured' %}
      {% include '_components/kc/_preview' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-3 kc-editorial kc-wrapper">
      {% include '_components/kc/_editor-picks' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>


{# use these older components if needed
  {% include '_components/kc/_featured' %}
  {% include '_components/kc/_articles' %}
  {% include '_components/kc/_blogs' %}
  {% include '_components/kc/_infographics' %}
  {% include '_components/media-center/_contact' %} 
#} 