{% extends "base_layouts/_site" %}

{% set title = 'Knowledge Library - | Industry Scorecards, Market Trends, Financial Services News & Views' %}
{% set desc = 'At Arancas Knowledge Library, find newsletters, new business ideas, industry reports, market news & views that matter.' %}
{% set keywords = 'business research articles, business research infographics, business research special reports, ip research articles, ip research infographics, ip research special reports, investment research articles, investment research infographics, investment research special reports' %}

{% block main %}

{% include '_components/global/_header' %}
{% include '_components/kc/_masthead' %}

{# include the main layout that includes sub layouts #}
<div class="kc__layout" style="background-color: #F4F8FA">
  {% include 'layouts/kc/_main' %}
</div>
{% include '_components/global/_footer' %}

{% endblock %}

{# 
  {% include '_components/kc/_featured' %}
  {% include '_components/kc/_articles' %}
  {% include '_components/kc/_blogs' %}
  {% include '_components/kc/_infographics' %}
  {% include '_components/media-center/_contact' %} 
#} 