{% extends "base_layouts/_site" %}

{% set title = 'Knowledge Library - | Industry Scorecards, Market Trends, Financial Services News & Views' %}
{% set desc = 'At Arancas Knowledge Library, find newsletters, new business ideas, industry reports, market news & views that matter.' %}
{% set keywords = 'business research articles, business research infographics, business research special reports, ip research articles, ip research infographics, ip research special reports, investment research articles, investment research infographics, investment research special reports' %}

{% block main %}

{% set kcBodyCss %}

body {
  background-color: #F4F8FA !important;
}

{% endset %}


{% set kcSubscribeJs %}

$( document ).ready(function() {

  var formErrors = [];

  var errorMessages = {
    empty: 'email field cannot be empty',
    invalid: 'your email is not valid',
    notSelected: 'you must select at least one area of interest'
  };

  function isEmailEmpty(email) {
    return email === '';
  }

  function isvalidEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function  enableDisableSubscribeButton() {

    var isChecked = ( $('input[name="Areas_of_Interest[]"]').is(':checked') );

    if (isChecked) {
      $("button#subscribe").removeAttr("disabled").button('refresh');
    }
    else {
      $("button#subscribe").attr("disabled", "disabled");
    }

  }
  
  var emailField = $('.sub-form__email'), helpBlock = $('.help-block');
  
  $('.open-aoe-modal').on('click', function(evt){
    evt.preventDefault();
    var link = $(this);
    
    if( isEmailEmpty( emailField.val() ) || !isvalidEmail( emailField.val() ) ) {
      console.log('We got errors');
      link.click( function(e){ e.stopPropagation(); } );
      helpBlock.html('Please enter a valid email address');
    } else {
      helpBlock.html('');
      // enableDisableSubscribeButton();
      $('#areas-of-interest').modal('show');
    }

  });


});

{% endset %}
{% includeJs kcSubscribeJs %}

{% includeCss kcBodyCss %}

{% include '_components/global/_header' %}
{% include '_components/kc/_subscribe-alert' %}
{% include '_components/kc/_masthead' %}

{# include the main layout that includes sub layouts #}
<div class="kc__layout" style="padding-top:50px;">
  {% include '_components/kc/_subscription' %}
  {% include 'layouts/kc/_aoe' %}
  <hr/>
  {% include 'layouts/kc/_main' %}
  {% include 'layouts/kc/_category-block' %}
</div>
{% include '_components/global/_footer' %}

{% endblock %}

{# use these older components if needed 
  {% include '_components/kc/_featured' %}
  {% include '_components/kc/_articles' %}
  {% include '_components/kc/_blogs' %}
  {% include '_components/kc/_infographics' %}
  {% include '_components/media-center/_contact' %} 
#} 