{% if entry.textBlockMatrix %}
  <section class="text-block-matrix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% if entry.textBlockMatrix.type('lede') %}
          {% for block in entry.textBlockMatrix.type('lede') %}
            <h3 class="lede_headline text-center">{{ block.ledeHeadline}}</h3>
            <hr class="divider-center">
            <div class="lede_body text-center">
              {{ block.ledeBody }}
            </div><!-- lede__body -->
          {% endfor %}
        {% endif %}
        </div><!-- col-md-12 -->
      </div><!-- row -->
      {% for block in entry.textBlockMatrix.type('textBlocks') %}
      <div class="row">
        <div class="col-md-12">
          <h4 class="tbm__headline">{{block.tbmHeadline}}</h4>
          {{block.tbmContent}}
        </div>
      </div> <!-- repeating rows for entry.textBlockMatrix -->
      {% endfor %}
    </div> <!-- container -->
  </section>
{% endif %}
