{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_customers-blok' %}
{% include '_components/services/_sol-portfolio-table' %}
{% if entry.whyArancaC|length %}
  {% include '_components/services/_why-aranca-c' %}
{% endif %}
{# include '_components/services/_world-map' #}
{% include '_components/services/_region-table' %}
{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_kc-content' %}
{% include '_components/global/_footer' %}
