{% include '_components/global/_header' %}
{% include '_components/services/_masthead-b' %}
{% include '_components/services/_svc_box_grid' with {'data': entry.experienceRichtext, 'brandColor': BrCore, 'blueBackground' : '#E2F0FB' } %}
{% if entry.solutionRichtext|length %}
  {% include '_components/services/_ztabs' %}
{% endif %}
{% if entry.body|length %}
  {% include '_components/services/_intro-single-col' %}
{% endif %}
{% if entry.assignmentRichtext|length %}
  {% include '_components/services/assignment-slider' %}
{% endif %}
{% if entry.caseStudyEntries|length %}
  {% include '_components/services/_case-study-list' with { 'bkcolor': '#f6f6f6;'  } %}
{% endif %}
{% if entry.tfilterRichtext|length %}
  {% include '_components/services/_table-filter' %}
{% endif %}
  {% include '_components/services/_full-cta-a' %}
  {% include '_components/services/_kc-content' %}
  {% include '_components/global/_footer' %}
