  {% include '_components/global/_header' %}
  {% include '_components/services/_masthead' %}
{% if entry.body|length %}
  {% include '_components/services/_intro-single-col' %}
{% endif %}
{% if entry.solutionRichtext|length %}
  {% include '_components/services/_ztabs' %}
{% endif %}
  {% include '_components/services/assignment-slider' %}
{% if entry.caseStudyEntries|length %}
  {% include '_components/services/_case-study-list' %}
{% endif %}
  {% include '_components/services/_full-cta-a' %}
  {% include '_components/services/_kc-content' %}
  {% include '_components/global/_footer' %}
