{% extends "layouts/_site" %}

{% block main %}
  <article class="about-aranca">
      <section class="section about-aranca-lead">
     
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">

              <h1 class="about-aranca-lead-headline">
                About us
              </h1>

              <hr class="divider-center-white" />

              <p class="about-aranca-lead-content"> 
                We are a corporate web design agency who are 
                passionate with our pixels.
                <br /> 
                We specialise in WordPress development and we
                create pixel perfect themes. 
              </p>

            </div>
          </div>
        </div>
      </section>

      <section class="section about-aranca-story">
        
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="about-aranca-story-headline">
                Our story
              </h1>
              
              <hr class="divider-center" />

              <div class="about-aranca-story-content col-text-2">
                <p> Aranca is a leading provider of high quality, customized and cost effective research and analytics to global clients. Founded in UK in 2003, Aranca has a global presence including in the US, Europe and Middle East, and a state-of-the-art delivery center in Mumbai, India.

                Our research solutions are structured around four complementary business lines: Investment Research, Business Research, Valuation and Advisory Services and Intellectual Property Research. 

                We have consistently strived to build world-class research capabilities and differentiated ourselves by offering a broad spectrum of knowledge solutions and developing capabilities to deliver high-end research work. Aranca's operating model integrates our cross-disciplinary research expertise that delves deep into clients’ fundamental needs to deliver specific, insightful and actionable research.

                Aranca's leadership team with extensive experience in research, strategy consulting and organization building, research expertise and a robust information technology infrastructure blend together to create efficient processes that address clients’ business questions and add significant long-lasting value to their businesses.

                Over the years, Aranca has become a trusted partner to over 1500 global organizations including Fortune 500 companies, SMBs, investment banks, brokerage firms, asset management firms, consulting firms, PE andVC firms, law firms, government bodies, trade associations and universities.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section about-aranca-team">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="about-aranca-team-headline">
                Our Team
              </h1>

              <hr class="divider-center" />

              <p class="about-aranca-team-lead"> 
                Our team bring a broad wealth of knowledge
                and experience in our company.
                <br /> 
                Your business can benefit from this. 
              </p>

              <div class="row staff-list-container list-container element-bottom-60">

              {% for block in entry.profile %}
              {% if block.type == "teamProfile" %}
                <div class="figure col-md-4  fade-in element-bottom-20 figcaption-bottom text-left fade-in">
                  <div class="figure-image"> 
                  {% set image = block.image.first() %}
                  {% if image %}
                    <img alt="{{image.title}}" src="{{image.getUrl()}}"/>
                  {% endif %}
                    <div class="figure-overlay">
                      <div class="figure-overlay-container">
                        <div class="figure-caption text-center">
                          <ul class="figure-overlay-icons social-icons social-simple">
                            <li>
                              <a href="#" target="_self"> <i class="fa fa-linkedin"></i> </a>
                            </li>                                                        <li>
                              <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                  <div class="figure-caption text-left">
                    <h3 class="figure-caption-title">
                  <strong>{{block.personName}}</strong>
                  <span>{{block.affiliation}}</span>
                </h3>
                    <p class="figure-caption-description">{{block.about}}</p>
                  </div>
                </div>
                {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section">
                <div class="background-overlay grid-overlay-0"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Our Edge
                    </h1>
                  <hr class="divider-center" />                            
                            <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> Over the years, Aranca has been able to      repeatedly demonstrate its ability to deliver customized research at consistently high quality standards, in a cost-effective manner. Be it for research around investments, financial markets, market dynamics, intellectual property or for valuation services, over 1500 clients globally value our ability to provide actionable insights that facilitate decision making. Our key strengths include:</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                            <div class="features-list-icon box-animate"> <i class="icon-heart" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Investment Research
                                    </h3>
                                            <p> We have researched over 2500 companies across 70+ sectors in both developed markets and emerging economies</p>
                                        </li>
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                                            <div class="features-list-icon box-animate"> <i class="icon-map" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Business Research
                                    </h3>
                                            <p> We have helped clients to understand market dynamics in over 50 countries, across 80+ sectors and covering over 800 products / services </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                       <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                                            <div class="features-list-icon box-animate"> <i class="icon-cloud" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Intellectual Property Research
                                    </h3>
                                            <p> We have executed over 7500 patent research projects across 250 technology domains and involving searches in 70+ jurisdictions </p>
                                        </li>

                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                            <div class="features-list-icon box-animate"> <i class="icon-monitor" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Valuation and advisory services
                                    </h3>
                                            <p> We have completed over 2000 valuation engagements across 15 major industries for clients ranging from start-ups to large enterprises </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center element-top-70 element-bottom-40 big">
                                Client Testimonials
                            </h1>

                           <hr class="divider-center" />

                            <blockquote class="text-center element-top-70 element-bottom-50">
                                <p>I had a happy, dramafree youth, growing up in an upper-middle-class neighborhood in Dallas, Texas. The only thing that was slightly unusual compared to most of my friends was that I was an only child&#8230; I don&#8217;t
                                    think that&#8217;s why my parents gave me a dummy, at least they&#8217;ve never copped to it.</p>
                                <footer> Jeff Dunham, XYZ </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
  </article>
{% endblock %}