<article> 
  {% include "includes/services/_intro.html" %}
  {% include "includes/services/_landing.html" %}
  {% include "includes/services/_card.html" %}
  {% include "includes/services/_picture-quote.html" %}
  {% include "includes/services/_media-grid-a.html" %}
  {% include "includes/services/_media-grid-c.html" %}
  {% include "includes/services/_stats.html" %}
  {% include "includes/services/_link-box-grid.html" %}
  {% include "includes/services/_rich-content.html" %}
  {% include "includes/_profile-widget.html" %}
  {% include "includes/services/_rich-content-matrix.html" %}
  {% include "includes/_case-studies.html" with { categoryName: entry.servicesCategory.first() } %}
</article>