body{font-family: 'Roboto', sans-serif;}
.navbar{height:80px;}
.navbar-brand{margin-top:18px;}
.callus{margin-right:70px !important; color:#999;}
.featured{background-color:#003663;color:#fff;}
.featured1{
  background-color:#f8bb3c;
  color:#000;
  background-image: url("http://www.aranca.com/images/banners/Competitive-Intelligence-Services2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.featured2{
  background-color:#f8bb3c;
  color:#000;
  background-image: url("http://www.aranca.com/images/banners/customized-feasibility-study-and-market-research-services.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 480px;
}
.sra{
  background-color:#f8bb3c;
  color:#ffffff;
  background-image: url("../images/Patent-Litigation-leaflet-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
}
.sra2{
  background-color:#003663;
  color:#ffffff;
  background-image: url("../images/409a-banner-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.sra25{
  background-color:#003663;
  color:#ffffff;
  background-image: url("../images/409a-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
}
.sra3{
  background-color:#003663;
  color:#ffffff;
  /*background-image: url("../images/PPA-banner.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 430px;
}
.sra4{
  background-color:#f8bb3c;
  color:#ffffff;
  background-image: url("../images/IP-Valuation-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
}
.sra5{
  background-color:#f8bb3c;
  color:#ffffff;
  background-image: url("../images/FICR-WMF.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  text-align: center
}
.f-img{background-image:url(../img/featured-image.jpg);background-repeat:repeat-x;color:#000;background-position: center center;}
.featured h1{font-size:36px;font-weight:700;margin-top:80px;}
.featured .subhead{font-size:20px;font-weight:400;margin-top:30px;}
.featured .form-box{height:390px; width:390px; border:1px solid #ddd; border-radius:4px;background:#fff;position:relative;top:-40px;-webkit-box-shadow: 0px 0px 9px -1px rgba(50, 50, 50, 0.8);-moz-box-shadow:0px 0px 9px -1px rgba(50, 50, 50, 0.8);box-shadow:0px 0px 9px -1px rgba(50, 50, 50, 0.8);}
.featured .form-box{color:#2d2d2d;}
.featured .form-box sup{color:red; font-weight: bold;}
.featured .form-box  .mybt{color:#ffffff; font-weight:700;font-size:24px;background:#004785;padding:5px 20px; border-bottom:4px solid transparent;}
.featured .form-box  .mybt:hover{color:#282828; font-weight:700;font-size:24px;background:#f7a93b; border-bottom:4px solid #b76f0a;}
.featured .form-box .control-label{font-size:13px;padding-right:0;font-weight:300;}
.featured .form-title{font-size:28px;font-weight:700;margin-top:8px;}
.featured .form-subline{font-size:14px;line-height:0.3em;}
.featured .form-box .download-link{margin-top:15px;}
.featured .form-box .download-link a{color:#757575; font-weight:700; text-decoration:underline;}
.featured .form-box .download-link a:hover{color:#c72535;}
.featured .form-box .download-link span.pdf{background-position:0 0; height:23px; width:18px;display: inline-block; margin-left:10px;}
.img-sprite{background-image:url(../images/img-sprite.png);background-repeat:no-repeat;}
.img-sprite2{background-image:url(../images/img-sprite2.png);background-repeat:no-repeat;}

.tracker{background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #dfdfdf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#dfdfdf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 8px 21px 0px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 8px 21px 0px rgba(50, 50, 50, 0.4);
box-shadow:         0px 8px 21px 0px rgba(50, 50, 50, 0.4);}


.tracker .tracker-title{font-size:19px; line-height:3em;}
.tracker .counters{font-size:48px; font-weight:700;}
.tracker  .counters-for{font-size:16px;line-height:0.5em; margin-bottom:30px;}
.slide-3{margin:30px 0;}
.slide-3 {font-size:16px; font-weight:300; line-height:1.8em;}
.icon{height:94px; width:94px;display: inline-block;}
.team{background-position:0 -72px;}
.audit{background-position:0 -165px;}
.ip{background-position:0 -258px;}
.solution{background-position:0 -353px;}
.w-title{font-size:16px; font-weight:700;margin:8px 0;}
.w-content{font-size:16px; font-weight:300; line-height:1.8em;}

.section-title{font-size:36px; font-weight:300; color:#2F71B6;}
hr.title{position:relative; top:5px;border-top: 1px solid #cdcdcd;}

.slide-5{background:#e9e9e9; margin:40px 0;}
.carousel-inner>.item{height:265px;}
.carousel-caption {text-shadow:inherit;color:#000;  font-weight:300; font-size:16px; line-height:1.8em;left:5%;right:5%; padding-bottom:40px;top:20px;}
.carousel-caption p{ font-style:italic; }
.carousel-caption p strong{font-style:normal;}
.quote{height:50px; width:75px;display: inline-block;}
.left-icon{background-position:0 -468px;}
.right-icon{background-position:0 -545px;}

.carousel-indicators li{border-color:#999;}
.carousel-indicators .active{background-color:#999;}
.carousel-indicators{bottom:0;}

.footer{color:#ddd; background:#272727; margin-top:30px;}

.scroll-top {
background: url("../img/small-arrow-top.png") no-repeat scroll center center #070707;
bottom: 0;
display: none;
height: 30px;
position: fixed;
right: 10px;
text-indent: -9999px;
width: 30px;
z-index: 9999;
}
.w3b_url{display:none;}

@media only screen and (device-width : 600px) and (orientation : portrait){
.featured .form-box{top:0;width:100%;margin:20px 0 20px 0;height:520px;}.navbar-header{text-align:center; margin-top:18px;}.navbar-brand{float:none}.callus{text-align:center;margin-right:0 !important;}.featured h1{margin-top:20px;}.tracker .tracker-title{font-size:15px;line-height:1.5em;margin-top:10px;} .carousel-inner>.item {height: 300px;}
}

@media only screen and (device-width : 800px) and (orientation : portrait){
.navbar-header{text-align:center; margin-top:18px;}.navbar-brand{float:none}.callus{text-align:center;margin-right:0 !important;}.featured h1{margin-top:20px;}.tracker .tracker-title{font-size:15px;line-height:1.5em;margin-top:10px;} .carousel-inner>.item {height: 300px;}
}

@media only screen and (device-width : 640px){
.navbar-header{text-align:center; margin-top:18px;}.navbar-brand{float:none}.callus{text-align:center;margin-right:0 !important;}.featured h1{margin-top:20px;}.tracker .tracker-title{font-size:15px;line-height:1.5em;margin-top:10px;} .carousel-inner>.item {height: 330px;} .featured .form-box{top:0;width:100%;margin:20px 0 20px 0;height:500px;}
.sra2{min-height: 480px;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.tracker .tracker-title{font-size:16px}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.navbar-header{text-align:center;margin-top:23px;}
.navbar-brand{float:none}
.callus{text-align:center;margin-right:0 !important;}
.featured{margin-top:30px;}
.featured h1{margin-top:10px;font-size:22px;}
.featured .subhead{margin-top:15px;font-size:16px;font-weight:300;}
.featured .form-box{top:0;width:100%;margin:20px 0 20px 0;height:460px;}
.form-group{margin-bottom:5px;}
.featured .form-box .download-link{margin-top:5px;}
.featured .form-box .mybt{margin-top:10px;}
.tracker .tracker-title{font-size:15px;line-height:1.5em;margin-top:10px;}
.tracker .counters-for{margin-bottom:20px;}
.slide-3{margin-bottom:0;}
.slide-4 .col-sm-3{margin-bottom:10px;}
.carousel-inner>.item{height:420px;}
.sra2{min-height: 480px;}
}

.policy ul{list-style:none;float:right;}
.policy ul li{list-style:none;font-size:85%;float:left;margin-left:10px;}
.policy ul li a{margin-right:5px; color:#ddd;}

.form-control {
  height:30px;
}
