body {
  font-size: $font-size-base+px;
  font-family: $font-family;
  font-weight: 200;
  color:$gray-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
    list-style: none outside none;
}

@media (max-width: 320px) {
  body {
    font-size: 14px;
  }
}
