@import "bootstrap";
@import "flexslider";
@import "util";
@import "mq";
@import "form";
@import "top-bar";
@import "navbar";
@import "media";
@import "content-tabs";

.content-grid-headline{
  margin-top: 70px;
}

.content-grid-lead-text{
  @extend %lead;
  margin-bottom: 40px;
}

.content-grid-content{
  margin-bottom: 50px;
}

 .content-grid-block{
  margin-bottom: 20px;
} 

.media-content {
    margin-top: 80px;
    margin-bottom: 80px;
}

.profile-media-slab{
  @extend .col-md-6;
  background:#f0f0f0;
}

.pullout-text-slab{
  @extend .col-md-6;
  background: #0469ac;
}

.slider-container {
  @extend .container-fullwidth; 
}

/* Intro Styles*/
.intro{ 
  width: 100%;
  background-color: #0469ac;
}

.intro-lead-headline {
  margin-top: 50px;
  margin-bottom:0px;
  color:#ffffff;
}

.intro-lead-content {
  @extend %lead;
  margin-bottom:70px;
  color:#ffffff;
}

/* Page Body Styles */
.page-body-headline {
  @extend .row;
  @extend .col-md-12;
  margin-top: 50px;
  margin-bottom:20px;

  
}

.page-body-content {
  margin-top: 20px;
  margin-bottom:20px;
}

.page-body-lead {
  @extend %lead;
  margin-bottom:40px;
}

.gallery:last-child {
  @extend .clearfix;
}

.content-link-box{
  border: 1px solid lightgrey;
  
  height:125px;
  padding:20px;
  box-shadow: 2px 2px 2px #888888;

  i {
    float:left;
     }
  p {
      
      padding:10px;
  }
}

.content-row-grid
{
  margin-top:30px; 
  margin-bottom:30px;
}

.content-row-item
{
  @extend .clearfix;
  margin-top:15px; 
  margin-bottom:15px;
  border-bottom:1px solid $brand-primary;
  img{
    padding:25px;
  }

}

.content-row-item:last-child
{
  border-bottom:none;
}

.card-item-row
{
  margin-top: 40px;
  margin-bottom: 40px;
}
.card-item
{
 
  border:1px solid #3f98d5;
  height:350px;
  background-color:#3f98d5;
  padding:20px;
  position:relative;
  i{
    position:absolute;
    right:0px;
    bottom:0px;
    font-size:200px;
    color:lightgrey;
  }
  h2{
    color:white;
  }
}

