@import "bootstrap";
@import "util";
@import "mq";
@import "top-bar";
@import "navbar";
@import "media";

.content-grid-headline{
  margin-top: 70px;
}

.content-grid-lead-text{
  @extend %lead;
  margin-bottom: 40px;
}

.content-grid-content{
  margin-bottom: 50px;
}

 .content-grid-block{
  margin-bottom: 20px;
} 

.media-content {
    margin-top: 80px;
    margin-bottom: 80px;
}

.profile-media-slab{
  @extend .col-md-6;
  background:#f0f0f0;
}

.pullout-text-slab{
  @extend .col-md-6;
  background: #0469ac;
}

.slider-container {
  @extend .container-fullwidth; 
 

}

/* Intro Styles*/
.intro{ 
  width: 100%;
  background-color: #0469ac;
}

.intro-lead-headline {
  margin-top: 50px;
  margin-bottom:0px;
  color:#ffffff;
}

.intro-lead-content {
  @extend %lead;
  margin-bottom:70px;
  color:#ffffff;
}

/* Page Body Styles */
.page-body-headline {
  margin-top: 50px;
  margin-bottom:20px;
  
}

.page-body-content {
  margin-top: 20px;
  margin-bottom:20px;
}

.page-body-lead {
  @extend %lead;
  margin-bottom:40px;
}