
.lede__headline {
  font-size: 30px;
  color: #59656B;
  font-weight: 600;
  text-align: center;
}

.lede__headline--white {
  @extend .lede__headline;
  color: white
}

.lede__border {
  width: 15%;
  border: 2px solid #00436f;
}

.lede__border--white {
  width: 15%;
  border: 3px solid #fff;
}

.lede__subheadline {
  font-size: 18px;
  color: #474A4C;
  font-weight: 500;
  text-align: center;
}

.lede__subheadline--white {
  @extend .lede__subheadline;
  color: white
}

.lede__headline-b {
  @extend .lede__headline;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.4em;
  color: #005E95
}

.lede__subheadline-b {
  @extend .lede__subheadline;
  font-size: 1.4em;
  font-weight: normal;
  color: #03476E;
}

/* story list */

.sl-list__headline {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.4em;
}

.sl-list__headline > a {
  color: #E26958;
}

.sl-list__excerpt {
  color: #868485;
  padding-bottom: 20px;
  border-bottom: 1px solid #E4E1E3;
}




.mc-main {
    margin-top: 40px;
}

.mc-sidebar {
  margin-top: 40px;
}

.row-break {
  margin-bottom: 20px;
}
