/*==========  Mobile First Method  ==========*/

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }



/* add class .section-to-print to content you want printed */

@media print {
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* style search input form */

input#s {
  font-size: 1.3em;
}

input#s:focus {
  outline: none;
}

.lede__headline {
  font-size: 2em;
  color: #59656B;
  font-weight: 600;
  text-align: center;
  font-weight: 300;
}

.lede__headline--white {
  @extend .lede__headline;
  color: white
}

.lede__border {
  width: 15%;
  border: 1px solid #00436f;
}

.lede__border--white {
  width: 15%;
  border: 1px solid #fff;
}

.lede__subheadline {
  font-size: 18px;
  color: #474A4C;
  font-weight: 300;
  text-align: center;
}

.lede__subheadline--white {
  @extend .lede__subheadline;
  color: white
}

/* bugfix for firefox */
.img-responsive {
  width:100%;
}

.lede__headline-b {
  @extend .lede__headline;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.4em;
  color: #005E95
}

.lede__subheadline-b {
  @extend .lede__subheadline;
  font-size: 1.4em;
  font-weight: normal;
  color: #03476E;
}

/* story list */

.sl-list__headline {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.4em;
}

.sl-list__headline > a {
  color: #E26958;
}

.sl-list__excerpt {
  color: #868485;
  padding-bottom: 20px;
  border-bottom: 1px solid #E4E1E3;
}


.mc-main {
    margin-top: 40px;
}


.mc-sidebar {
  margin-top: 40px;
}

.row-break {
  margin-bottom: 20px;
}

// Knowledge Library styles
.kc-label, .kc-label--teal {
  text-transform: uppercase;
  background: #E26958;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  letter-spacing: 0.05em;
}

.view-all, .view-all--right {
  text-transform: uppercase;
  font-size: 1.2em;
}

.view-all--right {
  text-align: right;
}

.kc-label--teal {
  background: #6EBDB9;
}

.kc-featured--article {
  position: relative;
}

.feat-articles {
    margin-top: 20px;
}

.kc-featured--article {
  margin-bottom: 20px;
}

.featEntry__headline__wrapper, .featEntry__headline__wrapper--short  {
    position: absolute;
    bottom: 0;
    padding: 3px 12px;
    background: black;
    opacity: 0.75;
    filter: alpha(opacity=80);
    color: white;
    width: 100%;
}

.featEntry__headline__wrapper--short {
  width: 90.8%;
}

.kc-featured--caption {
  margin-top: 5px;
}

.article__content > p, .article__content ul li, .byline p {
  margin-bottom: 20px;
  color: #5E6569;
  font-size: 1.25em;
  font-weight: 300
}

.article__content ul  {
  margin: 4%;
}

.article__content ul li {
  list-style-type: disc;
}

.article__image {
  margin-bottom: 30px;
}

.byline p {
  color: #2E7DA8;
}

.source {
    font-size: 0.9em;
    color: #5B6A72;
    font-style: italic;
}

@media only screen and (max-width : 480px) {
  .mc-main, .feat-articles {
    margin-top: 0;
  }

  .view-all, .view-all--right {
    font-size: 1em;
  }

  .mc-sidebar {
    margin-top: 20px;
  }
}

