@import "bootstrap";
@import "mq";
@import "top-bar";
@import "navbar";
@import "media";
@import "util";

.pace-on .pace-overlay {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s 0s, height 0s 0.5s;
}
.pace-minimal.pace-on .top-bar, .pace-minimal.pace-on .menu, .pace-minimal.pace-on #content {
  visibility: visible;
}

/* Pace counter */
.pace-counter .pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 200px !important;
  margin-top: -50px;
  margin-left: -100px;
  line-height: 100px;
  font-size: 60px;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace-counter .pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}


/* - Social icons - */
ul.social-icons {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  list-style-type: none;
  padding-left: 0;
}
ul.social-icons li {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  line-height: 36px;
  margin-bottom: 0px;
}
ul.social-icons li a {
  display: inline-block;
  font-size: 16px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  transition: all 0.2s;
  vertical-align: top;
}
ul.social-icons.social-simple i {
  transition: color 0.2s;
}
ul.social-icons.social-simple a {
  width: 1.75em;
  background: none !important;
}

@media (max-width: 767px) {
  .social-icons li a {
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}


.social-icons li a {
  background-color: #2e3333;
}
.social-icons li a i {
  color: #ffffff;
}
.social-icons li a:not([data-iconcolor]):hover {
  background-color: rgba(46, 51, 51, 0.8);
}

.social-simple li a i {
  color: #4c4c4c;
}

.social-simple li a:not([data-iconcolor]):hover i {
  color: #0469ac;
}

/* - Social icons widget - */
.widget_social ul.social-icons {
  margin-bottom: 0;
}
.widget_social ul.social-icons li, .widget_social ul.social-icons li a {
  margin-bottom: 0;
}



/* Icons */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.fa-envelope:before {
  content: "";
}
.fa-phone:before {
  content: "";
}
.fa-facebook:before {
  content: "";
}
.fa-twitter:before {
  content: "";
}
.fa-google-plus:before {
  content: "";
}
.fa-linkedin:before {
  content: "";
}
