{% set blockGridACss %}

.aoe-grid {
  padding: 60px 0px;
}

.aoe-grid__header img {
  display:block;
  margin:auto;
}

.aoe-grid .row {
  margin-bottom: 2em;
}

.aoe-grid__headline {
  padding: 30px 0px;
  font-size: 4em;
  font-weight: 100;
  color: #889099;
  padding-top: 0;
}

.aoe-grid__item {
  position: relative;
}


.aoe-grid__item__content {
  color: white;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 95%;
  text-align: center;
}

.aoe-grid__item__content h4 {
  text-shadow: 1px 2px 3px #656060;
}

.aoe-grid__item__content__link {
  color: white;
}

{% endset %}

{% includeCss blockGridACss %}

<div class="col-sm-12 aoe-grid">

  <header class="aoe-grid__header">
     <img src="/assets/images/icons/aoe-icon.png">
    <h3 class="text-center aoe-grid__headline">browse content by areas of interest</h3>
  </header>
  
  {# start grid here #}
  <div class="row">
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/identifying-growth-opportunities">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Identifying-Growth-Opportunities.jpg" class="img-responsive">
        </div>
          <div class="aoe-grid__item__content">
            <h4>Identifying Growth Opportunities</h4>
          </div>{# end content here #}

      </div>
    </a>
    
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/staying-ahead-of-competition">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Staying-Ahead-Of-Competition.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Staying Ahead Of Competition</h4>
        </div>

      </div>
    </a>
    
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/enabling-business-decisions">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Enabling-Business-Decisions.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Enabling Business Decisions</h4>
        </div>{# end content here #}

      </div>
    </a>
    
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/getting-more-out-of-your-supply-chain">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Getting-More-Out-Of-Your-Supply-Chain.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Getting More Out Of Your Supply Chain</h4>
        </div>{# start content here #}

      </div>
    </a>
  </div>

  <div class="row">
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/knowing-your-customer-better">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Knowing-Your-Customer-Better.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Knowing Your Customer Better</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/enabling-digital-transformation">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/br/Enabling-Digital-Transformation.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Enabling Digital Transformation</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/whats-impacting-markets">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ir/Whats-Impacting-Markets.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>What’s Impacting Markets?</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/empower-your-investment-strategies-buy-side">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ir/Empower-Your-Investment-Strategies-Sell-Side.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Empower Your Investment Strategies – Buy Side</h4>
        </div>{# start content here #}

      </div>
    </a>
  </div>

  <div class="row">
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/empower-your-investment-strategies-sell-side">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ir/Empower-Your-Investment-Strategies-Sell-Side.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Empower Your Investment Strategies – Sell Side</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/get-your-fixed-income-insights">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ir/Get-Your-Fixed-Income-Insights.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Get Your Fixed-Income Insights</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/building-your-technology-r-d-roadmap">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ip/Building-Your-Technology-R&D-Roadmap.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Building Your Technology R&D Roadmap</h4>
        </div>{# start content here #}

      </div>
    </a>

    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/monetize-protect-ip">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ip/Monetize-&-Protect-IP.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>Monetize & Protect IP</h4>
        </div>{# start content here #}

      </div>
    </a>
  </div>

  <div class="row">
    <a class="aoe-grid__item__content__link" href="/knowledge-library/areas-of-interest/all-about-litigation">
      <div class="col-sm-3">
        <div class="aoe-grid__item tint">
          <img src="/assets/images/aoe/ip/All-About-Litigation.jpg" class="img-responsive">
        </div>
        <div class="aoe-grid__item__content">
          <h4>All About Litigation</h4>
        </div>{# start content here #}

      </div>
    </a>
  </div>
  
  {# end grid here #}

</div>{# end col-sm-12 #}