{% import 'macros/ctype' as contentType %}

{% set edpickCss %}



.edpick__story__list {
  margin-top: 20px;
}

.edpick__story {
  margin-bottom: 20px;
  max-height: 155px;
  overflow: hidden;
  position: relative;
}

.edpick__story img {
  min-height: 300px;
}

.edpick__story__content {
  color: white;
  position: absolute;
  top: -1%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: left;
}

.edpick__story__content2 {
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  text-align: center;
}

.edpick__story__content span {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background: rgba(226, 105, 88, 0.68);
  padding: 0.2em 0.5em;
}

.edpick__story__content__link {
  font-size: 1.2em;
  color: white;
  text-shadow: 1px 2px 3px #6f6f6f;
  transition: 0.5s color;
}

.edpick__story__content__link:hover, .edpick__story__content__link:focus {
  color: #e2dddd;
  text-decoration: none;
}
.aoe-grid__item {
  position: relative;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .edpick__story__content span {
  font-size: 0.7em;
  }
  .edpick__story__content__link {
    font-size: 0.8em;
  }
}



{% endset %}

{% includeCss edpickCss %}


{# cache globally if craft.config.cache #}

{% set blogEditorentries = craft.entries.section('blogs').editorPicks('1').ids() %}
{% set articleEditorentries = craft.entries.section('articles').editorPicks('1').ids() %}
{% set srEditorentries = craft.entries.section('specialReports').editorPicks('1').ids() %}

{% set entryIdsCombined = blogEditorentries | merge(articleEditorentries) | merge(srEditorentries)  %}

{% set allEditorEntries = craft.entries.id(entryIdsCombined).order('postDate DESC').limit(4) %}

<div class="edpick">
  <span class="kc-label">Areas of Interest</span>
  <ul class="edpick__story__list">
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Identifying-Growth-Opportunities.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/identifying-growth-opportunities">Identifying Growth <br> Opportunities</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Staying-Ahead-Of-Competition.jpg" class="img-responsive"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/staying-ahead-of-competition">Staying Ahead Of <br> Competition</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Enabling-Business-Decisions.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/enabling-business-decisions">Enabling Business <br> Decisions</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Getting-More-Out-Of-Your-Supply-Chain.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/getting-more-out-of-your-supply-chain">Getting More Out Of Your <br> Supply Chain</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Knowing-Your-Customer-Better.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/knowing-your-customer-better">Knowing Your Customer <br> Better</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/br/Enabling-Digital-Transformation.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/enabling-digital-transformation">Enabling Digital <br> Transformation</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ir/Whats-Impacting-Markets.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/whats-impacting-markets">What’s Impacting <br> Markets?</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ir/Empower-Your-Investment-Strategies-Sell-Side.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/empower-your-investment-strategies-buy-side">Empower Your Investment Strategies <br> – Buy Side</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ir/Empower-Your-Investment-Strategies-Sell-Side.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/empower-your-investment-strategies-sell-side">Empower Your Investment Strategies <br> – Sell Side</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ir/Get-Your-Fixed-Income-Insights.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/get-your-fixed-income-insights">Get Your Fixed-Income <br> Insights</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ip/Building-Your-Technology-R&D-Roadmap.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/building-your-technology-r-d-roadmap">Building Your Technology <br> R&D Roadmap</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <img src="/assets/images/aoe/ip/Monetize-&-Protect-IP.jpg"  class="img-responsive" />
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/monetize-protect-ip">Monetize & <br> Protect IP</a>
      </div>
    </li>
    <li class="edpick__story shadow-box tint">
      <div class="aoe-grid__item tint">
      <img src="/assets/images/aoe/ip/All-About-Litigation.jpg"  class="img-responsive" />
      </div>
      <div class="edpick__story__content2">
        <a class="edpick__story__content__link" href="/knowledge-library/areas-of-interest/all-about-litigation">All About <br> Litigation</a>
      </div>
    </li>
  </ul>
</div>

{# endcache #}

