{% set kcFeaturedArticlesCss %}


{% endset %}

{% includeCss kcFeaturedArticlesCss %}

{% set featuredEntries = craft.entries.section('articles').limit(4) %}
<a href="/knowledge-library/articles" class="kc-label">Articles</a>
<div class="feat-articles">

  <div class="row">

  {% for entry in featuredEntries %}

    <div class="featEntry col-sm-6">
      <a href={{ entry.url }}>
        <div class="featEntry__inner">

          {% set asset = entry.articlesBanner.first() %}

          {% if asset %}
              <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}>
          {% endif %}

          <div class="featEntry__headline__wrapper">
            <h2 class="featEntry__headline">{{ entry.title }}</h2>
          </div>
        </div><!-- featEntry__inner -->
      </a>
    </div><!-- featEntry -->

  {% if loop.index % 2 == 0 %}
    </div><!-- close row and open it below again -->
    <div class="row">
  {% endif %}
{% endfor %}
   </div><!-- row -->
   <p class="view-all--right"><a class="view-all" href="/knowledge-library/articles">View All Articles</a></p>
</div><!-- articles -->
