{% set kcFeaturedArticlesCss %}


{% endset %}

{% includeCss kcFeaturedArticlesCss %}

{% set featuredEntries = craft.entries.section('articles').limit(4) %}
<a href="/knowledge-library/articles" class="kc-label">Articles</a>
<div class="feat-articles">

  <div class="row">

  {% for entry in featuredEntries %}
  <a href={{ entry.url }}>
    <div class="kc-featured--article col-sm-6">

          {% set asset = entry.articlesBanner[0] %}

          {% if asset %}
              <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}> <br>
          {% endif %}

      <div class="featEntry__headline__wrapper--short">
        <p class="kc-featured--caption">{{ entry.title }}</p>
      </div>
    </div><!-- kc-featured-article -->
  </a>
  {% if loop.index % 2 == 0 %}
    </div><!-- close row and open it below again -->
    <div class="row">
  {% endif %}
{% endfor %}
   </div><!-- row -->
   <p class="view-all--right"><a class="view-all" href="/knowledge-library/articles">View All Articles</a></p>
</div><!-- articles -->
