{% set kcFollowCss %}

.cta-blog {
  background: #b3223c;
  padding: 20px;
  margin-top: 40px;
  padding-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.cta-blog__social__item {
  display: inline-block;
  margin-right: 20px;
}

.cta-blog__social__item i {
  font-size: 2em;
  color: #fff;
}

.cta-blog__careers p{
  color: #504C4C;
  font-size: 1.2em;
  font-weight: 300;
}

.cta-blog__headline {
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.cta-blog__media p {
  color: #504C4C;
  font-size: 1.1em;
  font-weight: 300;
}


.cta-blog > .btn-default {
    color: #b3223c;
    background-color: #fff;
    border-color: #ccc;
}

.cta-blog > .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

{% endset %}


{% includeCss kcFollowCss %}

<div class="cta-blog shadow-box">
  <h3 class="cta-blog__headline">Can we help with your Supplier Diversity Program?</h3>

<a href="http://www.aranca.com/lp/procurement-research-support/supplier-diversity-program/#intro" class="btn btn-lg btn-default"><i class="fa fa-external-link" aria-hidden="true"></i> Write to Us</a>

</div>

