{% set kcFollowCss %}

.cta-blog {
  background: #d3d3d3;
  padding: 20px;
  margin-top: 40px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.cta-blog__social__item {
  display: inline-block;
  margin-right: 20px;
}

.cta-blog__social__item i {
  font-size: 2em;
  color: #fff;
}

.cta-blog__careers p{
  color: #504C4C;
  font-size: 1.2em;
  font-weight: 300;
}

.cta-blog__headline {
  color: #000;
  font-weight: 100;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-blog__media p {
  color: #504C4C;
  font-size: 1.1em;
  font-weight: 300;
}

{% endset %}


{% includeCss kcFollowCss %}

<div class="cta-blog shadow-box">
  <h3 class="cta-blog__headline">Can we help with your Supplier Diversity Program?</h3>
  <ul class="cta-blog__social">
    <li class="cta-blog__social__item"><a href="https://twitter.com/aranca" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li class="cta-blog__social__item"><a href="https://www.facebook.com/ArancaResearch" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li class="cta-blog__social__item"><a href="https://www.linkedin.com/company/aranca" target="_blank"><i class="fa fa-linkedin"></i></a></li>

    {% switch category ?? null %}

      {% case "BR" %}

        {% set rssFeed = 'http://feeds.feedburner.com/aranca/business-research' %}

      {% case "IP" %}
        {% set rssFeed = 'http://feeds.feedburner.com/aranca/ip-research' %}

      {% case "IR" %}

        {% set rssFeed = 'http://feeds.feedburner.com/aranca/investment-research' %}

    {% endswitch %}

    {% if rssFeed is defined %}
      <li class="cta-blog__social__item"><a href={{ rssFeed }} target="_blank"><i class="fa fa-rss"></i></a></li>
    {% endif %}
  </ul>

</div>

