{% import 'macros/ctype' as contentType %}

{% set edpickCss %}



.edpick__story__list {
  margin-top: 20px;
}

.edpick__story {
  margin-bottom: 20px;
  max-height: 155px;
  overflow: hidden;
  position: relative;
}

.edpick__story img {
  min-height: 300px;
}

.edpick__story__content {
  color: white;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  text-align: center;
}

.edpick__story__content span {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background: rgba(226, 105, 88, 0.68);
  padding: 0.2em 0.5em;
}

.edpick__story__content__link {
  font-size: 1em;
  color: white;
  text-shadow: 1px 2px 3px #6f6f6f;
  transition: 0.5s color;
}

.edpick__story__content__link:hover, .edpick__story__content__link:focus {
  color: #e2dddd;
  text-decoration: none;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .edpick__story__content__link {
    font-size: 0.8em;
  }
}



{% endset %}

{% includeCss edpickCss %}


{% cache if craft.config.cache %}

{% set blogEditorentries = craft.entries.section('blogs').editorPicks('1').ids() %}
{% set articleEditorentries = craft.entries.section('articles').editorPicks('1').ids() %}
{% set srEditorentries = craft.entries.section('specialReports').editorPicks('1').ids() %}

{% set entryIdsCombined = blogEditorentries | merge(articleEditorentries) | merge(srEditorentries)  %}

{% set allEditorEntries = craft.entries.id(entryIdsCombined).order('postDate DESC').limit(4) %}

<div class="edpick">
  <span class="kc-label">editor-picks</span>
  <ul class="edpick__story__list">
  {% for entry in allEditorEntries %}
    <li class="edpick__story shadow-box tint">
      
      {% switch entry.type %}

      {% case "blogs" %}

        {% set featuredBanner = entry.blogsBanner %}

      {% case "articles" %}
        {% set featuredBanner = entry.articlesBanner %}

      {% case "specialReports" %}

        {% set featuredBanner = entry.srBanner %}

       {% case "infographics" %}

        {% set featuredBanner = entry.igBanner %}

      {% endswitch %}

      <img src={{ featuredBanner.first().url }} class="img-responsive" />

      <div class="edpick__story__content">
        <span>{{ entry.type }}</span><br>
        <a class="edpick__story__content__link" href={{ entry.url }}>{{ entry.title }}</a>
      </div>

    </li>
  {% endfor %}
  </ul>
</div>

{% endcache %}

