{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set kcFeaturedCss %}

.kc-slider {
  margin-bottom: 40px;
}

.kc-featured--slide {
  margin-top: 20px;
}

.kc-featured--slide img {
  min-height: 320px;
}

.kc-featured--article {
  position: relative;
  overflow: hidden;
}



{% endset %}

{% set kcFeaturedJs %}
  $('.slides').slick({
    arrows: false,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    autoplay: true,
    adaptiveHeight: true

  });
{% endset %}

{% includeJs kcFeaturedJs %}
{% includeCss kcFeaturedCss %}

{% cache globally if craft.config.cache %}

{% set featuredEntries = craft.entries.section('specialReports').limit(3) %}

<span class="kc-label--teal">Featured Stories</span>
<div class="slides kc-slider">

{% for entry in featuredEntries %}
  <a href="{{entry.url}}">
  <div class="kc-featured--slide">

        {% set asset = entry.srBanner.first() %}

        {% if asset %}
            <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}> <br>
        {% endif %}


    <div class="featEntry__headline__wrapper">
      <p class="kc-featured--slide__meta">{{ entry.title }}</p>
    </div>
  </div><!-- kc-featured-slide -->
  </a>
{% endfor %}
</div>

<!-- 2014-12-31 -->
{% endcache %}
