{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set kcFeaturedCss %}

.kc__label {

}

{% endset %}

{% set kcFeaturedJs %}
  $('.slides').slick({
    arrows: false,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    autoplay: true,
    adaptiveHeight: true

  });
{% endset %}

{% includeJs kcFeaturedJs %}
{% includeCss kcFeaturedCss %}


{% set featuredEntries = craft.entries.section('specialReports').limit(3) %}

<p class="kc__label">Special Reports</p>
<div class="slides">

{% for entry in featuredEntries %}

  <div class="kc-featured--slide">

        {% set asset = entry.srBanner.first() %}

        {% if asset %}
            <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}> <br>
        {% endif %}


    <p class="kc-featured--slide__meta">{{ entry.title }} | {{ entry.postDate }} | {{ entry.type }}</p>
  </div><!-- kc-featured--slide -->
{% endfor %}
</div>

<!-- 2014-12-31 -->
