{% set kcFeaturedInfoGraphicsCss %}

  .feat-igraphics {
    margin-top: 20px;
  }

  .kc-featured--infographic {
    position: relative;
    margin-top: 20px;
  }

  .feat-igraphics__headline {

  }

{% endset %}

{% includeCss kcFeaturedInfoGraphicsCss %}

{% set featuredEntries = craft.entries.section('infographics').limit(4) %}
<a href="/knowledge-library/infographics" class="kc-label">Infographics</a>
<div class="feat-igraphics">
  <div class="row">

  {% for entry in featuredEntries %}
  <a href={{ entry.url }}>
    <div class="kc-featured--infographic col-sm-12">
    {% if entry.igBanner[1] | length %}
      {% set asset = entry.igBanner[1] ? '' %}
      <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}> <br>
    {% endif %}
    <div class="featEntry__headline__wrapper--short" style="width: 96%;">
      <p class="kc-featured--slide__meta">{{ entry.title }}</p>
    </div>
    </div><!-- kc-featured-infographic -->
  </a>
  {% if loop.index % 2 == 0 %}
    </div><!-- close row and open it below again -->
    <div class="row">
  {% endif %}
{% endfor %}
   </div><!-- row -->
   <p class="view-all--right"><a class="view-all" href="/knowledge-library/infographics">View All Infographics</a></p>
</div><!-- featured igraphics -->
