
{% set kcLatestCss %}

  .kc-sidebar {
    background: white;
  }
  
  .kc-latest {
    
  }

  .kc-latest__headline {
    text-transform: uppercase;
    font-weight: 300;
    color: #616161;
    letter-spacing: 0.1em;
    padding-top: 15px;
  }

  .kc-latest__item {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #F7F8F9;
  }

  .kc-latest__item__label {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: #828384;
  }

  .kc-latest__date {
    margin-top: 5px;
    color: #bbb8b8;
  }


{% endset %}

{% includeCss kcLatestCss %}

{% cache globally if craft.config.cache %}

{% set latestSpecialReports = craft.entries.section('specialReports').limit(1).ids() %}
{% set latestArticles = craft.entries.section('articles').limit(2).ids() %}
{% set latestBlogPosts = craft.entries.section('blogs').limit(1).ids() %}
{% set latestInfographics = craft.entries.section('infographics').limit(1).ids() %}

{% set entryIdsCombined = latestSpecialReports | merge(latestArticles) | merge(latestBlogPosts) | merge(latestInfographics) %}

{% set allLatestEntries = craft.entries.id(entryIdsCombined).order('postDate DESC') %}


<div class="kc-latest">
<h2 class="kc-latest__headline">The Latest</h2>
<ul class="kc-latest__list">
{% for entry in allLatestEntries %}
  <li class="kc-latest__item">
    <p class="kc-latest__item__label">{{ entry.type }}</p>
    <a href={{ entry.url }}>{{ entry.title }}</a>
    <p class="kc-latest__date"><em><small>published on {{ entry.postDate | date("M d, Y") }}</small></em></p>
  </li>
{% endfor %}
</ul>
</div>

{% endcache %}