
{% set kcPreviewCss %}

.kc-preview {
  background: white;
  padding: 0 25px;
}

.kc-preview__headline {
  text-align: center;
}

{% endset %}

{% includeCss kcPreviewCss %}

<div class="kc-preview">
  <div class="row">
    <h3 class="kc-preview__headline">What's Inside</h3>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-sm-8">
      
    </div>
  </div>
</div>