
{% set kcPreviewCss %}

.kc-preview {
  background: white;
  padding: 0 25px;
  min-height: 285px;
}

.kc-preview__headline {
  text-align: center;
}

{% endset %}

{% includeCss kcPreviewCss %}

<div class="kc-preview">
  <div class="row">
    <h3 class="kc-preview__headline">What's Inside</h3>
    <div class="col-sm-4">
      <p>We have premium content featuring authoritative insights and opinion on business, finance, science and technology</p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <p>50+ Articles</p>
        </div>
        <div class="col-sm-6">
          <p>30+ Special Reports</p>
        </div>
      </div>{# end inner row #}

       <div class="row">
        <div class="col-sm-6">
          <p>50+ Blog Posts</p>
        </div>
        <div class="col-sm-6">
          <p>30+ Infographics</p>
        </div>
      </div>{# end inner row #}
    </div>{# end col-sm-8 #}
  </div>
</div>