{% set subFormCss %}
  .sub-form {
    background: #fff;
    padding: 20px;
  }

  .sub-form__header {
    color: #403e3e;
    font-weight: 100;
  }
{% endset %}

{% includeCss subFormCss %}



<div class="sub-form shadow-box">
  <form method="post" accept-charset="UTF-8" id="sub-form" action="" />
      <input type="hidden" name="action" value="subscribor/service/subscribe">
      <input type="hidden" name="endpoint" value="http://connect.aranca.com/acton/eform/17562/0022/d-ext-0002" />
      <input type="hidden" name="redirect" value="http://aranca.craft.dev/knowledge-library" />
      {{ getCsrfInput() }}

      <h3 class="sub-form__header">Get fresh content delivered weekly</h3>

      <div class="input-group">
        <input type="email" class="form-control" id="mql-subscription" placeholder="Just your email" name="Email_Address">
        <span class="input-group-btn">
          <a href=javascript: void(0)" id="#open-aoe-modal" class="btn btn-success" data-toggle="modal" data-target="#areas-of-interest">subscribe</a>
          {# <button id="#open-aoe-modal" class="btn btn-success" data-toggle="modal" data-target="#areas-of-interest">subscribe</button> #}
        </span>
      </div>
      <hr>

      {% include '_components/kc/_subscribe-modal' %}

    </form>
</div>