{% set kcSubscribeCss %}

.kcsubscribe {
   padding-top: 50px 0;
}

.kcsubscribe__header {
  text-align: center;
}

.kcsubscribe__header p {
  color: #939ba3;;
}

.kcsubscribe__headline {
  padding: 30px 0px;
  font-size: 3.5em;
  font-weight: 100;
  color: #899097;
  padding-bottom: 0;
  padding-top: 0;
}

.kcsubscribe .form-control {
  padding: 20px 5px;
}

.sub-form .input-group-btn:last-child > .btn {
  padding: 11px 3em;
}


{% endset %}


{% includeCss kcSubscribeCss %}



<section class="container kcsubscribe">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <header class="kcsubscribe__header">
         <img src="/assets/images/icons/newsletter-icon.png">
        <h3 class="text-center kcsubscribe__headline">subscribe to Aranca Context</h3>
        <p>Get insights on topics that matter to your business. Stay updated on the areas that interest you.</p>
      </header>


      {# start form here #}
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <form method="post" accept-charset="UTF-8" id="sub-form" action="" />
            <input type="hidden" name="action" value="subscribor/service/subscribe">
            <input type="hidden" name="endpoint" value="http://connect.aranca.com/acton/eform/17562/0022/d-ext-0002" />
            <input type="hidden" name="redirect" value="http://www.aranca.com/thankyou/subscribe" />
            <input type="hidden" name="_form_name_" value="Subscription Form" />
            <input type="hidden" name="Subscription_Status" value="on" />
            <input type="hidden" name="WebPage_URL" value="{{ url(craft.request.path) }}" />
            <input type="hidden" name="Webpage_Name" value="{{ entry }}" />
            <input type="hidden" name="referrer" value="{{ craft.request.urlReferrer }}" />
            <input type="hidden" name="ao_refurl" value="{{ craft.request.urlReferrer }}" />
            <input type="hidden" name="Created_By" value="Marketing" />
            <input type="hidden" name="Lead_Source" value="Website" />
            <input type="hidden" name="Form_Name" value="MQL Subscription form" />
            <input type="hidden" name="IMSF" value="MQL" />
            <input type="hidden" name="AoI_Conversion_Point" value="Subscription form" />
            <input type="hidden" name="utm_source" />
            <input type="hidden" name="utm_medium" />
            <input type="hidden" name="utm_content" />
            <input type="hidden" name="utm_campaign" />
                  {{ getCsrfInput() }}

            <div class="input-group">
              <input type="email" class="sub-form__email form-control" id="mql-subscription" placeholder="Just your email" name="Email_Address">
              <span class="input-group-btn open-aoe-modal">
                <a href=javascript: void(0)" id="#open-aoe-modal" class="btn btn-success" style="padding: 11px 3em; text-transform: uppercase;">subscribe</a>
                
              </span>
            </div>
            <small class="help-block with-errors" style="color: red;"></small>
            <hr>

            {% include '_components/kc/_subscribe-modal' %}

        </form>
        </div><!-- end form container -->
      </div><!-- end row -->

      
    </div>
  </div>
 </section>