{% set submodalCss %}


#areas-of-interest {
  top:15%;
  outline: none;
}

#areas-of-interest .modal-content {
  border-radius: 0;
  background: #fff;
  padding: 3em;
  border: 10px solid #3D74A6;
  color: #3D74A6;
}

#areas-of-interest .modal-subtitle {
  color: #A55E74;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

#areas-of-interest .modal-title {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
}

#areas-of-interest .modal-header {
  border-top: 1px solid #cedbe6;
  border-bottom: 1px solid #cedbe6;
}

#areas-of-interest .modal-footer {
  border: none;
}

#areas-of-interest .btn-success {
  color: #fff;
  background-color: #3D74A6;
  border-color: #3D74A6;
  border-radius: 0;
  padding: 10px 179px;
}

{% endset %}

{% includeCss submodalCss %}

{# start modal #}
<div id="areas-of-interest" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-subtitle text-center">Why bother with content you don't need?</h5>
        <h4 class="modal-title text-center">Just pick the topics you want to subscribe to</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox4" name="Areas_of_Interest[]" value="Identifying Growth Opportunities">  Identifying Growth Opportunities
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox5" name="Areas_of_Interest[]" value="Staying Ahead Of Competition"> Staying Ahead Of Competition
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox6" name="Areas_of_Interest[]" value="Enabling Business Decisions"> Enabling Business Decisions
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox7" name="Areas_of_Interest[]" value="Getting More Out Of Your Supply Chain"> Getting More Out Of Your Supply Chain
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox8" name="Areas_of_Interest[]" value="Knowing Your Customer Better"> Knowing Your Customer Better
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                <input type="checkbox" id=Checkbox9" name="Areas_of_Interest[]" value="Enabling Digital Transformation"> Enabling Digital Transformation
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id=Checkbox10" name="Areas_of_Interest[]" value="What’s Impacting Markets?"> What’s Impacting Markets?
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox11" name="Areas_of_Interest[]" value="Empower Your Investment Strategies – Buy Side"> Empower Your Investment Strategies – Buy Side
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox12" name="Areas_of_Interest[]" value="Empower Your Investment Strategies – Sell Side"> Empower Your Investment Strategies – Sell Side
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox13" name="Areas_of_Interest[]" value="Get Your Fixed-Income Insights">  Get Your Fixed-Income Insights
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox14" name="Areas_of_Interest[]" value="Building Your Technology R&D Roadmap"> Building Your Technology R&D Roadmap
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox15" name="Areas_of_Interest[]" value="Monetize & Protect IP"> Monetize & Protect IP
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox16" name="Areas_of_Interest[]" value="All About Litigation"> All About Litigation
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                <input type="checkbox" id=Checkbox1" name="Areas_of_Interest[]" value="Business Valuation And More"> Business Valuation And More
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id=Checkbox2" name="Areas_of_Interest[]" value="What’s New In The StartUp World"> What’s New In The StartUp World
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="inlineCheckbox3" name="Areas_of_Interest[]" value="All About IP Valuation"> All About IP Valuation
                </label>
              </div>
            </div>
          </div>
        </div>{# end row #}

      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="submit" id="mql-subscription" name="subscribe" class="btn btn-success">click to subscribe</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
{# end modal #}