{% set kcSubscribeCss %}

.kcsubscribe {
   padding-top: 50px 0;
}

.kcsubscribe__header {
  text-align: center;
}

.kcsubscribe__header p {
  color: #939ba3;;
}

.kcsubscribe__headline {
  padding: 30px 0px;
  font-size: 3.5em;
  font-weight: 100;
  color: #899097;
  padding-bottom: 0;
  padding-top: 0;
}

.kcsubscribe .form-control {
  padding: 20px 5px;
}

.kcsubscribe .input-group-btn-new {
    text-align: center; 

  }
.input-group-btn-new .btn-lg {
    font-size: 24px;
  }
.modal-body {
  
}
.modal-header {
  background-color: #1c4586;
  color: #ffffff;
}
.my-submit { 
  color: #FFFFFF; 
  background-color: #1C4586; 
  border: 1px solid #130269;
      padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    font-style: "Roboto", Arial, sans-serif;
} 
 
.my-submit:hover, 
.my-submit:focus, 
.my-submit:active, 
.my-submit.active, 
.open .dropdown-toggle.my-submit { 
  color: #FFFFFF; 
  background-color: #416196; 
  border-color: #130269; 
} 


{% endset %}


{% includeCss kcSubscribeCss %}



<section class="container kcsubscribe">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <header class="kcsubscribe__header">
         <img src="/assets/images/icons/newsletter-icon.png">
        <h3 class="text-center kcsubscribe__headline">Subscribe to Aranca Context</h3>
        <p>Get insights on topics that matter to your business. Stay updated on the areas that interest you.</p>
      </header>

        <div class="input-group-btn-new">
          <button type="button" id="#" data-toggle="modal" data-target="#open-aoe-modal" class="btn btn-success btn-lg">subscribe</button>
        </div>

      <hr>
    </div>
  </div>
 </section>

 <!-- Start: modal popup -->
<div id="open-aoe-modal" class="modal fade" role="dialog">
  <div class="modal-dialog"  style="width: 900px;">

    <!-- Modal content-->
    <div class="modal-content" style="width: 900px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Subscribe to Aranca Context</h4>
      </div>
      <div class="modal-body">

         <!-- Start: Form URL capture -->
          <script>
          window.onload = function ()
          {
          var urlParams;
          var query = (window.location != window.parent.location) ? document.referrer.split('?')[1] || '' : window.location.search.split('?')[1]|| '';
          (window.onpopstate = function () {
          var match, search = /([^&=]+)=?([^&]*)/g;
          urlParams = {};
          while (match = search.exec(query))
          urlParams[encodeURIComponent(match[1])] = match[2];
          }
          )();
          for (i in urlParams) {
          var urlParamsArray = urlParams[i];
          try {
          document.getElementsByName(i)[0].value=decodeURIComponent(urlParamsArray);
          }
          catch(err) {
          }
          }
          };
          </script>
        <!-- End: Form URL capture -->


        <!-- Start - Hubspot code start -->

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({ 
            portalId: '2270236',
            formId: '9ab41245-e4a1-46c6-ae82-cbbecef616b3',
            submitButtonClass: 'my-submit'
          });

        </script>


         <!-- End - Hubspot code start -->

      </div>

    </div>

  </div>
</div>
<!-- End: modal popup --> 
<style type="text/css">
  
  .hs-form .hs-input {
    max-width: 800px;
  }
  .hs-form fieldset {
    max-width: 800px;
  }
  .hs-form .hs-form-field > label { color: #b3223c;
      font-size: 14px;
   }

</style>