{% extends "base_layouts/_site" %}

{% set title = entry.title %}


{% block main %}

{% include '_components/landing-pages/global/_nav' %}
{% include '_components/landing-pages/_masthead' %}
{% include '_components/services/_service-intro' %}
{% if entry.tfilterRichtext|length %}
  {% include '_components/services/_table-filter' %}
{% endif %}
{% include '_components/landing-pages/_solution-check-table' %}
{% include '_components/landing-pages/_why-aranca-c' %}
{# include '_components/landing-pages/_customer_blocks' #}

{# include '_components/landing-pages/_sol-portfolio'  #}
{# include '_components/services/_ztabs' with { 'blueBackground': 'aliceblue' } #}

{% include '_components/landing-pages/_faq-accordian' %}
<hr>
{% include '_components/landing-pages/_team-profile-modal' %}
{% include '_components/landing-pages/_full-cta' %}

{% include '_components/global/_footer' %}
{% endblock %}