{% for block in entry.contentBoxNavigation %}
<section>
    <div class="container-fluid" style="background-color: {{block.color}}">
      <div class="container">
        <div class="row">
          {% for row in block.contentBox %}
            <div class="link-box-grid col-md-4 text-center" style="margin-top:40px; margin-bottom:40px">
              <a href="{{row.link}}">
                <div class="content-link-box" style="background-color:lightgrey ">
                  <i class="fa fa-{{row.icon}}"></i>
                  <p>{{row.linkText}}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>
{% endfor %}