{% if entry.richContent %}
  {# {{entry.richContent}} #}
<section class="assignment-examples inverted-white">
  <div class="container-fluid assignment-examples__background">
    <div class="col-md-8 col-md-offset-2">
      <img class="assignment-examples__icon" src="{{craft.config.assetsImagesUrl}}/icons/icon-research-white.png" alt="Assignment Example Icon">
      <h1 class="lede__headline inverted-white text-center">
        Assignment Examples
      </h1>
      <hr class="divider-center-white">
      <div class="lede__body text-center inverted-white" style="  padding-top: 10px; padding-bottom: 65px; font-size:20px">
        <p>
          As a trusted knowledge partner to several global Aerospace &amp; Defense companies, consulting and Private Equity firms, Aranca has helped find answers to a range of business issues. Illustrative examples of recent work that we have conducted include:
        </p>
      </div> 
      <!-- intro-b__content -->
    </div>
    <div class="container">
      <div class="row" style="margin-top:40px;margin-bottom:40px; font-size:16px; letter-spacing: 1.2px;">
        <div class="col-md-6">
          <ul style="list-style-type:none">
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Factbase on Aerospace &amp; Defense offset policies and market opportunities in 16 countries
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Research study on 'Services business' of leading aerospace companies
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Aerospace MRO : Market &amp; competition dynamics in Asia-Pacific region
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Global Market Overview: Unmanned Aerial Vehicles (UAV) &amp; Systems
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Market opportunity assessment for business jets in Middle East, Africa and Asia-Pacific
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Market opportunity for batteries in aerospace applications (USA &amp; Western Europe)
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Market opportunity assessment for aircraft maintenance training in Middle East &amp; North Africa
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul style="list-style-type:none">
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Report on low cost country sourcing initiatives of leading aerospace &amp; defense companies
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Profiles of mid-sized companies in the Aerospace &amp; Defense sector (MRO, Parts, Services)
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Defense spend (actual, forecasts) in emerging economies
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Financial performance analysis of 25 Aerospace &amp; Defense companies globally (quarterly reports)
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Report on Aerospace &amp; Defense sector in 32 countries (across Asia, LATAM and Europe)
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Report on fleet size / mix and orders placed by low cost carriers globally
            </li>
            <li style="margin-bottom:30px;">
            <i class="fa fa-chevron-circle-right" style="font-size:44px; color:white; float:left; padding-right:10px"></i>
            Supply contracts awarded by global A&amp;D companies (Fortnightly newsletter)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
