
{% extends "base_layouts/_site" %}

{% set title = 'Infographics - Deep Insights from the Experts' %}
{% set desc = 'Find infographics on latest innovations & technology trends, industry related representations for intellectual property research, business research. Read more here!' %}
{% set keywords = 'infographics, aranca infographics, ip research, industry insights, expert opinions' %}

{% block main %}

{% set kcBodyCss %}

body {
  background-color: #F4F8FA !important;
}

{% endset %}

{% includeCss kcBodyCss %}

{% include '_components/global/_header' %}
{% include '_components/kc/_subscribe-alert' %}
{% include '_components/infographics/_masthead' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/kc/_highlights' %}
      {% include '_components/media-room/_pr-list' %}
      {% include '_components/media-room/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/infographics/_list' %}
      {# include '_components/press-kit/_pk-download' #}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>

{% include '_components/global/_footer' %}


{% endblock %}
