{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set asset = entry.mastheadBanner.first() %}


{% set hmMastheadCss %}

.masthead {

}

.masthead__slide {
  position: relative;
  text-align: left;
  color: white;
}

.masthead__content {
  position: absolute;
  top: 50%;
  left: 7%;
  background: #204371;
  padding: 10px;
  opacity: 0.8;
}

.masthead__slide img {
}

.masthead__slide__headline {
  font-weight: 300;
  font-size: 3vw;
  text-shadow: 1px 2px 3px #756D6D;
}

.masthead__slide p {
  font-weight: 300;
  text-shadow: 1px 2px 3px #2D2727;
}

.hm-masthead__btn {
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.08em;
    background: white;
    color: {{ brandPrimary }};
    text-transform: uppercase;
    padding: 3px 20px;
    transition: all .6s;
    border: 1px solid white;
    margin: 15px 0;
}

.hm-masthead__btn:hover {
  background-color: #dd4b39;
  color: white;
  border: 1px solid white;
}

{% endset %}

{% set hmMastheadJs %}
  $('.masthead').slick({
    arrows: false,
    dots: false,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 3000,
    adaptiveHeight: false,
    fade: false,
    cssEase: 'linear'
  });

{% endset %}

{% includeCss hmMastheadCss %}
{% includeJs hmMastheadJs %}
<section class="masthead">
    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-fearless.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">Decide Fearlessly!</h1>
        <p>All our lives are calculated to reach one goal:<br> ​You should experience <em>no hesitation</em> in making the big decisions.​</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Learn more About Us
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-fearless.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">How far can you go with good decision-making?​</h1>
        <p>2000 Clients, 600 Arancans, 4 Continents, Over a Decade, 5 Complementary Practices. <br>And no matter what you'll ask of us, we will go the distance with you.</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Read More
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-fearless.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">How far can you go with good decision-making?​</h1>
        <p>2000 Clients, 600 Arancans, 4 Continents, Over a Decade, 5 Complementary Practices. <br>And no matter what you'll ask of us, we will go the distance with you.</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Read More
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-fearless.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">How far can you go with good decision-making?​</h1>
        <p>2000 Clients, 600 Arancans, 4 Continents, Over a Decade, 5 Complementary Practices. <br>And no matter what you'll ask of us, we will go the distance with you.</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Read More
        </button>
        </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

</section>
