{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set asset = entry.mastheadBanner.first() %}


{% set hmMastheadCss %}

.masthead {
  position: relative;
  text-align: right;
  background: url({{ asset.url }});
  background-position: 0 25px;
  background-size: cover;
  min-height: 800px;
  min-height: 45vh;
  color: white;
}

.masthead__wrapper{
    position: absolute;
    left: -20%;
    right: 0;
    top: 44%;
    margin-right: 2em;
}

.masthead__content__headline {
  font-weight: 300;
  font-size: 3vw;
  text-shadow: 1px 2px 3px #756D6D;
}

.masthead__content p {
  font-size: 1.4em;
  font-size: 1.5vw;
  font-weight: 300;
  text-shadow: 1px 2px 3px #2D2727;
}

.hm-masthead__btn {
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.08em;
    background: {{ brandPrimary }};
    color: white;
    text-transform: uppercase;
    padding: 3px 20px;
    transition: all .6s;
    border: 1px solid white;
    margin: 15px 0;
}

.hm-masthead__btn:hover {
  background-color: #dd4b39;
  color: white;
  border: 1px solid white;
}

{% endset %}

{% set hmMastheadJs %}
  $('.masthead__wrapper--inner').slick({
    arrows: false,
    dots: false,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 6000,
    adaptiveHeight: false,
    fade: true,
    cssEase: 'linear'
  });

{% endset %}

{% includeCss hmMastheadCss %}
{% includeJs hmMastheadJs %}
<section class="container-fluid masthead">
  <div class="masthead__wrapper">
    <div class="masthead__wrapper--inner">
      <div class="masthead__content">
        <h1 class="masthead__content__headline">Decide Fearlessly!</h1>
        <p>All our lives are calculated to reach one goal:<br> ​You should experience <em>no hesitation</em> in making the big decisions.​</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Learn more About Us
        </button>
      </div><!-- end masthead__content -->

      <div class="masthead__content">
        <h1 class="masthead__content__headline">How far can you go with good decision-making?​</h1>
        <p>2000 Clients, 600 Arancans, 4 Continents, Over a Decade, 5 Complementary Practices. <br>And no matter what you'll ask of us, we will go the distance with you.</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Learn more About Us
        </button>
      </div><!-- end masthead__content -->
    </div><!-- end masthead__wrapper-inner -->
  </div><!-- end masthead__wrapper -->
</section>
