{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set asset = entry.mastheadBanner.first() %}


{% set hmMastheadCss %}

.masthead {

}

.masthead__slide {
  position: relative;
  text-align: left;
  color: white;
  overflow-x: hidden;
}

.masthead__content {
  position: absolute;
  top: 50%;
  left: 7%;
  background: #204371;
  padding: 10px 20px;
  opacity: 0.8;
  width: 100%;
}

.masthead__slide img {
}

.masthead__slide__headline {
  font-weight: 300;
  font-size: 3vw;
  text-shadow: 1px 2px 3px #756D6D;
}

.masthead__slide p {
  font-weight: 300;
  text-shadow: 1px 2px 3px #2D2727;
  font-size: 1.2em;
}

.hm-masthead__btn {
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.08em;
    background: white;
    color: {{ brandPrimary }};
    text-transform: uppercase;
    padding: 3px 20px;
    transition: all .6s;
    border: 1px solid white;
    margin: 15px 0;
}

.hm-masthead__btn:hover {
  background-color: #dd4b39;
  color: white;
  border: 1px solid white;
}

{% endset %}

{% set hmMastheadJs %}
  $('.masthead').slick({
    arrows: false,
    dots: false,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 2500,
    adaptiveHeight: false,
    fade: false,
    cssEase: 'linear'
  });

{% endset %}

{% includeCss hmMastheadCss %}
{% includeJs hmMastheadJs %}
<section class="masthead">
    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-fearless.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">Decide Fearlessly!</h1>
        <p>All our lives are calculated to reach one goal: You should experience <em>no hesitation</em> in making the big decisions.​</p>
        <button onclick="location.href='/about-us/company-overview'" type="button" class="hm-masthead__btn">
          Learn more About Us
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-3D-Printed-Drugs.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">3D Printed Drugs: A Gateway To Customized Medicine</h1>
        <p>Developed at the Massachusetts Institute of Technology (MIT), this computer-aided 3D-printing technology has opened the pharmaceutical manufacturing industry to exciting and revolutionary new possibilities in customized medicines.</p>
        <button onclick="location.href='/knowledge-library/blogs-and-opinions/3d-printed-drugs-a-gateway-to-customized-medicine'" type="button" class="hm-masthead__btn">
          Read More
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-listed-infrastructure.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">Why is listed infrastructure gaining traction among fund managers?</h1>
        <p>In the current global scenario where traditional asset classes no longer assure stable returns, listed infrastructure is attracting investors in a big way.</p>
        <button onclick="location.href='knowledge-center/special-reports/listed-infrastructure-an-attractive-investment-alternative'" type="button" class="hm-masthead__btn">
          Read More
        </button>
      </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

    <div class="masthead__slide">
      <img src="/assets/uploads/banners/hm-winning-shelf-space.jpg" class="img-responsive" alt="">
      <div class="masthead__content">
        <h1 class="masthead__slide__headline">Winning Shelf Space Private Labels or FMCG Brands</h1>
        <p>Higher margins provided by the private labels in comparison to established FMCG brands have resulted in higher sales push by the retailers. <br>Read our whitepaper for more</p>
        <button onclick="location.href='knowledge-center/special-reports/winning-shelf-space-private-labels-or-fmcg-brands'" type="button" class="hm-masthead__btn">
          Read More
        </button>
        </div><!-- end masthead__content -->

    </div><!-- end masthead__slide -->

</section>
