{% set asset = entry.mastheadBanner.first() %}
{% set firstLevel = entry.servicesCategory.level(1).first() %}
{% set secondLevel = entry.servicesCategory.level(2).first() %}
{% set thirdLevel = entry.servicesCategory.level(3).first() %}


{% set hmMastheadCss %}

.hm-masthead {
  max-height: 443px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hm-masthead__content {
  overflow-x: hidden;
  overflow-y: hidden;
}

video {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-26%);
    background-size: cover;
    transition: 1s opacity;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hm-masthead__headline {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  transform: translateX(2%) translateY(-623%);
  font-weight:300;
  color: white;
}

{% endset %}

{% set hmMastheadJs %}
var vid = document.getElementById("bgvid");

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed
vid.pause();
// to capture IE10
vidFade();
});


{% endset %}

{% includeCss hmMastheadCss %}
{% includeJs hmMastheadJs %}



<section class="hm-masthead">

  <!--  content -->
  <div class="hm-masthead__content text-center">

    <video autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="/assets/video/00011.webmsd.webm" type="video/webm">
<source src="/assets/video/00011.mp4" type="video/mp4">
</video>
    <div id="polina">
      <h1 class="hm-masthead__headline">{{ entry.pageHeadline }}</h1>
    </div>

  </div><!--  content -->

</section> <!--  end masthead section -->
