{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set spSliderCss %}

.spSlider {
  padding: 50px 0;
  background: {{ brandPrimary }};
  color: white;
}

{% endset %}

{% set spSliderJs %}


{% endset %}

{% includeCss spSliderCss %}
{% includeJs spSliderJs %}

<div class="container-fluid spSlider">
  <div class="row">
    <div class="container">
      <div class="row">

        <!-- story slider starts here -->
        <div class="col-sm-6">
          <h3 class="spSlider__headline"><span>In the spotlight</h3>
          <h4 class="spSlider__topic__headline">Aircraft Systems</h4>
          <div class="spSlider__intro">
              <p>Not long after we first caressed Not long after we first caressed Not long after we first caressed Not long after we first caressed
              </p>
          </div>
          <p><a class="btn btn-primary">Read More</a></p>
        </div>
        <div class="col-sm-6">
          <img class="" src="http://placehold.it/300x150"/>
        </div>
        <!-- story slider ends here -->

      </div><!-- end row -->

    </div><!-- end container -->
  </div><!-- end row -->
</div><!-- end component section container-fluid -->


