{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set spSliderCss %}

.spSlider {
  padding: 50px 50px;
  background: rgba(211, 211, 211, 0.48);
  color: #333333;
}

.spSlider__headline {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #b31943;
}

.spSlider__topic__headline {
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: {{ brandPrimary }};
}

.btn-orange {
  /* background: #E55B2B;*/
  background: {{ brandPrimary }};
}

.slick-dots
{
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{

    display: block;

    width: 25px;
    height: 25px;
    padding: 2px;

    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 50px;
    color: {{ brandPrimary }};
    background: white;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@media only screen and (max-width : 480px) {
  
}

{% endset %}

{% set spSliderJs %}

  $('.story-slider').slick({
    arrows: false,
    dots: false,
    arrows: true,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 2000,
    adaptiveHeight: false,
    fade: true,
    cssEase: 'linear'
  });

{% endset %}

{% includeCss spSliderCss %}
{% includeJs spSliderJs %}

<div class="container-fluid spSlider">
  <div class="row">
    <div class="container story-slider">

    {% for story in spotlightStories.knowledgeCenterEntries %}
      <div class="row">

          {% set spTitle = story.title %}
          {% set spIntro = story.srIntro %}
          {% set spImage = story.srBanner.first().url %}

        <!-- story slider starts here -->
          <div class="col-sm-6">
            <h3 class="spSlider__headline"><span>In the spotlight</h3>
            <h4 class="spSlider__topic__headline">{{ spTitle }}</h4>
            <div class="spSlider__intro">
              {{ spIntro }}
            </div>
            <p><a class="btn btn-primary btn-block btn-orange" href={{ story.url }}>Read More</a></p>
          </div>
          <div class="col-sm-6">
            <img class="img-responsive" src={{ spImage }} />
          </div>
        <!-- story slider ends here -->


      </div><!-- end row -->
      {% endfor %}
    </div><!-- end container -->
  </div><!-- end row -->
</div><!-- end component section container-fluid -->


