{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set spSliderCss %}


{% endset %}

{% set spSliderJs %}


{% endset %}

{% includeCss spSliderCss %}
{% includeJs spSliderJs %}

<div class="container-fluid spSlider">
  <div class="row">
    <div class="container">
      <div class="row">

        <!-- story slider starts here -->
        <div class="col-sm-6">
          <!-- story excerpt -->
        </div>
        <div class="col-sm-6">
          <!-- story image -->
        </div>
        <!-- story slider ends here -->

      </div><!-- end row -->

    </div><!-- end container -->
  </div><!-- end row -->
</div><!-- end component section container-fluid -->


