{% set teamCss %}
.tm {
  padding: 0 50px;
  background: url('/assets/images/backgrounds/team-bkg-city.jpg') no-repeat center center;
  background-size: cover;
  min-height: 400px;
  color: white;
  overflow-x: hidden;
}

.tm__content {
  padding-top: 135px;
}

.tm__headline {
  font-weight: 300;
  font-size: 3.5em;
  text-shadow: 1px 2px 4px #2c2c2c;
}

.tm__subheadline {
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
  opacity: 0.8;
  text-shadow: 1px 2px 4px #2c2c2c;
}

{% endset %}

{% set teamJs %}


{% endset %}

{% includeCss teamCss %}
{% includeJs teamJs %}

<div class="tm container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="tm__content">
            <h2 class="tm__headline">
              How F​ar Can One Go With Good Decision-making?​
            </h2>
            <h3 class="tm__subheadline">
              2000 Clients, 600 Arancans, 4 Continents, Over a Decade, 5 complementary Practices <br>
              <span>​And no matter what you'll ask of us, we will go the distance with you</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
