<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>34</title>
      <meta name="description" content="Aranca offers a portfolio of solutions spanning the entire patent lifecycle including IP research, patent prosecution / litigation support, invalidity search, prior art, IP monetization, patent analytics & valuation">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="Intellectual Property Research Services, Patent Research Solutions, IP research, patent prosecution, patent litigation support, invalidity search, prior art, IP monetization, patent analytics, patent valuation">

      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <!-- Place favicon.ico in the root directory -->

      <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
      <!-- Latest compiled and minified CSS -->

      <link rel="stylesheet" href="assets/css/font-awesome.min.css">

      <!-- Bootstrap Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Bootstrap Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="assets/css/main.css">
      <script src="assets/js/head/modernizr.js"></script>

      



    </head>
