 <style type="text/css">

.modal-body .cs-list {
  list-style: square;
  padding-left: 0;
}
.modal-body .cs-list-sub {
  list-style: circle;
  padding-left: 20px;
}
.modal-body .cs-list-item {
  font-size: 1.1em;
  color: #6A6C66;
  line-height: 1.3em;
  margin-left: 9%;
  padding: 5px 0;
}
.modal-body h3 {
    color: #f05f40;
}
.modal-header {
  background-color: #1c4586;
  color: #ffffff;
}
.my-submit { 
  color: #FFFFFF; 
  background-color: #1C4586; 
  border: 1px solid #130269;
      padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    font-style: "Roboto", Arial, sans-serif;
} 
 
.my-submit:hover, 
.my-submit:focus, 
.my-submit:active, 
.my-submit.active, 
.open .dropdown-toggle.my-submit { 
  color: #FFFFFF; 
  background-color: #416196; 
  border-color: #130269; 
} 
.alert {
  height: 150px;
}
</style>


<div id="prospecting1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/prospecting1.html' %}
    </div>
  </div>
</div>

<div id="prospecting2" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/prospecting2.html' %}
    </div>
  </div>
</div>

<div id="marketana1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/marketana1.html' %}
    </div>
  </div>
</div>

<div id="marketana2" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/marketana2.html' %}
    </div>
  </div>
</div>

<div id="competitor1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/competitor1.html' %}
    </div>
  </div>
</div>

<div id="competitor2" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/competitor2.html' %}
    </div>
  </div>
</div>

<div id="customer1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/customer1.html' %}
    </div>
  </div>
</div>

<div id="customer2" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      {% include '_components/salesint/_case-study-list/customer2.html' %}
    </div>
  </div>
</div>

