<section class="featured sra5" >
  <div class="container">
  <div class="row">
  <div class="col-lg-12 col-sm-12">
        <div class="banner banner-contet">

               <h1 style="font-size:26px; margin-bottom: -25px; margin-top: 0px;">Research and Analytics Support for Sales Effectiveness<br/><br/></h1>
               <h4 style="font-size: 16px;">Focus on closing deals and bringing in business than wasting your precious time on trying to identify potential customers </<h4>
<Br/>
               <h4  style="font-size: 16px;">Aranca’s customized research solutions are aimed at enabling B2B sales and marketing teams to make informed decisions, thus enriching sales pipeline and driving sustainable business growth. This simply means that while we do all the legwork of gathering information, you can focus on closing those big deals!</h4>
               <!-- <p>
               <button type="button" data-toggle="modal" data-target="#cta-form" class="btn btn-primary btn-md" style="margin-top:20px;" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Write to Us </button></p>
               <p> -->
               <p>
               <a href="#contact" class="btn btn-primary btn-md" style="margin-top:20px; text-decoration:none;"  data-toggle="modal" data-target="#mylpform" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Contact Us </a></p>
             </div>
  </div>



  </div>

  </div>
  </div>

  </section>

