<style type="text/css">
	.cust {
		padding: 20px 0;
	}
	.cust-blok--intro {
		padding: 10px;

	}
	.cust-blok--col {
    	padding: 10px;
	}
	.cust-blok__headline--small {
	    color: #A41034;
	    font-weight: 300;
	    line-height: 1.3em;
	    font-size: 24px;
	}
</style>
<section class="container-fluid cust">
  
  <section class="container-fluid cust-blok--col">
    <div class="row">
      <div class="container">
        <div class="row">
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">62%</h3>
				<div class="cust-blok__content">
					<p>New business development and customer acquisition
					</p>
				</div>
				<hr>
			</div>
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">59%</h3>
				<div class="cust-blok__content">
					<p>Demand and lead generation
					</p>
				</div>
				<hr>
			</div>
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">51%</h3>
				<div class="cust-blok__content">
					<p>Awareness of current market and technology trends
					</p>
				</div>
				<hr>
			</div>
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">24%</h3>
				<div class="cust-blok__content">
					<p>Producing unique, original content
					</p>
				</div>
				<hr>
			</div>
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">21%</h3>
				<div class="cust-blok__content">
					<p>Keeping pace with competitors
					</p>
				</div>
				<hr>
			</div>
			<div class="col-sm-4 cust-blok__headline--col animated fadeInUp">
				<h3 class="cust-blok__headline--small">18%</h3>
				<div class="cust-blok__content">
					<p>Channel expansion
					</p>
				</div>
			</div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end row -->
  </section>
</section>