{% set nav = 
   { about_us: {
        corporate_information: { 
          heading: { title: "Corporate Information", href: "#" },
          link1: { title: "Management", href: "#" },
          link2: { title: "Advisory Board", href: "#" },
          link3: { title: "Our Edge", href: "about-aranca/our-edge" },
          link4: { title: "Engagement Models", href: "#" }, 
          link5: { title: "Information Security and Confidentiality", href: "#" }, 
          link6: { title: "Client Testimonials", href: "about-aranca/client-testimonials" }, 
          link7: { title: "Corporate Social Responsibility (CSR)", href: "#" }, 
          link8: { title: "Awards and Recognitions", href: "#" }, 
          },
        media_center: { 
          heading: { title: "Media Center", href: "#" },
          link1: { title: "Press Releases", href: "#" },
          link2: { title: "Media Coverage", href: "#" },
          link3: { title: "Videos", href: "#" },
          link4: { title: "Media Contacts", href: "#" }, 
          },        
      },
      investment_research: {
        clients: { 
          heading: { title: "Clients", href: "#" },
          brokerage_firms: { title: "Brokerage Firms", href: "http://www.aranca.com/investment-research/clients/    brokerage-firms" },
          asset_managers: { title: "Asset Managers", href: "http://www.aranca.com/investment-research/clients/asset-managers" },
          investment_banks: { title: "Investment Banks", href: "http://www.aranca.com/investment-research/clients/investment-banks" },
          private_equity: { title: "Private Equity/ Venture Cap Firms", href: "http://www.aranca.com/investment-research/clients/private-equity-venture-cap-firms" } 
          },
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          equity_research: { title: "Equity Research", href: "#" },
          fixed_income: { title: "Fixed Income and Credit Research", href: "#" },
          investment_banking: { title: "Investment Banking Research", href: "#" },
          pe_vc: { title: "PE-VC Research", href: "#" },
          economic_research: { title: "Economic Research", href: "#" },
          sustainable_research: { title: "Sustainable and Responsible Investing Research", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      market_intelligence: {
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          link1: { title: "Enterprises", href: "#" },
          link2: { title: "Consulting Firms", href: "#" },
          link3: { title: "Law Firms", href: "#" },
          link4: { title: "Private Equity", href: "#" }, 
          link5: { title: "Research Helpdesk", href: "#" }, 
          },
        sector_experience: { 
          heading: { title: "Sector Experience", href: "#" },
          link1: { title: "Aerospace & Defense", href: "#" },
          link2: { title: "Agribusiness", href: "#" },
          link3: { title: "Alternate Energy & Fuels", href: "#" },
          link4: { title: "Automobiles & Auto Parts", href: "#" },
          link5: { title: "Banking & Financial Services", href: "#" }, 
          link6: { title: "Chemicals", href: "#" }, 
          link7: { title: "Education", href: "#" }, 
          link8: { title: "Electronics & IT", href: "#" }, 
          link9: { title: "Food & Beverages", href: "#" }, 
          link10: { title: "Insurance", href: "#" }, 
          link11: { title: "Internet", href: "#" }, 
          link12: { title: "Media & Entertainment", href: "#" }, 
          link13: { title: "Metals & Mining", href: "#" }, 
          link14: { title: "Packaging", href: "#" }, 
          link15: { title: "Pharma & Medical Devices", href: "#" }, 
          link16: { title: "Telecom", href: "#" }, 
          link17: { title: "Travel & Tourism", href: "#" },
          },        
        global_exprience: { 
          heading: { title: "Global Experience", href: "#" },
          link1: { title: "Asia Pacific", href: "#" },
          link2: { title: "Middle East & North Africa", href: "#" },
          link3: { title: "Central and Eastern Europe", href: "#" },
          link4: { title: "North America", href: "#" },
          link5: { title: "Western Europe", href: "#" }, 
          link6: { title: "South America", href: "#" }, 
          link7: { title: "South, West & East Africa", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      valuation_advisory: {
        us_tax_compliance: { 
          heading: { title: "US Tax Compliance", href: "#" },
          link1: { title: "IRC 409A Valuation", href: "#" },
          link2: { title: "Estate and Gift Tax", href: "#" },
          link3: { title: "IRC 83b Election", href: "#" },
          link4: { title: "'S' Corp Election (IRC1374)", href: "#" }, 
          link5: { title: "Carry Forward of NOLs (IRC382)", href: "#" }, 
          },
        us_gaap_reporting: { 
          heading: { title: "US GAAP Reporting", href: "#" },
          link1: { title: "Purchase Price Allocation (ASC805)", href: "#" },
          link2: { title: "Goodwill Impairment (ASC350)", href: "#" },
          link3: { title: "Portfolio Valuation (ASC820)", href: "#" },
          link4: { title: "Share Based Payments (ASC718)", href: "#" }, 
          },        
        ifrs_reporting: { 
          heading: { title: "IFRS Reporting", href: "#" },
          link1: { title: "Impairments of Assets (IAS36)", href: "#" },
          link2: { title: "Intangibles Valuation (IFRS3)", href: "#" },
          link3: { title: "Share Based Payments (IFRS2)", href: "#" },
          link4: { title: "Fair Value Measurement (IFRS13)", href: "#" },  
          },        
        transaction_support: { 
          heading: { title: "Transaction Support", href: "#" },
          link1: { title: "Fairness Opinions", href: "#" },
          link2: { title: "Buyer and Seller Services", href: "#" },
          link3: { title: "Financial Modeling", href: "#" },
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      ip_research: {
        clients: { 
          heading: { title: "Clients", href: "#" },
          link1: { title: "Enterprises", href: "#" },
          link2: { title: "Law Firms", href: "#" },
          link3: { title: "Universities | R&D Institutions", href: "#" }, 
          },
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          link1: { title: "Prior Art Searches", href: "#" },
          link2: { title: "Patent Analytics Services", href: "#" },
          link3: { title: "Outlicensing | Tehnology Transfer Support", href: "#" },
          link4: { title: "Patent Valuation Services", href: "#" }, 
          link5: { title: "Patent Prosecution Support", href: "#" }, 
          },        
        verticals: { 
          heading: { title: "Verticals", href: "#" },
          link1: { title: "Automotive", href: "#" },
          link2: { title: "Chemicals", href: "#" },
          link3: { title: "Electronics", href: "#" },
          link4: { title: "Energy", href: "#" },
          link5: { title: "Food Technologies", href: "#" }, 
          link6: { title: "IT and Computing", href: "#" }, 
          link7: { title: "Life Sciences", href: "#" }, 
          link8: { title: "Mechanical Engineering", href: "#" }, 
          link9: { title: "Pharmaceuticals", href: "#" }, 
          link10: { title: "Telecommunications", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
    }
%}