{% set blogPosts = craft.entries.section('blogs').relatedTo(category).limit() %}
{% set articles = craft.entries.section('articles').relatedTo(category).limit() %}
{% set infographics = craft.entries.section('infographics').relatedTo(category).limit() %}
{% set specialReports = craft.entries.section('specialReports').relatedTo(category).limit() %}


{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeJsFile "/assets/js/readingTime.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}


{% set catListCss %}



#catList {
  padding-top:50px;
}



.kc-content__list__item {
  margin: 60px 0;
  background: #fff;
}

.kc-content__list__item:first-child {
  margin-top: 30px;
}

.kc-content__grid__inner {
  padding: 0.8em;
  padding-left: 0;
}

.kc-content__headline {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.2em;
}

.kc-content__excerpt {
  color: #a2a2a2;
  font-size: 1.1em;
}

.kc-content__date {
  color: #ccc7c7;
  letter-spacing: 0.05em;
}

.kc-content__article-body {
  display: none;
}

.meta {
  color: #ccc7c7;
  letter-spacing: 0.05em;
}

{% endset %}


{% set catListJs %}

$(document).ready(function () {
    $("#catList").zozoTabs({
      theme: "black",
      style: "underlined",
      orientation: "horizontal",
      position: "top-center",
      size: "xlarge",
      animation: {
        easing: "easeInOutExpo",
        duration: 400,
        effects: "slideH"
      },
    });
});

$(function() {

  $('.kc-content__article-body').each(function() {

    $(this).readingTime({
        readingTimeTarget: $(this).siblings('.meta').find('.eta'),
        wordCountTarget: $(this).siblings('.meta').find('.words'),
        wordsPerMinute: 100
    });

  });
  
});

{% endset %}

{% includeCss catListCss %}
{% includeJs catListJs %}

<!-- Zozo Tabs Start-->
<div id="catList">

    <!-- Tab Navigation Menu -->
    <ul>
      {% if blogPosts.total() > 0 %}
        <li class="kc-content__type-item">
          <img src="/assets/images/icons/kc-books.png" class="hidden-xs" alt="books and opinions">
          <a>Blogs and Opinions</a>
        </li>
      {% endif %}

      {% if articles.total() > 0 %}
        <li class="kc-content__type-item">
          <img src="/assets/images/icons/kc-articles.png" class="hidden-xs" alt="articles">
          <a>Articles</a>
        </li>
      {% endif %}

      {% if infographics.total() > 0 %}
        <li class="kc-content__type-item">
          <img src="/assets/images/icons/kc-infographics.png" class="hidden-xs" alt="infographics">
          <a>Infographics</a>
        </li>
      {% endif %}

      {% if specialReports.total() > 0 %}
        <li class="kc-content__type-item">
          <img src="/assets/images/icons/kc-special-reports.png" class="hidden-xs" alt="special reports">
          <a>Special Reports</a>
        </li>
      {% endif %}
    </ul>

    <!-- Start: Content container -->
    <div>
      <!-- Blogs and Opinions -->
      {% if blogPosts.total() > 0 %}
        <div class="row">
          <div class="col-sm-12">
            <ol class="kc-content__list">
              {% for blogPost in blogPosts %}
              <li class="kc-content__list__item shadow-box">
                <div class="row">
                  
                  <div class="col-lg-7 col-sm-12">
                    <img src={{ blogPost.blogsBanner.first().url }} class="img-responsive">
                  </div>
                  <div class="col-lg-5 col-sm-12">
                    
                    <article class="kc-content__grid__item kc-content__blog image-cover">
                      <div class="kc-content__grid__inner">
                        <h5 class="kc-content__headline"><a href="{{ blogPost.url }}">{{ blogPost.title }}</a></h5>
                        <p class="kc-content__excerpt">{{ blogPost.blogContent|hacksaw(words='15') }}</p>
                        <p class="meta">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<span class="eta"></span> to read |
                            <span class="words"></span> words
                        </p>
                        <p class="kc-content__date"><em><small>published on {{ blogPost.postDate | date("M d, Y") }}</small></em></p>
                        <div class="kc-content__article-body">
                          {{ blogPost.blogContent }}
                        </div>
                      </div>
                    </article>

                  </div>
              
                </div>

              </li>
              {% endfor %}
            </ol>
          </div><!-- offset-2-->
        </div><!-- row -->
      {% endif %}
      <!-- end Blogs and Opinions -->

      <!-- Articles -->
      {% if articles.total() > 0 %}
        <div class="row">
          <div class="col-sm-12">
            <ol class="kc-content__list">
              {% for article in articles %}
              
              <li class="kc-content__list__item shadow-box">
                <div class="row">
                  
                  <div class="col-lg-7 col-sm-12">
                    <img src={{ article.articlesBanner.first().url }} class="img-responsive">
                  </div>

                  <div class="col-lg-5 col-sm-12">
                    <article class="kc-content__grid__item kc-content__blog1 image-cover">
                      <div class="kc-content__grid__inner">
                        <h5 class="kc-content__headline"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                        <p class="kc-content__excerpt">{{ article.articlesContent|hacksaw(words='18') }}</p>
                        <p class="meta">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<span class="eta"></span> to read |
                          <span class="words"></span> words
                        </p>
                        <p class="kc-content__date"><em><small>published on {{ article.postDate | date("M d, Y") }}</small></em></p>
                        <div class="kc-content__article-body">
                          {{ article.articlesContent }}
                        </div>
                      </div>
                    </article>
                  </div> {# end col-sm-7 #}
                </div>{# end row #}
              </li>

               
              {% endfor %}
            </ol>
          </div><!-- offset-2-->
        </div><!-- row -->
      {% endif %}
      <!-- end Articles -->

      <!-- Infographics -->
      {% if infographics.total() > 0 %}
        <div class="row">
          <div class="col-sm-12">
            <ol class="kc-content__list">
              {% for infographic in infographics %}
              
              <li class="kc-content__list__item shadow-box">
                <div class="row">
                  
                  <div class="col-lg-7 col-sm-12">
                  {% if infographic.igBanner[1] | length %}
                    {% set asset = infographic.igBanner[1] %}
                    <img src={{ asset.url() }} class="img-responsive" alt={{infographic.title}}>
                  {% endif %}
                  </div>

                  <div class="col-lg-5 col-sm-12">
                    <article class="kc-content__grid__item kc-content__blog1 image-cover">
                      <div class="kc-content__grid__inner">
                        <h5 class="kc-content__headline"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                        <p class="kc-content__excerpt">{{ infographic.igContent|hacksaw(words='25') }}</p>
                        <p class="kc-content__date"><em><small>published on {{ infographic.postDate | date("M d, Y") }}</small></em></p>
                      </div>
                    </article>
                  </div> {# end col-sm-7 #}
                </div>{# end row #}
              </li>

               
              {% endfor %}
            </ol>
          </div><!-- offset-2-->
        </div><!-- row -->
      {% endif %}
      <!-- end Infographics -->

      <!-- Special Reports -->
      {% if specialReports.total() > 0 %}
        <div class="row">
          <div class="col-sm-12">
            <ol class="kc-content__list">
              {% for specialReport in specialReports %}
              <li class="kc-content__list__item shadow-box">
                <div class="row">
                  
                  <div class="col-lg-7 col-sm-12">
                    <img src={{ specialReport.srBanner.first().url }} class="img-responsive">
                  </div>

                  <div class="col-lg-5 col-sm-12">
                    <article class="kc-content__grid__item kc-content__blog1 image-cover">
                      <div class="kc-content__grid__inner">
                        <h5 class="kc-content__headline"><a href="{{ specialReport.url }}">{{ specialReport.title }}</a></h5>
                        <p class="kc-content__excerpt">{{ specialReport.srContent|hacksaw(words='25') }}</p>
                        <p class="kc-content__date"><em><small>published on {{ blogPost.postDate | date("M d, Y") }}</small></em></p>
                      </div>
                    </article>
                  </div> {# end col-sm-7 #}
                </div>{# end row #}
              </li>
              {% endfor %}
            </ol>
          </div><!-- offset-2-->
        </div><!-- row -->
      {% endif %}
      <!-- end Special Reports -->

    </div><!-- End: content container -->
</div>
<!-- Zozo Tabs End-->

