
{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_ztabs-b' %}
{% include '_components/services/_svc-stats_blok' %}
{% include '_components/services/_why-aranca-c' %}
{% include '_components/services/_customers-blok' %}
{% include '_components/services/_featured-case-study' %}
{% include '_components/services/assignment-slider' %}
{% include '_components/services/_world-map' %}
{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_kc-content' %}
{% include '_components/global/_footer' %}
