
{% include '_components/global/_header' %}
{# include '_components/global/_menu-bar' #}
{% include '_components/services/_masthead' %}
{% include '_components/services/_customers-blok' with { 'bkColor': '#E2F0FB' }  %}
{% include '_components/services/_ztabs-d' with { 'bkColor': '#ffffff', 'bottomArrow': 'true', 'arrowColor': '#ffffff' } %}
{% include '_components/services/_list-blok' with { 'bottomArrow': 'true', 'arrowColor': '#2E6596' } %}
{% include '_components/services/_svc-stats_blok' %}

{% include '_components/services/assignment-slider' %}
{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_world-map-b' %}
{# include '_components/services/_kc-content' #}
{% include '_components/global/_footer' %}
