<div class="figure col-md-4  fade-in figcaption-bottom text-left fade-in" style="margin-bottom:20px">
  <div class="figure-image">
    {% set image = relatedEntry.image.first() %}
    {% if image %}
      <img alt="{{image.title}}" src="{{image.getUrl()}}"/>
    {% endif %}
    <div class="text-center">
      <ul class="social-icons social-simple">
        <li>
          <a href="#" target="_self"> <i class="fa fa-linkedin"></i> </a>
        </li>
        <li>
          <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
        </li>
      </ul>
    </div>
  </div> <!-- end figure-image -->
  <div> <!-- Single Item block -->
    <h3>
      <strong>{{relatedEntry}}</strong>
      <span>{{relatedEntry.designation}}</span>
    </h3>
    <p>
      {{relatedEntry.bio}}
    </p>
  </div> <!-- End of Single Item block -->
</div> <!-- end figure col-md-4 -->


