/*Content Link Box*/

.content-link-box{
  border: 1px solid lightgrey;
  
  height:125px;
  padding:20px;
  box-shadow: 2px 2px 2px #888888;

  i {
    float:left;
     }
  p {
      
      padding:10px;
  }
}