/* Intro Styles*/
.intro{ 
  width: 100%;
  background-color: #0469ac;
}

.intro-lead-headline {
  margin-top: 50px;
  margin-bottom:0px;
  color:#ffffff;
}

.intro-lead-content {
  @extend %lead;
  margin-bottom:70px;
  color:#ffffff;
}