/* Intro Styles*/
.intro{ 
  width: 100%;
  background-color: #0469ac;
  padding-top: 30px;
  padding-bottom:30px;
}

.intro__headline {

  color:#ffffff;
  font-size: em(36);
  text-transform: uppercase;
  font-family: $font-family;
}

.intro__lead {
  @extend %lead;
  margin-bottom:20px;
  color:#ffffff;
}