/* Intro Styles*/
.intro{
  width: 100%;
  background-color: #0469ac;
  padding-top: 30px;
  padding-bottom:30px;
}

.intro__headline {

  color:#ffffff;
  font-size: em(36);
  text-transform: uppercase;
}

.intro__lead {
  @extend %lead;
  margin-bottom:20px;
  color:#ffffff;
}

.intro-b{
  padding-top: 30px;
  padding-bottom:30px;
}

.intro-b__image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.intro-b__breadcrumb{
  @extend .text-center;
  color:orange;
  text-transform:uppercase;
}

.intro-b__headline
{
  @extend .text-center;
  text-align:justify;
  text-transform: uppercase;
  color: $blue-base;
  font-weight: normal;
}

.intro-b__content
{

  text-align:justify;
}
