/*Assignment Examples*/

.assignment-examples__background{
background: url('/assets/images/backgrounds/city-bkg-blue.jpg') no-repeat center center fixed; 
background-color: #2276b0;
}

.assignment-examples__icon{
  padding-top: 65px; 
  padding-bottom: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
