{% set siteName = craft.app.getSiteName() -%}
{% set docTitle = docTitle is defined ? docTitle : title|striptags -%}

<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

      {% block ogtags %}{% endblock %}

      <title>{{ docTitle ~ (docTitle and siteName ? ' - ') ~ siteName }}</title>

    {% endblock %} {# end head block #}
  </head>

  <body>

    {% block body %}

    {% endblock %} {# end main body block #}

    {% block foot %}

    {% endblock %} {# end footer block #}
  </body>

</html>
