{% set siteName = craft.app.getSiteName() %}
{% set entry = entry is defined ? entry : 'Aranca' %}
{% set docTitle = entry.seoTitle is defined ? entry.seoTitle : title|striptags %}
{% set docDesc = entry.seoDescription is defined ? entry.seoDescription : desc|striptags %}
{% set docKeyWords = entry.seoKeywords is defined ? entry.seoKeywords : keywords|striptags %}
{% set docUrl = entry.url is defined ? entry.url : title|striptags %}
<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

  <head>
    {% block head %}
      <!-- for mega menu -->
      <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="HandheldFriendly" content="True">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
     <!-- end mega menu meta tags -->

      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="keywords" content="{{docKeyWords}}">
      <meta name="description" content="{{docDesc}}">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--       <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"> -->

      {% block ogtags %}{% endblock %}

      <title>{{ docTitle ~ (docTitle and siteName ? ' | ') ~ siteName }}</title>

    {% endblock %} {# end head block #}

    <!-- Begin Cookie Consent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"In order to provide required site functionality and improve your online experience, this site uses cookies. By using this website, you agree to the use of cookies. Please read Aranca’s online privacy statement to know more.","dismiss":"Got it!","learnMore":"More info","link":"http://www.aranca.com/legal/privacy-cookies-policy","theme":"dark-top"};
    </script>
  </head>

  <body>
    

    {% block body %}

    {% endblock %} {# end main body block #}

    {% block foot %}

    {% endblock %} {# end footer block #}

    </div><!-- end wsmenucontainer -->
  </body>

</html>
