{% extends "base_layouts/_base" %}

{% block ogtags %}
  <!-- for Facebook -->
  <meta property="og:title" content="{{ docTitle }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://aranca.craft.dev/assets/uploads/infographics/US-Electric-Vehicle-Market-Report.jpg" />
  <meta property="og:url" content="{# entry.url #}" />
  <meta property="og:description" content="The US automobile market is witnessing a steady adoption of electric passenger cars. This recent success of the electric car segment can be attributed to reasons like cost effectiveness, energy-efficiency" />
{% endblock %}

{% set brandPrimary = '#00436f' %}
{% set brandOrange = '#faae53' %}
{% set redPrimary = '#A41034' %}
{% set ttPrimary = '#ffffff' %}
{% set ttOrange = '#EE4A00' %}
{% set ttBlue = '#034883' %}
{% set ttgrey = '#474A4C' %}
{% set ttgreyLight = '#9EA1A4' %}
{% set bgBlue = '#2E6596' %}

{% set roman = '#E26958' %}


{% set CoreBlue = '#00458C' %}
{% set CoreCrimson = '#B3223C' %}

{% set CoreBlack = '#000000' %}
{% set CoreGray = '#898989' %}

{% set BrCore = '#20738E' %}



{% set IrCore = '#F5A15A' %}


{% set FicrCore = '#F5A15A' %}


{% set VaCore = '#DD6A51' %}



{# Responsive Breakpoints #}

{% set screenxs = '480px'  %}
{% set screensm = '768px'  %}
{% set screenmd = '992px'  %}
{% set screenlg = '1200px' %}





{% block head %}
  {{parent()}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{craft.config.assetsCssUrl}}/main.css">
  {% includeCssFile "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" %}
{% endblock %}

{% block demo %}
    Here is some new demo content
{% endblock %}

{% block body %}
  {# include "includes/_top-bar.html" #}
  {# include "includes/_nav-bar.html" #}

  <main id="main" role="main">

    {% block main %}




    {% endblock %}

  </main>
{% endblock %}

{% block foot %}
  {{parent()}}

  {% includeJsFile "/assets/js/jquery.js" first %}
  {% includeJsFile "/assets/js/bootstrap-v3.3.5.js" %}
  {% includeJsFile "/assets/js/jquery.waypoints.min.js" %}
  {% includeJsFile "/assets/js/inview.min.js" %}
  {% includeJsFile "/assets/js/site.js"  %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2764060-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}
