{% extends "base_layouts/_base" %}

{% set brandPrimary = '#034883' %}
{% set redPrimary = '#EE3533' %}
{% set ttPrimary = '#ffffff' %}
{% set ttOrange = '#EE4A00' %}
{% set ttBlue = '#034883' %}
{% set ttgrey = '#474A4C' %}
{% set bgBlue = '#2E6596' %}



{# Responsive Breakpoints #}

{% set screenxs = '480px'  %}
{% set screensm = '768px'  %}
{% set screenmd = '992px'  %}
{% set screenlg = '1200px' %}


{% block head %}
  {{parent()}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{craft.config.assetsCssUrl}}/main.css">
{% endblock %}

{% block demo %}
    Here is some new demo content
{% endblock %}

{% block body %}
  {# include "includes/_top-bar.html" #}
  {# include "includes/_nav-bar.html" #}

  <main id="main" role="main">

    {% block main %}
    {% endblock %}

  </main>
{% endblock %}

{% block foot %}
  {{parent()}}

  <script type="text/javascript">
    var oxyThemeData = {
        navbarHeight: 100,
        navbarScrolled: 90,
        navbarScrolledPoint: 20,
        menuClose: 'off',
        scrollFinishedMessage: 'No more items to load.',
        hoverMenu:
        {
            hoverActive: false,
            hoverDelay: 1,
            hoverFadeDelay: 200
        },
        siteLoader: 'on'
    };
  </script>
  {% includeJsFile "/assets/js/jquery.js" first %}
  {% includeJsFile "/assets/js/bootstrap-v3.3.5.js" %}
  {% includeJsFile "/assets/js/site.js"  %}

{% endblock %}
