{% includeJsFile '/assets/js/sharer.min.js' %}


{% set actionCss %}

.share-links {
  padding: 30px 0;
  position: fixed;
  left: 0%;
  top: 10%;
}

.sharer {
  padding: 10px 0;
  display: block;
}

.sharer .fa {
  font-size: 1.4em;
  box-shadow: 0px 0px 2px #0E4F92;
  padding: 0.5em;
}

.sharer .fa:hover {
  background: #2E7DA8;
  color: white;
}

.action-bar{
  border-top: 1px solid {{ ttgreyLight }};
  margin-bottom: 22px;
}

.action-bar__item{
  float:left;
  color: {{ ttgreyLight }};
  font-size:22px;
  width: 4em;
  border-right: 1px solid {{ ttgreyLight }};
  transition: font-size 0.2s ease;
}

.action-bar__item:hover{
  color: {{ ttgreyLight }};
  font-size:25px;
}

.action-bar__item-text{
  font-size: 0.5em;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  letter-spacing: 0.1em;
}

.action-bar__icon{
  padding-top: 15px;
}

a.tip {
    position: relative;
}

a.tip span {
  display: none;
  position: absolute;
  top: 14px;
  left: 50px;
  width: 30px;
  padding: 5px;
  z-index: 100;
  background: #ffffff;
  color: #034883;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #034883;
}
a.tip span:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:8px solid #034883;
    left:-8px;
    
    top:7px;
}

a:hover.tip {
    font-size: 99%; /* this is just for IE */
}

a:hover.tip span {
    display: block;
}

@media only screen and (max-width : 480px) {
  .share-links {
    position: static;
    padding: 0;
  }

  .sharer {
    float: left;
    padding-right: 1em;
  }

  .byline {
    padding: 10px 0px;
  }
}

@media only screen and (min-width : 481px) {
  .share-links {
    left: 0%;
  }
}

{% endset %}



{% set actionJs %}
$( document ).ready(function() {

var actionUrl = "{{ entry.url | e }}";
var shareUrl = 'https://www.linkedin.com/countserv/count/share?url=' + actionUrl;
console.log('url is', shareUrl);

$.ajax({
  url: shareUrl,
  type: 'GET',
  contentType: "application/json",
  dataType: 'jsonp',
  success: function(data) {
    $('#linkedin-shares').html(data.count).css('display', 'block');
  },
  error: function() {
    console.log('Failed!');
  },
});



});

{% endset %}

{% includeCss actionCss %}
{% includeJs actionJs %}

<div class="share-links clearfix">
<a class="sharer" href="javascript:void(0);" data-sharer="facebook" data-url="{{ docUrl }}" >
<i class="fa fa-facebook" style="padding: 9px 13px;"></i></a>

<a class="sharer" href="javascript:void(0);"  data-sharer="twitter" data-title="{{ docTitle }}" data-url="{{ docUrl }}">
<i class="fa fa-twitter"></i></a>

<a class="sharer tip" href="javascript:void(0);" data-sharer="linkedin" data-url="{{ docUrl }}">
<i class="fa fa-linkedin"></i><span id="linkedin-shares"></span></a>

<a class="sharer" href="javascript:void(0);" data-sharer="email" data-title="{{ docTitle }}"
  data-subject="I found this at the aranca website" data-to="" data-url="{{ docUrl }}">
<i class="fa fa-envelope"></i></a>
</div>
