{% includeJsFile '/assets/js/sharer.min.js' %}


{% set actionCss %}

.share-links {
  padding: 30px 0;
  position: fixed;
  left: 10%;
  top: 10%;
}

.sharer {
  padding: 10px 0;
  display: block;
}

.sharer .fa {
  font-size: 1.4em;
  box-shadow: 0px 0px 2px #0E4F92;
  padding: 0.5em;
}

.sharer .fa:hover {
  background: #2E7DA8;
  color: white;
}

.action-bar{
  border-top: 1px solid {{ ttgreyLight }};
  margin-bottom: 22px;
}
.action-bar__item{
  float:left;
  color: {{ ttgreyLight }};
  font-size:22px;
  width: 4em;
  border-right: 1px solid {{ ttgreyLight }};
  transition: font-size 0.2s ease;
}

.action-bar__item:hover{
  color: {{ ttgreyLight }};
  font-size:25px;
}

.action-bar__item-text{
  font-size: 0.5em;
  text-transform: uppercase;
  position: relative;
  top: -10px;
  letter-spacing: 0.1em;
}

.action-bar__icon{
  padding-top: 15px;
}

@media only screen and (min-width : 480px) {
  .share-links {
    left: 6%;
  }
}

{% endset %}



{% set actionJs %}



{% endset %}

{% includeCss actionCss %}
{% includeJs actionJs %}

<div class="share-links">
<a class="sharer" href="javascript:void(0);" data-sharer="facebook" data-url="{{ docUrl }}" >
<i class="fa fa-facebook" style="padding: 9px 13px;"></i></a>

<a class="sharer" href="javascript:void(0);"  data-sharer="twitter" data-title="{{ docTitle }}" data-url="{{ docUrl }}">
<i class="fa fa-twitter"></i></a>

<a class="sharer" href="javascript:void(0);" data-sharer="linkedin" data-url="{{ docUrl }}">
<i class="fa fa-linkedin"></i></a>

<a class="sharer" href="javascript:void(0);" data-sharer="email" data-title="{{ docTitle }}"
  data-subject="I found this at the aranca website" data-to="" data-url="{{ docUrl }}">
<i class="fa fa-envelope"></i></a>
</div>
