{% set bylineCss %}

.author__byline {
  margin-bottom: 20px;
}
{% endset %}

{% includeCss bylineCss %}

<div class="byline">
  {% if entry.multiAuthor | length %}

    <div class="multi-byline__item">
        {% for author in entry.multiAuthor %}
          
          {% if author.authorLinkedinProfile | length %}

            {# https://www.linkedin.com/profile/profile-badges #}
            <div class="media author__byline">

              <div class="media-left">
                <a href="{{author.authorLinkedinProfile}}">
                  <img src="{{ author.photoUrl(60) }}" alt="{{ author.firstName }} {{ author.lastName }}" />
                </a>
              </div>{# end media-left #}

              <div class="media-body">
                <a href="{{author.authorLinkedinProfile}}"><h4 class="media-heading">{{ author.firstName }} {{ author.lastName }}</h4></a>
                <p class="author__byline__designation">{{author.authorDesignation}}</p>
                {#  <a href="">{{ author.firstName }} {{ author.lastName }}</a> {% if entry.multiAuthor | length > 1 %} | {% endif %}<br> #}
                <a href="{{author.authorLinkedinProfile}}">
                  <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View {{ author.firstName }} {{ author.lastName }}'s profile on LinkedIn">
                </a>
              </div>{# end media body #}
              
            </div>{# end media  #}
          {% else %}
            {% if entry.multiAuthor | length > 1 %} | {% endif %}
          {% endif %}
          
         {% endfor %}
    </div>

  {% endif %}
</div>
