{% set footerCss %}
  .footer {
    background: {{ brandPrimary }};
    color: white;
    padding: 30px 0;
  }

  .footer__headline {
    font-size: 1.18em;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
  }

  .footer__nav__item > a {
    color: white;
  }

{% endset %}


{% includeCss footerCss %}
<section class="container-fluid footer">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-2 col-sm-offset-1">
            <h3 class="footer__headline">About Us</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/company-overview">Overview</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/who-we-are">Who We Are</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/what-we-believe">What We Believe</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/how-we-work">How We Work</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-values">Our Values</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-culture">Our Culture</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-team">Our Team</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/work-at-aranca">Work At Aranca</a></li>
            </ul>
          </div>

          <div class="col-sm-2">
            <h3 class="footer__headline">Services</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}business-research/business-research-advisory-services-overview">Business Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}investment-research/overview">Investment Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}ip-research/overview">IP Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}procurement-research/overview">Procurement Research</a></li>
              <li class="footer__nav__item"><a href="http://arancavaluation.com/">Valuation</a></li>
            </ul>
          </div>

         <div class="col-sm-2">
            <h3 class="footer__headline">Knowledge Library</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/articles">Articles</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/blogs">Blogs</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/infographics">Infographics</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/special-reports">Special Reports</a></li>
            </ul>
          </div>

          <div class="col-sm-2">
            <h3 class="footer__headline">Contact Us</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="/contact">Contact</a></li>
              <li class="footer__nav__item"><a href="/press-releases">Press Release</a>
              <li class="footer__nav__item"><a href="/media-room">Media Room</a>
            </ul>
          </div>

          <div class="col-sm-2">
            <h3 class="footer__headline">Legal Stuff</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/privacy-cookies-policy">Privacy & Cookies Policy</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/legal-terms-of-use">Legal/Terms of Use</a>
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/accessibility">Accessibility</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{# include '_components/global/_waybeo' #}
{% includeJsFile '/assets/js/olark.js' %}
{% includeJsFile '/assets/js/usabilla.js' %}
