{% set footerCss %}
  .footer {
    background: {{ brandPrimary }};
    color: white;
    padding: 30px 0;
  }

  .footer__headline {
    font-size: 1.18em;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
  }

  .footer__nav__item > a {
    color: white;
  }

{% endset %}


{% includeCss footerCss %}
<section class="container-fluid footer">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2">
            <h3 class="footer__headline">Business Research</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#"><a href="">Research Solutions</a></a></li>
              <li class="footer__nav__item"><a href="#"><a href="">Research Approach</a></a></li>
              <li class="footer__nav__item"><a href="#"><a href="">Sector Experience</a></a></li>
              <li class="footer__nav__item"><a href="#"><a href="">Geographies</a></a></li>
              <li class="footer__nav__item"><a href="#"><a href="">Track Record</a></a></li>
              <li class="footer__nav__item"><a href="#"><a href="">Downloads</a></a></li>
            </ul>
          </div>
          <!-- end Business research -->
          <div class="col-sm-2">
            <h3 class="footer__headline">IP Research</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#">Research Solutions</a></li>
              <li class="footer__nav__item"><a href="#">Verticals</a></li>
              <li class="footer__nav__item"><a href="#">Clients</a></li>
              <li class="footer__nav__item"><a href="#">Language Capabilities</a></li>
              <li class="footer__nav__item"><a href="#">Information Security & Confidentiality</a></li>
              <li class="footer__nav__item"><a href="#">Track Record</a></li>
              <li class="footer__nav__item"><a href="#">Downloads</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h3 class="footer__headline">Investment Research</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#">Equity Research</a></li>
              <li class="footer__nav__item"><a href="#">Fixed Income & Credit Research</a></li>
              <li class="footer__nav__item"><a href="#">Investment Banking Research</a></li>
              <li class="footer__nav__item"><a href="#">Other Research Solutions</a></li>
              <li class="footer__nav__item"><a href="#">Clients</a></li>
              <li class="footer__nav__item"><a href="#">Downloads</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h3 class="footer__headline">Valuation & Advisory</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#">US Tax Compliance</a></li>
              <li class="footer__nav__item"><a href="#">US GAAP Reporting</a></li>
              <li class="footer__nav__item"><a href="#">IFRS Reporting</a></li>
              <li class="footer__nav__item"><a href="#">Transaction Support</a></li>
              <li class="footer__nav__item"><a href="#">Expertise</a></li>
              <li class="footer__nav__item"><a href="#">Downloads</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h3 class="footer__headline">Knowledge Center</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#">Market Bytes</a></li>
              <li class="footer__nav__item"><a href="#">Patent Watch</a></li>
              <li class="footer__nav__item"><a href="#">Reports & Insights</a></li>
              <li class="footer__nav__item"><a href="#">Newsletter</a></li>
              <li class="footer__nav__item"><a href="#">Special Reports</a></li>
              <li class="footer__nav__item"><a href="#">Articles & Publications</a></li>
              <li class="footer__nav__item"><a href="#">Popular Links</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h3 class="footer__headline">About Us</h3>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="#">Case Studies</a></li>
              <li class="footer__nav__item"><a href="#">Downloads</a></li>
              <li class="footer__nav__item"><a href="#">Careers</a></li>
              <li class="footer__nav__item"><a href="#">Events</a></li>
              <li class="footer__nav__item"><a href="#">Contact Us</a></li>
              <li class="footer__nav__item"><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '_components/global/_waybeo' %}
{% includeJsFile '/assets/js/olark.js' %}

