{% set data = craft.geo.info(true) %}
{% set countrycode = data.country_code %}

{% set footerCss %}
  .footer {
    background: {{ brandPrimary }};
    color: white;
    padding: 30px 0;
    overflow-x: hidden;
  }
  .footer__copy {
    background: #000000;
    color: white;
    padding-top: 5px;
    overflow-x: hidden;
  }

  .footer__headline {
    font-size: 1.18em;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
  }

  .footer__nav__item > a {
    color: white;
  }

{% endset %}


{% includeCss footerCss %}
<section class="container-fluid footer">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-2 col-sm-offset-1">
            <p class="footer__headline">About Us</p>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/company-overview">Overview</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/who-we-are">Who We Are</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/what-we-believe">What We Believe</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/how-we-work">How We Work</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-values">Our Values</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-culture">Our Culture</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/our-team">Our Team</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}about-us/work-at-aranca">Work At Aranca</a></li>
            </ul>
          </div>
{% if countrycode == "IN" %}
          <div class="col-sm-2">
            <p class="footer__headline">Services</p>
            <ul class="footer__nav">
            <li class="footer__nav__item"><a href="{{siteUrl}}transaction-advisory/overview">Transaction Advisory</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}business-research/advisory-services-overview">Business Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}investment-research/overview">Investment Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}intellectual-property-research/overview">IP Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}procurement-research/overview">Procurement Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}presentation-and-publication-support/overview">Presentation & Publication</a></li>
            </ul>
          </div>
{% else %}
          <div class="col-sm-2">
            <p class="footer__headline">Services</p>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}business-research/advisory-services-overview">Business Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}investment-research/overview">Investment Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}intellectual-property-research/overview">IP Research</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}procurement-research/overview">Procurement Research</a></li>
              <li class="footer__nav__item"><a href="http://arancavaluation.com/">Valuation</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}presentation-and-publication-support/overview">Presentation & Publication</a></li>
            </ul>
          </div>
{% endif %}
         <div class="col-sm-2">
            <p class="footer__headline">Knowledge Library</p>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/articles">Articles</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/blogs-and-opinions">Blogs</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/infographics">Infographics</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}knowledge-library/special-reports">Special Reports</a></li>
            </ul>
          </div>

          <div class="col-sm-2">
            <p class="footer__headline">Contact Us</p>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="/contact-us">Contact</a></li>
              <li class="footer__nav__item"><a href="/media-room/press-releases">Press Release</a>
              <li class="footer__nav__item"><a href="/media-room">Media Room</a>
              <li class="footer__nav__item"><a href="/sitemap">Sitemap</a>
            </ul>
          </div>

          <div class="col-sm-2">
            <p class="footer__headline">Legal</p>
            <ul class="footer__nav">
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/privacy-cookies-policy">Privacy & Cookies Policy</a></li>
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/legal-terms-of-use">Legal/Terms of Use</a>
              <li class="footer__nav__item"><a href="{{siteUrl}}legal/accessibility">Accessibility</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid footer__copy">
  <div class="row">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-1">
        <p style="font-size:12px;">© 2016, Aranca. All rights reserved.</p>
      </div>
      <div class="col-sm-4">
        <p style="text-align:right; font-size:12px;">United States | United Kingdom | China | India | Dubai | KSA </p>
      </div> 
    </div>
  </div>
</section>

{# include '_components/global/_waybeo' #}
{# include '_components/global/_waybeo-timebased' #}
{# includeJsFile '/assets/js/olark.js' #}





<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
      window.cookieconsent_options = {"message":"In order to provide required site functionality and improve your online experience, this site uses cookies. By using this website, you agree to the use of cookies.","dismiss":"I Agree","learnMore":"More info","link":"http://www.aranca.com/legal/privacy-cookies-policy","theme":"dark-bottom"};
  </script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->


<!-- Start of Leadin Embed --> 
  <script type="text/javascript" src="//js.leadin.com/js/v1/2270236.js" id="LeadinEmbed-2270236" crossorigin="use-credentials" async defer></script>
<!-- End of Leadin Embed -->


<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('6691-889-10-3936');/*]]>*/</script><noscript><a href="https://www.olark.com/site/6691-889-10-3936/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->





