
<header class="site-header container-fluid">
{% include '_components/global/_search' %}
  <div class="row" style="line-height: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img id="logo" src="{{ craft.config.assetsImagesUrl }}/aranca_logo_214x75.png" alt="Aranca Logo">
        </div><!-- end col-sm-6 -->
        <div class="col-sm-9">
          <div class="row">

            <div class="col-sm-4">

            </div><!-- end col-sm-2 -->
            <div class="col-sm-8">
              {% include '_components/global/_main_nav' %}
              {% include '_components/global/_sidemenu' %}
            </div><!-- end col-sm-4 -->
          </div><!-- end row -->
        </div><!-- end .col-sm-6 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
</header>




