{% set FSNavCss %}

#inquiry-form .list-unstyled > li {
  color: white;
}

.form__headline {
  font-size: 2em;
}

.full-screen-nav,
.full-screen-nav *,
.full-screen-nav *:focus{
  box-sizing: border-box;
  z-index: 10000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}
.full-screen-nav{
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 50px;
  top: 0;
  left: 0;
  display: none;
  background-color: #1C4587;
  opacity: 0.94;
}

/* CONTENT WRAPPER
=========================================*/
.full-screen-nav-content{
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  color: #f0f0f0;
  display: block;
  overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* CLOSE BUTTON
=========================================*/
.full-screen-nav-close {
  width: 32px;
  height: 32px;
  display: block;
  position: fixed;
  right: 12px;
  top: 12px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.full-screen-nav-close:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.full-screen-nav-close:before,
.full-screen-nav-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.full-screen-nav-close:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.full-screen-nav-close:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* NORMAL MENU
=========================================*/
.full-screen-nav-menu{
  width: 400px;
  margin: 0 0 0 -200px;
  padding: 0;
  left: 50%;
  position: absolute;
  list-style: none;
  text-align: center;
}
@media (max-width: 768px){
  .full-screen-nav-menu{
    width: 100%;
    margin: 0;
    left: auto;
    position: relative;
  }
}
.full-screen-nav-menu li a{
  padding: 5px;
  display: block;
  font-size: 40px;
  text-decoration: none;
  color: #999;
  font-weight: 300;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
@media (max-width: 480px){
  .full-screen-nav-menu li a{
    font-size: 26px;
  }
}
.full-screen-nav-menu:hover li a{
  opacity: 0.7;
}
.full-screen-nav-menu li:hover a{
  color: #fff;
  opacity: 1 !important;
  background-color: #333;
}

/* MENU OF LISTS
=========================================*/
.full-screen-nav-lists{
  width: 100%;
  text-align: center;
  display: table;
}
.full-screen-nav-list{
  margin: 0;
  padding: 0 10px 0 0;
  display: table-cell;
  list-style: none;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.full-screen-nav-list:last-of-type{
  padding: 0;
}
@media (max-width: 768px){
  .full-screen-nav-list{
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}
.full-screen-nav-list li{
  width: 100%;
}
.full-screen-nav-list li a{
  width: 100%;
  padding: 5px 0 5px 0;
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  -webkit-transition: background .2s linear, opacity .2s linear;
  transition: background .2s linear, opacity .2s linear;
}
.full-screen-nav-list:hover li:not(.full-screen-nav-list-header) a{
  opacity: 0.7;
}
.full-screen-nav-list li:hover a{
  color: #fff;
  opacity: 1 !important;
  background-color: #333;
}
.full-screen-nav-list li.full-screen-nav-list-header a{
  padding: 5px 0 10px 0;
  color: #ccc;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
}

/* MENU OF BOXES
=========================================*/
.full-screen-nav-boxes{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: -webkit-flex;
    display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.full-screen-nav-boxes li{
  display: inline-block;
  text-align: center;
}
.full-screen-nav-boxes li a{
  width: 160px;
  height: 160px;
  margin: 10px;
  display: inline-block;
  font-size: 14px;
  color: #999;
  text-decoration: none;
  line-height: 60px;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.full-screen-nav-boxes li a i{
  width: 100%;
  margin: 30px 0 0;
  text-align: center;
  font-size: 60px;
  float: left;
}
.full-screen-nav-boxes:hover a{
  opacity: 0.7;
}
.full-screen-nav-boxes li:hover a{
  opacity: 1;
  color: #fff;
}

/* MENU OF CIRCLES
=========================================*/
.full-screen-nav-circles{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: -webkit-flex;
    display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.full-screen-nav-circles li{
  display: inline-block;
  text-align: center;
}
.full-screen-nav-circles li a{
  width: 160px;
  height: 160px;
  margin: 10px;
  display: inline-block;
  font-size: 14px;
  color: #999;
  text-decoration: none;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.full-screen-nav-circles li a i{
  width: 100%;
  margin: 30px 0 0;
  text-align: center;
  font-size: 60px;
  float: left;
}
.full-screen-nav-circles:hover a{
  opacity: 0.7;
}
.full-screen-nav-circles li:hover a{
  opacity: 1;
  color: #fff;
}

/* MENU OF GENERAL CONTENT
=========================================*/
.full-screen-nav-general{
  text-align: center;
}

/* ANIMATIONS
=========================================*/
.zoom{
  animation-name: zoom-in;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: zoom-in;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: zoom-in;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes zoom-in{
  from{
    -webkit-transform: scale(0.6,0.6);
    transform: scale(0.6,0.6);
  }
  to{
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}
@-webkit-keyframes zoom-in{
  from{
    -webkit-transform: scale(0.6,0.6);
    transform: scale(0.6,0.6);
  }
  to{
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}

.slide{
  animation-name: slide;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slide;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slide;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slide{
  from{
    left: -200px;
  }
  to{
    left: 0;
  }
}
@-webkit-keyframes slide{
  from{
    left: -200px;
  }
  to{
    left: 0;
  }
}

.dropdown{
  animation-name: dropdown;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: dropdown;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: dropdown;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes dropdown{
  from{
    top: -200px;
  }
  to{
    top: 0;
  }
}
@-webkit-keyframes dropdown{
  from{
    top: -200px;
  }
  to{
    top: 0;
  }
}

.btn-blue {
  background: #7DA9F0;
}
{% endset %}

{% set FSNavJs %}
;(function ( $, window, document, undefined ) {

  $.FSNav = function(element, options) {

        var defaults = {
            showSpeed: 300,
      hideSpeed: 300,
      animation: "zoom",
            onShow: function() {},
      onHide: function() {}
        }

        var plugin = this;

        plugin.settings = {}

        var $element = $(element),
             element = element;
    var contentDefaultPaddingTop = $(element).find(".full-screen-nav-content").css("padding-top");

        plugin.init = function() {
            plugin.settings = $.extend({}, defaults, options);

      buttonHideNav();
      $(window).resize(function(){
        adjustMenuPadding();
      });
        }

    plugin.showNav = function() {
            $(element).addClass(plugin.settings.animation).fadeIn(plugin.settings.showSpeed, function(){
        if(options !== undefined){
          plugin.callback("onShow");
        }
      });
      adjustMenuPadding();
        }

    plugin.hideNav = function() {
            $(element).removeClass(plugin.settings.animation).fadeOut(plugin.settings.hideSpeed);
      if(options !== undefined){
        plugin.callback("onHide");
      }
        }

    plugin.setShowSpeed = function(speed) {
            plugin.settings.showSpeed = speed;
        }

    plugin.setHideSpeed = function(speed) {
            plugin.settings.hideSpeed = speed;
        }

    plugin.setAnimation = function(animation) {
            plugin.settings.animation = animation;
        }

        var buttonHideNav = function() {
            $(element).children(".full-screen-nav-close").on("click touchstart", function(){
        plugin.hideNav();
      });
        }

    var adjustMenuPadding = function() {
      var contentHeight = $(element).find(".full-screen-nav-content").innerHeight();
      var innerElementsHeight = $(element).find(".full-screen-nav-menu, .full-screen-nav-lists, .full-screen-nav-boxes, .full-screen-nav-circles, .full-screen-nav-general").innerHeight();
      if(innerElementsHeight > contentHeight){
        $(element).find(".full-screen-nav-content").css("padding-top", contentDefaultPaddingTop);
      }
      else{
        $(element).find(".full-screen-nav-content").css("padding-top", (contentHeight - innerElementsHeight) / 2);
      }
        }

    plugin.callback = function(func) {
      if (options[func] !== undefined) {
        options[func].call(element);
      }
    }

        plugin.init();

    }

    $.fn.FSNav = function(options) {
        return this.each(function() {
            if (undefined == $(this).data('FSNav')) {
                var plugin = new $.FSNav(this, options);
                $(this).data('FSNav', plugin);
            }
        });
    }

    jQuery('#{{formId}}').FSNav({
      animation: "dropdown",
      onShow: function(e) {
        $('#{{formtype}}').validator();
        $('#btnsubmit').addClass("disabled");
      },
      onHide: function(e) {
        $('#{{formtype}}').validator('destroy')
      }
    });


})( jQuery, window, document );



{% endset %}

{% includeCss FSNavCss %}
{% includeJs FSNavJs %}
{% includeJsFile '/assets/js/bs-validator.js' %}

<!-- modal -->
<div id="{{ formId }}" class="full-screen-nav">
  <span class="full-screen-nav-close"></span>
  <div class="full-screen-nav-content">
    <div class="full-screen-nav-general">

      <!-- start form here -->
      <form method="post" action="" id="{{formtype}}">
        <input type="hidden" name="action" value="recaptcha/service/saveForm">
        <input type="hidden" name="endpoint" value="{{formActionUrl}}">
        <input type="hidden" name="redirect" value="http://www.aranca.com/thankyou-business-research">
        {{ getCsrfInput() }}

        <p class="form__headline">Send Your Inquiry</p>
        

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <textarea rows="5" name="comment" class="form-control" id="comment" placeholder="Tell us as much as you can about your project requirements" required></textarea><br>
              <div class="help-block with-errors"></div>
            </div>
          </div><!--  end col-sm-12 -->
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" style="text-align: left;">
              <label for="firstname">Name</label>
              <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Your first name" required>
              <div class="help-block with-errors"></div>
            </div>
          </div><!--  end col-sm-6 -->
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Your last name" required>
              <div class="help-block with-errors"></div>
            </div>
          </div>  --> <!-- end col-sm-6 -->
        </div>

        <div class="row">
          <div class="col-sm-12" style="text-align: left;">
            <div class="form-group">
              <label for="email">Your Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Valid work email only" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$" required>
              <div class="help-block with-errors"></div>
            </div>
          </div><!--  end col-sm-6 -->
        </div>
        <div class="row">
          <div class="col-sm-12" style="text-align: left;">
            <div class="form-group">
              <label for="exampleInputEmail1">Your Phone Number</label>
              <input type="tel" name="tel" class="form-control" id="email" placeholder="Where can we reach you?">
            </div>
          </div><!--  end col-sm-6 -->
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12"  style="text-align: left;">
            <div class="form-group">
              <p><em>We need to quickly check if you are human before you submit this form</em></p>
              {{craft.recaptcha.render()}}
              <input type="hidden" name="_ipaddr" >
              <input type="hidden" name="ao_refurl" >
              <button id="btnsubmit" type="submit" class="btn  btn-block btn-lg btn-blue">Send Your Inquiry</button>
            </div>
          </div><!--  end col-sm-12 -->
        </div>
      </form>
    </div>
  </div>
</div>
<!-- modal -->
