<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id": "{{ url }}"
  },
  "headline": "Article headline",
  "image": {
    "@type": "ImageObject",
    "url": "{{ craft.config.siteUrlAbs }}{{ imageUrl }}",
    "height": 700,
    "width": 400
  },
  "datePublished": "{{ entryDate }}",
  "dateModified": "{{ entryDate }}",
  "author": {
    "@type": "Person",
    "name": "author"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Aranca",
    "logo": {
      "@type": "ImageObject",
      "url": "http://aranca.com/assets/images/aranca_logo_214x75.png",
      "width": 171,
      "height": 60
    }
  },
  "description": "{{description}}"
}
</script>
