{% set mainNavCss %}
.main-nav { float: right; }
.main-nav-item { float: right;}
.main-nav-item {margin-right: 20px;}
.main-nav-item > a {
  text-transform: uppercase;
  font-size: 1.3em;
}

{% endset %}

{% includeCss mainNavCss %}

<nav class="main-nav hidden-xs">
  <ul>
    <li class="search main-nav-item" data-dt-event-category="menuBlog" data-dt-event-label="Search"><a href="javascript:;" class="search-trigger" id="search-trigger"><i class="fa fa-search icon-search"></i></a></li>
    <!-- <li class="main-nav-item"><a href="#">Services</a></li> -->
    <li class="main-nav-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
    <li class="main-nav-item"><a href="#"><i class="fa fa-phone"></i></a></li>

  </ul>
</nav>
