<nav class="main-nav">
  <ul>
    <li class="search main-nav-item" data-dt-event-category="menuBlog" data-dt-event-label="Search"><a href="javascript:;" class="search-trigger" id="search-trigger"><i class="fa fa-search icon-search"></i></a></li>
    <li class="main-nav-item"><a href="#">Home</a></li>
    <!-- <li class="main-nav-item"><a href="#">Services</a></li> -->
    <li class="main-nav-item"><a href="#">Resources</a></li>
    <li class="main-nav-item"><a href="#">Contact</a></li>
  </ul>
</nav>
