

{% set mmenuCss %}
.mmenu {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9;
  background: white;
  max-height: 66px;
  box-shadow: 0 1px 3px #E1DFDF;
}

#logo {
  max-width: 88%;
}

.ttmenu .navbar-default {
  background: white;
}

.ttmenu .navbar-default .navbar-nav > li > a {
  color: grey !important;
  font-weight: 400;
  font-size: 1.02em;
  letter-spacing: 0.05;
}

.ttmenu .dropdown-menu, .ttmenu .navbar-default .ttmenu-content {
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px #E1DFDF;
}

h3.ttmenu__subheadline  {
  margin-bottom: 0;
}

.ttmenu__subheadline a {
  color: #00458C !important;
  font-size: 1.2em !important;
}

{% endset %}

{% includeCss mmenuCss %}

<div class="mmenu">
      <div class="hero">
            <div class="hovermenu ttmenu">
                <div class="container">
                  <div class="row">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a href="http://aranca.craft.dev/"><img id="logo" src="/assets/images/aranca_logo_214x75.png" alt="Aranca Logo"></a>
                        </div><!-- end navbar-header -->

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="dropme"></b></a>
                                    <ul id="first-menu" class="dropdown-menu">
                                        <li>
                                        <div class="ttmenu-content">
                                            <div class="tabbable row">
                                                <div class="col-md-3">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active"><a href="#tabs5-pane1" data-toggle="tab">Business Research &amp; <br>Advisory</a></li>
                                                        <li><a href="#tabs5-pane2" data-toggle="tab">Technology Intelligence &amp; <br>IP Research</a></li>
                                                        <li><a href="#tabs5-pane3" data-toggle="tab">Investment Research &amp; Analytics</a></li>
                                                        <li><a href="#tabs5-pane4" data-toggle="tab">Procurement &amp; Supply Chain Intelligence</a></li>
                                                        <li><a href="#tabs5-pane5" data-toggle="tab">Valuation Advisory</a>
                                                    </ul>
                                                </div><!-- end col -->
                                                <div class="col-md-9">
                                                    <div class="tab-content">
                                                        <div id="tabs5-pane1" class="tab-pane active">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}business-research/advisory-services-overview">Overview</a></h3>
                                                                              <p>Learn more about what business research  can do for you.</p>
                                                                            </li>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}business-research/advisory-services-overview#sol-port">Solutions</a></h3>
                                                                              <p>Explore our complete solution portfolio</p>

                                                                            <a href="{{siteUrl}}business-research/advisory-services-overview#sol-port"><button class="btn btn-primary small">Read more</button></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}business-research/advisory-services-overview#solution">Industries</a></h4>
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}business-research/aerospace-and-defense">Aerospace and Defense</a></li>
                                                                            <li><a href="{{siteUrl}}business-research/aluminium">Aluminium</a></li>
                                                                            <li><a href="{{siteUrl}}business-research/building-materials">Building Materials</a></li>
                                                                            <li><a href="{{siteUrl}}business-research/commercial-banking">Commercial Banking</a></li>
                                                                            <li><a href="{{siteUrl}}business-research/consumer-appliances">Consumer Appliances</a></li>
                                                                            <li><a href="{{siteUrl}}business-research/education">Education</a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                        <li><a href="{{siteUrl}}business-research/iron-and-steel">Iron and Steel</a></li>
                                                                        <li><a href="{{siteUrl}}business-research/it-hardware">IT Hardware</a></li>
                                                                        <li><a href="{{siteUrl}}business-research/life-non-life-insurance">Life & Non Life Insurance</a></li>
                                                                        <li><a href="{{siteUrl}}business-research/machinery-instrument">Machinery & Instrument</a></li>
                                                                        <li><a href="{{siteUrl}}business-research/personal-home-care">Personal Home Care</a></li>
                                                                        <li><a href="{{siteUrl}}business-research/advisory-services-overview#solution"><button class="btn btn-primary small">More Industries</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div>
                                                        <div id="tabs5-pane2" class="tab-pane">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}intellectual-property-research/overview">Overview</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Intellectual Property research solutions can do for you.
                                                                            </li>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}intellectual-property-research/overview#sol">Solutions</a></h3>
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/ip-strategy">IP Strategy</a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/litigation-support">Litigation Support</a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/technology-intelligence">Technology Intelligence</a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}intellectual-property-research/overview#solution">Technology</a></h3>
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/automotive">Automotive</a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/biotechnology">Biotechnology </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/chemicals">Chemicals </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/communication-network">Communication & Network </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/diagnostics">Diagnostics </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/electronics">Electronics </a></li>

                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                            <h3 class="ttmenu__subheadline"><a href="#"></a></h3>
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/engineering-plastics-and-polymers">Engineering Plastics and Polymers </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/food-beverage">Food & Beverage </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/home-care">Home Care </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/industrial-manufacturing">Industrial Manufacturing  </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/medical-devices">Medical Devices </a></li>
                                                                            <li><a href="{{siteUrl}}intellectual-property-research/overview#solution"><button class="btn btn-primary small">More Solutions</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div>
                                                        <div id="tabs5-pane3" class="tab-pane">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}investment-research/overview">Overview</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Investment research can do for you.
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}investment-research/overview"><button class="btn btn-primary small">Read more</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="#">Solutions</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what investment research solutions can do for you.
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}investment-research/overview#solution"><button class="btn btn-primary small">View Solutions</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div>
                                                            </div><!-- end row -->
                                                        </div>
                                                        <div id="tabs5-pane4" class="tab-pane">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}procurement-research/overview">Overview</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Procurement research  can do for you.
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}procurement-research/overview"><button class="btn btn-primary small">Read more</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}procurement-research/overview#solution">Solutions</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Procurement research solutions can do for you.
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}procurement-research/overview#solution"><button class="btn btn-primary small">View Solutions</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}procurement-research/overview#framework">Frameworks</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Procurement research frameworks can do for you.
                                                                            </li>
                                                                            <li><a href="{{siteUrl}}procurement-research/overview#framework"><button class="btn btn-primary small">View Frameworks</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div>
                                                        <div id="tabs5-pane5" class="tab-pane">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="http://www.arancavaluation.com/">Overview</a></h3>
                                                                              </li>
                                                                              <li>
                                                                              Learn more about what Valuation research can do for you.
                                                                            </li>
                                                                            <li><a href="http://www.arancavaluation.com/"><button class="btn btn-primary small">Read more</button></a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div><!-- end col -->
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <div class="box">
                                                                        <ul>
                                                                            <li>
                                                                              <h3 class="ttmenu__subheadline"><a href="#">Solutions</a></h3>
                                                                              </li>
                                                                              <li><a href="#">Tax Valuation</a></li>
                                                                              <li><a href="#">Financial Reporting</a></li>
                                                                              <li><a href="#">Transaction Services</a></li>
                                                                              <li><a href="http://www.arancavaluation.com/ip-valuation/overview">IP Valuation</a></li>
                                                                        </ul>
                                                                    </div><!-- end box -->
                                                                </div>
                                                            </div><!-- end row -->
                                                        </div>
                                                    </div><!-- /.tab-content -->
                                                </div><!-- end col -->
                                            </div><!-- /.tabbable -->
                                        </div><!-- end ttmenu-content -->
                                        </li>
                                    </ul>
                                </li><!-- end mega menu -->
                                <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Knowledge Library <b class="dropme"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                        <div class="ttmenu-content">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="box">
                                                    <ul>
                                                        <li>
                                                          <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}knowledge-library">Overview</a></h3>
                                                        </li>
                                                        <li>
                                                          Learn more about Knowledge Library.
                                                        </li>
                                                        <li><a href="{{siteUrl}}knowledge-library"><button class="btn btn-primary small">Read more</button></a></li>
                                                        </ul>
                                                    </div><!-- end box -->
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="box">
                                                    <ul>
                                                        <li>
                                                          <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}knowledge-library/articles">Articles</a></h3>
                                                        </li>
                                                        <li>
                                                          Learn more about Knowledge Library.
                                                        </li>
                                                        <li>
                                                          <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}knowledge-library/blogs">Blogs &amp; Opinions</a></h3>
                                                        </li>
                                                        <li>
                                                          Learn more about Knowledge Library.
                                                        </li>
                                                    </ul>
                                                    </div><!-- end box -->
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="box">
                                                    <ul>
                                                        <li>
                                                          <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}knowledge-library/infographics">Infographics</a></h3>
                                                        </li>
                                                        <li>
                                                          Learn more about Knowledge Library.
                                                        </li>
                                                        <li>
                                                          <h3 class="ttmenu__subheadline"><a href="{{siteUrl}}knowledge-library/special-reports">Special Reports</a></h3>
                                                        </li>
                                                        <li>
                                                          Learn more about Knowledge Library.
                                                        </li>
                                                    </ul>

                                                    </div><!-- end box -->
                                                </div>
                                            </div><!-- end row -->
                                        </div><!-- end ttmenu-content -->
                                        </li>
                                    </ul>
                                </li><!-- end mega menu -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<span class="dropme"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{siteUrl}}about-us/company-overview">Overview</a></li>
                                    <li><a href="{{siteUrl}}about-us/who-we-are">Who We Are</a></li>
                                    <li><a href="{{siteUrl}}about-us/what-we-believe">What We Believe</a></li>
                                    <li><a href="{{siteUrl}}about-us/how-we-work">How We Work</a></li>
                                    <li><a href="{{siteUrl}}about-us/our-values">Our Values</a></li>
                                    <li><a href="{{siteUrl}}about-us/our-culture">Our Culture</a></li>
                                    <li><a href="{{siteUrl}}about-us/our-team">Our Team</a></li>
                                    <li><a href="{{siteUrl}}about-us/work-at-aranca">Work At Aranca</a></li>
                                    <li><a href="{{siteUrl}}media-room">Media Room</a></li>
                                    <li><a href="{{siteUrl}}press-releases">Press Release</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact-us">Contact</a>
                                </li><!-- end mega menu -->
                            </ul><!-- end nav navbar-nav -->
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <form class="searchbox">
                                        <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                                        <input type="submit" class="searchbox-submit" value="GO">
                                        <span class="searchbox-icon"><i class="fa fa-search"></i></span>
                                    </form>
                                </li>
                            </ul><!-- end nav navbar-nav navbar-right -->
                        </div><!--/.nav-collapse -->
                    </div><!-- end navbar navbar-default clearfix -->
                  </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end menu 1 -->
        </div><!-- end hero -->
</div><!-- /container -->
