
{% set SharerCss %}

.sharer__list {
  padding-right: 3em;
}

.sharer__list__item {
  display: inline-block;
  margin-right: 15px;

}

.sharer__list__item  i {
  color: #A94442;
}



{% endset %}

{% includeCss SharerCss %}

<ul class="sharer__list pull-right hidden-xs">
  <li class="sharer__list__item"><a href="https://twitter.com/aranca" target="_blank"><i class="fa fa-twitter"></i></a></li>

  <li class="sharer__list__item"><a href="https://www.facebook.com/ArancaResearch" target="_blank"><i class="fa fa-facebook"></i></a></li>

  <li class="sharer__list__item"><a href="http://www.linkedin.com/company/aranca" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>
