{% includeCssFile "/assets/css/jquery.sidr.light.css" %}
{% includeJsFile "/assets/js/jquery.sidr.min.js" %}

{% set sdmenuCss %}

  .sdmenu {
    position: absolute;
    left: 98%;
    top: 30%;
    font-size: 2em;
  }

  .sdmenu__section {
    color: {{ ttgrey }};
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    background-color: #F5F5F5;
    padding: 0 15px;
  }
  .sdmenu__item {
    line-height: 15px;
  }
  .sdmenu__item-link {
    color: {{ ttPrimary }};
  }

  .sdmenu__children {

  }

  .sdmenu__child__item {
    padding-left: 2.5em;
  }

  .toggle {
    font-weight: bold;
    font-variant: uppercase;
  }

  .show {
    display: block;
  }

{% endset %}


{% set sliderJs  %}
  $(document).ready(function() {

    $('.sdmenu').sidr({
      side: 'right'
    });

    $('.sdmenu__children').hide();

    $('.toggle').click(function(e) {
      e.preventDefault();

      var $this = $(this);

      if ($this.next().hasClass('show')) {
          $this.next().removeClass('show', 250);
          $this.next().slideUp(250);
      } else {
          $this.parent().parent().find('li .inner').removeClass('show', 250);
          $this.parent().parent().find('li .inner').slideUp(250);
          $this.next().toggleClass('show', 250);
          $this.next().slideToggle(250);
      }
    });

  });
{% endset %}

{% includeCss sdmenuCss %}
{% includeJs sliderJs %}

<a class="sdmenu fa fa-align-justify" href="#sidr"></a>

<nav id="sidr">
  <!-- Menu content -->
  <img src="" alt="">

<h3 class="sdmenu__section">About Us</h3>
  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Our Story</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Our Culture</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Media Room</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Press Releases</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Blog</a></li>
  </ul>

<h3 class="sdmenu__section">Services</h3>
  <ul>
    <li class="sdmenu__item">
      <a class="sdmenu__item-link toggle" href="javascript:void(0);">Business Research</a>
      <ul class="sdmenu__children inner">
        <li class="sdmenu__child__item"><a href="{{siteUrl}}business-research/business-research-advisory-services-overview">Overview</a></li>
        <li class="sdmenu__child__item">
          <a class="toggle" href="javascript:void(0);">Solutions</a>
            <ul class="inner">
              <li><a href="/business-research/acquisitions">Acquisitions</a></li>
              <li><a href="/business-research/diversification">Diverification</a></li>
              <li><a href="/business-research/international-expansion">International Expansion</a></li>
            </ul><!-- close solutions -->
        </li>
        <li class="sdmenu__child__item">
        <a class="toggle" href="javascript:void(0);">Industry</a>
          <ul class="sdmenu__children inner">
            <li><a href="/business-research/aerospace-and-defense">Aerospace and Defense</a></li>
            <li><a href="/business-research/agro-chemicals">Agro Chemicals</a></li>
            <li><a href="/business-research/airlines">Airlines</a></li>
            <li><a href="/business-research/alternate-energy">Alternate Energy</a></li>
            <li><a href="/business-research/automobiles-parts">Automobiles & Parts</a></li>
            <li><a href="/business-research/business-support-services">Business Support Services</a></li>
            <li><a href="/business-research/commercial-banking">Commercial Banking</a></li>
            <li><a href="/business-research/consumer-finance">Consumer Finance</a></li>
            <li><a href="/business-research/education">Education</a></li>
            <li><a href="/business-research/health-insurance">Health Insurance</a></li>
            <li><a href="/business-research/hotels-and-restaurants">Hotels and Restaurants</a></li>
          </ul>
        </li>
      </ul> <!-- close industry -->
    </li><!-- close business research -->
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}investment-research/overview">Investment Research</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}ip-research/overview">IP Research</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}procurement-research/overview">Procurement Research</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="http://www.arancavaluation.com/">Valuation & Advisory</a></li>
  </ul>

<h3 class="sdmenu__section">Knowledge Center</h3>
  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Articles</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Special Reports</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Blogs</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Inforgraphics</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Market Trends</a></li>
  </ul>

<h3 class="sdmenu__section">Careers</h3>
  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Work at Aranca</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Curent Openings</a></li>
  </ul>

<h3 class="sdmenu__section">Contact Us</h3>
  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Get in Touch</a></li>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="#">Current Openings</a></li>
  </ul>

</nav>
