

{% set sdmenuCss %}
  #sidr {
    display: none;
  }

  .sdmenu {
    position: relative;
    left: 83%;
    top: -64px;
    font-size: 2em;
  }



  @media only screen and (min-width : 480px) {
    .sdmenu {
      position: absolute;
      left: 95%;
      top: 30%;
      font-size: 2em;
    }

    .sdmenu__section {
      color: {{ ttgrey }};
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      line-height: 35px;
      background-color: #F5F5F5;
      padding: 0 15px;
    }

    .sdmenu__item {
      line-height: 15px;
    }

    .sdmenu__item-link {
      color: {{ ttPrimary }};
      font-size: 1.2em;
      font-weight: 300;
    }

    .sdmenu__children {

    }

    .sdmenu__child__item {
      padding-left: 2.5em;
    }

    .toggle {
      font-variant: uppercase;
    }

    .show {
      display: block;
    }
}




{% endset %}


{% set sidrJs  %}
  $(document).ready(function() {

    $('.sdmenu').sidr({
      side: 'right'
    });

    $('#sidr').on("click",function(e) {
        e.stopPropagation();
    });

    $('.sdmenu__children').hide();
    $('.inner').hide();

    $('.toggle').click(function(e) {
      e.preventDefault();

      var $this = $(this);

      if ($this.next().hasClass('show')) {
          $this.next().removeClass('show', 250);
          $this.next().slideUp(250);
      } else {
          $this.parent().parent().find('li .inner').removeClass('show', 250);
          $this.parent().parent().find('li .inner').slideUp(250);
          $this.next().toggleClass('show', 250);
          $this.next().slideToggle(250);
      }
    });

    $("body").on("click",function(e) {
        $.sidr('close');
    });


  });
{% endset %}

{% includeCss sdmenuCss %}
{% includeJs sidrJs %}

<a class="sdmenu fa fa-align-justify" href="#sidr"></a>

<nav id="sidr">
  <!-- Menu content -->
  <img src="" alt="">

<p class="sdmenu__section">

</p>
  <ul>
    <li class="sdmenu__item">
    <a class="sdmenu__item-link toggle" href="javascript:void(0);">Services</a>
      <ul class="inner">
        <li class="sdmenu__item">
          <a class="sdmenu__item-link toggle" href="javascript:void(0);">Business Research</a>
          <ul class="sdmenu__children inner">
            <li class="sdmenu__child__item"><a href="{{siteUrl}}business-research/advisory-services-overview">Overview</a></li>
            <!-- <li class="sdmenu__child__item">
              <a class="toggle" href="javascript:void(0);">Solutions</a>
                <ul class="inner">
                  <li><a href="/business-research/acquisitions">Acquisitions</a></li>
                  <li><a href="/business-research/diversification">Diverification</a></li>
                  <li><a href="/business-research/international-expansion">International Expansion</a></li>
                </ul>
            </li> -->
            <li class="sdmenu__child__item">
            <a class="toggle" href="javascript:void(0);">Industry</a>
              <ul class="sdmenu__children inner">
                <li><a href="{{siteUrl}}business-research/aerospace-and-defense">Aerospace and Defense</a></li>
                <li><a href="{{siteUrl}}business-research/aluminium">Aluminium</a></li>
                <li><a href="{{siteUrl}}business-research/building-materials">Building Materials</a></li>
                <li><a href="{{siteUrl}}business-research/commercial-banking">Commercial Banking</a></li>
                <li><a href="{{siteUrl}}business-research/consumer-appliances">Consumer Appliances</a></li>
                <li><a href="{{siteUrl}}business-research/education">Education</a></li>
                <li><a href="{{siteUrl}}business-research/iron-and-steel">Iron and Steel</a></li>
                <li><a href="{{siteUrl}}business-research/it-hardware">IT Hardware</a></li>
                <li><a href="{{siteUrl}}business-research/life-non-life-insurance">Life & Non Life Insurance</a></li>
                <li><a href="{{siteUrl}}business-research/machinery-instrument">Machinery & Instrument</a></li>
                <li><a href="{{siteUrl}}business-research/personal-home-care">Personal Home Care</a></li>
                <li><a href="{{siteUrl}}business-research/real-estate-and-construction-experience">Real Estate and Construction Experience</a></li>
              </ul><!-- close industry -->
            </li>
          </ul>
        </li><!-- close business research -->

        <li class="sdmenu__item">
          <a class="sdmenu__item-link toggle" href="javascript:void(0);">Investment Research</a>
            <ul class="sdmenu__children inner">
            <li class="sdmenu__child__item"><a href="{{siteUrl}}investment-research/overview">Overview</a></li>
            <li class="sdmenu__child__item">
            <a class="toggle" href="javascript:void(0);">Solutions</a>
              <ul class="sdmenu__children inner">
                <li><a href="{{siteUrl}}investment-research/brokerage-and-irp">Brokerage and IRP</a></li>
                <li><a href="{{siteUrl}}investment-research/credit-research">Credit Research</a></li>
                <li><a href="{{siteUrl}}investment-research/debt-capital-markets-dcm">Debt Capital Markets (DCM)</a></li>
                <li><a href="{{siteUrl}}investment-research/equities-global-and-regional">Equities – Global and Regional</a></li>
                <li><a href="{{siteUrl}}investment-research/equity-capital-markets-ecm">Equity Capital Markets (ECM)</a></li>
                <li><a href="{{siteUrl}}investment-research/fixed-income-credit-global-and-regional">Fixed Income & Credit Research</a></li>
                <li><a href="{{siteUrl}}investment-research/fund-marketing">Fund Marketing</a></li>
                <li><a href="{{siteUrl}}investment-research/investment-banking-bis-and-library-services">IB BIS/ Library Services</a></li>
                <li><a href="{{siteUrl}}investment-research/mergers-and-acquisitions-transaction-advisory">M&A Transaction Advisory</a></li>
                <li><a href="{{siteUrl}}investment-research/multi-asset-strategies">Multi-Asset Strategies</a></li>
                <li><a href="{{siteUrl}}investment-research/private-equity-venture-capital">Private Equity, Venture Capital</a></li>
                <li><a href="{{siteUrl}}investment-research/research-publication-support">Publishing Support</a></li>
                <li><a href="{{siteUrl}}investment-research/technical-analysis">Technical Analysis</a></li>
              </ul><!-- close Solutions -->
            </li>
            </ul><!-- inner -->
        </li><!-- close investment research -->


        <li class="sdmenu__item">
          <a class="sdmenu__item-link toggle" href="javascript:void(0);">IP Research</a>
          <ul class="sdmenu__children inner">
            <li class="sdmenu__child__item"><a href="{{siteUrl}}intellectual-property-research/overview">Overview</a></li>
            <li class="sdmenu__child__item">
            <a class="toggle" href="javascript:void(0);">Solutions</a>
              <ul class="sdmenu__children inner">
                <li><a href="{{siteUrl}}intellectual-property-research/litigation-support">Litigation Support</a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/ip-strategy">IP Strategy</a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/technology-intelligence">Technology Intelligence</a></li>
              </ul><!-- close Solutions -->
            </li>
            <li class="sdmenu__child__item">
            <a class="toggle" href="javascript:void(0);">Technology</a>
              <ul class="sdmenu__children inner">
                <li><a href="{{siteUrl}}intellectual-property-research/automotive">Automotive</a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/biotechnology">Biotechnology </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/chemicals">Chemicals </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/communication-network">Communication & Network </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/diagnostics">Diagnostics </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/electronics">Electronics </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/engineering-plastics-and-polymers">Engineering Plastics and Polymers </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/food-beverage">Food & Beverage </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/home-care">Home Care </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/industrial-manufacturing">Industrial Manufacturing  </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/medical-devices">Medical Devices </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/molecular-diagnostics">Molecular diagnostics </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/oil-gas">Oil & Gas </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/packaging">Packaging </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/personal-care-hygiene">Personal care & Hygiene </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/pharmaceutical">Pharmaceutical  </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/power-systems">Power Systems </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/renewable-energy">Renewable Energy  </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/semiconductor">Semiconductor </a></li>
                <li><a href="{{siteUrl}}intellectual-property-research/software-and-mobile-applications">Software and Mobile Applications  </a></li>
              </ul><!-- close Technology -->
            </li>
          </ul><!-- inner -->
        </li><!-- close ip research -->

        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}procurement-research/overview">Procurement Research</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="http://www.arancavaluation.com/">Valuation & Advisory</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="sdmenu__item">
      <a class="sdmenu__item-link toggle" href="javascript:void(0);">Knowledge Library</a>
      <ul class="inner">
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}knowledge-library">Overview</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}knowledge-library/articles">Articles</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}knowledge-library/blogs">Blogs</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}knowledge-library/infographics">Infographics</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}knowledge-library/special-reports">Special Reports</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="sdmenu__item">
      <a class="sdmenu__item-link toggle" href="javascript:void(0);">About Us</a>
      <ul class="inner">
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/company-overview">Overview</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/who-we-are">Who We Are</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/what-we-believe">What We Believe</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/how-we-work">How We Work</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/our-values">Our Values</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/our-culture">Our Culture</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/our-team">Our Team</a></li>
        <li class="sdmenu__item"><a class="sdmenu__item-link" href="{{siteUrl}}about-us/work-at-aranca">Work At Aranca</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="/media-room">Media Room</a></li>
  </ul>

  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="/press-releases">Press Release</a></li>
  </ul>
  <ul>
    <li class="sdmenu__item"><a class="sdmenu__item-link" href="/contact-us">Contact Us</a></li>
  </ul>
</nav>
