{% set thankyouCss %}

.thank-you {
  padding-top: 20px;
  padding-bottom: 30px;
}

{% endset %}

{% includeCss thankyouCss %}



<div class="container thank-you">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if craft.session.hasFlash('success') %}

          <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>  {{ craft.session.getFlash('success') | raw }}
          </div>

          {% endif %}
          <h1 class="lede__headline">Thank you for subscribing.</h1>
          <h2 class="lede__subheadline">You will hear from our team real soon</h2>
          <hr class="lede__border">
          <p class="text-center">In the meanwhile, why not take a few minutes to browse some interesting and relevant content in our <a href="http://www.aranca.com/knowledge-library">knowledge library?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google Code for Knowledge Library Subscription Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 955828310;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "qeIWCMe732cQ1pDjxwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/955828310/?label=qeIWCMe732cQ1pDjxwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


