{% set thankyouCss %}

.thank-you {
  padding-top: 20px;
  padding-bottom: 30px;
}
.lede__headline {
  color: #034883;
}
.lede__headline, .lede__subheadline {
  text-align:left;
  line-height:25px;
}
.thank-you a {
  font-weight:500;
}
{% endset %}

{% includeCss thankyouCss %}



<div class="container thank-you">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="lede__headline">Thank you for subscribing to Aranca Context.</h1>
          <h2 class="lede__subheadline">As a token of our gratitude, a mail with links to two of our most popular blogs are already on its way to your inbox. Going forward, we will mail you once every two weeks with links to more blogs/articles/etc. tailored to your areas of interest.</h2>
          <h2 class="lede__subheadline">Click on the blocks below to explore more of our published content. </h2>
          <h2 class="lede__subheadline">Want to stay on top of our most recent content pieces? Follow us on <a href="https://twitter.com/aranca" target="_blank">Twitter, <a href="https://www.facebook.com/ArancaResearch" target="_blank">Facebook,</a> and <a href="http://www.linkedin.com/company/aranca" target="_blank">Linkedin</a>.</a></h2>

        </div>
      </div>
    </div>
  </div>
</div>

{% include 'layouts/kc/_aoe' %}

<!-- Google Code for Knowledge Library Subscription Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 955828310;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "qeIWCMe732cQ1pDjxwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/955828310/?label=qeIWCMe732cQ1pDjxwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


