<!-- start waybeo -->

        <link rel="stylesheet" href="/lp/waybeo/css/intlTelInput.css">
        <link rel="stylesheet" href="/lp/waybeo/css/timerpopup.css">

    <!-- Slideout form -->
            <div class="wbpb-mastercontainer right">
            <div class="wbpb-container theme-peter-river">
                <div class="wbpb-header">
                    <div class="wbpb-mainheader">Talk to us right now!</div>
                    <div class="wbpb-close">x</div>
                    <div class="wbpb-clear"></div>
                </div>
                <div class="wbpb-form">
                    <div class="wbpb-window">
                        <div class="wbpb-msg">
                            Please share your number. We will connect you with <strong>Nilesh Sharma</strong>, Regional Head - Business Development.
                        </div>
                        <div class="wbpb-inputs">
                            <input type="tel" class="wbpb-tbox" name="mobile" id="timerMobile" placeholder="Enter Phone Number">
                            <input class="wbpb-btn" type="button" value="Call Now" id="timerCallMe">
                            <div class="wbpb-formerror">Please enter a valid phone number</div>

                        </div>
                    </div>
                    <div class="wbpb-livestatus">
                        <div class="wbpb-livemsg-connecting">
                            Connecting now...
                        </div>
                        <div class="wbpb-livemsg-connected">
                            Connection Established.
                        </div>
                        <div class="wbpb-livemsg-verifying">
                            Please verify your number using the code below.
                            <div class="wbpb-verificationcode">
                                11001
                            </div>
                        </div>
                        <div class="wbpb-livemsg-verification-success">
                            Number verification successful
                        </div>
                        <div class="wbpb-livemsg-verification-failed">
                            Number verification failed.
                        </div>
                        <div class="wbpb-livemsg-in-progress">
                            Call in progress.
                        </div>
                        <div class="wbpb-livemsg-completed">
                            Call Completed Successfully.
                        </div>
                        <div class="wbpb-livemsg-ended">
                            Call ended.
                        </div>
                        <div class="wbpb-livemsg-agent-busy">
                            Oops! We couldn't connect you to Nilesh. He will call you right back.
                        </div>
                        <div class="wbpb-livemsg-oops">
                            Oops! Something went wrong.
                        </div>
                        <div class="wbpb-livemsg-timer timer">
                            00:00:00
                        </div>
                    </div>
                </div>
                <div class="wbpb-footer">
                </div>
            </div>  
        </div>
    <!-- End Slideout form -->
        <script type="text/javascript" src="/lp/waybeo/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/lp/waybeo/js/intlTelInput.min.js"></script>
        <script type="text/javascript" src="http://js.waybeo.com/v0.1-beta2/waybeo.min.js"></script>
        <script type="text/javascript" src="/lp/waybeo/js/timerbased.js"></script>



<!-- end: waybeo -->