{% set ctFormCss %}

.ct__form__content {
  color: #504C4C;
  font-weight: 300;
  font-size: 1.1em;
}

.ct__form__content--lighter {
  color: #B2ADAD;
}
{% endset %}

{% includeCss ctFormCss %}

<h1 class="ct__headline">Email Us</h1>
<form action="http://connect.aranca.com/acton/eform/17562/0017/d-ext-0001" id="contact-us">

  <p class="ct__form__content">A consultant from our business team will personally assess your inquiry and get back to you within 24 hours after you fill out this form.</p>

  <p class="ct__form__content--lighter">Please note that while we appreciate your questions, we are unable to respond to all inquiries</p>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Name</label>
        <input type="text" name="name" class="form-control" id="firstname" placeholder="Your full name">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Valid Work Email only">
      </div>
    </div>  <!-- end col-sm-6 -->
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Organization</label>
        <input type="text" name="organization" class="form-control" id="firstname" placeholder="Your Organization name">
      </div>
    </div>
  </div>  <!-- end col-sm-6 -->

  <div class="row">
    <div class="col-sm-12">
      <input type="hidden" name="_ipaddr" >
      <input type="hidden" name="ao_refurl" >
      <label for="">What's Your Query?</label>
      <textarea name="comment" class="form-control" id="comment" placeholder="Tell us as much as you can about your project requirements"></textarea><br>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Send Your Query</button>
    </div><!--  end col-sm-12 -->
  </div>
</form>
