{% includeJsFile '/assets/js/bs-validator.js' %}

{% set ctFormCss %}

.ct__form__content {
  color: #504C4C;
  font-weight: 300;
  font-size: 1.1em;
}

.ct__form__content--lighter {
  color: #B2ADAD;
}
{% endset %}

{% includeCss ctFormCss %}

<h1 class="ct__headline">Email Us</h1>
{% if craft.session.hasFlash('success') %}

  {{ craft.session.getFlash('success') | raw }}

{% endif %}

{% if craft.session.hasFlash('failure') %}

  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Sorry!</strong>  {{ craft.session.getFlash('failure') | raw }}
  </div>

  {% endif %}
<form method="post" accept-charset="UTF-8" data-toggle="validator" action="" id="contact-us">
  <input type="hidden" name="action" value="recaptcha/service/saveForm">
  <input type="hidden" name="endpoint" value="http://connect.aranca.com/acton/eform/17562/0021/d-ext-0002">
  <input type="hidden" name="redirect" value="http://www.aranca.com/thankyou-business-research">
  {{ getCsrfInput() }}

  <p class="ct__form__content">A consultant from our business team will personally assess your inquiry and get back to you within 24 hours after you fill out this form.</p>
  

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Your first name" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>
<!--     <div class="col-sm-6">
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Your last name" required>
        <div class="help-block with-errors"></div>
      </div>
    </div>  -->
  </div>

  <div class="row">
    <div class="col-sm-12">
       <div class="form-group">
          <label for="exampleInputEmail1">Your Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Valid work email only" pattern="^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$" required>
          <div class="help-block with-errors"></div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Your Organization</label>
        <input type="text" name="company" class="form-control" id="company" placeholder="Your Organization name">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
          <label for="exampleInputEmail1">Your Phone Number</label>
          <input type="tel" name="tel" class="form-control" id="tel" placeholder="Where can we reach you?">
      </div>
    </div>
  </div>  <!-- end col-sm-6 -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="hidden" name="_ipaddr" value="{{ craft.request.getIpAddress() }}">
        <input type="hidden" name="ao_refurl" value="{{ craft.request.getUrlReferrer() }}" >
        <label for="">Send Us Your Inquiry</label>
        <textarea rows="10" name="comment" class="form-control" id="comment" placeholder="Tell us as much as you can about your project requirements" required></textarea><br>
        
        <p><em>We need to quickly check if you are human before you submit this form</em></p>
        <p>{{craft.recaptcha.render()}}</p>

        <button type="submit" class="btn btn-primary btn-block btn-lg">Send Your Inquiry</button>
      </div>

      <p class="ct__form__content--lighter">Please note that while we appreciate your questions, we are unable to respond to all inquiries</p>
    </div><!--  end col-sm-12 -->
  </div>
</form>
