{% set locCss %}
.ct__headline {
  font-weight: 300;
  color: #100D26;
  text-transform: uppercase;
  margin-top: 35px;
}
.ct__locations {
  padding-left: 20px;
  border-left: 1px solid #E2E1E1;
}

.country-name {
  color: #AC4540;
  font-size: 1.4em;
}

.region {
  color: {{ brandPrimary }};
  font-size: 1em;
}


.street-address {
  color: #5B5656;
}

.postal-code {
  color: #5B5656;
}

{% endset %}

{% includeCss locCss %}

<h1 class="ct__headline" style="padding-left: 20px;">Locations</h1>

<div class="ct__locations">

  <p class="country-name">United States</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">Boston</span><br>
      <span class="street-address">225 Franklin Street, 26th floor,</span><br>
      <span class="postal-code">Boston, MA 02110</span><br>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
      <span class="region">New York (Sales Office)</span><br>
      <span class="street-address">Aranca US Inc. 275 Madison Avenue, 14th Floor,</span><br>
      <span class="postal-code">New York, NY 10016</span><br>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
      <span class="region">Palo Alto (Sales Office)</span><br>
      <span class="street-address">530 Lytton Avenue, Palo Alto,</span><br>
      <span class="postal-code">CA 94301</span><br>
    </p>
  </div>

  <p class="country-name">United Kingdom</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">London (Sales Office)</span><br>
      <span class="street-address">1 Berkeley Street,</span><br>
      <span class="postal-code">London W1J 8DJ,</span><br>
    </p>
  </div>

  <p class="country-name">China</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">Shanghai (Sales Office and Global Research Centre),</span><br>
      <span class="street-address"># 3072, 3/F, Siilver Court,</span><br>
      <span class="street-address">No. 85, Tao Yuan Road, Huangpu District,</span><br>
      <span class="postal-code">Shanghai 200021</span><br>
    </p>
  </div>

  <p class="country-name">India</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">Gurgaon (Sales Office and Global Research Centre),</span><br>
      <span class="street-address">Plot No. 883, Udyog Vihar Phase 5,</span><br>
      <span class="street-address">Near Hotel Trident & Oberoi,</span><br>
      <span class="postal-code">Gurgaon – 122016</span><br>
    </p>

  </div>

  <div class="vcard">
    <p class="adr">
      <span class="region">Mumbai (Sales Office and Global Research Centre),</span><br>
      <span class="street-address">Unit 201 & 301, Floor 2 & 3, B Wing,</span><br>
      <span class="street-address">Supreme Business Park, Hiranandani Gardens, Powai,</span><br>
      <span class="postal-code">Mumbai – 400 076</span><br>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
      <span class="region">Mumbai (Global Research Centre),</span><br>
      <span class="street-address">306, A Wing, Boomerang,</span><br>
      <span class="street-address">Chandivali Farm Road, Andheri East,</span><br>
      <span class="postal-code">Mumbai – 400072</span><br>
    </p>
  </div>

</div>
