{% set locCss %}
.ct__headline {
  font-weight: 300;
  color: #100D26;
  text-transform: uppercase;
  margin-top: 35px;
}
.ct__locations {
  padding-left: 20px;
  border-left: 1px solid #E2E1E1;
}

{% endset %}

{% includeCss locCss %}

<h1 class="ct__headline" style="padding-left: 20px;">Locations</h1>

<div class="ct__locations">

  <p class="country-name">China</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">Shanghai (Sales Office and Global Research Centre),</span><br>
      <span class="street-address"># 3072, 3/F, Siilver Court,</span><br>
      <span class="street-address">No. 85, Tao Yuan Road, Huangpu District,</span><br>
      <span class="postal-code">Shanghai 200021</span><br>
    </p>

  </div>

  <p class="country-name">India</p>
  <div class="vcard">
    <p class="adr">
      <span class="region">Gurgaon (Sales Office and Global Research Centre),</span><br>
      <span class="street-address">Plot No. 883, Udyog Vihar Phase 5,</span><br>
      <span class="street-address">Near Hotel Trident & Oberoi,</span><br>
      <span class="postal-code">Gurgaon – 122016, Haryana</span><br>
    </p>

  </div>

  <div class="vcard">
    <p class="adr">
    <span class="region">Silicon Valley</span><br>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    <span class="tel">+1 650 666 3011</span>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
    <span class="region">Boston</span><br>
    <span class="street-address">225 Franklin Street, 26th floor,</span><br>
    <span class="postal-code">Boston, MA 02110,</span><br>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <p class="country-name">Europe and Africa</p>

  <div class="vcard">
    <p class="adr">
    <span class="region">London</span><br>
    <span class="street-address">93-95 Gloucester Place,</span><br>
    <span class="postal-code">London W1U 6JQ,</span><br>
    <span class="tel">+44 207 487 8214</span>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <p class="country-name">Saudi Arabia</p>
  <div class="vcard">
    <p class="adr">
    <span class="region">Jeddah</span><br>
    <span class="street-address">10, Jabal Al-Rabaabah, Saeed Ibn Zager Street</span><br>
    <span class="postal-code">Mushrefah District, Jeddah 21531</span><br>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <p class="country-name">Asia &amp; Australia</p>
  <div class="vcard">
    <p class="adr">
    <span class="region">Mumbai</span><br>
    <span class="tel">+91 22 3937 9999</span>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <p class="country-name">Global Knowledge Centers</p>
  <div class="vcard">
    <p class="adr">
    <span class="region">Mumbai</span><br>
    <span class="street-address">Supreme Business Park Hiranandani Gardens, Powai </span><br>
    <span class="postal-code">Mumbai 400 076</span><br>
    <span class="tel">+91 22 3937 9999</span>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
    <span class="region">Gurgaon</span><br>
    <span class="street-address">Plot 308, Udyog Vihar Phase IV,</span><br>
    <span class="postal-code">Gurgaon Haryana 122 016</span><br>
    <span class="tel">+91 124 668 9999 </span>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>

  <div class="vcard">
    <p class="adr">
    <span class="region">China</span><br>
    <span class="street-address"># 3072, 3/F, Silver Court, No. 85, Tao Yuan Road, Huangpu District,</span><br>
    <span class="postal-code">Shanghai 200021</span><br>
    <span class="tel">+86 (0) 21 6157 7362</span>
    <a href="mailto:info@aranca.com?subject=Reaching%20Out&body=Hello%20Aranca">info@aranca.com</a>
    </p>
  </div>



</div>
