<div class="ct__media">
<h2 class="ct__headline">For Media Inquiries:</h2>
  <p>We welcome inquiries from the members of press. We can assist you by providing background research, analyst insights and other qualified inputs across industry segments and geographies for your stories. Please contact:</p>

  <div class="vcard">
   <img class="photo pull-left" src="http://example.com/sk.jpg"/>
   <div class="ct__profile">
     <span class="fn">Anupriya Deepak</span><br>
     <span class="tel">T: +91 22 3937 9999 (EXT. 384)</span><br>
     <span class="email">E: anupriya.deepak@aranca.com</span>
   </div>
  </div>
</div>
