{% set ctSocial %}
.ct__social__item {
  display: inline-block;
  margin-right: 20px;
}

.ct__social__item i {
  font-size: 2em;
  color: #3769DB;
}

.ct__careers p{
  color: #838383;
  font-size: 1.2em;
  font-weight: 300;
}

{% endset%}

{% includeCss ctSocial %}
<h2 class="ct__headline">Reach Us On Social Media</h2>
<ul class="ct__social">
  <li class="ct__social__item"><i class="fa fa-facebook"></i></li>
  <li class="ct__social__item"><i class="fa fa-twitter"></i></li>
  <li class="ct__social__item"><i class="fa fa-linkedin"></i></li>
</ul>

<div class="ct__careers">
<h2 class="ct__headline">Careers</h2>
  <p><strong>Careers in India</strong>: To apply online. Click here OR Call +91 22 3937 9999</p>
  <p><strong>Careers in the US</strong>: Qualified aspirants can email their CVs to careers.us@aranca.com</p>
  <p><strong>Careers in UK</strong>: Qualified aspirants can email their CVs to careers.uk@aranca.com</p>
</div>
