{% set ctSocial %}
.ct__social__item {
  display: inline-block;
  margin-right: 20px;
}

.ct__social__item i {
  font-size: 2em;
  color: #3769DB;
}

.ct__careers p{
  color: #504C4C;
  font-size: 1.2em;
  font-weight: 300;
}

.ct__headline {
  color: #504C4C;
}

.ct__media p {
  color: #504C4C;
  font-size: 1.1em;
  font-weight: 300;
}

{% endset%}

{% includeCss ctSocial %}
<h2 class="ct__headline">Reach Us On Social Media</h2>
<ul class="ct__social">
  <li class="ct__social__item"><a href="https://twitter.com/aranca" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li class="ct__social__item"><a href="https://www.facebook.com/ArancaResearch" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li class="ct__social__item"><a href="https://www.linkedin.com/company/aranca" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>

<div class="ct__careers">
<h2 class="ct__headline">Careers</h2>
  <p>To apply for career opportunities with Aranca. Write to us at <a href="mailto:careers@aranca.com">careers@aranca.com</a></p>
</div>
