{% set articleCss %}

.article {
  background: #2E7DA8;
  min-height: 1000px;
}

.article__body {
  background: white;
  padding: 30px 90px;
}

.article__headline {
  color: #2E7DA8;
  margin-bottom: 20px;
}

.article__content > p:first-child {
  font-size: 1.4em;
  font-style: italic;
  color: #5E95B5;
}

.article__content > p {
  margin-bottom: 20px;
  color: #5B6A72;
  font-size: 1.1em;
}

.article__image {
  margin-bottom: 20px;
}

.release-date {
  color: {{ roman }};
}

{% endset %}

{% includeCss articleCss %}

<div class="article__body">
  <h1 class="article__headline">{{ entry.title }}</h1>
  <p class="release-date">
    Published on {{ entry.postDate|date("d M, Y") }}
    {% if category %}
    Published under <a href="{{ siteUrl}}{{craft.request.firstSegment}}/{{ craft.request.getSegment(2) }}/{{ "practices" }}/{{ category.slug}}">{{ category.title }}
    {% endif %}
    </a>
  </p>
  <p>
    {% for tag in craft.tags.relatedTo(entry) %}
      <a href="{{ tag.slug }}">{{ tag }}</a>
    {% endfor %}
  </p>

    {% include '_components/global/_action' %}

    <div class="byline">
      <p>Written by {{ entry.author.firstName }} {{ entry.author.lastName }}</p>
    </div>
    {% set assets = entry.blogsBanner %}
    {% if assets | length %}
      {% for image in assets %}
        <img src="{{ image.url }}" alt="" class="img-responsive article__image">
      {% endfor %}
    {% endif %}
  <div class="article__content">
    {{ content }}
  </div>
</div>

