
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Aranca Privacy & Cookies Policy:

Visitor Statement (to be shown to every new visitor:

“In order to provide required site functionality and improve your online experience, this site uses

cookies. By using this website, you agree to the use of cookies. Please read Aranca’s online privacy

statement to know more.”

Page Content:

Privacy & Cookies Policy

Aranca respects and is committed to protecting your privacy. We have created this Privacy

Statement to disclose what happens with the personal information you provide to us on the Aranca

web site www.aranca.com.

You can view our web site without divulging any personal information about yourself. However

certain content on our web site requires the submission and the transmittal of personal information

such as your name, phone number, email address, mailing address, research requirements, company

name, country and designation. Submitting your information on these online forms is purely

optional and you may choose to do so at your discretion. In addition, Aranca may collect certain

information that is not visibly entered, like your site usage pattern, routing and technical

information to facilitate your usage of this site.

From time to time, we may use customer information for new, unanticipated uses not previously

disclosed in our privacy notice. However, at no time, however, will Aranca, sell, trade, rent or

distribute personal information to any outside organization.

Cookies

Aranca website uses certain cookies with the intention to provide you (the user) with best of

experience on our website. We also use some cookies that help in enhancing the site’s overall

functionality. As mentioned earlier, Aranca respects and is committed to protecting your privacy. At

no time, will Aranca, sell, trade, rent or distribute personal information to any outside organization –

this is our commitment.

What are Cookies?

Cookies are small packets of information that are stored by your web browser. They are put on your

web browser by the websites that you visit. These packets of information do not contain personal

information about you but they do allow us to know if you visit the same website twice or if you visit

related websites.

Some EU nations require you to provide a form of consent before cookies are placed on your web

browser unless the cookie is necessary for the website to work. There is no agreed standard for how

companies comply with these laws. However, to safeguard your privacy and to ensure best use of

cookies, following are some principles that we follow:

We will only use cookies in instances when they are required for our services or where you have

provided your express or implied consent.

You can inspect, delete, or block any cookies used by us by selecting the appropriate control in your

web browser. We respect your wishes.

Aranca supports technologies that exist or are in the process of being developed for web browsers

that will allow users to be more selective about the cookies that the browsers accept.

How does Aranca use your personal information?

Aranca uses your information to provide you with the services or information you have requested or

we believe that might be useful to you. We limit access to personal information about you to

employees who we believe reasonably need to come into contact with that information to provide

products or services to you or in order to do their jobs. We have appropriate security measures in

place in our physical facilities to protect against the loss, misuse or alteration of information that we

have collected from you at our site.

Important Note

Aranca claims trademark rights to all the trade marks that may be listed by this website, also which

may not be explicitly listed. THESE MARKS ARE NOT TO BE USED WITHOUT THE EXPRESS WRITTEN

PERMISSION OF Aranca. Other trademarks and service marks are the property of their respective

owners.

Aranca may update this policy. We will notify you about significant changes in the way we treat

personal information by placing a prominent notice on our site.

Please see our Terms of Use to understand our policies on the usage of this web site.

By using the Aranca Site, you agree to the collection of information submitted by you, and its

transmittal and storage thereafter as per the terms described in this Privacy Policy.

For questions about copyrights, terms of use, privacy policy or trademarks, please contact us at

privacy@aranca.com
    </div>
  </div>
</div>
