<style type="text/css">
	.hs-form .hs-form-field > label {
	    color: #cccccc;
	    font-weight: 300;
	    font-size: 14px;
	   }
	.my-submit { 
	  color: #FFFFFF; 
	  background-color: #1C4586; 
	  border: 1px solid #130269;
	      padding: 10px 16px;
	    font-size: 18px;
	    line-height: 1.33;
	    border-radius: 6px;
	    font-style: "Roboto", Arial, sans-serif;
	} 
 
	.my-submit:hover, 
	.my-submit:focus, 
	.my-submit:active, 
	.my-submit.active, 
	.open .dropdown-toggle.my-submit { 
	  color: #FFFFFF; 
	  background-color: #416196; 
	  border-color: #130269; 
	}
</style>
<p class="ttmenu__subheadline"><a href="{{siteUrl}}intellectual-property-research/overview#solution">Write to us</a></p>

<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({ 
    css: '',
    portalId: '2270236',
    formId: '93aaa900-0f35-4d83-8c08-8884170952a9',
    submitButtonClass: 'my-submit'
  });
</script>

