<style type="text/css">
  #mobile-menu .fa { color: #b3223c; }
</style>
  <!--Main Menu HTML Code-->
      <nav class="wsmenu clearfix hidden-sm hidden-md hidden-lg" id="mobile-menu">
        <ul class="mobile-sub wsmenu-list">
          <li><a href="{{ siteUrl }}"><img src="{{siteUrl}}assets/images/aranca_logo_214x75.png" alt="Aranca - Global Research Firm"></a></li>
          <li class="ta"><a href="#"><span class="arrow"><img src="/assets/images/icons/ta-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Transaction Advisory Services - Aranca" >&nbsp;&nbsp;Transaction Advisory</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}transaction-advisory/overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}transaction-advisory/overview#solution">Solutions</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>
          <li class="va"><a href="#"><span class="arrow"><img src="/assets/images/icons/va-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Valuation & Advisory Services - Aranca" >&nbsp;&nbsp;Valuation Advisory</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/">Overview</a></li>
                                  <li class="title">Tax Valuation</li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/tax-valuation/409a-valuation">409a</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/tax-valuation/estate-gift-tax-valuations">Estate & Gift Tax</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/tax-valuation/s-corp-election-irc-1374">S-Corp Election</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/tax-valuation/nols-built-in-capital-gains-irc382">NOLs & Built-in Capital Gains</a></li>
                                  <li class="title">Financial Reporting</li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/financial-reporting/purchase-price-allocations-asc-805-ifrs-3">Purchase Price Allocations</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/financial-reporting/impairment-of-goodwill-and-other-intangible-assets">Goodwill Impairment</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/financial-reporting/complex-securities-valuations">Complex Securities Valuations</a></li>
                                  <li class="title">Transaction Services</li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/transaction-services/fairness-opinions">Fairness Opinions</a></li>
                                  <li class="title">IP Valuation</li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="http://www.arancavaluation.com/ip-valuation/overview">Overview</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>
          <li class="br"><a href="#"><span class="arrow"><img src="/assets/images/icons/br-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Business Research Services - Aranca" >&nbsp;&nbsp;Business Research</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}business-research/advisory-services-overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}business-research/advisory-services-overview#sol-port">Solutions</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}business-research/advisory-services-overview#solution">Industries</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>

          <li class="ip"><a href="#"><span class="arrow"><img src="/assets/images/icons/ip-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Intellectual Property Research Services - Aranca" >&nbsp;&nbsp;IP Research</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}intellectual-property-research/overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}intellectual-property-research/overview#sol">Solutions</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}intellectual-property-research/overview#solution">Technologies</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>

          <li class="ir"><a href="#"><span class="arrow"><img src="/assets/images/icons/ir-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Investment Research Services - Aranca">&nbsp;&nbsp;Investment Research</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}investment-research/overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}investment-research/overview#solution">Solutions</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>

          <li class="pr"><a href="#"><span class="arrow" style="font-size: 13px;"><img src="/assets/images/icons/pr-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Procurement Research Services - Aranca" >&nbsp;&nbsp;Procurement Research</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}procurement-research/overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}procurement-research/overview#solution">Solutions</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}procurement-research/overview#framework">Framework</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>


          <li class="pps"><a href="#"><span class="arrow" style="font-size: 13px;"><img src="/assets/images/icons/pps-logo.jpg" width="25px" style="border: 1px solid #ffffff;" alt="Presentations & Publications Support - Aranca" >&nbsp;&nbsp;Presentation/Publication</span></a>
            <div class="megamenu clearfix ">
              <ul>
                  <li>
                  <div class="ttmenu-content">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <ul>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}presentation-and-publication-support/overview">Overview</a></li>
                                  <li class="wsmenu__list__item">&nbsp;<span><i class="wsmenu-arrow fa fa-angle-right"></i></span><a href="{{siteUrl}}presentation-and-publication-support/overview">Solutions</a></li>
                                </ul>
                            </div><!-- end box -->
                        </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
                  </li>
              </ul>
            </div>
            <!-- end megamenu -->
          </li>
          <hr>
          <li><a href="{{siteUrl}}knowledge-library"><i class="fa fa-book"></i>&nbsp;&nbsp;<span class="arrow">Knowledge Library</span></a></li>
          <li><a href="{{siteUrl}}media-room"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;<span class="arrow">Media Room</span></a></li>
          <li><a href="{{siteUrl}}about-us/company-overview"><i class="fa fa-th-large"></i>&nbsp;&nbsp;<span class="arrow">About Us</span></a></li>
          <li><a href="/contact-us"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<span class="arrow">Contact</span></a></li>
        </ul>
      </nav>
  <!--Menu HTML Code--> 