          <!-- services mobile menu item -->
          <li class="hidden-sm hidden-md hidden-lg"><a href="#"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;SERVICES<span class="arrow"></span></a>
            <ul class="wsmenu-submenu">
                <li><a href="#"><i class="fa fa-angle-right"></i>Business Research</a>
                  <ul class="wsmenu-submenu-sub">
                    <li><a href="{{siteUrl}}business-research/advisory-services-overview"><i class="fa fa-angle-right"></i>Overview</a></li>
                    <li><a href="{{siteUrl}}business-research/advisory-services-overview#sol-port"><i class="fa fa-angle-right"></i>Solutions</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Industries</a>
                      <ul class="wsmenu-submenu-sub-sub">
                        <li><a href="{{siteUrl}}business-research/aerospace-and-defense"><i class="fa fa-angle-right"></i>Aerospace and Defense</a></li>
                        <li><a href="{{siteUrl}}business-research/aluminium"><i class="fa fa-angle-right"></i>Aluminium</a></li>
                        <li><a href="{{siteUrl}}business-research/building-materials"><i class="fa fa-angle-right"></i>Building Materials</a></li>
                        <li><a href="{{siteUrl}}business-research/commercial-banking"><i class="fa fa-angle-right"></i>Commercial Banking</a></li>
                        <li><a href="{{siteUrl}}business-research/consumer-appliances"><i class="fa fa-angle-right"></i>Consumer Appliances</a></li>
                        <li><a href="{{siteUrl}}business-research/education"><i class="fa fa-angle-right"></i>Education</a></li>
                        <li><a href="{{siteUrl}}business-research/iron-and-steel"><i class="fa fa-angle-right"></i>Iron and Steel</a></li>
                        <li><a href="{{siteUrl}}business-research/it-hardware"><i class="fa fa-angle-right"></i>IT Hardware</a></li>
                        <li><a href="{{siteUrl}}business-research/life-non-life-insurance"><i class="fa fa-angle-right"></i>Life &amp; Non Life Insurance</a></li>
                        <li><a href="{{siteUrl}}business-research/machinery-instrument"><i class="fa fa-angle-right"></i>Machinery &amp; Instrument</a></li>
                        <li><a href="{{siteUrl}}business-research/personal-home-care"><i class="fa fa-angle-right"></i>Personal Home Care</a></li>
                        <li><a href="{{siteUrl}}business-research/advisory-services-overview#solution"><button class="btn btn-primary small">More Industries</button></a></li>
                      </ul>
                    </li>
                  </ul>
                </li><!-- end BR -->
                <li><a href="#"><i class="fa fa-angle-right"></i>IP Research</a>
                  <ul class="wsmenu-submenu-sub">
                    <li><a href="{{siteUrl}}intellectual-property-research/overview"><i class="fa fa-angle-right"></i>Overview</a></li>
                    <li><a href="{{siteUrl}}intellectual-property-research/overview#sol"><i class="fa fa-angle-right"></i>Solutions</a>
                      <ul class="wsmenu-submenu-sub-sub">
                        <li><a href="{{siteUrl}}intellectual-property-research/ip-strategy"><i class="fa fa-angle-right"></i>IP Strategy</a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/litigation-support"><i class="fa fa-angle-right"></i>Litigation Support</a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/technology-intelligence"><i class="fa fa-angle-right"></i>Technology Intelligence</a></li>
                      </ul>
                    </li>
                    <li><a href="{{siteUrl}}intellectual-property-research/overview#solution"><i class="fa fa-angle-right"></i>Technologies</a>
                      <ul class="wsmenu-submenu-sub-sub">
                        <li><a href="{{siteUrl}}intellectual-property-research/automotive"><i class="fa fa-angle-right"></i>Automotive</a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/biotechnology"><i class="fa fa-angle-right"></i>Biotechnology </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/chemicals"><i class="fa fa-angle-right"></i>Chemicals </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/communication-network"><i class="fa fa-angle-right"></i>Communication &amp; Network </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/diagnostics"><i class="fa fa-angle-right"></i>Diagnostics </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/electronics"><i class="fa fa-angle-right"></i>Electronics </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/engineering-plastics-and-polymers"><i class="fa fa-angle-right"></i>Engineering Plastics and Polymers </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/food-beverage"><i class="fa fa-angle-right"></i>Food & Beverage </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/home-care"><i class="fa fa-angle-right"></i>Home Care </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/industrial-manufacturing"><i class="fa fa-angle-right"></i>Industrial Manufacturing  </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/medical-devices"><i class="fa fa-angle-right"></i>Medical Devices </a></li>
                        <li><a href="{{siteUrl}}intellectual-property-research/overview#solution"><button class="btn btn-primary small">More Technologies</button></a></li>
                      </ul>
                    </li>
                  </ul>
                </li><!-- end IP -->
                <li><a href="#"><i class="fa fa-angle-right"></i>Investment Research</a>
                  <ul class="wsmenu-submenu-sub">
                    <li><a href="{{siteUrl}}investment-research/overview"><i class="fa fa-angle-right"></i>Overview</a></li>
                    <li><a href="{{siteUrl}}investment-research/overview#solution"><i class="fa fa-angle-right"></i>Solutions</a>
                    </li>
                  </ul>
                </li><!-- end IR -->
                <li><a href="#"><i class="fa fa-angle-right"></i>Procurement Research</a>
                  <ul class="wsmenu-submenu-sub">
                    <li><a href="{{siteUrl}}procurement-research/overview"><i class="fa fa-angle-right"></i>Overview</a></li>
                    <li><a href="{{siteUrl}}procurement-research/overview#solution"><i class="fa fa-angle-right"></i>Solutions</a></li>
                    <li><a href="{{siteUrl}}procurement-research/overview#framework"><i class="fa fa-angle-right"></i>Frameworks</a></li>
                  </ul>
                </li><!-- end Procurement -->
                <li><a href="#"><i class="fa fa-angle-right"></i>Valuation & Advisory</a>
                  <ul class="wsmenu-submenu-sub">
                    <li><a href="http://www.arancavaluation.com/"><i class="fa fa-angle-right"></i>Overview</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Solutions</a>
                      <ul class="wsmenu-submenu-sub-sub">
                        <li class="title">Tax Valuation</li>
                        <li><a href="http://www.arancavaluation.com/tax-valuation/409a-valuation"><i class="fa fa-angle-right"></i>409a</a></li>
                        <li><a href="http://www.arancavaluation.com/tax-valuation/estate-gift-tax-valuations"><i class="fa fa-angle-right"></i>Estate & Gift Tax</a></li>
                        <li><a href="http://www.arancavaluation.com/tax-valuation/s-corp-election-irc-1374"><i class="fa fa-angle-right"></i>S-Corp Election</a></li>
                        <li><a href="http://www.arancavaluation.com/tax-valuation/nols-built-in-capital-gains-irc382"><i class="fa fa-angle-right"></i>NOLs & Built-in Capital Gains</a></li>

                        <li class="title">Financial Reporting</li>
                        <li><a href="http://www.arancavaluation.com/financial-reporting/purchase-price-allocations-asc-805-ifrs-3"><i class="fa fa-angle-right"></i>Purchase Price Allocations</a></li>
                        <li><a href="http://www.arancavaluation.com/financial-reporting/impairment-of-goodwill-and-other-intangible-assets"><i class="fa fa-angle-right"></i>Goodwill Impairment</a></li>
                        <li><a href="http://www.arancavaluation.com/financial-reporting/complex-securities-valuations"><i class="fa fa-angle-right"></i>Complex Securities Valuations</a></li>

                        <li class="title">Transaction Services</li>
                        <li><a href="http://www.arancavaluation.com/transaction-services/fairness-opinions"><i class="fa fa-angle-right"></i>Fairness Opinions</a></li>

                        <li class="title">IP Valuation</li>
                        <li><a href="http://www.arancavaluation.com/ip-valuation/overview"><i class="fa fa-angle-right"></i>Overview</a></li>
                      </ul>
                    </li>
                  </ul>
                </li><!-- end Procurement -->
              </ul>
          </li>

          <!-- end services mobile menu item -->