{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set asxTabsCss %}
  .asx-tabs {
    padding: 30px 0;
  }
  .stats-blok {
    background-color: #ffffff;
  }

  .stats-blok__headline--main {
    margin-bottom: 20px;
  }
  .stats-blok__headline {
    font-size: 30px;
    color: #59656B;
    font-weight: 600;
    text-align: center;
  }
  .stats-blok__subtext {
    font-size: 18px;
    text-align: center;
    color: {{ ttgrey }};
    font-weight: 500;
  }
  .stats-blok__border {
    width: 15%;
    border: 2px solid #034883;
  }
  .stats-blok__headline--col {
    text-align: center;
  }
  .stats-blok__stat {
    font-size: 24px;
    color: {{ttOrange}};
  }

  .stats-blok__stat__content {
    font-size: 18px;
    color: {{ttgrey}};
  }

  .asx-tabs__subheadline {
    font-size: 18px;
    color: #A41038;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .asx-tabs__headline {
    font-size: 2em;
    text-align: center;
    display: none;
  }

  .asx-tabs__list {
    margin-bottom: 20px;
    list-style: none;
  }

  .asx-tabs__subheadline__item {
    color: #646564;
    margin-bottom: 10px;
    border-bottom: 1px dashed #DDDDDD;
    padding-bottom: 5px;
  }
/*
  .asx-tabs__subheadline__item::before {
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
   }*/

  .asx-tabs__tablist__item {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
  }

  #asx-tabs {
    padding-top: 30px;
  }

{% endset %}

{% set asxTabsJs %}

$(document).ready(function () {

      $("#asx-tabs").zozoTabs({
          theme: "red",
          style: "underlined",
          orientation: "horizontal",
          position: "top-center",
          size: "xlarge",
          animation: {
            easing: "easeInOutExpo",
            duration: 400,
            effects: "slideH"
          },
      });
  });

{% endset %}

{% includeCss asxTabsCss %}
{% includeJs asxTabsJs %}

{{ entry.tfilterRichtext }}


