{% includeJsFile "/assets/js/jquery.matchHeight-min.js" %}

{% set csListJs %}

$('.cs-list__item').matchHeight({});

{% endset %}

{% set csListCss %}
  .cs-list {
    padding: 30px 0;
  }

  .cs-list__item {
    border: 1px solid #3CA7D7;
    padding: 10px 20px;
  }

  .cs-list__title {
    color: #3CA7D7;
  }

  .cs-list__excerpt {
    color: #1C7197;
  }

.cs-modal__block {
  padding: 20px 0;
}

.cs-modal__blok--headline {
    color: {{ ttOrange }};
}

.cs-modal_sol--bk {
  background: #F3F3F3;
  padding: 20px 0;
}

.cs-modal__sol--headline {
  text-align: center;
}
{% endset %}

{% includeCss csListCss %}
{% includeJs csListJs %}

<section class="container-fluid cs-list--intro">
  <div class="row">
    <div class="container">
      <div class="row">
          <h2 class="lede__headline">Case Studies</h2>
          <p class="lede__subheadline"></p>
          <hr class="lede__border">
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>

<section class="cs-list container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        {% for block in entry.caseStudyEntries %}
        <div class="col-sm-6">

            <div class="cs-list__item">
              <h3 class="cs-list__title">{{block.title}}</h3>
              {% for blk in block.csOverview.limit(1) %}
                <p class="cs-list__excerpt">{{blk.body}}</p>
              {% endfor %}
              <p>
                <a href="{{block.url}}" class="case-studies__link"
                data-toggle="modal" data-target=".modal-1">Read More</a>
              </p>
            </div>

        </div> <!--  -->
        {% endfor %}
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end row -->
</section>

<!-- modal -->
<div id="fsModal"
     class="modal-1 modal animated zoomIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel"
            class="modal-title">
          Case Study
        </h1>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="cs-modal modal-body">
        <div class="row">
          <div class="col-sm-12 cs-modal__headmast">
            <img src="/assets/images/cs-banner-bkg.jpg" alt="" />
            <h3 class="cs-modal__headmast--headline"> </h3>
            <p class="cs-modal__headmast--download"> </p>
          </div><!-- end: col-12 -->
        </div><!-- end: row -->



        <div class="container cs-modal__block">
          <div class="row">
            <div class="col-sm-4 cs-modal__block--col">
              <h3 class="cs-modal__blok--headline">BACKGROUND</h3>
              <div class="cs-modal__blok--content">
                <p>To support their planning process, a leading SoC company engaged Aranca to analyse the market for ARM and X86 processors</p>
              </div>
            </div><!-- end: col-4 -->

            <div class="col-sm-4 cs-modal__block--col">
              <h3 class="cs-modal__blok--headline">OUR SOLUTION</h3>
              <div class="cs-modal__blok--content">
                <p>We delivered an in-depth analysis of the market dynamics, value chain, profit pools and technology trends in different applications</p>
              </div>
            </div><!-- end: col-4 -->

            <div class="col-sm-4 cs-modal__block--col">
              <h3 class="cs-modal__blok--headline">RESULTS</h3>
              <div class="cs-modal__blok--content">
                <p>Our analysis helped the client to assess its competitive position in different appliactions and define specific three-year growth plans</p>
              </div>
            </div><!-- end: col-4 -->
          </div><!-- end: row -->
        </div><!-- end: container -->

        <div class="container-fluid cs-modal_sol--bk">
          <div class="row">
            <div class="container">
            <div class="row">
            <div class="col-sm-3 cs-modal__sol">
              <h3 class="cs-modal__sol--headline">Ideate</h3>
              <div class="cs-modal__sol--content">
                <p>Shortlist applications in computing, consumer and industrial markets<br/><br/>Define analytical framework and blank slides for data collation/synthesis </p>
              </div>
            </div><!-- end: col-3 -->

            <div class="col-sm-3 cs-modal__sol">
              <h3 class="cs-modal__sol--headline">Desk Research</h3>
              <div class="cs-modal__sol--content">
                <p>Shortlist applications in computing, consumer and industrial markets<br/><br/>Define analytical framework and blank slides for data collation/synthesis </p>
              </div>
            </div><!-- end: col-3 -->

            <div class="col-sm-3 cs-modal__sol">
              <h3 class="cs-modal__sol--headline">Expert Interviews</h3>
              <div class="cs-modal__sol--content">
                <p>Shortlist applications in computing, consumer and industrial markets<br/><br/>Define analytical framework and blank slides for data collation/synthesis </p>
              </div>
            </div><!-- end: col-3 -->

            <div class="col-sm-3 cs-modal__sol">
              <h3 class="cs-modal__sol--headline">Analysis</h3>
              <div class="cs-modal__sol--content">
                <p>Shortlist applications in computing, consumer and industrial markets<br/><br/>Define analytical framework and blank slides for data collation/synthesis </p>
              </div>
            </div><!-- end: col-3 -->
          </div><!-- end: row -->
          </div><!-- end: container -->
          </div><!-- end: row -->
        </div><!-- end: container-fluid -->

        <div class="row">
          <div class="col-sm-12 cs-modal__img">
            <img src="/assets/images/cs-graph.jpg" alt="" />
          </div><!-- end: col-12 -->
        </div><!-- end: row -->


      </div> <!-- modal-body -->

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary"
                data-dismiss="modal">
          close
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->
