{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set svcClientListCss %}
  .cl-list {
    padding: 20px 0 20px 0;
    box-shadow: 0 -3px 6px #e3e3e3;
  }

  .cl-list__slider {

    {% if padding is defined %}
      padding: {{padding}}
    {% endif %}
  }

  .cl-list__slider__item {
     padding-right:30px;
  }

  .cl-list__subheadline {
    font-size: 1.2em;
  }
  .lede__headline {
  padding-top: 40px;
  }

{% endset %}

{% set svcClientListJs %}
    $('.slides').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
        variableWidth: true,
    });
{% endset %}

{% includeCss svcClientListCss %}
{% includeJs svcClientListJs %}

<section class="cl-list container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
          {% for block in entry.clientListIntro %}
          <h2 class="lede__headline text-center">{{ block.headline }}</h2>
          <p class="lede__subheadline text-center">{{ block.subHeadline}}</p>
          <hr class="lede__border">
          {% endfor %}

          {% if entry.clientLogoList | length %}
              <div class="row cl-list__slider">
                <ul class="slides">
                {% for asset in entry.clientLogoList %}
                  <li>
                    <img src="{{asset.url}}" alt="{{asset.altTag}}"
                    class="img-responsive cl-list__slider__item">
                  </li>
                {% endfor %}
                </ul>
              </div>
          {% endif %}
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
