{% set svcClientListCss %}

  .cl-list__subheadline {
    font-size: 1.2em;
  }

{% endset %}

{% includeCss svcClientListCss %}

<section class="cl-list container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
          {% for block in entry.clientListIntro %}
          <h2 class="cl-list__headline text-center">{{ block.headline }}</h2>
          <p class="cl-list__subheadline text-center">{{ block.subHeadline}}</p>
          {% endfor %}

          {% if entry.clientLogoList | length %}
              {% for asset in entry.clientLogoList %}
                  <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                       <img src="http://placehold.it/350x150" class="img-responsive">
                    </a>
                  </div>
              {% endfor %}
          {% endif %}
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
