{% set crgCSS  %}
.crg {
  padding: 30px 0;
}
.crg__item {
  padding-bottom: 20px;
  padding-top: 10px;
}

.crg__item-content p {
  font-size: 1.2em;
  color: #8B8D8F;
  font-weight: 300;
}


.crg__item-headline {
  padding-left: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #A41034;
  font-weight: 300;
}

{% endset %}
{% includeCss crgCSS %}

<section class="container-fluid crg">
  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 crg__headline-main text-center">
          <h2 class="lede__headline">Our Advisory Track Record</h2>
          <p class="lede__subheadline">
          </p>
          <hr class="lede__border">
        </div>
      </div>
      
      <div class="row crg__item" style="border-bottom: 1px solid #ECE9E9;">
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="http://arancavaluation.com/assets/images/capability.jpg" class="img-center" alt="crg-icon">
        </div>
        <div class="col-sm-5" style="padding-left: 40px;">
          <h3 class="crg__item-headline">Capabilities</h3>
            <div class="col-sm-12 crg__item-content">
              <p><strong>1000+</strong> advisory clients</p>
              <p><strong>5000+</strong> advisory assignments</p>
            </div>
        </div>
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="http://arancavaluation.com/assets/images/industry-expertise.jpg" class="img-center" alt="crg-icon">
        </div>
        <div class="col-sm-5" style="padding-left: 40px;">
          <h3 class="crg__item-headline">Industry Expertise</h3>
            <div class="col-sm-12 crg__item-content">
              <p><strong>400+</strong> strong industry sector focused analyst teams</p>
              <p><strong>2000+</strong> products & services covered by our analysts</p>
            </div>
        </div>
      </div>
      
      <div class="row crg__item">
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="http://arancavaluation.com/assets/images/global-scale.jpg" class="img-center" alt="crg-icon">
        </div>
        <div class="col-sm-5" style="padding-left: 40px;">
          <h3 class="crg__item-headline">Global Presence</h3>
            <div class="col-sm-12 crg__item-content">
              <p>Global Investor and Partner Reach</p>
              <p><strong>6</strong> strategically located offices across India, China, Middle East, Europe and the US</p>
            </div>
        </div>
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="http://arancavaluation.com/assets/images/tech-knowledge.jpg" class="img-center" alt="crg-icon">
        </div>
        <div class="col-sm-5" style="padding-left: 40px;">
          <h3 class="crg__item-headline">Technology Knowledge</h3>
            <div class="col-sm-12 crg__item-content">
             <p><strong>40+</strong> team of IP experts with deep domain understanding</p>
             <p>Advised <strong>500+</strong> clients on <strong>250+</strong> technology domains</p>
            </div>
        </div>
      </div>

    </div><!-- end container -->
  </div><!-- end row -->
</section>
