

{% set csModalJs %}
;(function ( $, window, document, undefined ) {

    $(".case-studies__link-{{ modalId }}").click(function(e){
      e.preventDefault();
      console.log('show modal');
      $("#cs-modal-{{ modalId}}").data("FSNav").showNav();
    });

    jQuery("#cs-modal-{{ modalId}}").FSNav({
      animation: "dropdown"
    });


})( jQuery, window, document );

{% endset %}

{% includeCss csModalCss %}
{% includeJs csModalJs %}

<!-- modal -->
<div id="cs-modal-{{ modalId }}" class="full-screen-nav">
  <span class="full-screen-nav-close"></span>
  <div class="full-screen-nav-content">
    <div class="full-screen-nav-general">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel"
            class="modal-title">
          Case Study
        </h1>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="cs-modal modal-body">
        <div class="row">
          <div class="col-sm-12 cs-modal__headmast">
            <h3 class="cs-modal__headmast--headline">{{ csModalHeadline }}</h3>
            <p class="cs-modal__headmast--download"> </p>
          </div><!-- end: col-12 -->
        </div><!-- end: row -->



        <div class="container cs-modal__block">
          <div class="row">
            {% if csModalBody1 | length%}
              {{ csModalBody1 }}
            {% endif %}
          </div><!-- end: row -->
        </div><!-- end: container -->

        <div class="container-fluid cs-modal_sol--bk">
          <div class="row">
            <div class="container">
            <div class="row">
              {% if csModalBody2 | length%}
                {{ csModalBody2 }}
              {% endif %}
          </div><!-- end: row -->
          </div><!-- end: container -->
          </div><!-- end: row -->
        </div><!-- end: container-fluid -->

        {% if csModalChart | length%}
        <div class="row">
          <div class="col-sm-12 cs-modal__img">
            <img src="/assets/images/cs-graph.jpg" alt="" class="img-responsive" />
          </div><!-- end: col-12 -->
        </div><!-- end: row -->
        {% endif %}



      </div> <!-- modal-body -->


    </div>
  </div>
</div>
<!-- modal -->
