<section class="container-fluid cust-blok">

  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="cust-blok__headline">We have trusted by not only our Clients but stakeholders
          across their business ecosystem</h2>
          <p class="cust-blok__subheadline">Our valuation team understands the nuances of diverse industry sectors, value chains and business drivers as well as complex capital structures</p>
        </div> <!-- col-sm-12 -->
      </div> <!-- end row  -->

      <div class="row">

        <div class="col-sm-3">
          <h3 class="cust-blok__headline--small">Law Firms</h3>
          <div class="cust-blok__content">
            <p>Significant part of our new client wins are through referrals from attorneys, partners of leading law firms</p>
          </div>
        </div>

        <div class="col-sm-3">
          <h3 class="cust-blok__headline--small">Audit Firms</h3>
          <div class="cust-blok__content">
            <p>All major firms including Big 4 have reviewed and consistently accepted our valuation reports</p>
          </div>
        </div>

        <div class="col-sm-3">
          <h3 class="cust-blok__headline--small">Investors</h3>
          <div class="cust-blok__content">
            <p>Aranca has emerged preferred valuation partner for some of top VC and PE firms</p>
          </div>
        </div>

        <div class="col-sm-3">
          <h3 class="cust-blok__headline--small">I-Banks, Advisors</h3>
          <div class="cust-blok__content">
            <p>Often work closely with Aranca on valuation matters across diverse client situations</p>
          </div>
        </div>

      </div><!-- end row -->

    </div><!-- end container -->
  </div><!-- end row -->
</section>
