{% set featcaseCss %}
  .feat-cs {
    background-color:  {{ bgBlue }};
    color: {{ ttPrimary }};
    padding: 50px 0;
    margin: 30px 0;
  }
  .feat-cs__main {
    text-align: center;
    text-transform: uppercase;
  }
  .feat-cs__headline {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-bottom: 10px;
    line-height: 40px;
  }
  .feat-cs__summary {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  }
{% endset %}

{% includeCss featcaseCss %}

<section class="feat-cs container-fluid">
  <div class="row">
    <div class="container feat-cs__main" >
      <img class="feat-cs__icon" src="http://loremicon.com/files/uploads/line/png/32/notebook_32px.png" alt="featured case study">
      <h2 class="feat-cs__headline">Featured Case Study</h2>
      <p class="feat-cs__summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, assumenda!</p>
      <p class="feat-cs__readmore">Read Story</p>
    </div>
  </div>
</section>
