
  <div class="slide-content">
    
    <h4 class="slide-content__headline text-center">Analytical Frameworks Used</h4>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="slide-content__inner">
          <h3 class="slide-content__inner__headline">Technology Landscape Analysis</h3>
          <p class="slide-content__inner__content">Patent / non-patent literature survey to analyze filling trends, competition, key markets, emerging technologies/companies, key inventors, etc.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="slide-content__inner">
          <h3 class="slide-content__inner__headline">Patent Portfolio Analysis</h3>
          <p class="slide-content__inner__content">Deep dive analysis of patent portfolio to assess strengths / weaknesses, licensing opportunities, abandonment candidates and position vis-a-vis technology domain (leader / lagging).</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="slide-content__inner">
          <h3 class="slide-content__inner__headline">White Space Analysis</h3>
          <p class="slide-content__inner__content">'Problem vs solution' analysis of technology domain to identify unmet problems, key challenges, technology gaps and patenting opportunities.</p>
        </div>
      </div>
  </div><!-- end row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="slide-content__inner">
        <h3 class="slide-content__inner__headline">Portfolio Benchmarking</h3>
        <p class="slide-content__inner__content">Comparison of patent portfolio vis-a-vis peers to analyze relative strengths or weakness, IP focus of key players and potential threats from main competitors.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="slide-content__inner">
        <h3 class="slide-content__inner__headline">Infringement Analysis</h3>
        <p class="slide-content__inner__content">Identify infringers for the identified patents through a thorough 'Target Scouting' analysis and detailed EoU analysis.</p>
      </div>
    </div>
  </div><!-- end row -->