
{% set fullCtaACSS %}

.full-cta-a {
  background: url('/assets/images/full-cta-a-bkg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 276px;
}

.full-cta-a__content {
  margin-top: 110px;
}

.full-cta-a__headline {
  color: white;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.full-cta-a__body {
  border: 2px solid white;
  padding: 10px;
  text-transform: uppercase;
}

.full-cta-a__body > a {
  color: white;
}


{% endset %}

{% includeCss fullCtaACSS %}

<section class="container-fluid full-cta-a">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full-cta-a__content">
            <h3 class="full-cta-a__headline text-center">Help is just a call away</h3>
            <p class="text-center">
            <button data-toggle="modal" data-target=".inq-modal" type="button" class="btn btn-default btn-lg btn-block">
              <i class="fa fa-envelope"></i>  &nbsp;call us on or write to us at info@aranca.com
            </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
