
{# logic for getting cta content and image #}

{% set callText = '' %}
{% set callBanner = '' %}

{% for call in servicesCta.callToAction %}
  {% for cat in call.ctaCategory %}

    {% if cat.slug == entry.servicesCategory.first().slug %}
      {% set callText = call.ctaRichtext %}
      {% set callBanner = call.ctaBanner.first() %}
    {% endif %}

  {% endfor %}
{% endfor %}

{# endlogic #}


{% set fullCtaACSS %}

.full-cta-a {
  background: url({{ callBanner.url }}) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 276px;
}



.full-cta-a__content {
  transform: translate(0, 60%);
}

.full-cta-a__headline {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.full-cta-a__body {
  border: 2px solid white;
  padding: 10px;
  text-transform: uppercase;
}

.full-cta-a__body > a {
  color: white;
}

.call-to-action {
  background-color: #3498db;
  background-image: -webkit-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 10px 60px;
  border: none;
  box-shadow: 1px 2px 6px #256498;
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 500;
}


{% endset %}

{% set fullCtaAJs %}

  (function ( $, window, document, undefined ) {
    $(".call-to-action").click(function(e){
      e.preventDefault();
      console.log('show modal');
      $("#nav9").data("FSNav").showNav();
    });
  }( jQuery, window, document ));
{% endset %}

{% includeCss fullCtaACSS %}
{% includeJs fullCtaAJs %}
<section class="container-fluid full-cta-a">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full-cta-a__content">
            <h3 class="full-cta-a__headline text-center">{{ callText }}</h3>
            <p class="text-center">
            <button type="button" class="call-to-action">
              <i class="fa fa-envelope"></i>  Write To Us
            </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{# Get the category that this entry belongs to #}
{% set entryCategory = entry.servicesCategory.first() %}

{% if entryCategory is defined %}

{% switch entryCategory.slug %}
  {% case 'business-research' %}
    {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/0017/d-ext-0001' %}
  {% case 'procurement-research' %}
    {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/0020/d-ext-0001' %}
  {% case 'investment-research' %}
    {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/001d/d-ext-0001' %}
  {% case 'ip-research' %}
    {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/001e/d-ext-0001' %}
  {% default %}
    {% set formActionUrl = 'invalid' %}
{% endswitch %}

{% include '_components/global/_cta-form'
  with {  'formtype': 'cta', 'formAction': formActionUrl } %}
{% endif %}

