{% set vfilterCSS %}

{% endset %}

<section class="intro-single container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="intro-single__headline text-center">Our Work in the Beverages Sector</h2>
          <p class="intro-single__subheadline">
            We have executed over 150 assignments in the beverages sector spanning nearly 40 products and involving analysis of market and consumer dynamics in over 20 countries
          </p>
          <div class="track-rec">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="track-rec__headline">
                  Client questions that we answer…
                </h4>
                <ul class="track-rec__list">
                  <li class="track-rec__list__item">Opportunities in emerging markets?</li>
                  <li class="track-rec__list__item">Diversification into new products?</li>
                  <li class="track-rec__list__item">Defining go-to-market strategies?</li>
                  <li class="track-rec__list__item">Consumer needs and social trends?</li>
                  <li class="track-rec__list__item">Competitor performance and practices?</li>
                  <li class="track-rec__list__item">Business and product innovation?</li>
                  <li class="track-rec__list__item">How to target low-income consumers?</li>
                  <li class="track-rec__list__item">Identifying suitable acquisition candidates?</li>
                </ul>
              </div>
              <div class="col-sm-7">
                <h4 class="track-rec__headline">
                  ...across product categories
                </h4>

                <div class="row">
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">Lager beer</li>
                      <li class="product-list__item">Ale</li>
                      <li class="product-list__item">Sorghum</li>
                      <li class="product-list__item">Weissbier</li>
                      <li class="product-list__item">Low Alcohol Beer</li>
                      <li class="product-list__item">Stout</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">Brandy and Cognac</li>
                      <li class="product-list__item">Liqueurs</li>
                      <li class="product-list__item">Rum</li>
                      <li class="product-list__item">Tequila</li>
                      <li class="product-list__item">Whiskey</li>
                      <li class="product-list__item">White Spirits</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">Fortified Wine</li>
                      <li class="product-list__item">Vermouth</li>
                      <li class="product-list__item">Non Grape Wine</li>
                      <li class="product-list__item">Sparkling Wine</li>
                      <li class="product-list__item">Still Light Grape Wine</li>
                      <li class="product-list__item">Champagne</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                </div><!-- end row -->
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">Soft Drinks</li>
                      <li class="product-list__item">Fruit juices</li>
                      <li class="product-list__item">Nectars</li>
                      <li class="product-list__item">Fruit Powders</li>
                      <li class="product-list__item">Squash/Syrups</li>
                      <li class="product-list__item">Sports drinks</li>
                      <li class="product-list__item">Energy Drinks</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">High-Strength Premixes</li>
                      <li class="product-list__item">Malt-based RTDs</li>
                      <li class="product-list__item">Spirit-based RTDs</li>
                      <li class="product-list__item">Wine-based RTDs</li>
                      <li class="product-list__item">Tea</li>
                      <li class="product-list__item">Coffee</li>
                      <li class="product-list__item">RTD stimulants</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                  <div class="col-sm-4">
                    <ul class="product-list">
                      <li class="product-list__item">White Milk</li>
                      <li class="product-list__item">Fermented Milk</li>
                      <li class="product-list__item">Yoghurt</li>
                      <li class="product-list__item">Flavored Milk</li>
                      <li class="product-list__item">Soy Milk</li>
                      <li class="product-list__item">Evaporated Milk</li>
                      <li class="product-list__item">Milk Alternatives</li>
                    </ul>
                  </div><!-- end col-sm-4 -->
                </div><!-- end row -->

              </div><!-- end col-sm-12 -->
            </div><!-- end row -->
          </div><!-- end intro-single__content -->
        </div><!-- end col-sm-12 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
