{% includeJsFile "/assets/js/slick.min.js"  %}
{% includeCssFile "/assets/css/slick.css"  %}

{% set slideCss %}
.deck-container {
  color: #757272;
  background: url('/assets/images/backgrounds/tech-analysis-bkg.jpg') no-repeat center center #dcdcdc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  overflow:hidden;
  font-weight: 300;
}

.deck-container a.navigate {
  color: white;
  font-size: 1.2em;
}

.slide-frame__opener-tagline {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0;
}

.slide-frame__opener-tagline span {
  color: #234e71;
}

.slide-frame__opener-headline {
  font-size: 4.5em;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 0;
}

.step-0__slide-frame {
  padding-top: 40px;
  /*min-height: 500px;*/
}

.slide-content__nav-block--item {
  background: #1C4474;
  padding: 0.5em;
  font-size: 1em;
  transition: all 0.3s;
}

.slide-content__nav-block--item:hover {
  background: #366194;
}

.slide-content__nav-block--item > a {
  color: white;
  display: block;
}

.slide-details {
  padding-top: 20px;
  position: relative;
}

.slide-details__next {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #7F96AC;
  padding: 1em;
  position: absolute;
  right: 0;
  transition: 0.3s all;
}

.slide-details__next > i {
  position: relative;
    top: -5px;
    left: 2px;
}

.slide-details__next:hover {
  background: #98acbf;
}

a.slide-details__back.navigate, a.navigate.back {
  color: #234e71;
}

.slide-details__questions {
  
}

.slide-content-opener__headline {
  margin-bottom: 15px;
}

.slide-frame__tagline {
  font-size: 1.2em;
}

.slide-details__questions__headline {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 30px;
}

.slide-details__questions__list-item {
  font-size: 1em;
  list-style-image: url('/assets/images/icons/cmd-bullet.png');
}

.slide-content__inner__content {
  font-size: 0.9em;
}

.slide-content__inner__headline {
  font-size: 1.2em;
  font-weight: 300;
}

.slide-content__headline {
  margin-top: 20px;
  font-size: 2em;
  font-weight: 100;
}

.inline {
  display: inline;
  float: left;
  margin-left: -50px;
}

{% endset %}

{% set slideJs %}
  $(document).ready(function(){
    $('.deck').slick({
      arrows: false,
      fade: true,
    });

    $('.step a.navigate').on('click', function(evt) {
      console.log('go to next');
      evt.preventDefault();
      var target = $(this).data('href');
      $('.deck').slick('slickGoTo', parseInt(target));
    });

  });
{% endset %}

{% includeCss slideCss %}
{% includeJs slideJs %}

<div class="container-fluid deck-container">
  <div class="row">

    <div class="col-sm-12 deck">
      
      {# slide steps start here #}

      {# slide opener #}
      <div class="step step-0">

        <div class="row">

          <div class="col-sm-5">
            <!-- white space only -->
          </div><!-- end col-sm-5 -->
          
          <div class="col-sm-7 step-0__slide-frame">
            <header>
              <img class="inline" src="/assets/images/icons/chart.png">
              <h5 class="slide-frame__opener-tagline">explore <span>our analytics</span></h5>
              <h3 class="slide-frame__opener-headline">framework</h3>
            </header>
            <div class="slide-content">
              
              <h4 class="slide-content-opener__headline">I am looking for...</h4>
              
              <div class="slide-content__nav-block">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="slide-content__nav-block--item">
                      <a href="javascript:void(0)" class="navigate" data-href="1">opportunity assessment</a>
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="slide-content__nav-block--item">
                      <a href="javascript:void(0)"  class="navigate" data-href="2">competitive intelligence</a>
                    </p>
                  </div>
                </div><!-- end row -->
                <div class="row">
                  <div class="col-sm-6">
                    <p class="slide-content__nav-block--item">
                      <a href="javascript:void(0)"  class="navigate" data-href="3">diversification planning</a>
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="slide-content__nav-block--item">
                      <a href="javascript:void(0)"  class="navigate" data-href="4">mergers and acquisitions</a>
                    </p>
                  </div>
                </div><!-- end row -->
                
                
                <p class="slide-content__nav-block--item text-center">
                  <a href="javascript:void(0)"  class="navigate" data-href="5">Licensing Partners</a>
                </p>
              </div>

            </div><!-- end slide-content -->
          </div><!-- end col-sm-7 -->

        </div><!-- end row -->
        
      </div><!-- end step step-0 -->
      
      <div class="step step-1">

        <div class="row">
          
          <div class="col-sm-10 col-sm-offset-1 slide-details step-1__slide-frame">
          
            <a href="javascript:void(0)" class="slide-details__next navigate" data-href="2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <header class="slide-details__questions">
              <h3 class="slide-details__questions__headline">Opportunity Assessment</h3>
              <h5 class="slide-frame__tagline">We will answer questions like</span></h5>
              <ul class="slide-details__questions__list">
                <li class="slide-details__questions__list-item">
                  Where is the technology space moving?
                </li>
                <li class="slide-details__questions__list-item">
                  Where are the gaps in technology space?
                </li>
                <li class="slide-details__questions__list-item">
                  What are the range of solutions available for incorportating into your product?
                </li>
              </ul>
              </header>

              {% include '_components/services/_frameworks-content' %}

              <a href="javascript:void(0)" class="slide-details__back navigate" data-href="0"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <a href="javascript:void(0)" class="navigate back" data-href="0">Go Back</a>
            </div><!-- end slide-content -->
          </div><!-- end col-sm-12 -->

        </div><!-- end row -->
        
      </div><!-- end step step-1 -->

      <div class="step step-2">

        <div class="row">
          
          <div class="col-sm-10 col-sm-offset-1 slide-details step-1__slide-frame">
            <a href="javascript:void(0)" class="slide-details__next navigate" data-href="3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <header class="slide-details__questions">
              <h3 class="slide-details__questions__headline">Competitive Intelligence</h3>
              <h5 class="slide-frame__tagline">We will answer questions like</span></h5>
              <ul class="slide-details__questions__list">
                <li class="slide-details__questions__list-item">
                  Who are the key competitors and where are they filing patents?
                </li>
                <li class="slide-details__questions__list-item">
                  SWOT analysis of competitors' technology?
                </li>
                <li class="slide-details__questions__list-item">
                  Which are the key patents in the domain?
                </li>
              </ul>
              </header>

              {% include '_components/services/_frameworks-content' %}


              <a href="javascript:void(0)" class="slide-details__back navigate" data-href="0"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <a href="javascript:void(0)" class="navigate back" data-href="0">Go Back</a>
            </div><!-- end slide-content -->
          </div><!-- end col-sm-12 -->

        </div><!-- end row -->
        
      </div><!-- end step step-2 -->

      <div class="step step-3">

        <div class="row">
          
          <div class="col-sm-10 col-sm-offset-1 slide-details step-1__slide-frame">
            <a href="javascript:void(0)" class="slide-details__next navigate" data-href="4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <header class="slide-details__questions">
              <h3 class="slide-details__questions__headline">Diversification Planning</h3>
              <h5 class="slide-frame__tagline">We will answer questions like</span></h5>
              <ul class="slide-details__questions__list">
                <li class="slide-details__questions__list-item">
                  What type of technologies are already available?
                </li>
                <li class="slide-details__questions__list-item">
                  Patenting activity? Is the domain evolving or stagnating?
                </li>
                <li class="slide-details__questions__list-item">
                  Who are the key players? Which are the key markets?
                </li>
              </ul>
              </header>

              {% include '_components/services/_frameworks-content' %}


              <a href="javascript:void(0)" class="slide-details__back navigate" data-href="0"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <a href="javascript:void(0)" class="navigate back" data-href="0">Go Back</a>
            </div><!-- end slide-content -->
          </div><!-- end col-sm-12 -->

        </div><!-- end row -->
        
      </div><!-- end step step-3 -->

      <div class="step step-4">

        <div class="row">
          
          <div class="col-sm-10 col-sm-offset-1 slide-details step-1__slide-frame">
            <a href="javascript:void(0)" class="slide-details__next navigate" data-href="5"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <header class="slide-details__questions">
              <h3 class="slide-details__questions__headline">Mergers & Acquisition</h3>
              <h5 class="slide-frame__tagline">We will answer questions like</span></h5>
              <ul class="slide-details__questions__list">
                <li class="slide-details__questions__list-item">
                  Which are the emerging technologies?
                </li>
                <li class="slide-details__questions__list-item">
                  Which are the emerging companies?
                </li>
                <li class="slide-details__questions__list-item">
                  Potential acquisition candidates based on patent portfolio
                </li>
              </ul>
              </header>

              {% include '_components/services/_frameworks-content' %}


              <a href="javascript:void(0)" class="navigate" data-href="3">Go Back</a>
            </div><!-- end slide-content -->
          </div><!-- end col-sm-12 -->

        </div><!-- end row -->
        
      </div><!-- end step step-4 -->

      <div class="step step-5">

        <div class="row">
          
          <div class="col-sm-10 col-sm-offset-1 slide-details step-1__slide-frame">
            <a href="javascript:void(0)" class="slide-details__next navigate" data-href="0"><i class="fa fa-times" aria-hidden="true"></i></a>
            <header class="slide-details__questions">
              <h3 class="slide-details__questions__headline">Licensing Partners</h3>
              <h5 class="slide-frame__tagline">We will answer questions like</span></h5>
              <ul class="slide-details__questions__list">
                <li class="slide-details__questions__list-item">
                  Who are the targets for out licensing?
                </li>
                <li class="slide-details__questions__list-item">
                  Which technologies meet the product requirement?
                </li>
                <li class="slide-details__questions__list-item">
                  Which players can be targeted for in-licensing?
                </li>
              </ul>
              </header>

              {% include '_components/services/_frameworks-content' %}


              
            </div><!-- end slide-content -->
          </div><!-- end col-sm-12 -->

        </div><!-- end row -->
        
      </div><!-- end step step-5 -->
      
       {# slide steps end here #}
    </div><!-- end col-sm-12 -->
  </div><!-- end row -->
</div><!-- end container-fluid -->
