{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set kcContentCss %}

  .kc-content {
    padding: 30px 0;
    overflow-x: hidden;
  }

  .kc-content__headline {
    font-size: 2.3em;
    color: {{ brandPrimary }};
    font-weight: 300;
    line-height: normal;
  }

  .kc-content__border {
    width: 15%;
    border: 1px solid #034883;
  }

  .kc-content__type-item {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 1.3em;
  }

  .kc-content__list {

  }

  .kc-content__list__item {
    margin-bottom: 60px;
  }

  .kc-item-number {
    font-size: 21px;
    line-height: 1;
    color: #999;
    float: left;
    font-weight: 300;
    border: 2px solid #E1E1E1;
    color: {{ brandPrimary }};
    border-radius: 50%;
    padding: 11px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: -77px;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    /*margin-top: -10px;*/
  }

  .kc-content__excerpt {
    font-style: italic;
    font-size: 1.2em;
    color: #7F7B7B;
    line-height: 1.5em;
  }

  @media only screen and (max-width : 480px) {
    .z-tabs.mobile.underlined> .z-container > .z-content > .z-content-inner {
      padding: 0 20px;
    }
  }

{% endset %}

{% set kcContentJs %}

$(document).ready(function () {

      $("#kcContent").zozoTabs({
          theme: "black",
          style: "underlined",
          orientation: "horizontal",
          position: "top-center",
          size: "xlarge",
          animation: {
            easing: "easeInOutExpo",
            duration: 400,
            effects: "slideH"
          },
      });
  });

{% endset %}

{% includeCss kcContentCss %}
{% includeJs kcContentJs %}


 <!-- start column 1 -->
{# Get the category that this entry belongs to #}
{% set entryCategory = entry.servicesCategory.first() %}

{# Pass the above category slug to the below query for knowledge center domain #}
{% set practicesCategory = craft.categories.group('practices').slug(entryCategory.slug) %}
{# show media coverage specific for technology and industry pages #}
{% set techCategory = craft.categories.group('technology').slug(entry.slug) %}
{% set indCategory = craft.categories.group('industries').slug(entry.slug) %}

{# Filter entries in knowledge center by category slug #}
{% set techmediaPosts = craft.entries.section('mediaCenter').relatedTo(techCategory).limit(3) %}
{% set indmediaPosts = craft.entries.section('mediaCenter').relatedTo(indCategory).limit(3) %}
{% set blogPosts = craft.entries.section('blogs').relatedTo(practicesCategory).limit(3) %}
{% set articles = craft.entries.section('articles').relatedTo(practicesCategory).limit(3) %}
{% set infographics = craft.entries.section('infographics').relatedTo(practicesCategory).limit(3) %}
{% set specialReports = craft.entries.section('specialReports').relatedTo(practicesCategory).limit(3) %}

<section class="container-fluid kc-content">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h2 class="kc-content__headline text-center">Knowledge Library</h2>
          <hr class="kc-content__border">

            <!-- Start: Ztabs -->
            <div class="row">
              <div class="col-sm-12">

                <!-- Zozo Tabs Start-->
                <div id="kcContent">

                    <!-- Tab Navigation Menu -->
                    <ul>
                      {% if techmediaPosts.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/aoe-icon.png" class="hidden-xs" alt="media coverage" width="36px" height="36px">
                          <a>Media Coverage</a>
                        </li>
                      {% endif %}

                      {% if indmediaPosts.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/aoe-icon.png" class="hidden-xs" alt="media coverage" width="36px" height="36px">
                          <a>Media Coverage</a>
                        </li>
                      {% endif %}


                      {% if blogPosts.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/kc-books.jpg" class="hidden-xs" alt="books and opinions">
                          <a>Blogs and Opinions</a>
                        </li>
                      {% endif %}

                      {% if articles.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/kc-articles.jpg" class="hidden-xs" alt="articles">
                          <a>Articles</a>
                        </li>
                      {% endif %}

                      {% if infographics.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/kc-infographics.jpg" class="hidden-xs" alt="infographics">
                          <a>Infographics</a>
                        </li>
                      {% endif %}

                      {% if specialReports.total() > 0 %}
                        <li class="kc-content__type-item">
                          <img src="/assets/images/icons/kc-special-reports.jpg" class="hidden-xs" alt="special reports">
                          <a>Special Reports</a>
                        </li>
                      {% endif %}
                    </ul>

                    <!-- Start: Content container -->
                    <div>
                      <!-- Media -->
                      {% if techmediaPosts.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for techmediaPost in techmediaPosts %}
                              <li class="kc-content__list__item">
                                <div class="kc-item-number">{{ loop.index }}</div>
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ techmediaPost.url }}">{{ techmediaPost.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ techmediaPost.mcContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Media -->

                      <!-- Media -->
                      {% if indmediaPosts.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for indmediaPost in indmediaPosts %}
                              <li class="kc-content__list__item">
                                <div class="kc-item-number">{{ loop.index }}</div>
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ indmediaPost.url }}">{{ indmediaPost.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ indmediaPost.mcContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Media -->

                      <!-- Blogs and Opinions -->
                      {% if blogPosts.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for blogPost in blogPosts %}
                              <li class="kc-content__list__item">
                                <div class="kc-item-number">{{ loop.index }}</div>
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ blogPost.url }}">{{ blogPost.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ blogPost.blogContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Blogs and Opinions -->

                      <!-- Articles -->
                      {% if articles.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for article in articles %}
                              <div class="kc-item-number">{{ loop.index }}</div>
                              <li class="kc-content__list__item">
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ article.articlesContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Articles -->

                      <!-- Infographics -->
                      {% if infographics.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for infographic in infographics %}
                              <div class="kc-item-number">{{ loop.index }}</div>
                              <li class="kc-content__list__item">
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ infographic.url }}">{{ infographic.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ infographic.igContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Infographics -->

                      <!-- Special Reports -->
                      {% if specialReports.total() > 0 %}
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <ol class="kc-content__list">
                              {% for specialReport in specialReports %}
                              <div class="kc-item-number">{{ loop.index }}</div>
                              <li class="kc-content__list__item">
                                <article class="kc-content__grid__item kc-content__blog1 image-cover">
                                  <div class="kc-content__grid__inner">
                                    <h5 class="kc-content__headline"><a href="{{ specialReport.url }}">{{ specialReport.title }}</a></h5>
                                    <p class="kc-content__excerpt">{{ specialReport.srContent|hacksaw(words='25') }}</p>
                                  </div>
                                </article>
                              </li>
                              {% endfor %}
                            </ol>
                          </div><!-- offset-2-->
                        </div><!-- row -->
                      {% endif %}
                      <!-- end Special Reports -->

                    </div><!-- End: content container -->
                </div>
                <!-- Zozo Tabs End-->
              </div> <!-- end col-sm-12 -->
            </div> <!-- end row -->
            <!-- End: Ztabs -->

        </div>   <!-- end col-sm-12 -->
      </div>   <!-- end row -->
    </div>   <!-- end container -->
  </div>  <!-- end row -->
</section>
