{% set listBlokCss %}
  .up-arrow-blok {
    background-color:  {{ bgBlue }};
    color: {{ ttPrimary }};
    padding-top: 1.5em;
    padding-bottom:2.5em;
  }

{% if bottomArrow is defined %}
  .up-arrow-blok::after {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid {{arrowColor}};
    position: relative;
    left: 47.3%;
    bottom: -70px;
  }
{% endif %}

  .up-arrow-blok__icon {
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
  }
  .up-arrow-blok__headline {
    color: {{ ttPrimary }};
  }
  .up-arrow-blok__list {
    padding-top: 2.5em;

  }

  .up-arrow-blok__list__item a {
    font-size: 1.3em;
    line-height: 3.0em;
    color: #ffffff;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    font-weight: 300;
  }
  .white {
    color:#ffffff;
  }
{% endset %}

{% includeCss listBlokCss %}

  <section class="container-fluid up-arrow-blok" id="framework">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="up-arrow-blok__icon"><!-- <img src="/assets/uploads/icons/services/trusted-white.png" alt="cap-block-icon1" /> --></div>
            <div class="lede__headline text-center up-arrow-blok__headline">Frameworks and Case Studies</div>
            <div class="lede__subheadline text-center white">Learn more about our approach to solving critical sourcing questions</div>
            <hr class="lede__border" style="border: 1px solid #fff;">

            <ul class="up-arrow-blok__list">
              <div class="col-sm-4 col-sm-offset-1">
              <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/flexibility-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Category%20360%20Diagnosis%20Framework.pdf?t=1482389593394" target="_blank">Category@360 Diagnosis</a></li>

                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/cost-effective-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Should-Cost%20Modelling.pdf?t=1482389595259" target="_blank">Should-Cost Modelling</a></li>
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/exp-va-analysts-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Category%20Landscape%20Reports.pdf?t=1482389595982" target="_blank">Category Landscape Reports</a></li>
              </div>
              <div class="col-sm-3">
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/cap-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Price%20Forecasting%20Models.pdf?t=1482389593417" target="_blank">Price Forecasting</a></li>
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/focus-insight-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Supplier%20Risk.pdf?t=1482389595479" target="_blank">Supplier Risk Analysis</a></li>
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/pe-firms-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Category%20Dashboard.pdf?t=1482389593908" target="_blank">Category Dashboard</a></li>
              </div>
              <div class="col-sm-4">
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/global-footprint-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Best-Cost%20Country%20Sourcing.pdf?t=1482389593500" target="_blank">Best-Cost Country Sourcing</a></li>
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/32x32-22-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/Supply%20Chain%20Risk%20Assessment.pdf?t=1482389595794" target="_blank">Supply Chain Risk Assessment</a></li>
                <li class="up-arrow-blok__list__item"><!-- <img src="/assets/uploads/icons/services/advisors-white.png" class="" alt="cap-block-icon1"> -->  <a href="http://cdn2.hubspot.net/hubfs/2270236/Website%20collateral/RFx%20Support%20for%20Supplier%20Assessment.pdf?t=1482389593531" target="_blank">RFx Support for Supplier Assessment</a></li>
              </div>
            </ul>
          </div> <!-- col-sm-12 -->
        </div> <!-- end row  -->
      </div><!-- end container -->
    </div> <!-- end row  -->
  </section><!-- end section -->
