

{% set pGridCss %}

 .profile {
    padding-top: 120px;
    padding-bottom: 30px;
    background: aliceblue;
  }

  .team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 70%;
  }

  .team-member {
    text-align: center;
    margin-bottom: 50px;
  }

  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .team-member p {
    margin-top: 0;
  }

  .profile__content p {
    font-size: 1.2em;
    color: #5C5555;
  }

{% endset %}



{% includeCss pGridCss %}


<section class="container p-grid">
  <h2 class="lede__headline text-center">Meet Our Team</h2>
  <hr class="lede__border">
  <!-- Zozo Tabs Start-->




    <!-- Content container -->
    <div class="pgrid__container">

      <div class="advisory">
        <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#profile1">
            <img src="/assets/images/team/Hemendra.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Hemendra  Aran</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member">
            <a href="/about-us/dr-carl-sheeler">
            <img src="/assets/images/team/avatar.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Swetabh Pareek</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member">
            <a href="/about-us/alpesh-patel">
            <img src="/assets/images/team/avatar.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Rohit Nerukar</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member">
            <a href="/about-us/raoul-bhavnani">
            <img src="/assets/images/team/avatar.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Siddharth Jaiswal</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="team-member">
            <a href="/about-us/christopher-kingsman">
            <img src="/assets/images/team/avatar.png" class="img-responsive img-circle" alt="">
            </a>
            <h4>Prateek Bhatia</h4>
          </div>
        </div>
      </div>

    </div> <!-- content container -->
  </div>
  <!-- Zozo Tabs End-->

</section>



<div id="profile1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background: aliceblue; ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-4 profile__image">
  <div class="team-member">
    <img src="/assets/images/team/Hemendra.jpg" class="img-responsive img-circle" alt="">
    <h4>Hemendra Aran</h4>
    <p class="text-muted">CEO &amp; Founder</p>
  </div>
</div>
<div class="col-sm-8 profile__content">
<p>Hemendra founded Aranca in 2003 with the vision to offer world-class custom research and high quality analytics services to global clients. He has led Aranca’s evolution to a 600 employee strong global player in the research and advisory domain. With a focus on empowering decision makers and investors, Hemendra champions the Aranca vision to provide clients solutions that enable strategic business decisions. </p>
<p>An alumnus of London Business School (MBA), Haas School of Business, University of California, Berkeley, and Indian Institute of Technology (Madras), Hemendra brings rich and extensive advisory experience after having worked with global corporations including Goldman Sachs, Reebok, Thomson Electronics during his stint with Infosys. </p>
<p>He has authored several books on outsourcing and global financial markets, such as Outsourcing Success: The Management Imperative, and Global Financial Markets Revolution: The Future of Exchanges and Capital Markets. Hemendra regularly comments for business media, and often speaks at top-tier institutes, forums and conferences.</p>
</div>
      </div>
      <div class="modal-footer" style="border-top: 1px solid #f0f8ff;">

      </div>
    </div>

  </div>
</div>
