

{% set pGridCss %}

 .profile {
    padding-top: 120px;
    padding-bottom: 30px;
    background: aliceblue;
  }

  .team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 38%;
  }

  .team-member {
    text-align: center;
    margin-bottom: 50px;
  }

  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .team-member p {
    margin-top: 0;
  }

  .profile__content p {
    font-size: 1.2em;
    color: #5C5555;
  }

{% endset %}



{% includeCss pGridCss %}


<section class="container p-grid">
  <h2 class="lede__headline text-center">Meet Our Team</h2>
  <hr class="lede__border">
  <!-- Zozo Tabs Start-->




    <!-- Content container -->
    <div class="pgrid__container">

      <div class="advisory">
        <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <a href="#" data-toggle="modal" data-target="#profile1">
            <img src="/assets/images/team/dimitri.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Dimitri Goulandris</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/dr-carl-sheeler">
            <img src="/assets/images/team/carl.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Dr Carl Sheeler</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/alpesh-patel">
            <img src="/assets/images/team/alpesh.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Alpesh Patel</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/raoul-bhavnani">
            <img src="/assets/images/team/raoul.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Raoul Bhavnani</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/christopher-kingsman">
            <img src="/assets/images/team/christopher.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Christopher Kingsman</h4>
            <p class="text-muted">Non-Executive Director</p>
          </div>
        </div>
      </div>
    </div> <!-- content container -->
  </div>
  <!-- Zozo Tabs End-->

</section>



<div id="profile1" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content"  style="background-color: aliceblue;>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Write to Us</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-6 profile__image">
  <div class="team-member">
    <img src="/assets/images/team/komal-aran.jpg" class="img-responsive img-circle" alt="">
    <h4>Komal Aran&nbsp;Atariya</h4>
    <p class="text-muted">Chief People Officer</p>
  </div>
</div>
<div class="col-sm-6 profile__content">
  <p>Komal heads the Human Resource division in Aranca and is responsible for organizational development, people management, training and overall employee satisfaction globally.</p> <p>He has an experience of close to 3 decades and was an active member in leading news, mythological and national radio channels.</p>
<p>Though managing people is his profession, Komal is nationally known for the music he creates and with over 2000 songs and 500 jingles to his credit Komal is a well known name within the film and entertainment fraternity</p>
</div>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
