

{% set pGridCss %}

  .team-member {
    text-align: center;
    margin-bottom: 50px;
  }

  .team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 75%;
  }

  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .team-member p {
    margin-top: 0;
  }

{% endset %}



{% includeCss pGridCss %}


<section class="container p-grid">
  <h2 class="lede__headline text-center">Meet Our Team</h2>
  <hr class="lede__border">
  <!-- Zozo Tabs Start-->




    <!-- Content container -->
    <div class="pgrid__container">

      



      <div class="advisory">
        <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/dimitri-goulandris">
            <img src="/assets/images/team/dimitri.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Dimitri Goulandris</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/dr-carl-sheeler">
            <img src="/assets/images/team/carl.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Dr Carl Sheeler</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/alpesh-patel">
            <img src="/assets/images/team/alpesh.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Alpesh Patel</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/raoul-bhavnani">
            <img src="/assets/images/team/raoul.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Raoul Bhavnani</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <a href="/about-us/christopher-kingsman">
            <img src="/assets/images/team/christopher.jpg" class="img-responsive img-circle" alt="">
            </a>
            <h4>Christopher Kingsman</h4>
            <p class="text-muted">Non-Executive Director</p>
          </div>
        </div>
      </div>
    </div> <!-- content container -->
  </div>
  <!-- Zozo Tabs End-->

</section>
