{% set servicesIntroCss %}
.intro-single-service {
  font-size: 1.2em;
  color: #5E6464;
  padding-bottom: 50px;
  padding-top: 30px;
  line-height:1.5;
  background-color: #fafeff; 

}

.sol-port-b-content__headline--left {
  color: #2C7DA8;
  font-size: 1.7em;
  letter-spacing: 0.02em;
  padding-left: 0.6em;
  margin-bottom: 1.2em;
  padding-bottom: 0.8em;
  line-height: 1.5em;
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
}

.sol-port-b-content__headline--right {
  text-transform: uppercase;
  color: #2C7DA8;
  font-size: 1.6em;
  letter-spacing: 0.02em;
  padding-left: 0.6em;
  margin-bottom: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #cccccc;
}
.sol-port-b-content__headline > span {
  font-size: 0.8em;
}

.sol-port-b-content__list {
  margin-bottom: 2em;
}

.sol-port-b-content__item__headline {
  text-transform: uppercase;
  color: {{ roman }};
  font-size: 1.1em;
  letter-spacing: 0.02em;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}


.sol-port-b-content__item {
  color:#2C7DA8;
  line-height: 2.5em;
  padding-left: 0.8em;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px dotted;
}

.sol-port-b-content__para > p {
  color: #707274;
  line-height: 1.7em;
  font-size: 1.0em;
  padding-left: 0.8em;
  font-weight: 300;
  text-align: justify;
}

@media only screen and (max-width : 480px) {
  .nav-tabs .sol-port-b-tabs__item > a {
    width: 5em;
    height: 5em;
  }

  .nav-tabs .sol-port-b-tabs__item > a > img {
        position: relative;
    bottom: 11px;
    left: -2px;
  }

  .sol-port-b-tabs__item > h4 {
    font-size: 0.9em;
  }
  .sol-port-b-content__para > p {
  color: #707274;
  line-height: 1.7em;
  font-size: 1.0em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-weight: 300;
  text-align: justify;
}
}

{% endset %}

{% includeCss servicesIntroCss %}

<section class="intro-single-service">
  <div class="row">
    <div class="container">
<!--       <div class="row">
        <div class="col-sm-12 why-arc-b__headline--main">
            <h3 class="lede__headline">Introduction Content Headline</h3>
            <p class="lede__subheadline"></p>
            <hr class="lede__border">
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-12">
          <div class="sol-port-b-content__para">
              {{ entry.serviceIntro }}
          </div>
        </div>
<!--         <div class="col-sm-1"></div> -->
<!--         <div class="col-sm-4">
          <div class="row">
            <h2 class="sol-port-b-content__headline--right">Title</h2> 
            <ul class="sol-port-b-content__list">
                 <li class="sol-port-b-content__item__headline"></li> 
                <li class="sol-port-b-content__item">Point 1</li>
                <li class="sol-port-b-content__item">Point 1</li>
                <li class="sol-port-b-content__item">Point 1</li>
                <li class="sol-port-b-content__item">Point 1</li>
                <li class="sol-port-b-content__item">Point 1</li>
              </ul>
          </div>
        </div> -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
