{% set solPortCss %}

.sol-port {
  /*background: url(/assets/images/backgrounds/sol-port-bkg.jpg);*/
  {% if brandColor is defined %}
  background-color: {{ brandColor }} ;
  {% endif %}
  padding: 60px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sol-port-tabs {
  text-align:center;
  display: table;
  width: 100%;      /* new */
}

.sol-port-tabs.nav-tabs {
  border-bottom: none;
}

.sol-port-tabs.nav-tabs > li {
  float:none;
  margin-bottom: 1.5em;
  display: table-cell;  /* updated */
  margin-left:50px;
}

.sol-port-tabs__content {
  background: white;
  padding: 2em;
  border-radius: 1.5em;
  margin-top: 2em;
  box-shadow: -2px 2px 2px {{ BrCore }};
}

.sol-port-tabs__item > h4 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.8em;
}

.nav-tabs .sol-port-tabs__item > a {
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 100px;
     background: white;
}

.nav-tabs .sol-port-tabs__item > a > i {
    line-height: 3.6em;
    font-size: 2.3em;
}
.nav-tabs .sol-port-tabs__item.active > a {
  box-shadow: -2px 2px 8px #89CAFF;
}

.nav-tabs > .sol-port-tabs__item.active > a:focus {
  color: blue;
}

.nav-tabs .sol-port-tabs__item.active > a::before {
  /* triangle properties */
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid white;
    content: "";
    width: 0;
    height: 0;

     /*  positioning */
    left: 34%;
    top: 108%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.sol-port-tabs__image {
  position: relative;
  top:30px;
}

.sol-port-content__headline {
  text-transform: uppercase;
  {% if brandColor is defined %}
  color: {{ brandColor }};
  {% endif %}
  font-size: 1.6em;
  letter-spacing: 0.02em;
  padding-left: 0.6em;
  margin-bottom: 1.2em;
}

.sol-port-content__headline > span {
  font-size: 0.8em;
}

.sol-port-content__list {
  margin-bottom: 2em;
}

.sol-port-content__item__headline {
  text-transform: uppercase;
  color: {{ roman }};
  font-size: 1.1em;
  letter-spacing: 0.02em;
}


.sol-port-content__item {
  {% if brandColor is defined %}
  color: {{ brandColor }};
  {% endif %}
  line-height: 1.8em;
}

#l-firms .sol-port-content__list, #l-firms .sol-port-content__headline  {
  text-align: center;
}

@media only screen and (min-width: {{ screenmd }}) {
  .sol-port-tabs__item {

  }


}

{% endset %}

{% set solPortJs %}

{% endset %}

{% includeCss solPortCss %}
{% includeJs solPortJs %}

<section class="container-fluid sol-port">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="lede__headline--white">Solution Portfolio</h3>
            <p class="lede__subheadline--white">Business leaders across functional areas leverage our expertise for diverse strategic priorities</p>
            <hr class="lede__border--white">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs sol-port-tabs" role="tablist">
              <li class="active sol-port-tabs__item">
                <h4>Enterprises</h4>
                <a href="#enterprises" role="tab" data-toggle="tab" data-target="#enterprises">
                  <img src="/assets/uploads/icons/services/tab-enterprises.jpg" class="sol-port-tabs__image" alt="cap-block-icon1">
                </a>
              </li>
              <li class="sol-port-tabs__item">
                <h4>Consulting Firms</h4>
                <a href="#c-firms" role="tab" data-toggle="tab" data-target="#c-firms">
                  <img src="/assets/uploads/icons/services/tab-consulting.jpg" class="sol-port-tabs__image" alt="cap-block-icon2">
                </a>
              </li>
              <li class="sol-port-tabs__item" data-target="">
                <h4>Law Firms</h4>
                <a href="#l-firms" role="tab" data-toggle="tab" data-target="#l-firms">
                    <img src="/assets/uploads/icons/services/tab-lawfirms.jpg" class="sol-port-tabs__image" alt="cap-block-icon3">
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content sol-port-tabs__content">
              <!-- First Pane -->
              <div class="tab-pane fade active in" id="enterprises">
                <div class="row">
                  <div class="col-sm-6"><!-- outer wrapper first half -->
                    <div class="row"><!--  start inner wrapper for split columns -->
                      <h2 class="sol-port-content__headline">Growth and Strategy</h2>
                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline"><a href="/business-research/international-expansion">International Expansion</a></li>
                          <li class="sol-port-content__item">Market scans</li>
                          <li class="sol-port-content__item">Deep-dive market studies</li>
                          <li class="sol-port-content__item">GTM strategy</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline"><a href="/business-research/acquisitions">Acquisitions</a></li>
                          <li class="sol-port-content__item">Identify, shortlist targets</li>
                          <li class="sol-port-content__item">Fit analysis – Detailed profiles</li>
                          <li class="sol-port-content__item">Due diligence support</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Digital Strategy</li>
                          <li class="sol-port-content__item">Industry trend analysis</li>
                          <li class="sol-port-content__item">Best practices / Success stories</li>
                          <li class="sol-port-content__item">GTM strategy</li>
                        </ul>
                      </div><!-- col 6 -->

                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline"><a href="/business-research/diversification">Diversification</a></li>
                          <li class="sol-port-content__item">Opportunity scans</li>
                          <li class="sol-port-content__item">Market opportunity assessment</li>
                          <li class="sol-port-content__item">Business case / Financial Model</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Increase Market Share</li>
                          <li class="sol-port-content__item">Market segments and growth</li>
                          <li class="sol-port-content__item">Customer / product profitability</li>
                          <li class="sol-port-content__item">Customer need analysis</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Innovation</li>
                          <li class="sol-port-content__item">Mega-trends workshop</li>
                          <li class="sol-port-content__item">Product / Service design</li>
                          <li class="sol-port-content__item">Business process innovation</li>
                        </ul>
                      </div><!-- col 6 -->

                    </div><!-- row -->
                  </div><!-- outer col 6 -->

                  <div class="col-sm-6" style="border-left: 1px dotted #B5B3B3; padding-left: 2em;"><!-- outer wrapper first half -->
                    <div class="row"><!--  start inner wrapper for split columns -->
                      <h2 class="sol-port-content__headline">Understand your business better</h2>
                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Customer Insights</li>
                          <li class="sol-port-content__item">Satisfaction & loyalty studies</li>
                          <li class="sol-port-content__item">Lost customer surveys</li>
                          <li class="sol-port-content__item">Customer experience management</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">B2B Sales Planning</li>
                          <li class="sol-port-content__item">Account planning</li>
                          <li class="sol-port-content__item">Prospect Profiling</li>
                          <li class="sol-port-content__item">Firmographics</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Brand Research</li>
                          <li class="sol-port-content__item">Brand tracking</li>
                          <li class="sol-port-content__item">Brand strategy</li>
                          <li class="sol-port-content__item">Brand valuation</li>
                        </ul>
                      </div><!-- col 6 -->

                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Competition Analysis</li>
                          <li class="sol-port-content__item">’How-they-do-it’ analysis?</li>
                          <li class="sol-port-content__item">Product & Price benchmarking</li>
                          <li class="sol-port-content__item">Competitor profiling</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Channel</li>
                          <li class="sol-port-content__item">Planning & optimization</li>
                          <li class="sol-port-content__item">Satisfaction studies</li>
                          <li class="sol-port-content__item">Business outlook surveys</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Advertising Research</li>
                          <li class="sol-port-content__item">Communication testing</li>
                          <li class="sol-port-content__item">Advertising effectiveness</li>
                          <li class="sol-port-content__item">Digital communication strategy</li>
                        </ul>
                      </div><!-- col 6 -->

                    </div><!-- row -->
                  </div><!-- outer col 6 -->
                </div><!-- end row -->
              </div> <!-- First Pane -->


              <div class="tab-pane fade" id="c-firms">
                <!-- Second Pane -->
                <div class="row">
                  <div class="col-sm-6"><!-- outer wrapper first half -->
                    <div class="row"><!--  start inner wrapper for split columns -->
                      <h2 class="sol-port-content__headline"><span>Research support for</span><br/> Consulting Engagements</h2>
                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Industry Studies</li>
                          <li class="sol-port-content__item">Market sizing & segmentation</li>
                          <li class="sol-port-content__item">Value chain, Profit-pool maps</li>
                          <li class="sol-port-content__item">Scorecards</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Customer Analysis</li>
                          <li class="sol-port-content__item">Satisfaction surveys</li>
                          <li class="sol-port-content__item">Share-of-wallet analysis</li>
                          <li class="sol-port-content__item">Up-sell or cross-sell analytics</li>
                        </ul>

                        <!-- <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Procurement</li>
                          <li class="sol-port-content__item">Category intelligence reports</li>
                          <li class="sol-port-content__item">Best-cost-country sourcing</li>
                          <li class="sol-port-content__item">Supply-chain risk assessments</li>
                        </ul> -->

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Surveys</li>
                          <li class="sol-port-content__item">CXO surveys (business issues)</li>
                          <li class="sol-port-content__item">CTO surveys (technology issues)</li>
                          <li class="sol-port-content__item">B2C or Healthcare surveys</li>
                        </ul>
                      </div><!-- col 6 -->

                      <div class="col-sm-6">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Competition Analysis</li>
                          <li class="sol-port-content__item">Product & price benchmarking</li>
                          <li class="sol-port-content__item">Deep-dive analysis (Functional areas)</li>
                          <li class="sol-port-content__item">Profiling (Operations, SWOT, Plans)</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Digital Business</li>
                          <li class="sol-port-content__item">Market sizing and forecasts</li>
                          <li class="sol-port-content__item">Technology & social trends</li>
                          <li class="sol-port-content__item">Best practices & success stories</li>
                        </ul>

                        <!-- <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Technology | IP Research</li>
                          <li class="sol-port-content__item">Patent portfolio analysis</li>
                          <li class="sol-port-content__item">Technology intelligence </li>
                          <li class="sol-port-content__item">Outlicensing opportunity evaluation</li>
                        </ul> -->

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Innovation</li>
                          <li class="sol-port-content__item">Industry mega-trends</li>
                          <li class="sol-port-content__item">Product / service design</li>
                          <li class="sol-port-content__item">Business process innovation</li>
                        </ul>
                      </div><!-- col 6 -->

                    </div><!-- row -->
                  </div><!-- outer col 6 -->

                  <div class="col-sm-6" style="border-left: 1px dotted #B5B3B3; padding-left: 2em;"><!-- outer wrapper first half -->
                    <div class="row"><!--  start inner wrapper for split columns -->
                      <h2 class="sol-port-content__headline"><span>Knowledge management support for enhancing</span><br/>Operational effectiveness</h2>
                      <div class="col-sm-12">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Information Management</li>
                          <li class="sol-port-content__item">Proprietary databases</li>
                          <li class="sol-port-content__item">Sales enablement assets</li>
                          <!-- <li class="sol-port-content__item">Internal newsletters</li> -->
                          <li class="sol-port-content__item">Training material development & management</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Business Development | Marketing Support</li>
                          <li class="sol-port-content__item">Prospect profiling / Strategic client updates</li>

                          <li class="sol-port-content__item">Proposal development support</li>
                          <li class="sol-port-content__item">White papers, client newsletters</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">Business Support Services</li>
                          <li class="sol-port-content__item">Presentation and DTP support</li>
                          <!-- <li class="sol-port-content__item">Editorial services</li> -->
                          <li class="sol-port-content__item">Library support services </li>
                          <li class="sol-port-content__item">Intranet content management</li>
                        </ul>
                      </div><!-- col 12 -->

                    </div><!-- row -->
                  </div><!-- outer col 6 -->
                </div><!-- end row -->
              </div><!-- Second Pane -->

              <div class="tab-pane fade" id="l-firms">
              <!-- Third Pane -->
                <div class="row">
                  <div class="col-sm-12"><!-- outer wrapper first half -->
                    <div class="row"><!--  start inner wrapper for split columns -->
                      <h2 class="sol-port-content__headline">Win, develop and retain business in new and existing markets</h2>
                      <div class="col-sm-4">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">BUSINESS DEVELOPMENT</li>
                          <li class="sol-port-content__item">Maximize your returns on business development through our account  planning research support</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">STRATEGIC PLANNING SUPPORT</li>
                          <li class="sol-port-content__item">Leverage our research and insights on your ecosystem to design winning strategies for your firm</li>
                        </ul>
                      </div><!-- col 4 -->

                      <div class="col-sm-4">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">LITIGATION ACTIVITY</li>
                          <li class="sol-port-content__item">Use our intelligence on litigation related trends to proactively plan customer marketing strategies</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">COMPETITION ANALYSIS</li>
                          <li class="sol-port-content__item">Customized competitive intelligence to track, analyze competitors or benchmark your firms versus peers</li>
                        </ul>

                      </div><!-- col 4 -->

                      <div class="col-sm-4">
                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">CUSTOMER SATISFACTION</li>
                          <li class="sol-port-content__item">Leverage our customized customer experience management and loyalty measurement programs</li>
                        </ul>

                        <ul class="sol-port-content__list">
                          <li class="sol-port-content__item__headline">THEMATIC RESEARCH</li>
                          <li class="sol-port-content__item">Engage our experts for developing white papers or newsletters for clients or internal audiences</li>
                        </ul>

                      </div><!-- col 4 -->

                    </div><!-- row -->
                  </div><!-- outer col 12 -->

                </div><!-- end row -->
              </div><!-- Third Pane -->

            </div> <!-- end Tab panes -->


          </div> <!-- end .col-sm-12 panes -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- row -->
</section>
