<!-- 4 tab layout -->
{% set solPortCss %}

.sol-port-b {
  background: url(/assets/images/backgrounds/sol-port-bkg.jpg);
  padding: 60px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sol-port-b-tabs {
  text-align:center;
  display: table;
  width: 100%;      /* new */
  margin-top: 3.0em;
}

.sol-port-b-tabs.nav-tabs {
  border-bottom: none;
}

.sol-port-b-tabs.nav-tabs > li {
  float:none;
  margin-bottom: 1.5em;
  display: table-cell;  /* updated */
  margin-left:50px;
}

.sol-port-b-tabs__content {
  background: white;
  padding: 2em;
  border-radius: 1.5em;
  margin-top: 2em;
  box-shadow: -2px 2px 2px #89CAFF;
}

.sol-port-b-tabs__item > h4 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.8em;
  font-weight: 300;
  font-size:1.4em;
}

.nav-tabs .sol-port-b-tabs__item > a {
    display: inline-block;
    width: 8em;
    height: 8em;
    border-radius: 100px;
     background: white;
}

.nav-tabs .sol-port-b-tabs__item > a > i {
    line-height: 2.7em;
    font-size: 2.3em;
}
.nav-tabs .sol-port-b-tabs__item.active > a {
  box-shadow: -2px 2px 8px #89CAFF;
}

.nav-tabs > .sol-port-b-tabs__item.active > a:focus {
  color: blue;
}

.nav-tabs .sol-port-b-tabs__item.active > a::before {
  /* triangle properties */
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid white;
    content: "";
    width: 0;
    height: 0;

     /*  positioning */
    left: 25%;
    top: 108%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.sol-port-b-content__headline--left {
  color: #2C7DA8;
  font-size: 1.7em;
  letter-spacing: 0.02em;
  padding-left: 0.6em;
  margin-bottom: 1.2em;
  padding-bottom: 0.8em;
  line-height: 1.5em;
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
}

.sol-port-b-content__headline--right {
  text-transform: uppercase;
  color: #2C7DA8;
  font-size: 1.6em;
  letter-spacing: 0.02em;
  padding-left: 0.6em;
  margin-bottom: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #cccccc;
}

.sol-port-b-content__headline > span {
  font-size: 0.8em;
}

.sol-port-b-content__list {
  margin-bottom: 2em;
}

.sol-port-b-content__item__headline {
  text-transform: none;
  color: {{ roman }};
  font-size: 1.1em;
  letter-spacing: 0.02em;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}

.sol-port-b-content__item {
  color:#2C7DA8;
  line-height: 2.5em;
  padding-left: 0.8em;
  font-size: 16px;
  font-weight: 300;

}
.sol-port-b-content__item_2 {
  color:#2C7DA8;
  line-height: 2.5em;
  padding-left: 0.8em;
  font-size: 16px;
  font-weight: 300;

}

.sol-port-b-content__para {
  color: #707274;
  line-height: 1.8em;
  font-size: 1.2em;
  padding-left: 0.8em;
  font-weight: 300;
}

.sol-port-b-content__para_2 {
    color: #707274;
    line-height: 1.8em;
    font-size: 1em;
    padding-left: 0.8em;
    font-weight: 300;
}

@media only screen and (max-width : 480px) {
  .nav-tabs .sol-port-b-tabs__item > a {
    width: 5em;
    height: 5em;
  }

  .nav-tabs .sol-port-b-tabs__item > a > img {
        position: relative;
    bottom: 11px;
    left: -2px;
  }

  .sol-port-b-tabs__item > h4 {
    font-size: 0.9em;
  }
}

{% endset %}

{% set solPortJs %}
$(document).ready(function(){
  $('.sol-port-b-tabs__item a').hover(function() {
    $(this).tab('show');
  });
});
{% endset %}

{% includeCss solPortCss %}
{% includeJs solPortJs %}

<section class="container-fluid sol-port-b">
    <div class="row">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12">
            <h3 class="lede__headline--white">Solutions Portfolio</h3>
            <p class="lede__subheadline--white">We advise and assist clients through every stage of a business transaction life cycle.</p>
            <hr class="lede__border--white">
            
            <ul class="nav nav-tabs sol-port-b-tabs" role="tablist">
              <li class="active sol-port-b-tabs__item">
                <h4>Pre Transaction Support & Advisory</h4>
                <a href="#tax" role="tab" data-toggle="tab" data-target="#tax"><br>
                  <img src="http://www.arancavaluation.com/assets/uploads/icons/overview/tax-valuation.png" alt="cap-block-icon2" width="40px" height="40px">
                </a>
              </li>
              <li class="sol-port-b-tabs__item">
                <h4>Lead Advisory</h4>
                <a href="#finance" role="tab" data-toggle="tab" data-target="#finance"><br>
                  <img src="http://www.arancavaluation.com/assets/uploads/icons/overview/financial-reporting.png" alt="cap-block-icon2" width="40px" height="40px">
                </a>
              </li>
              <li class="sol-port-b-tabs__item" data-target="">
                <h4>Transaction Support Services</h4>
                <a href="#transact" role="tab" data-toggle="tab" data-target="#transact"><br>
                    <img src="http://www.arancavaluation.com/assets/uploads/icons/overview/transaction-services.png" alt="cap-block-icon2" width="40px" height="40px">
                </a>
              </li>
              <li class="sol-port-b-tabs__item" data-target="">
                <h4>Transaction Support Services</h4>
                <a href="#transact2" role="tab" data-toggle="tab" data-target="#transact"><br>
                    <img src="http://www.arancavaluation.com/assets/uploads/icons/overview/transaction-services.png" alt="cap-block-icon2" width="40px" height="40px">
                </a>
              </li>
            </ul>
            
            <div class="tab-content sol-port-b-tabs__content">
              
              <div class="tab-pane fade active in" id="tax">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="row">
                      <h2 class="sol-port-b-content__headline--left">"By failing to prepare, you are preparing to fail."<br> - Benjamin Franklin</h2>
                      <p class="sol-port-b-content__para">Our functional experts support you on understanding investment readiness of  the organization and further help you in planning ahead </p>
                      <p class="sol-port-b-content__para">Aranca can help you assess the strategic fit of a business by evaluating potential synergies, assisting in negotiations and in measuring transaction implications.</p>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Our suite of transaction support services bring actionable clarity to understand business risk and negotiate better.</li>
                          <li class="sol-port-b-content__item">Shareholder Agreement and Negotiation Advisory</li>
                          <li class="sol-port-b-content__item">Commercial/Strategic Due Diligence</li>
                          <li class="sol-port-b-content__item">Valuation Support</li>
                          <li class="sol-port-b-content__item">Technology Diligence</li>
                          <li class="sol-port-b-content__item">Financial Due Diligence</li>
                        </ul>

                    </div>
                  </div>
                </div>
              </div> 
              
              <div class="tab-pane fade" id="finance">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="row">
                      <h2 class="sol-port-b-content__headline--left">"When looking for funding, don't just look for cash. Look for the right people."<br> - Jodie Fox</h2>
                      <p class="sol-port-b-content__para">By leveraging our global network, we help you to reach out to right investors and partners  globally</p>
                      <p class="sol-port-b-content__para">Aranca can help you assess the strategic fit of a business by evaluating potential synergies, assisting in negotiations and in measuring transaction implications.</p>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Leveraging our global network, we help our clients in reaching out to best fit investors, financiers and partners for:</li>
                          <li class="sol-port-b-content__item">Fund raise – Equity and Debt</li>
                          <li class="sol-port-b-content__item">Merger & Acquisitions</li>
                          <li class="sol-port-b-content__item">Strategic Investments </li>
                          <li class="sol-port-b-content__item">Divestitures &nbsp;and Spin-offs</li>
                          <li class="sol-port-b-content__item">Joint Ventures and Strategic Alliances</li>
                          <li class="sol-port-b-content__item">IP Monetization</li>
                        </ul>

                    </div>
                  </div>
                </div>
              </div> 
              
              <div class="tab-pane fade" id="transact">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <p class="sol-port-b-content__headline--left">Aranca helps corporations analyse their current operations and business plan to optimally position them and enable for future transactions.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Business Planning Support</li>
                          <li class="sol-port-b-content__para_2">Offer services such as </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Business Modelling</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Go to market Strategy</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Expansion Planning (Organic and inorganic)</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Competition landscaping</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Vendor Due diligence</li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Business Restructuring Support</li>
                          <li class="sol-port-b-content__para_2">Help companies in</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Operational restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Functional restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Financial restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Corporate governance </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Management reporting</li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Interim Senior Management Support</li>
                          <li class="sol-port-b-content__para_2">Providing business insights and advisory covering all facets of the company operations such as: </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Business</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Finance</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Marketing</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Human Resource</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="tab-pane fade" id="transact2">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <p class="sol-port-b-content__headline--left">Aranca helps corporations analyse their current operations and business plan to optimally position them and enable for future transactions.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Business Planning Support</li>
                          <li class="sol-port-b-content__para_2">Offer services such as </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Business Modelling</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Go to market Strategy</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Expansion Planning (Organic and inorganic)</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Competition landscaping</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Vendor Due diligence</li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Business Restructuring Support</li>
                          <li class="sol-port-b-content__para_2">Help companies in</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Operational restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Functional restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Financial restructuring</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Corporate governance </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp; Management reporting</li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                        <ul class="sol-port-b-content__list">
                          <li class="sol-port-b-content__item__headline">Interim Senior Management Support</li>
                          <li class="sol-port-b-content__para_2">Providing business insights and advisory covering all facets of the company operations such as: </li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Business</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Finance</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Marketing</li>
                          <li class="sol-port-b-content__item_2"><em class="fa fa-angle-right"></em>&nbsp;&nbsp;Human Resource</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div> 
              
            </div> 
          </div>


        </div><!-- row -->
      </div><!-- container -->
    </div><!-- row -->
</section>