{% set solPortTableCss  %}
.sol-port-table {
  padding: 30px 0;
}


.sol-port-table .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 30px 0;
  padding-left: 21px;
}


.sol-port-table__head th {
  background-color: {{ brandPrimary }};
  color: white;
  font-size: 1.3em;
  padding: 10px 0;
  text-align: center;
}

.sol-port-table__listitem {
  font-size: 1.1em;
  color: #6A6C66;
  line-height: 1.7em;
  list-style: decimal;
  margin-left: 9%;
  padding: 5px 0;
  border-bottom: 1px dotted #e3e3e3;
}

.sol-port-table__sublistitem {
  font-size: 1em;
  color: #7C7D7A;
  line-height: 1.6em;
  margin-left: 13%;
  list-style: circle;
}



{% endset %}

{% includeCss solPortTableCss %}

<section class="container-fluid sol-port-table">
  <div class="row">
  <div class="col-sm-12">
    {{ entry.solutionRichtext }}
    </div><!-- col-12-->
  </div><!-- row -->
</section>
