{% set svcBoxGridCss %}

  .box-grid {
    padding: 30px 0;
    padding-bottom: 60px;
    border-bottom: 2px solid #CEE8F6;
    {% if blueBackground is defined %}
      background-color: {{ blueBackground }};
    {% endif %}
  }


  .box-grid--inner {
    padding: 10px 20px;
    text-align: left;
  }

  .box-grid__col-headline__wrapper {
  }

 .box-grid__col-headline {
    color: {{ CoreBlue }};
    {% if brandColor is defined %}
    color: {{ brandColor }};
    {% endif %}
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-align: left;
  }

  .box-grid__col-list__item {
    margin-bottom: 0.7em;
    margin-left: -0.8em;
    font-size: 1.1em;
    color: #2d7da8;
  }

  .box-grid__col-list__item > a {
    font-size: 1.1em;
    color: #2d7da8;
  }

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


{% endset %}

{% set svcBoxGridJs %}
  new Waypoint.Inview({
    element: $('.box-grid')[0],
    enter: function(direction) {
       $('.box-grid__col-main').addClass('animated fadeInUpBig');
    }
  });

{% endset %}

{% includeCss svcBoxGridCss %}
{% includeJs svcBoxGridJs %}

<section>
  <div class="container-fluid box-grid">
    <div class="row">
      <div class="container">
         {{ data }}
      </div><!-- container -->
    </div><!-- row -->
  </div><!-- container-fluid -->
</section>



