<section class="svc-test container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="svc-test__headline">Client Speaks</h2>
          <p class="svc-test__subheadline">
            There is no better testament than recommendations from our satisfied clients. We have won 90% of our business through recommendation from top law firms, existing clients, VC firms and audit firms.
          </p>
          <blockquote>
            The team has really done a great job in a short period of time, narrowing down on each of the variables used to determine the valuation. Very impressive!
            <cite>— VP Finance & Acting CFO, ISO Group</cite>
          </blockquote>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
