{% includeCssFile '/assets/css/flexslider.css' %}
{% includeJsFile '/assets/js/jquery.flexslider-min.js' %}

{% set svctextCss %}
  .svc-test {
    margin-top: 50px;
  }
  .svc-test__headline {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
    color:  {{ ttBlue }};
  }
  .svc-test__subheadline {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
  .svc-test-hrline {
    border-top: 1px solid #cdcdcd;
  }

  .svc-test__quote {
    text-align: center;
    color:  {{ ttBlue }};
    border: none;
    font-size: 1.5em;
    font-style: italic;
  }

  .svc-test__quote > cite {
    font-weight: 300;
    color: #59656B;
  }


{% endset %}

{% set svctextJs %}
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
    });
  });
{% endset %}

{% includeCss svctextCss %}
{% includeJs svctextJs %}



<section class="svc-test container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="lede__headline text-center">Client Speak</h3>
          <hr class="lede__border">
            <p class="lede__subheadline text-center">
              {{ entry.serviceTestimonialsIntro }}
            </p>
                <div class="flexslider">
                  <ul class="slides">
                    {% for block in entry.serviceTestimonials %}
                      <li>
                      <blockquote class="svc-test__quote">
                        <span class="img-sprite quote left-icon"></span>
                         {{ block.testimonialQuote }}
                        <cite>— {{ block.testimonialAuthor }}</cite>
                      </blockquote>
                      </li>
                    {% endfor %}
                  </ul>
                </div><!-- end flexslider -->

        </div><!-- end col-sm-12 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
