{% set svcintroCSS %}

  .svc-intro {
    padding: 35px 0;
  }

{% endset %}

{% includeCss svcintroCSS %}
<section class="svc-intro container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Valuations have become increasingly important across wide spectrum of business situations, be it complying with complex tax regulations, dealing with ever-growing financial reporting needs or strategic decision making in transaction situations like M&amp;A, fund raising. </p>

          <p>With businesses becoming increasingly global and dominated by intangible assets; your valuation firm should have multi-disciplinary capabilities in understanding industry sectors and technology domains, be able to apply financial expertise and knowledge of regulatory issues and have strong reputation with clients, their advisors, investors and regulators. </p>

        </div>
        <!-- end left col -->

        <div class="col-sm-6">
          <p>Aranca has emerged as a trusted valuation firm for diverse client segments right from start-ups, mid-market companies to large corporates. We have developed an impeccable reputation of providing valuation opinions that are independent, insightful and defensible. Our valuation opinions have consistently withstood the scrutiny of highest standards.</p>

          <p>Our unique combination of capabilities in market intelligence and intellectual property with our robust valuation experience positions us different than any other firm.  We leverage our global scale, extensive depth and breadth of research experience covering diverse industry sectors to deliver compelling story to support our valuation results. </p>

          <p>Our valuation team comprises of seasoned Accredited Senior Appraisers (ASAs) with the American Society of Appraisers and several Chartered Financial Analysts (CFAs), with average experience of over 10 years.</p>

        </div> <!-- end col-sm-6 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
