{% includeJsFile '/assets/js/jquery.chained.min.js' %}

{% set tFilterCss %}

.tfilter {
  padding: 30px 0;
}

.tfilter__selects {
  padding: 30px 0;
}

.tfilter__default {
  -moz-box-shadow:    inset 0 0 10px #DADADA;
   -webkit-box-shadow: inset 0 0 10px #DADADA;
   box-shadow:         inset 0 0 10px #DADADA;

  position: relative;
  background-color: #EFEFEF;
  min-height: 350px;
}

.tfilter__default > p {
  font-size: 2.2em;
  color: #BEBEBE;
  text-transform: uppercase;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tfilter__no-data {
  -moz-box-shadow:    inset 0 0 10px #DADADA;
   -webkit-box-shadow: inset 0 0 10px #DADADA;
   box-shadow:         inset 0 0 10px #DADADA;

  position: relative;
  background-color: #FFE7DF;
  min-height: 350px;
}

.tfilter__no-data > p {
  font-size: 2.2em;
  color: #FF4E4E;
  text-transform: uppercase;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projects tr td {
  padding: 20px 0;
  color: #7A8187;
  font-size: 1.15em;
  padding-left: 1em;
}

#projects .table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: #E4F3FA;
}

.filterby {
  text-transform: uppercase;
  color: black;

}

.filterby.form-control {
  border-radius: none;

}

{% endset %}



{% set tFilterJs %}
  $(function() {
    // chained dropdown plugin
    $("#sectors").chained("#countries");
    $("#subsectors").chained("#countries, #sectors");
    var utils = {
      noItems: function(filteredItems) {
        return filteredItems.length < 1;
      },
      // hack needed to work with chained dropdown plugin
      // which adds extra dots to the end of the selector
      removeDots: function(filters) {
        return (filters.slice(-1) == ".") ? this.removeDots(filters.slice(0, -1)) : filters;
      }
    };
    (function hideDefaultUi() {
      $('#projects').hide();
      $('.tfilter__no-data').hide();
      $('#projects thead').hide();
    })();
    $("select.filterby").on('change', handleSelectChanged);
    function handleSelectChanged() {
      // hide default ui when user interacts with dropdown
      $('.tfilter__default').hide();
      function showItems(){
        $('#projects').show();
        filteredItems.show();
        $(".tfilter__no-data").hide();
        $('#projects thead').show();
      }
      function showEmptyState(){
        $(".tfilter__no-data").show();
        $('#projects').hide();
      }
      // get the filters from selected values of multiple dropdowns
      var filters = utils.removeDots($.map($("select.filterby").toArray(), function(e){
          return $(e).val();
      }).join("."));
      // hide and show selected items
      var allItems = $("#projects").find("tr").hide(),
          filteredItems = $("#projects").find("tr." + filters);
      utils.noItems(filteredItems) ? showEmptyState() : showItems();
    }
  });

{% endset %}


{% includeCss tFilterCss %}
{% includeJs tFilterJs %}

<section class="container-fluid tfilter">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <h3 class="lede__headline">
          Global Experience: No Country is Beyond Our Reach
        </h3>
        <hr class="lede__border">
        <h4 class="lede__subheadline">
          In any given year, we execute client projects in over 60 countries
        </h4>

        <div class="tfilter__content">
          <div class="tfilter__selects text-center">
            <div class="row">
              <div class="col-sm-4">
                <select id="countries" class="filterby form-control" name="countries">
                  <option value="">Countries</option>
                  <option value="india">India</option>
                  <option value="brazil">Brazil</option>
                  <option value="china">China</option>
                  <option value="south-korea">South Korea</option>
                  <option value="france">France</option>
                  <option value="nigeria">Nigeria</option>
                  <option value="saudi-arabia">Saudi Arabia</option>
                  <option value="bangladesh">Bangladesh</option>
                  <option value="nordic">Nordic</option>
                  <option value="sweden">Sweden</option>
                  <option value="denmark">Denmark</option>
                  <option value="norway">Norway</option>
                </select>
              </div>

              <div class="col-sm-4">
                <select id="sectors" class="filterby form-control" name="sectors">
                  <option value="">Sectors</option>
                  <option value="automobiles-parts" class="nigeria">Automobiles & Parts</option>
                  <option value="banking" class="brazil india south-korea saudi-arabia bangladesh">Banking & Financial Services</option>
                  <option value="chemicals" class="brazil india france bangladesh">Chemicals</option>
                  <option value="consumer-goods" class="brazil india south-korea bangladesh nordic">Consumer Goods</option>
                  <option value="consumer-services" class="india">Consumer Services</option>
                  <option value="energy-i-infrastructure" class="brazil india south-korea saudi-arabia sweden">Energy | Infrastructure</option>
                  <option value="food-producers" class="nigeria">Food Producers</option>
                  <option value="general-industrials" class="france">General Industrials</option>
                  <option value="healthcare" class="brazil india south-korea nigeria bangladesh denmark">Healthcare</option>
                  <option value="household-goods" class="france">Household Goods & Home Construction</option>
                  <option value="ict" class="brazil india nigeria saudi-arabia">ICT</option>
                  <option value="industrials-engineering" class="france">Industrial Engineering</option>
                  <option value="industrials" class="india south-korea saudi-arabia">Industrials</option>
                  <option value="machinery" class="norway">Machinery | Instruments</option>
                  <option value="metals-mining" class="brazil india">Metals & Mining</option>
                  <option value="nonlife-insurance" class="france">Nonlife Insurance</option>
                  <option value="utilities" class="nigeria">Utilities</option>
                </select>
              </div>

              <div class="col-sm-4">
                <select id="subsectors" class="filterby form-control" name="subsectors">
                  <option value="">Sub-Sectors</option>
                  <option value="aerospace-defence" class="india\industrials south-korea\industrials saudi-arabia\industrials" >Aerospace & Defence</option>
                  <option value="agrochemicals" class="india\chemicals" >Agrochemicals</option>
                  <option value="alternate-energy" class="brazil\energy-i-infrastructure india\energy-i-infrastructure south-korea\energy-i-infrastructure">Alternate Energy</option>
                  <option value="aluminium" class="brazil\metals-mining india\metals-mining" >Aluminium</option>
                  <option value="animal-health" class="brazil\healthcare india\healthcare">Animal Health</option>
                  <option value="automobiles" class="nigeria\automobiles-parts">Automobiles</option>
                  <option value="beverage" class="brazil\consumer-goods india\consumer-goods nordic\consumer-goods">Beverage</option>
                  <option value="building-materials" class="brazil\energy-i-infrastructure india\energy-i-infrastructure south-korea\energy-i-infrastructure sweden\energy-i-infrastructure">Building Materials</option>
                  <option value="commercial-banking" class="india\banking">Commercial Banking</option>
                  <option value="commercial-vehicles-trucks" class="france\industrials-engineering" >Commercial Vehicles & Trucks</option>
                  <option value="consumer-credit" class="saudi-arabia\banking" >Consumer Credit</option>
                  <option value="cu-pb-zn" class="india\metals-mining">Cu / Pb / Zn</option>
                  <option value="electricity" class="nigeria\utilities">Electricity</option>
                  <option value="engineering-plastics" class="brazil\chemicals india\chemicals" >Engineering Plastics</option>
                  <option value="engineering-products" class="norway\machinery">Engineering Products & Components</option>
                  <option value="food-products" class="brazil\consumer-goods india\consumer-goods bangladesh\consumer-goods nordic\consumer-goods nigeria\food-producers">Food Products</option>
                  <option value="full-line-insurance" class="france\nonlife-insurance" >Full Line Insurance</option>
                  <option value="fine-specialty-chemicals" class="india\chemicals">Fine & Specialty Chemicals</option>
                  <option value="health-delivery" class="india\healthcare">Health Delivery</option>
                  <option value="health-insurance" class="south-korea\banking">Health Insurance</option>
                  <option value="hospitals" class="nigeria\healthcare">Hospitals</option>
                  <option value="industrial-engineering" class="france\general-industrials">Industrial Engineering</option>
                  <option value="internet" class="brazil\ict india\ict">Internet</option>
                  <option value="inorganic-chemicals" class="india\chemicals">Inorganic Chemicals</option>
                  <option value="ites" class="india\ict">ITES</option>
                  <option value="iron-and-steel" class="india\metals-mining">Iron and Steel</option>
                  <option value="it-hardware" class="saudi-arabia\ict india\ict">IT Hardware</option>
                  <option value="leasing" class="brazil\banking">Leasing</option>
                  <option value="logistics" class="india\industrials">Logistics</option>
                  <option value="medical-equipment" class="south-korea\healthcare denmark\healthcare bangladesh\healthcare" >Medical Equipment</option>
                  <option value="medical-supplies" class="india\healthcare">Medical Supplies</option>
                  <option value="metallic" class="brazil\metals-mining">Metallic</option>
                  <option value="mobile-communication" class="brazil\ict india\ict">Mobile Communication</option>
                  <option value="non-durables" class="india\consumer-goods south-korea\consumer-goods">Non-durables</option>
                  <option value="nondurable-household-products" class="france\household-goods">Nondurable Household Products</option>
                  <option value="oil-equipment" class="india\energy-i-infrastructure saudi-arabia\energy-i-infrastructure">Oil Equipment & Services </option>
                  <option value="organic-chemicals" class="bangladesh\chemicals">Organic Chemicals</option>
                  <option value="petrochemicals" class="india\chemicals">Petrochemicals</option>
                  <option value="precious-metals"class="india\metals-mining">Precious Metals</option>
                  <option value="pharmaceuticals"class="bangladesh\healthcare india\healthcare">Pharmaceuticals</option>
                  <option value="real-estate-construction" class="india\energy-i-infrastructure saudi-arabia\energy-i-infrastructure">Real Estate & Construction</option>
                  <option value="retail" class="india\consumer-services">Retail</option>
                  <option value="retail-banking" class="bangladesh\banking india\banking">Retail Banking</option>
                  <option value="software" class="india\ict">Software</option>
                  <option value="telecom" class="india\ict nigeria\ict">Telecom</option>
                  <option value="transportation-services" class="france\chemicals">Transportation Services</option>
                  <option value="utilities"class="india\energy-i-infrastructure">Utilities</option>
                </select>
              </div>
            </div><!-- end row -->
          </div><!-- end tfilter__selects -->
          <div class="tfilter__default">
            <p class="text-center">Select country and sectors from drop down to <strong>start seeing our project portfolio</strong></p>
          </div>

          <div class="tfilter__no-data">
            <p>No data found for this combination. Please select other choices from the dropdown menus above</p>
          </div>

          <table id="projects" class="table table-striped tfilter__table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th>Project Type</th>
              </tr>
            </thead>
            <tbody>
              <tr class="brazil energy-i-infrastructure building-materials">
                <td>Market Intelligence study on Cement, Aggregate & Construction Sectors in Brazil</td>
                <td>Opportunity Assessment / White Space Analysis</td>
              </tr>
              <tr class="brazil energy-i-infrastructure alternate-energy">
                <td>Investment assessment of solar and wind energy contracting in Brazil</td>
                <td>Competitive Intelligence</td>
              </tr>
              <tr class="brazil consumer-goods food-products">
                <td>Supply chain assessment for bakery and cereals products in Brazil</td>
                <td>Value Chain</td>
              </tr>
              <tr class="brazil consumer-goods beverage">
                <td>Market analysis and opportunity selection for premium liquor in Brazil</td>
                <td>Market Study</td>
              </tr>
              <tr class="brazil consumer-goods beverage">
                <td>B2B customer satisfaction measurement and improvement initiatives for leading dairy products manufacturer in Brazil</td>
                <td>Customer Survey</td>
              </tr>
              <tr class="brazil metals-mining metallic">
                <td>Competitive benchmarking of Tin mining industry in North America and Brazil</td>
                <td>Competitive Analysis</td>
              </tr>
              <tr class="brazil metals-mining aluminium">
                <td>Assessment of demand and supply of aluminium foils, and market entry options</td>
                <td>Opportunity Analysis</td>
              </tr>
              <tr class="brazil banking leasing">
                <td>Development of a 5 year strategic plan for a leading leasing company in Brazil</td>
                <td>Business Plan & Financial Model</td>
              </tr>
              <tr class="brazil healthcare animal-health">
                <td>Feasibility study for a distribution business of veterinary pharmaceuticals for companion animals</td>
                <td>Opportunity Assessment</td>
              </tr>
              <tr class="brazil chemicals engineering-plastics">
                <td>Analysis and benchmarking of product portfolio and strategies of styrene co-polymer manufacturers in Brazil </td>
                <td>Competitive Benchmarking</td>
              </tr>
              <tr class="brazil ict internet">
                <td>Emerging white space opportunities in social media strategies of banks and other key financial institutions in Brazil</td>
                <td>White Space Analysis</td>
              </tr>
              <tr class="brazil ict mobile-communication">
                <td>Analysis for market opportunity for smartphones and tablets with built-in native mobile applications</td>
                <td>Customer Needs Analysis</td>
              </tr>
              <tr class="south-korea energy-i-infrastructure building-materials">
                <td>South Korean Distribution Landscape For Bathroom & Wellness and Tableware Products</td>
                <td>Supply Chain Assessment </td>
              </tr>
              <tr class="south-korea energy-i-infrastructure alternate-energy">
                <td>Detailed profiling of key players in the hydro power equipment market in South Korea</td>
                <td>Competitive Intelligence</td>
              </tr>
              <tr class="south-korea industrials aerospace-defence">
                <td>Country Insight study for aerospace and defence market along with competitor landscape in South Korea</td>
                <td>Country Analysis & Benchmarking</td>
              </tr>
              <tr class="south-korea consumer-goods non-durables">
                <td>Distribution practices for high-end sanitary ware in South Korea</td>
                <td>Distribution Assessment</td>
              </tr>
              <tr class="south-korea banking health-insurance">
                <td>White paper on National Health Insurance Program</td>
                <td>Opportunity Assessment / White Space Analysis</td>
              </tr>
              <tr class="south-korea healthcare medical-equipment">
                <td>Market study to identify potential demand of installation of Ultrasonography machines in Seoul, South Korea</td>
                <td>Industry / Sector Deep Dive</td>
              </tr>
              <tr class="finance nonlife-insurance full-line-insurance">
                <td>Market analysis of the distribution channels in the European Insurance sector</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance industrials-engineering commercial-vehicles-trucks">
                <td>Market assessment of the global agricultural vehicle market</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance household-goods nondurable-household-products">
                <td>Opportunity Assessment of OLED Manufacturing in France</td>
                <td>Investment Assessment</td>
              </tr>
              <tr class="finance general-industrials industrial-engineering">
                <td>Market opportunity assessment of the Custom Sensors Market in France</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance chemicals transportation-services">
                <td>Analysis of the French Rail Sector</td>
                <td>Market study</td>
              </tr>
              <tr class="finance ict telecom">
                <td>Investment Opportunity analysis in broadband services in Nigeria and Ghana</td>
                <td>Investment Assessment</td>
              </tr>
              <tr class="finance automobiles-parts automobiles">
                <td>Analysis of Automobile Industry in Abuja, Nigeria</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance food-producers food-products">
                <td>Nigeria Baby Food Market</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance healthcare hospitals">
                <td>Feasibility Report & Financial Valuation of a Hospital in Nigeria </td>
                <td>Market Study</td>
              </tr>
              <tr class="finance utilities electricity">
                <td>Energy Sector Report: Nigeria</td>
                <td>Market Study</td>
              </tr>

              <tr class="india energy-i-infrastructure real-estate-construction">
                <td>Business plan and corporate strategy for  a Real Estate Firm based in Southern India</td>
                <td>Business Plan & Financial Model</td>
              </tr>

              <tr class="india energy-i-infrastructure real-estate-construction">
                <td>Market Opportunity & Feasibility Assessment of Biotech Park</td>
                <td>Feasibility Report</td>
              </tr>

              <tr class="india energy-i-infrastructure real-estate-construction">
                <td>Indian Infrastructure Projects</td>
                <td>Quarterly Competitive Intelligence</td>
              </tr>

              <tr class="india energy-i-infrastructure building-materials">
                <td>Target Screening for M& A for a large Germany-based manufacturer of ceramics </td>
                <td>M&A Target Identification</td>
              </tr>

              <tr class="india energy-i-infrastructure building-materials">
                <td>Investment opportunity assessment  for setting up a construction and demolition waste recycling plant</td>
                <td>Opportunity Assessment / White Space Analysis</td>
              </tr>

              <tr class="india energy-i-infrastructure alternate-energy">
                <td>Identification of M&A targets in the renewable energy sector in India</td>
                <td>Mergers/Acquisitions</td>
              </tr>

              <tr class="india energy-i-infrastructure oil-equipment">
                <td>Opportunity Assessment: Oilfield services in India</td>
                <td>Market Study</td>
              </tr>

              <tr class="india energy-i-infrastructure utilities">
                <td>Market assessment ot the Indian Energy Sector</td>
                <td>Market Study</td>
              </tr>

              <tr class="india energy-i-infrastructure utilities">
                <td>Deep-dive assessment of the Packaged Wastewater Treatment Plants In India </td>
                <td>Market Study</td>
              </tr>

              <tr class="india industrials aerospace-defence">
                <td>Industry analysis of aerospace and defence in India </td>
                <td>Industry analysis</td>
              </tr>

              <tr class="india industrials logistics">
                <td>Market asessment for Value added distribution in food services, personal protection and healthcare for multiple countries</td>
                <td>Market study</td>
              </tr>

              <tr class="india industrials logistics">
                <td>White paper on supply chain risks for Auto sector in India</td>
                <td>Supply Chain Assessment </td>
              </tr>

              <tr class="india industrials logistics">
                <td>Market Study for offshore supply vessels in India</td>
                <td>Market study</td>
              </tr>

              <tr class="india industrials logistics">
                <td>Study on distribution best practices in the Indian retail and consumer sectors</td>
                <td>Industry / Sector Deep Dive</td>
              </tr>

              <tr class="india industrials logistics">
                <td>Market study of Next Flight Out (NFO) courier services in India</td>
                <td>Market study</td>
              </tr>

              <tr class="india industrials logistics">
                <td>Market study & charter strategy for offshore charter vessels in India </td>
                <td>Opportunity Assessment </td>
              </tr>

              <tr class="india consumer-goods food-products">
                <td>Feasibility study on frozen French Fries production plant in India</td>
                <td>Feasibility Study</td>
              </tr>

              <tr class="india consumer-goods non-durables">
                <td>Understanding consumer behaviour and attitude through survey on child care products</td>
                <td>Consumer Survey</td>
              </tr>

              <tr class="india consumer-goods beverage">
                <td>Feasibility study for establishing energy drink plant in India</td>
                <td>Feasibility Report</td>
              </tr>

              <tr class="india consumer-goods beverage">
                <td>Study to identify potential JV partners for establishing bottled water plant in southern India</td>
                <td>M&A</td>
              </tr>

              <tr class="india consumer-goods retail">
                <td>Competitor benchmarking of the hyperlocal marketplaces in India</td>
                <td>Competitive Benchmarking</td>
              </tr>

              <tr class="india metals-mining iron-and-steel">
                <td>Market consolidation strategy through product portfolio optimization for major steel producer</td>
                <td>Portfolio optimization</td>
              </tr>

              <tr class="india metals-mining aluminium">
                <td>Feasibility study for setting up an aluminum packaging materials plant</td>
                <td>Feasibility Study</td>
              </tr>

              <tr class="india metals-mining aluminium">
                <td>Assessment of demand for Aluminum Composite Panels in the Indian construction industry</td>
                <td>Opportunity Analysis</td>
              </tr>

              <tr class="india metals-mining aluminium">
                <td>Competitive analysis of suppliers of aluminium mill products in India</td>
                <td>Competitive Analysis</td>
              </tr>

              <tr class="india metals-mining cu-pb-zn ">
                <td>Feasibility study on Copper bus-bar market in India</td>
                <td>Feasibility Study</td>
              </tr>

              <tr class="india metals-mining cu-pb-zn ">
                <td>Opportunity Assessment for Aluminium Bronze products in India</td>
                <td>Market Study and Opportunity Assessment</td>
              </tr>

              <tr class="india metals-mining precious-metals">
                <td>Market study to assess the current state of hallmarking in India</td>
                <td>Market Study</td>
              </tr>

              <tr class="india banking commercial-banking">
                <td>Opportunity Assessment for an entry into the Indian commercial banking space</td>
                <td>Opportunity Assessment</td>
              </tr>

              <tr class="india banking retail-banking">
                <td>In-depth assesssment of the banking requirements of the Rural population in India</td>
                <td>Customer Needs Analysis</td>
              </tr>

              <tr class="india banking retail-banking">
                <td>Research paper on the trends within the private banking space in India</td>
                <td>Sector Snapshots / Briefs</td>
              </tr>

              <tr class="india healthcare animal-health">
                <td>Feasibility study of setting up an aquafeed manufacturing plant</td>
                <td>Feasibility Study</td>
              </tr>

              <tr class="india healthcare healthcare-delivery">
                <td>White space analysis to identify opporuntities for setting up dental clinics in India</td>
                <td>White Space Analysis</td>
              </tr>

              <tr class="india healthcare healthcare-delivery">
                <td>Assessing the demand-supply gap for ambulatory care services in India and comparing against global best practices </td>
                <td>Industry Deep Dive</td>
              </tr>

              <tr class="india chemicals petrochemicals">
                <td>Techno-Economic feasibility study for a Ethylene Glycol plant in India</td>
                <td>Techno-Economic feasibility</td>
              </tr>

              <tr class="india chemicals inorganic-chemicals">
                <td>Assessment of the Hydrochloric Acid market in India</td>
                <td>Market Study</td>
              </tr>

              <tr class="india chemicals agrochemicals">
                <td>Identifying and developing the most suitable marketing strategies to be adopted by a specialty fertilizer manufacturer in India</td>
                <td>Strategy Assessment</td>
              </tr>

              <tr class="india chemicals engineering-plastics">
                <td>In-depth assessment of demand for engineering plastics in the automotive and telecommunication industries in India</td>
                <td>Market Study</td>
              </tr>

              <tr class="india chemicals fine-specialty-chemicals">
                <td>Market study on fragrance & flavors</td>
                <td>Market Study</td>
              </tr>

              <tr class="india healthcare pharmaceuticals">
                <td>Analysis of multiple sub-segments in the Indian pharmaceutical sector to evaluate the attacrtive investment opportunities</td>
                <td>Opportunity Assessment</td>
              </tr>

              <tr class="india healthcare medical-equipment">
                <td>Deep dive analysis on the Indian orthopedic supplies market to identify products which have high import substitution potential</td>
                <td>Industry / Sector Deep Dive</td>
              </tr>

              <tr class="india ict internet">
                <td>Acquisition opportunity evaluation within the Indian online real estate classifieds segment</td>
                <td>M&A Target / Partner Identification</td>
              </tr>

              <tr class="india ict internet">
                <td>Opportunity Assessment for an online B2B trade portal focused on the MSME segment in India.</td>
                <td>Opportunity Assessment</td>
              </tr>

              <tr class="india ict mobile-communication">
                <td>Entry strategy for Mobile payments Market in India</td>
                <td>Go-To-Market Strategy</td>
              </tr>

              <tr class="india ict mobile-communication">
                <td>Market assessment of tablet sales and channel strategy across key Indian cities</td>
                <td>Supply Chain Assessment</td>
              </tr>

              <tr class="india ict sofware">
                <td>Competitor benchmarking of solution providers of performance management ERP solutions in India</td>
                <td>Competitive Analysis and Benchmarking</td>
              </tr>

              <tr class="india ict sofware">
                <td>Financial modelling for a database management software company in the IT sector in India</td>
                <td>Financial Modelling</td>
              </tr>

              <tr class="india ict sofware">
                <td>Market opportunity assessment for IoT based storage and processing software systems for key sectors (Telecom, Transport, Smart Buildings) in India</td>
                <td>Opportunity Assessment</td>
              </tr>

              <tr class="india ict telecom">
                <td>Market opportunity assessment for Passive Optical LAN Networks in India</td>
                <td>Opportunity Assessment</td>
              </tr>

              <tr class="india ict it-hardware">
                <td>Channel analysis for IT hardware products in tier II cities in Northern and Western India</td>
                <td>Supply Chain Assessment</td>
              </tr>

              <tr class="india ict ites">
                <td>Opportunity assessment for DBaaS (Database-as-a-service) in India</td>
                <td>Opportunity Assessment </td>
              </tr>
            </tbody>
          </table>


        </div><!-- end tfilter__content -->
      </div><!-- end container -->
    </div><!-- end col-sm-12 -->
  </div><!-- end row -->
</section>
