{% includeJsFile '/assets/js/jquery.chained.min.js' %}

{% set tFilterCss %}

.tfilter {
  padding: 30px 0;
}

.tfilter__selects {
  padding: 30px 0;
}

.tfilter__default {
  -moz-box-shadow:    inset 0 0 10px #DADADA;
   -webkit-box-shadow: inset 0 0 10px #DADADA;
   box-shadow:         inset 0 0 10px #DADADA;

  position: relative;
  background-color: #EFEFEF;
  min-height: 350px;
}

.tfilter__default > p {
  font-size: 2.2em;
  color: #BEBEBE;
  text-transform: uppercase;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tfilter__no-data {
  -moz-box-shadow:    inset 0 0 10px #DADADA;
   -webkit-box-shadow: inset 0 0 10px #DADADA;
   box-shadow:         inset 0 0 10px #DADADA;

  position: relative;
  background-color: #FFE7DF;
  min-height: 350px;
}

.tfilter__no-data > p {
  font-size: 2.2em;
  color: #FF4E4E;
  text-transform: uppercase;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projects tr td {
  padding: 20px 0;
  color: #7A8187;
  font-size: 1.15em;
  padding-left: 1em;
}

#projects .table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: #E4F3FA;
}

.filterby {
  text-transform: uppercase;
  color: black;

}

.filterby.form-control {
  border-radius: none;

}

{% endset %}



{% set tFilterJs %}
  $(function() {
    // chained dropdown plugin
    $("#sectors").chained("#countries");
    $("#subsectors").chained("#countries, #sectors");
    var utils = {
      noItems: function(filteredItems) {
        return filteredItems.length < 1;
      },
      // hack needed to work with chained dropdown plugin
      // which adds extra dots to the end of the selector
      removeDots: function(filters) {
        return (filters.slice(-1) == ".") ? this.removeDots(filters.slice(0, -1)) : filters;
      }
    };
    (function hideDefaultUi() {
      $('#projects').hide();
      $('.tfilter__no-data').hide();
      $('#projects thead').hide();
    })();
    $("select.filterby").on('change', handleSelectChanged);
    function handleSelectChanged() {
      // hide default ui when user interacts with dropdown
      $('.tfilter__default').hide();
      function showItems(){
        $('#projects').show();
        filteredItems.show();
        $(".tfilter__no-data").hide();
        $('#projects thead').show();
      }
      function showEmptyState(){
        $(".tfilter__no-data").show();
        $('#projects').hide();
      }
      // get the filters from selected values of multiple dropdowns
      var filters = utils.removeDots($.map($("select.filterby").toArray(), function(e){
          return $(e).val();
      }).join("."));
      // hide and show selected items
      var allItems = $("#projects").find("tr").hide(),
          filteredItems = $("#projects").find("tr." + filters);
      utils.noItems(filteredItems) ? showEmptyState() : showItems();
    }
  });

{% endset %}


{% includeCss tFilterCss %}
{% includeJs tFilterJs %}

<section class="container-fluid tfilter">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <h3 class="lede__headline">
          Global Experience: No Country is Beyond Our Reach
        </h3>
        <hr class="lede__border">
        <h4 class="lede__subheadline">
          In any given year, we execute client projects in over 60 countries
        </h4>

        <div class="tfilter__content">
          <div class="tfilter__selects text-center">
            <div class="row">
              <div class="col-sm-4">
                <select id="countries" class="filterby form-control" name="countries">
                  <option value="">Countries</option>
                  <option value="india">India</option>
                  <option value="brazil">Brazil</option>
                  <option value="china">China</option>
                  <option value="south-korea">South Korea</option>
                  <option value="france">France</option>
                  <option value="nigeria">Nigeria</option>
                  <option value="saudi-arabia">Saudi Arabia</option>
                  <option value="bangladesh">Bangladesh</option>
                  <option value="nordic">Nordic</option>
                  <option value="sweden">Sweden</option>
                  <option value="denmark">Denmark</option>
                  <option value="norway">Norway</option>
                </select>
              </div>

              <div class="col-sm-4">
                <select id="sectors" class="filterby form-control" name="sectors">
                  <option value="">Sectors</option>
                  <option value="automobiles-parts" class="nigeria">Automobiles & Parts</option>
                  <option value="banking" class="brazil south-korea saudi-arabia bangladesh">Banking & Financial Services</option>
                  <option value="chemicals" class="brazil france bangladesh">Chemicals</option>
                  <option value="consumer-goods" class="brazil south-korea bangladesh nordic">Consumer Goods</option>
                  <option value="energy-i-infrastructure" class="brazil south-korea saudi-arabia sweden">Energy I Infrastructure</option>
                  <option value="food-producers" class="nigeria">Food Producers</option>
                  <option value="general-industrials" class="france">General Industrials</option>
                  <option value="healthcare" class="brazil south-korea nigeria bangladesh denmark">Healthcare</option>
                  <option value="household-goods" class="france">Household Goods & Home Construction</option>
                  <option value="ict" class="brazil nigeria saudi-arabia">ICT</option>
                  <option value="industrials-engineering" class="france">Industrial Engineering</option>
                  <option value="industrials" class="south-korea saudi-arabia">Industrials</option>
                  <option value="machinery" class="norway">Machinery | Instruments</option>
                  <option value="metals-mining" class="brazil">Metals & Mining</option>
                  <option value="nonlife-insurance" class="france">Nonlife Insurance</option>
                  <option value="utilities" class="nigeria">Utilities</option>
                </select>
              </div>

              <div class="col-sm-4">
                <select id="subsectors" class="filterby form-control" name="subsectors">
                  <option value="">Sub-Sectors</option>
                  <option value="aerospace-defence" class="south-korea\industrials saudi-arabia\industrials" >Aerospace & Defence</option>
                  <option value="alternate-energy" class="brazil\energy-i-infrastructure south-korea\energy-i-infrastructure">Alternate Energy</option>
                  <option value="aluminium" class="brazil\metals-mining" >Aluminium</option>
                  <option value="animal-health" class="brazil\healthcare">Animal Health</option>
                  <option value="automobiles" class="nigeria\automobiles-parts">Automobiles</option>
                  <option value="beverage" class="brazil\consumer-goods nordic\consumer-goods">Beverage</option>
                  <option value="building-materials" class="brazil\energy-i-infrastructure south-korea\energy-i-infrastructure sweden\energy-i-infrastructure">Building Materials</option>
                  <option value="commercial-vehicles-trucks" class="france\industrials-engineering" >Commercial Vehicles & Trucks</option>
                  <option value="consumer-credit" class="saudi-arabia\banking" >Consumer Credit</option>
                  <option value="electricity" class="nigeria\utilities">Electricity</option>
                  <option value="engineering-plastics" class="brazil\chemicals" >Engineering Plastics</option>
                  <option value="engineering-products" class="norway\machinery">Engineering Products & Components</option>
                  <option value="food-products" class="brazil\consumer-goods bangladesh\consumer-goods nordic\consumer-goods nigeria\food-producers">Food Products</option>
                  <option value="full-line-insurance" class="france\nonlife-insurance" >Full Line Insurance</option>
                  <option value="health-insurance" class="south-korea\banking" >Health Insurance</option>
                  <option value="hospitals" class="nigeria\healthcare" >Hospitals</option>
                  <option value="industrial-engineering" class="france\general-industrials">Industrial Engineering</option>
                  <option value="internet" class="brazil\ict">Internet</option>
                  <option value="it-hardware" class="saudi-arabia\ict">IT Hardware</option>
                  <option value="leasing" class="brazil\banking">Leasing</option>
                  <option value="medical-equipment" class="south-korea\healthcare denmark\healthcare bangladesh\healthcare" >Medical Equipment</option>
                  <option value="metallic" class="brazil\metals-mining">Metallic</option>
                  <option value="mobile-communication" class="brazil\ict">Mobile Communication</option>
                  <option value="non-durables" class="south-korea\consumer-goods">Non-durables</option>
                  <option value="nondurable-household-products" class="france\household-goods">Nondurable Household Products</option>
                  <option value="oil-equipment" class="saudi-arabia\energy-i-infrastructure">Oil Equipment & Services </option>
                  <option value="organic-chemicals" class="bangladesh\chemicals">Organic Chemicals</option>
                  <option value="pharmaceuticals"class="bangladesh\healthcare">Pharmaceuticals</option>
                  <option value="real-estate-construction" class="saudi-arabia\energy-i-infrastructure">Real Estate & Construction</option>
                  <option value="retail-banking" class="bangladesh\banking">Retail Banking</option>
                  <option value="telecom" class="nigeria\ict">Telecom</option>
                  <option value="transportation-services" class="france\chemicals">Transportation Services</option>




                </select>
              </div>
            </div><!-- end row -->
          </div><!-- end tfilter__selects -->
          <div class="tfilter__default">
            <p class="text-center">Select country and sectors from drop down to <strong>start seeing our project portfolio</strong></p>
          </div>

          <div class="tfilter__no-data">
            <p>No data found for this combination. Please select other choices from the dropdown menus above</p>
          </div>

          <table id="projects" class="table table-striped tfilter__table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th>Project Type</th>
              </tr>
            </thead>
            <tbody>
              <tr class="brazil energy-i-infrastructure building-materials">
                <td>Market Intelligence study on Cement, Aggregate & Construction Sectors in Brazil</td>
                <td>Opportunity Assessment / White Space Analysis</td>
              </tr>
              <tr class="brazil energy-i-infrastructure alternate-energy">
                <td>Investment assessment of solar and wind energy contracting in Brazil</td>
                <td>Competitive Intelligence</td>
              </tr>
              <tr class="brazil consumer-goods food-products">
                <td>Supply chain assessment for bakery and cereals products in Brazil</td>
                <td>Value Chain</td>
              </tr>
              <tr class="brazil consumer-goods beverage">
                <td>Market analysis and opportunity selection for premium liquor in Brazil</td>
                <td>Market Study</td>
              </tr>
              <tr class="brazil consumer-goods beverage">
                <td>B2B customer satisfaction measurement and improvement initiatives for leading dairy products manufacturer in Brazil</td>
                <td>Customer Survey</td>
              </tr>
              <tr class="brazil metals-mining metallic">
                <td>Competitive benchmarking of Tin mining industry in North America and Brazil</td>
                <td>Competitive Analysis</td>
              </tr>
              <tr class="brazil metals-mining aluminium">
                <td>Assessment of demand and supply of aluminium foils, and market entry options</td>
                <td>Opportunity Analysis</td>
              </tr>
              <tr class="brazil banking leasing">
                <td>Development of a 5 year strategic plan for a leading leasing company in Brazil</td>
                <td>Business Plan & Financial Model</td>
              </tr>
              <tr class="brazil healthcare animal-health">
                <td>Feasibility study for a distribution business of veterinary pharmaceuticals for companion animals</td>
                <td>Opportunity Assessment</td>
              </tr>
              <tr class="brazil chemicals engineering-plastics">
                <td>Analysis and benchmarking of product portfolio and strategies of styrene co-polymer manufacturers in Brazil </td>
                <td>Competitive Benchmarking</td>
              </tr>
              <tr class="brazil ict internet">
                <td>Emerging white space opportunities in social media strategies of banks and other key financial institutions in Brazil</td>
                <td>White Space Analysis</td>
              </tr>
              <tr class="brazil ict mobile-communication">
                <td>Analysis for market opportunity for smartphones and tablets with built-in native mobile applications</td>
                <td>Customer Needs Analysis</td>
              </tr>
              <tr class="south-korea energy-i-infrastructure building-materials">
                <td>South Korean Distribution Landscape For Bathroom & Wellness and Tableware Products</td>
                <td>Supply Chain Assessment </td>
              </tr>
              <tr class="south-korea energy-i-infrastructure alternate-energy">
                <td>Detailed profiling of key players in the hydro power equipment market in South Korea</td>
                <td>Competitive Intelligence</td>
              </tr>
              <tr class="south-korea industrials aerospace-defence">
                <td>Country Insight study for aerospace and defence market along with competitor landscape in South Korea</td>
                <td>Country Analysis & Benchmarking</td>
              </tr>
              <tr class="south-korea consumer-goods non-durables">
                <td>Distribution practices for high-end sanitary ware in South Korea</td>
                <td>Distribution Assessment</td>
              </tr>
              <tr class="south-korea banking health-insurance">
                <td>White paper on National Health Insurance Program</td>
                <td>Opportunity Assessment / White Space Analysis</td>
              </tr>
              <tr class="south-korea healthcare medical-equipment">
                <td>Market study to identify potential demand of installation of Ultrasonography machines in Seoul, South Korea</td>
                <td>Industry / Sector Deep Dive</td>
              </tr>
              <tr class="finance nonlife-insurance full-line-insurance">
                <td>Market analysis of the distribution channels in the European Insurance sector</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance industrials-engineering commercial-vehicles-trucks">
                <td>Market assessment of the global agricultural vehicle market</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance household-goods nondurable-household-products">
                <td>Opportunity Assessment of OLED Manufacturing in France</td>
                <td>Investment Assessment</td>
              </tr>
              <tr class="finance general-industrials industrial-engineering">
                <td>Market opportunity assessment of the Custom Sensors Market in France</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance chemicals transportation-services">
                <td>Analysis of the French Rail Sector</td>
                <td>Market study</td>
              </tr>
              <tr class="finance ict telecom">
                <td>Investment Opportunity analysis in broadband services in Nigeria and Ghana</td>
                <td>Investment Assessment</td>
              </tr>
              <tr class="finance automobiles-parts automobiles">
                <td>Analysis of Automobile Industry in Abuja, Nigeria</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance food-producers food-products">
                <td>Nigeria Baby Food Market</td>
                <td>Market Study</td>
              </tr>
              <tr class="finance healthcare hospitals">
                <td>Feasibility Report & Financial Valuation of a Hospital in Nigeria </td>
                <td>Market Study</td>
              </tr>
              <tr class="finance utilities electricity">
                <td>Energy Sector Report: Nigeria</td>
                <td>Market Study</td>
              </tr>
            </tbody>
          </table>


        </div><!-- end tfilter__content -->
      </div><!-- end container -->
    </div><!-- end col-sm-12 -->
  </div><!-- end row -->
</section>
