{% set verticaltabCss %}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 3rem;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}
.nav-tabs li {
  float: none;
  margin: 0;
}
.nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
}
.nav-tabs li a:hover {
  background-color: #444;
}
.nav-tabs .glyphicon {
  color: #fff;
}
.nav-tabs .active .glyphicon {
  color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}
.tab-content .active {
  display: block;
}

.list-group {
  width: 100%;
}
.list-group .list-group-item {
  height: 50px;
}
.list-group .list-group-item h4, .list-group .list-group-item span {
  line-height: 11px;
}


{% endset %}

{% set verticaltabJs%}
var tabsFn = (function() {

  function init() {
    setHeight();
  }

  function setHeight() {
    var $tabPane = $('.tab-pane'),
        tabsHeight = $('.nav-tabs').height();

    $tabPane.css({
      height: tabsHeight
    });
  }

  $(init);
})();
{% endset %}

{% includeCss verticaltabCss %}
{% includeJs verticaltabJs %}

<section>
  <div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-5">
      <div class="tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#a" data-toggle="tab">Agriculture</a></li>
          <li><a href="#b" data-toggle="tab">Automobiles</a></li>
          <li><a href="#c" data-toggle="tab">Food & Beverages</a></li>
          <li><a href="#d" data-toggle="tab">Chemicals</span></a></li>
          <li><a href="#e" data-toggle="tab">Retail</a></li>
          <li><a href="#f" data-toggle="tab">Capital Goods</a></li>
          <li><a href="#g" data-toggle="tab">MRO</a></li>
          <li><a href="#h" data-toggle="tab">Chemicals</a></li>
          <li><a href="#i" data-toggle="tab">Energy</a></li>
          <li><a href="#j" data-toggle="tab">Healthcare</a></li>
          <li><a href="#k" data-toggle="tab">Telecom</a></li>
          <li><a href="#l" data-toggle="tab">Technology</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="a">
            <h3>Agriculture</h3>
            <ul class="list-group pull-left">
              <li>Global market opportunity assessment for innovative solutions in household appliances to capture the latent need for the client's niche product and devising a go-to-market strategy for the same</li>
              <li>Market study on ‘After Sales Services Of Appliances’ in the GCC highlighting specific ways in which the client could improve their after sales campaigns</li>
              <li>Market opportunity analysis on cooling and refrigeration units used in convenience stores to identify opportunity size, demand from franchise vis-a-vis demand from owned outlets, and procurement patterns</li>
              <li>Strategy support for a major consumer electronics company to develop their e-commerce strategy for launching a direct-to-consumer channel for the MENA region</li>
              <li>Market study  to assess the current demand and future outlook for ARM and x86 architectures used within  different consumer devices for helping the client to develop strategies for each product types</li>
              <li>Market intelligence for a global printer company looking to boost its market share and understand ways to increase its footprint further in emerging economies</li>
              <li>Market study on Vietnam’s Digital Camera market covering comprehensive industry information such as market size, industry structure, competition landscape, product portfolios of key players, distribution models, pricing, and growth potential by product segment</li>
              <li>Opportunity analysis for a leading multinational that manufactures air conditioners to shortlist three out of  the 22 Tier II and III cities in India and formulate a go-to-market strategy for each city based on macroeconomic indicators, market size, and trends, as well as a detailed end-user analysis for each city</li>
            </ul>
          </div>
          <div class="tab-pane" id="b">
            BBBBBThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
          </div>
          <div class="tab-pane" id="c">CCCCThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="d">DDDDDSecondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
          <div class="tab-pane" id="e">EEEEEThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="f">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="g">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="h">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="i">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="j">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>

          <div class="tab-pane" id="k">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
          <div class="tab-pane" id="l">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>

        </div><!-- /tab-content -->
      </div><!-- /tabbable -->
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
</section>

