{% set whyarcCSS %}
  .why-arc-b { padding: 20px 0; }

  .why-arc-b__headline--main {
    margin-bottom: 20px;
  }
  .why-arc-b__headline {
    font-size: 30px;
    color: #59656B;
    font-weight: 600;
    text-align: center;
  }
  .why-arc-b__subtext {
    font-size: 18px;
    text-align: center;
    color: {{ ttgrey }};
    font-weight: 500;
  }
  .why-arc-b__border {
    width: 15%;
    border: 2px solid #034883;
  }
  .why-arc-b__headline--col {
    text-align: center;
  }
  .why-arc-b__content {
    color: {{ ttgrey }};
    font-size: 15px;
    text-align: center;
  }
  .why-arc-b__border--content {
    width: 50%;
  }

{% endset %}

{% includeCss whyarcCSS %}


<section class="why-arc-b container-fluid">
  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 why-arc-b__headline--main">
          {% for block in entry.contentBlockIntro %}
            <h3 class="why-arc-b__headline">{{ block.headline }}</h3>
            <p class="why-arc-b__subtext">{{ block.subHeadline }}</p>
            <hr class="why-arc-b__border">
          {% endfor %}

        </div><!-- end col 12 -->
      </div><!-- end row -->

      <div class="row">
        {% for block in entry.blockContent %}
        <div class="col-sm-4 why-arc-b__headline--col">
          <img src="http://loremicon.com/files/uploads/line/png/32/global_32px.png" alt="cap-block-icon1">
          <h3 class="why-arc-b__headline--small">{{ block.headline }}</h3>
          <hr class="why-arc-b__border--content">
          <div class="why-arc-b__content">
            <p>{{ block.subtext }}</p>
          </div>
        </div>
        {% if loop.index % 3 == 0 %}
          </div> <br><br> <div class="row">
        {% endif %}

        {% endfor %}
      </div><!-- end row -->



    </div><!-- end container -->
  </div><!-- end row -->
</section>


