{% set whyarcCSS %}



{% endset %}

{% includeCss whyarcCSS %}


<section class="why-arc container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="why-arc__headline">Why Clients<br><span>Choose</span><br>Aranca</h3>
          <p class="why-arc__subtext">Our track-record and depth of our valuation experience</p>
        </div>
        <!-- end left col -->

        <div class="col-sm-6">

          <div class="row">
            <div class="col-sm-6">
              <img src="http://loremicon.com/files/uploads/line/png/32/global_32px.png" alt="">
              <p class="why-arc__stat">3000+</p>
              <p class="why-arc__stat__content">Valuation Opinions</p>
              <p class="why-arc__stat__subcontent">delivered to-date</p>
            </div>

            <div class="col-sm-6">
              <img src="http://loremicon.com/files/uploads/line/png/32/global_32px.png" alt="">
              <p class="why-arc__stat">1000+</p>
              <p class="why-arc__stat__content">businesses</p>
              <p class="why-arc__stat__subcontent">valued to-date</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <img src="http://loremicon.com/files/uploads/line/png/32/global_32px.png" alt="">
              <p class="why-arc__stat">50+</p>
              <p class="why-arc__stat__content">experienced valuation analysts</p>
              <p class="why-arc__stat__subcontent">including senior ASA, CPA, CFA credentialed valuation experts</p>
            </div>

            <div class="col-sm-6">
              <img src="http://loremicon.com/files/uploads/line/png/32/global_32px.png" alt="">
              <p class="why-arc__stat">20+</p>
              <p class="why-arc__stat__content">countries</p>
              <p class="why-arc__stat__subcontent">in which we have valued companies</p>
            </div>
          </div>

        </div> <!-- end col-sm-6 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
