{% set formId = "nav10" %}

{% set whyarcCSS %}
  .why-arc-b { padding: 30px 0;
    {% if blueBackground is defined %}
    background-color: #E2F0FB;
    {% endif %}
  }

  .why-arc-b__headline--main {
    margin-bottom: 20px;
  }
  .why-arc-b__headline {
    font-size: 30px;
    color: #59656B;
    font-weight: 300;
    text-align: center;
  }

  .why-arc-b__headline--small {
    color: {{redPrimary}};
    font-size: 1.7em;
    margin-top: 0;
    font-weight: 300;
  }

  .why-arc-b__subtext {
    font-size: 18px;
    text-align: center;
    color: {{ ttgrey }};
    font-weight: 500;
  }
  .why-arc-b__border {
    width: 15%;
    border: 1px solid #034883;
  }
  .why-arc-b__headline--col {
    text-align: center;
  }
  .why-arc-b__content {
    color: #5E6464;
  }

  .why-arc-b__content > p {
    font-size: 1.2em;
  }

  .why-arc-b__border--content {
    width: 50%;
    margin: 0;
    color: white;
  }

  .why-arc-b__icon {
    padding-bottom: 1em;
    opacity: 0.8;
  }

  .svc__cta p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-top: 1px dotted #2279C3;
    border-bottom: 1px dotted #2279C3;
  }

  .svc__cta p a {
    font-size: 1.6em;
    text-decoration: none;
    color: #2279C3;
    font-weight: 300;
    transition: 0.5s background-color;
    padding: 5px;
    display: inline-block;
    padding: 10px 0;
  }

  .svc__cta p:hover a {
    background-color: #2279C3;
    color: white;
    display: block;
  }

@media only screen and (max-width : 480px) {
  .svc__cta p {
    font-size: 1.2em;
    padding: 5px;
  }
}

{% endset %}

{% set whyarcJs %}
  new Waypoint.Inview({
    element: $('.why-arc-b__headline--col')[0],
    enter: function(direction) {
      $('.why-arc-b__headline--col').addClass('animated fadeInUp');
    }
  });

{% endset%}

{% includeCss whyarcCSS %}
{% includeJs whyarcJs %}

<section class="why-arc-b container-fluid" id="sol">
  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 why-arc-b__headline--main">
          {% for block in entry.contentBlockIntro %}
            <h3 class="why-arc-b__headline">{{ block.headline }}</h3>
            <p class="why-arc-b__subtext">{{ block.subHeadline }}</p>
            <hr class="lede__border">
          {% endfor %}
          
        </div><!-- end col 12 -->
      </div><!-- end row -->

      <div class="row">
        {% for block in entry.blockContent %}
        <div class="col-sm-4 why-arc-b__headline--col">
          {% if block.icon.first() | length %}
            <img src="{{ block.icon.first().getUrl() }}" class="why-arc-b__icon" alt="cap-block-icon1">
          {% endif %}
          <h3 class="why-arc-b__headline--small">{{ block.headline }}</h3>
          <hr class="why-arc-b__border--content">
          <div class="why-arc-b__content">
            <p>{{ block.subtext }}</p>
          </div>
        </div>
        {% if loop.index % 3 == 0 %}
          </div> <br><br> <div class="row">
        {% endif %}

        {% endfor %}
      
       {% if includeCta is defined %}
          
          {% set svcCtaJs %}
            
          (function ( $, window, document, undefined ) {
              $(".svc__cta__form").click(function(e){
                e.preventDefault();
                console.log('show modal');
                $('#{{formId}}').data("FSNav").showNav();
              });
            }( jQuery, window, document ));
  
          {% endset %}

          {% includeJs svcCtaJs  %}

          <div class="svc__cta">
            <p><a class="svc__cta__form" href="">Unlock the true value your ip portfolio can <span>deliver to your business</span></a></p>
          </div>

          {# Get the category that this entry belongs to #}
          {% set entryCategory = entry.servicesCategory.first() %}

          {% if entryCategory is defined %}

          {% switch entryCategory.slug %}
            {% case 'business-research' %}
              {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/0017/d-ext-0002' %}
            {% case 'procurement-research' %}
              {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/0020/d-ext-0002' %}
            {% case 'investment-research' %}
              {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/001d/d-ext-0002' %}
            {% case 'ip-research' %}
              {% set formActionUrl = 'http://connect.aranca.com/acton/eform/17562/001e/d-ext-0002' %}
            {% default %}
              {% set formActionUrl = 'invalid' %}
          {% endswitch %}

          {% include '_components/global/_inquiry-form-modal'
            with {  'formtype': 'svc_cta', 'formAction': formActionUrl, 'formId': formId } %}
          {% endif %}

        {% endif %}

      </div><!-- end row -->

    </div><!-- end container -->
  </div><!-- end row -->
</section>


