{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set ztabBCss %}

  .ztab-b {
    padding: 60px 0;
    background-color: #E4F3FA;
  }

   .ztab-b::after {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #2E6596;
    position: relative;
    left: 47.3%;
    bottom: -66px;
    z-index: 4;
  }

  .ztabs-b__headline {
    font-size: 2em;
    color: #e55b2b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 3px #ccc;
  }

  .ztab-b__list__item__head {
    font-size: 1.3em;
    line-height: 1.6em;
    color: {{ ttgrey }};
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px dashed #C2CDD5;
    padding-bottom: 0.5em;
    color: #A0ABB2;
  }

  .ztab-b__subllist > li {
    margin-left: 2em;
    list-style: none;
    line-height: 2.5em;
    padding-left: 10px;
  }


  .up-arrow-blok {
    background-color:  {{ bgBlue }};
    color: {{ ttPrimary }};
    padding-top: 1.5em;
    padding-bottom:2.5em;
  }
  .up-arrow-blok__icon {
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
  }
  .up-arrow-blok__headline {
    color: {{ ttPrimary }};
  }
  .up-arrow-blok__list {
    padding-top: 2.5em;
  }

  .up-arrow-blok__list__item {
    font-size: 1.3em;
    line-height: 3.0em;
    color: {{ ttPrimary  }};
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
  }



{% endset %}

{% set ztabBJs %}

 $(document).ready(function () {
      /*  jQuery activation and setting options. Visit docs.zozoui.com/tabs for
          complete documentation, option list, public methods, callback events.*/
      $("#tabbed-nav").zozoTabs({
          theme: "flat-graphite",

          orientation: "vertical",
          position: "top-left",
          size: "xlarge",
          animation: {
              duration: 400,
              effects: "slideV"
          },
      });
  });

{% endset %}

{% includeJs ztabBJs %}
{% includeCss ztabBCss %}

<section class="container-fluid ztab-b">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {{entry.solutionRichtext}}

        </div> <!-- end col-sm-12 -->
      </div> <!-- end row -->
    </div> <!-- end row -->
  </div> <!-- end row -->
</section><!-- end ztab-bs-b -->

  <section class="container-fluid up-arrow-blok">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="up-arrow-blok__icon"><img src="/assets/uploads/icons/services/trusted-white.png" alt="cap-block-icon1" /></div>
            <div class="lede__headline text-center up-arrow-blok__headline">How Our Solutions Can Help</div>
            <div class="lede__subheadline text-center"></div>


            <ul class="up-arrow-blok__list">
              <div class="col-sm-4">
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/flexibility-white.png" class="" alt="cap-block-icon1">  Category@360 Diagnosis Framework</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/global-footprint-white.png" class="" alt="cap-block-icon1">  Best-Cost Country Sourcing</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/cost-effective-white.png" class="" alt="cap-block-icon1">  Should-Cost Modelling</li>
              </div>
              <div class="col-sm-4">
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/cap-white.png" class="" alt="cap-block-icon1">  Price Forecasting</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/32x32-22-white.png" class="" alt="cap-block-icon1">  Supply-Chain Risk Assessment</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/advisors-white.png" class="" alt="cap-block-icon1">  RFx Support for Supplier Assessment</li>
              </div>
              <div class="col-sm-4">
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/exp-va-analysts-white.png" class="" alt="cap-block-icon1">  Category Landscape Reports</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/focus-insight-white.png" class="" alt="cap-block-icon1">  Supplier Risk Analysis</li>
                <li class="up-arrow-blok__list__item"><img src="/assets/uploads/icons/services/pe-firms-white.png" class="" alt="cap-block-icon1">  Category Dashboard</li>
              </div>
            </ul>
          </div> <!-- col-sm-12 -->
        </div> <!-- end row  -->
      </div><!-- end container -->
    </div> <!-- end row  -->
  </section><!-- end section -->


