{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set ztabBCss %}

  .ztab-b {
    padding: 60px 0;
    background-color: #E4F3FA;
    {% if bkColor is defined  %}
      background-color: {{bkColor}};
    {% endif %}
  }

{% if bottomArrow is defined %}
   .ztab-b::after {
      width: 0;
      height: 0;
      border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-top: 35px solid {{arrowColor}};
      position: relative;
      left: 47.3%;
      bottom: -90px;
  }
{% endif %}

  .ztabs-b__headline {
    font-size: 2em;
    color: #e55b2b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 3px #ccc;
  }

  .ztab-b__list__item__head {
    font-size: 1.3em;
    line-height: 1.6em;
    color: {{ ttgrey }};
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px dashed #C2CDD5;
    padding-bottom: 0.5em;
    color: #A0ABB2;
  }

  .ztab-b__subllist > li {
    margin-left: 2em;
    list-style: none;
    line-height: 2.5em;
    padding-left: 10px;
  }

{% endset %}

{% set ztabBJs %}

 $(document).ready(function () {
      /*  jQuery activation and setting options. Visit docs.zozoui.com/tabs for
          complete documentation, option list, public methods, callback events.*/
      $("#tabbed-nav").zozoTabs({
          theme: "flat-graphite",

          orientation: "vertical",
          position: "top-left",
          size: "xlarge",
          animation: {
              duration: 400,
              effects: "slideV"
          },
      });
  });

{% endset %}

{% includeJs ztabBJs %}
{% includeCss ztabBCss %}

<section class="container-fluid ztab-b" id="solution">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {{entry.solutionRichtext}}

        </div> <!-- end col-sm-12 -->
      </div> <!-- end row -->
    </div> <!-- end row -->
  </div> <!-- end row -->
</section><!-- end ztab-bs-b -->




