{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set ztabsCss %}

  .ztabs {
    padding: 60px 0;
    /*background: url('/assets/images/patterns/swirl_pattern.jpg');*/
  }

  .ztabs__headline {
    font-size: 2em;
    color: #e55b2b;
    letter-spacing: 0.05em;
  }

  .ztab__list__item__head {
    font-size: 1.40em;
    line-height: 1.6em;
    color: {{ ttgrey }};
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #C2CDD5;
    padding-bottom: 0.5em;
    color: #A0ABB2;
  }

  .ztab__subllist > li {
    margin-left: 1em;
    list-style: disc;
    line-height: 2.2em;
    font-size: 1.3em;
    color: #878788;
  }
.ztab__list__item--content {
  color: #8B8D8F;
  padding-left: 20px;
}
{% endset %}

{% set ztabsJs %}

 $(document).ready(function () {
      /*  jQuery activation and setting options. Visit docs.zozoui.com/tabs for
          complete documentation, option list, public methods, callback events.*/
      $("#tabbed-nav").zozoTabs({
          theme: "red",
          style: "underlined",
          // theme: "silver",
          orientation: "vertical",
          position: "top-left",
          size: "xlarge",
          animation: {
              duration: 400,
              effects: "slideV"
          },
      });
  });

{% endset %}

{% includeJs ztabsJs %}
{% includeCss ztabsCss %}

<section class="container-fluid ztabs">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            {{entry.solutionRichtext}}
        </div> <!-- end col-sm-12 -->
      </div> <!-- end row -->
    </div> <!-- end row -->
  </div> <!-- end row -->


</section><!-- end ztabs -->

