{% includeJsFile "/assets/js/slick.min.js"  %}
{% includeJsFile "/assets/js/jquery.matchHeight-min.js" %}
{% includeCssFile "/assets/css/slick.css"  %}

{% set asxCss %}
  .asx-slider {
    padding: 60px 0;
    background: #E2F0FB;
  }

  .asx-slider__box {
    margin-top: 50px;
  }
  .asx-item {
    text-align: center;
    background-color: white;
    padding: 2em;
    margin-bottom: 2.3em;
    padding-top: 3em;
    max-height: 200px;
    box-shadow: 2px 2px 8px #D9D9D9;
  }
  .asx-item__cat-headline {
    text-transform: uppercase;
    font-size: 1em;
    color: {{ roman }};
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: left;
  }
  .asx-item__headline {
    font-weight: 300;
    color: #06547E;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .asx-item__list {
    font-weight: 300;
    color: #06547E;
    font-size: 1.1em;
    line-height: 1.4em;
    list-style: square;
    text-align: left;
    padding-left: 20px;
}
  .asx-item__region {
    color: #3886AE;
  }

  .asx-slider .slick-prev:before,
  .asx-slider .slick-next:before
  {
      font-size: 30px;
      color: #00458C;
  }

  .asx-slider .slick-prev
  {
      left: -5%;
  }


  .asx-slider .slick-next
  {
      right: -4%;
  }

{% endset %}

{% set asxJs %}

$(document).ready(function(){
  $('.asx-slider__box').slick({
    arrows: true,
    dots: false,
    infinite: true,
    speed: 300,
    adaptiveHeight: true
  });

  $('.asx-item').matchHeight({
    byRow: false
  });
});

{% endset %}

{% includeCss asxCss %}
{% includeJs asxJs %}

<section class="container-fluid asx-slider">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <div class="lede__icon text-center"><img src="/assets/uploads/icons/solutions-icon-gray.png" class="asx-slider__icon img-center" alt="asx-slider-icon"></div> -->

            {{ entry.assignmentRichtext }}

        </div>
        <!-- col 12 -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- row -->
</section>
