
{% switch craft.request.path %}

    {% case "valuation-and-advisory" %}

      {% redirect "http://www.arancavaluation.com" 301 %}

    {% case "valuation-and-advisory/us-gaap-reporting" %}

      {% redirect "http://www.arancavaluation.com" 301 %}

    {% case "valuation-and-advisory/us-tax-compliance" %}

      {% redirect "http://www.arancavaluation.com" 301 %}

    {% case "valuation-and-advisory/transaction-support" %}

      {% redirect "http://www.arancavaluation.com" 301 %}

    {% case "valuation-and-advisory/us-gaap-reporting/goodwill-impairment-asc350" %}

      {% redirect "http://www.arancavaluation.com/financial-reporting/impairment-of-goodwill-and-other-intangible-assets" 301 %}

    {% case "valuation-and-advisory/us-gaap-reporting/purchase-price-allocation-asc805" %}

      {% redirect "http://www.arancavaluation.com/financial-reporting/purchase-price-allocations-asc-805-ifrs-3" 301 %}

    {% case "valuation-and-advisory/us-tax-compliance/carry-forward-of-nols-irc382" %}

      {% redirect "http://www.arancavaluation.com/tax-valuation/nols-built-in-capital-gains-irc382" 301 %}

    {% case "valuation-and-advisory/us-tax-compliance/s-corp-election-irc1374" %}

      {% redirect "http://www.arancavaluation.com/tax-valuation/s-corp-election-irc-1374" 301 %}

    {% case "valuation-and-advisory/transaction-support/fairness-opinions" %}

      {% redirect "http://www.arancavaluation.com/transaction-services/fairness-opinions" 301 %}

    {% case "valuation-and-advisory/us-tax-compliance/irc409a-valuation" %}

      {% redirect "http://www.arancavaluation.com/tax-valuation/409a-valuation" 301 %}
      
    {% case "editorial-services" %}
      {% redirect "http://www.aranca.com/landing/editorial/public/" 301 %}
    
    {% case "knowledge-library/special-report/patent-monetization-for-iam" 301 %}
      {% redirect "http://www.aranca.com/knowledge-library/special-reports/pharma-patent-monetization-new-approaches-new-synergies" 301 %}

    {% default %}
      {% redirect 404 %}
{% endswitch %}


{{ craft.request.path }}
