{% extends "base_layouts/_site" %}

{% set title = 'Press Releases - Announcements, Coverage, Press kit and More' %}
{% set desc = 'Aranca is a global provider of outsourced investment & business research, market analysis, patent & intellectual property research services. Find news & views related to global business, industry innovations & latest trends through our press releases.' %}
{% set keywords = 'aranca press releases, global business news, latest industry news, industry innovations, innovations & trends, industry insights, industry reports' %}

{% block main %}

{% include '_components/global/_header' %}
{% include '_components/press-releases/_masthead' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/media-center/_pr-list' %}
      {% include '_components/media-center/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/press-releases/_story-list' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>


{% endblock %}
