{% extends "base_layouts/_site" %}

{% set title = 'press releases' %}

{% block main %}

{% include '_components/global/_header' %}
{% include '_components/press-releases/_masthead' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/media-center/_pr-list' %}
      {% include '_components/media-center/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/press-releases/_story-list' %}
      {% include '_components/press-kit/_pk-download' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>


{% endblock %}
