{% set prStoryListCss %}


{% endset %}

{% includeCss prStoryListCss %}

{% set prEntries = craft.entries.section('pressReleases').limit(6) %}

<section class="row sl-list">
    <div class="col-sm-6">
      {% for prEntry in prEntries %}

        <h2 class="sl-list__headline"><a href="{{ prEntry.url }}">{{ prEntry.title }}</a></h2>
        <!-- <p class="sl-list__date">{{ prEntry.postDate | date('M j, Y') }}</p> -->
        <p class="sl-list__excerpt">{{ prEntry.prExcerpt|hacksaw(words='10', append='...') }}</p>

        {% if loop.index % 3 == 0 and loop.index != 6 %}
        </div>
        <div class="col-sm-6">
        {% endif %}

      {% endfor %}
    </div>


</section>



