{# http://craftcms.stackexchange.com/questions/4650/any-working-rss-feed-examples-out-there #}

{% header "Content-Type: application/rss+xml" %}
<?xml version="1.0" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

{% set latestSpecialReports = craft.entries.section('specialReports').relatedTo({
  category: craft.categories.slug(category)
}).limit(5).ids() %}
{% set latestArticles = craft.entries.section('articles').relatedTo({
  category: craft.categories.slug(category)
}).limit(5).ids() %}

{% set latestBlogPosts = craft.entries.section('blogs').relatedTo({
  category: craft.categories.slug(category)
}).limit(5).ids() %}

{% set latestInfographics = craft.entries.section('infographics').relatedTo({
  category: craft.categories.slug(category)
}).limit(5).ids() %}

{% set entryIdsCombined = latestSpecialReports | merge(latestArticles) | merge(latestBlogPosts) | merge(latestInfographics) %}

{% set allLatestEntries = craft.entries.id(entryIdsCombined).order('postDate DESC') %}

{% set rss = allLatestEntries %}

<channel>
  <title>Aranca {{ category }} RSS Feed</title>
  <link>{{ craft.request.getUrl() }}/</link>
  <description>Aranca RSS Feed for {{ category }}</description>
  <language>en-us</language>
  <atom:link href="{{ url() }}" rel="self" type="application/rss+xml" />

  {% for item in rss %}
  <item>
    <title>{{ item.title }}</title>
    <link>{{ item.url() }}</link>

    {% switch item.type %}

      {% case "blogs" %}

        {% set content = item.blogIntro %}

      {% case "articles" %}
        {% set content = item.articlesContent %}

      {% case "specialReports" %}

        {% set content = item.srIntro %}

       {% case "infographics" %}

        {% set content = item.igIntro %}

    {% endswitch %}


    <description>{{ content }}</description>
    <pubDate>{{ item.postDate.rfc2822() }}</pubDate>
    <guid>{{ item.url() }}</guid>
  </item>
  {% endfor %}
</channel>

</rss>