<div class="col-md-3">
<p>Group By Year</p>

{% set firstEntryEver = craft.entries.section('pressReleases').order('postDate asc').first() %}
<ul>
    {% for year in now.year .. firstEntryEver.postDate.year %}
        <li><a href="{{siteUrl}}media-center/press-releases/{{ year }}">{{ year }}</a></li>
    {% endfor %}
</ul>
</div>

<h2>View By Category</h2>
<a href="/press-releases/category/announcements">Announcements</a>
<a href="/press-releases/category/awards">Awards</a>
</br>
</br>
</br>
</br>

{# Reference the category #}
{% set cat = craft.categories.slug(category.slug).first() %}

{# Find related entries #}
{% set entries = craft.entries.section('pressReleases').relatedTo(cat).find() %}

{# Print them out #}
{% for pressRelease in entries %}
  {{pressRelease.postDate}}
  {{pressRelease.place}}
  {{pressRelease.title}}
  {{pressRelease.excerpt}}
  {{pressRelease.pressReleasesCategory.first().title}}
{% endfor %}