<h2>View By Category</h2>
<a href="/press-releases/category/announcements">Announcements</a>
<a href="/press-releases/category/awards">Awards</a>
</br>
</br>
</br>
</br>

{# Reference the category #}
{% set cat = craft.categories.slug(category.slug).first() %}

{# Find related entries #}
{% set entries = craft.entries.section('pressReleases').relatedTo(cat).find() %}

{# Print them out #}
{% for pressRelease in entries %}
  {{pressRelease.postDate}}
  {{pressRelease.place}}
  {{pressRelease.title}}
  {{pressRelease.excerpt}}
  {{pressRelease.pressReleasesCategory.first().title}}
{% endfor %}