{% set articleCss %}

.article {
  min-height: 1000px;
}

.article__body {
  padding: 70px 90px;
}

.article__body h2 {
  color: #2E7DA8;
  font-size: 1.5em;
}

.article__headline {
  color: #2E7DA8;
  margin-bottom: 20px;
}

.article__content > p:first-child {
  font-size: 1.4em;
  font-style: italic;
  color: #5E95B5;
}


.article__content h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
  color: #034883
}

.article__content img {
  padding: 20px 0px;
}

.release-date {
  color: {{ roman }};
}

{% endset %}

{% includeCss articleCss %}

<div class="article__body">
  <h1 class="article__headline">{{ entry.title }}</h1>
  <p class="release-date">
    {{ entry.postDate|date("d M, Y") }}</p>
  </p>


    {% include '_components/global/_byline' %}

    {% set assets = entry.articlesBanner %}
    {% if assets | length %}
      {% for image in assets %}
        <img src="{{ image.url }}" alt="" class="img-responsive article__image">
      {% endfor %}
    {% endif %}
  <div class="article__content">
    {% include '_components/global/_action' with { 'vertical': true } %}
    {{ content }}
  </div>
</div>
<div id="disqus_thread"></div>

