{% set articleCss %}

.article {
  min-height: 1000px;
  padding-top: 84px;
}

.article__body {
  background: white;
  padding: 5em 90px;
}

.article__body h2 {
  color: #2E7DA8;
  font-size: 28px;
}

.article__headline {
  color: #2E7DA8;
  margin-bottom: 20px;
  font-weight: 300;
}

.article__content > p:first-child {
  font-size: 1.4em;
  font-style: italic;
  color: #5E95B5;
}

.article__content > p {
  margin-bottom: 20px;
  color: #5B6A72;
  font-size: 1.1em;
}

.article__image {
  margin-bottom: 20px;
}

.release-date {
  color: {{ roman }};
}

@media only screen and (max-width : 480px) {
  .article__body, #disqus_thread {
    padding: 10px 20px;
  }
}

{% endset %}

{% set articleJs %}

$(document).ready(function() {

  var shareLinks = $('.share-links');
  var commentsBox = $('#disqus_thread');

  $(window).on('scroll', function(e){
    var linksTop = shareLinks.offset().top;
    var commentsTop =commentsBox.offset().top;

    // 300 is just an offset that prevents overlap

    if(linksTop + 300 >= commentsTop) {
      shareLinks.fadeOut('fast');
      console.log("bottom reached");
    } else {
      shareLinks.show();
    }
  });

});

{% endset %}

{% includeCss articleCss %}
{% includeJs articleJs %}

<div class="article__body">
  <h1 class="article__headline">{{ entry.title }}</h1>
  <p class="release-date">
    {{ entry.postDate|date("d M, Y") }}</p>
  </p>
    {% include '_components/global/_action' with { 'vertical': true } %}
    

     {% include '_components/global/_byline' %}

     {% set entryTags = entry.kcTags %}

     {% if entryTags | length %}
      {% include '_components/global/_tag-list' with { 'tags': entryTags } %}
     {% endif %}

    {% set assets = entry.articlesBanner %}
    {% if assets | length %}
      {% for image in assets %}
        <img src="{{ image.url }}" alt="" class="img-responsive article__image">
      {% endfor %}
    {% endif %}
  <div class="article__content">
    
    {{ content }}
  </div>
</div>
<div id="disqus_thread"></div>

