{% set kcFeaturedArticlesCss %}

  .feat-articles {
    margin-top: 20px;
  }

{% endset %}

{% includeCss kcFeaturedArticlesCss %}

{% set featuredEntries = craft.entries.section('articles').limit() %}
<span class="kc-label--teal">All Articles</span>
<div class="feat-articles">

  <div class="row">
  {% for entry in featuredEntries %}
  <div class="featEntry col-sm-6">
      <a href={{ entry.url }}>
        <div class="featEntry__inner shadow-box">

          {% set asset = entry.articlesBanner.first() %}

          {% if asset %}
              <img src={{ asset.url }} class="img-responsive" alt={{entry.title}}>
          {% else %}
              <img src="/assets/images/Article-thumb.jpg" class="img-responsive" alt={{entry.title}}>
          {% endif %}

          <div class="featEntry__headline__wrapper">
            <h2 class="featEntry__headline">{{ entry.title }}</h2>
          </div>

        </div><!-- featEntry__inner -->
      </a>
    </div><!-- kc-featured-article -->
  {% if loop.index % 2 == 0 %}
    </div><!-- close row and open it below again -->
    <div class="row">
  {% endif %}
{% endfor %}
   </div><!-- row -->
</div><!-- articles -->
