
{% set mcmastheadCss %}

  .article-list__masthead {
    position: relative;
    color: white;
    background: url('/assets/images/backgrounds/articles-short-bkg.jpg') no-repeat center center {{ brandPrimary }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
  }

  .article-list__masthead__content {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 50%
  }

  .article-list__masthead__content--headline {
    font-size: 3.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 2px 2px 3px #352F2F;
  }

  .article-list__masthead__content--tagline {
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
    text-shadow: 2px 2px 3px #352F2F;
  }

  .article-list__masthead__border {
    margin: 5px 0;
  }

  @media only screen and (max-width : 480px) {
    .article-list__masthead__content--headline {
      font-size: 3em;
    }

    .article-list__masthead__content--tagline {
      font-size: 1.8em;
    }

    .article-list__masthead__content {
      max-width: 80%;
    }
  }




  @media(min-width: {{ screenmd }}) {


  }

{% endset %}

{% includeCss mcmastheadCss %}

<section class="container-fluid article-list__masthead">
  <div class="row">
    <div class="article-list__masthead__content">
      <h2 class="article-list__masthead__content--headline">Articles</h2>
      <hr class="article-list__masthead__border">
      <p class="article-list__masthead__content--tagline">
      Deep Insights from the Experts</p>
    </div>
  </div>
</section>
