{% set mcContactCss %}

.mc-contact {
  margin-top: 30px;
  background-color: white;
  padding: 0.8em;
  color: grey;
  font-weight: 300;
}

.media-heading {
  font-weight: 100;
  font-size: 1.8em;
}

.media-body p {
  margin-bottom: 0;
}

{% endset %}

{% includeCss mcContactCss %}

<section class="mc-contact">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="/assets/images/team/anupriya.jpg" alt="anupriya deepak - media contact for aranca">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Anupriya Deepak </h4>
      <p>T: +91 22 3937 9999 (EXT. 407)</p>
      <p>E: anupriya.deepak@aranca.com</p>
    </div>
  </div>
</section>
