
{% set subFormCss %}
  .sub-form {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
  }

  .sub-form .btn-success {
    width: 100%;
  }

  .sub-form__header {
    text-align: center;
  }

  .sub-form__header img {
    display:block;
    margin:auto;
  }

  .sub-form__header p {
    font-size: 0.9em;
    color: #c5c5c5;
  }

  .sub-form__headline {
    color: #403e3e;
    font-weight: 100;
    font-size: 1.5em;
  }

{% endset %}

{% includeCss subFormCss %}



<div class="sub-form shadow-box">

      
      <header class="sub-form__header">
        <img src="/assets/images/icons/newsletter-icon.png">
        <h3 class="sub-form__headline">News@Aranca</h3>
        <p>For media updates on upcoming reports, join our mailing list</p>
      </header>

          <a href="/media-room/subscribe" class="btn btn-success">subscribe</a>

      <hr>

</div>