
{% set subFormCss %}
  .sub-form {
    position: absolute;
    top: 30%;
    background: #fff;
    padding: 3em 3em;
    max-width: 35%;
    display: block;
    margin: 0 auto;
    right: 30%;
    box-shadow: 0px 11px 7px #383638;
  }

  .sub-form__header {
    text-align: center;
  }

  .sub-form__header img {
    display:block;
    margin:auto;
  }

  .sub-form__header p {
    font-size: 0.9em;
    color: #c5c5c5;
  }

  .sub-form__headline {
    color: #403e3e;
    font-weight: 100;
    font-size: 1.5em;
  }

{% endset %}

{% includeCss subFormCss %}

{% set subFormJs %}

$( document ).ready(function() {

  var formErrors = [];

  var errorMessages = {
    empty: 'email field cannot be empty',
    invalid: 'your email is not valid',
    notSelected: 'you must select at least one area of interest'
  };

  function isEmailEmpty(email) {
    return email === '';
  }

  function isvalidEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function  enableDisableSubscribeButton() {

    var isChecked = ( $('input[name="Areas_of_Interest[]"]').is(':checked') );

    if (isChecked) {
      $("button#subscribe").removeAttr("disabled").button('refresh');
    }
    else {
      $("button#subscribe").attr("disabled", "disabled");
    }

  }
  
  var emailField = $('.sub-form__email'), helpBlock = $('.help-block');
  
  $('.open-aoe-modal').on('click', function(evt){
    evt.preventDefault();
    var link = $(this);
    
    if( isEmailEmpty( emailField.val() ) || !isvalidEmail( emailField.val() ) ) {
      console.log('We got errors');
      link.click( function(e){ e.stopPropagation(); } );
      helpBlock.html('Please enter a valid email address');
    } else {
      helpBlock.html('');
      // enableDisableSubscribeButton();
      $('#areas-of-interest').modal('show');
    }

  });


});

{% endset %}

{% includeJs subFormJs %}



<div class="sub-form">
<script>
window.onload = function ()
{
  var urlParams;
  var query = (window.location != window.parent.location) ? document.referrer.split('?')[1] || '' : window.location.search.split('?')[1]|| '';
  (window.onpopstate = function () {
  var match, search = /([^&=]+)=?([^&]*)/g;
  urlParams = {};
  while (match = search.exec(query))
  urlParams[encodeURIComponent(match[1])] = match[2];
  }
  )();
  for (i in urlParams) {
    var urlParamsArray = urlParams[i];
    try {
    document.getElementsByName(i)[0].value=decodeURIComponent(urlParamsArray);
    }
    catch(err) {
    }
  }
};
</script>
  <form method="post" accept-charset="UTF-8" id="sub-form" action="" />
      <input type="hidden" name="action" value="subscribor/service/subscribe">
      <input type="hidden" name="endpoint" value="http://connect.aranca.com/acton/eform/17562/0022/d-ext-0002" />
      <input type="hidden" name="redirect" value="{{ url(craft.request.path) }}" />
      <input type="hidden" name="_form_name_" value="Subscription Form" />
      <input type="hidden" name="Subscription_Status" value="on" />
      <input type="hidden" name="WebPage_URL" value="{{ url(craft.request.path) }}" />
      <input type="hidden" name="Webpage_Name" value="{{ entry }}" />
      <input type="hidden" name="referrer" value="{{ craft.request.urlReferrer }}" />
      <input type="hidden" name="ao_refurl" value="{{ craft.request.urlReferrer }}" />
      <input type="hidden" name="Created_By" value="Marketing" />
      <input type="hidden" name="Lead_Source" value="Website" />
      <input type="hidden" name="Form_Name" value="MQL Subscription form" />
      <input type="hidden" name="IMSF" value="MQL" />
      <input type="hidden" name="AoI_Conversion_Point" value="Subscription form" />
      <input type="hidden" name="utm_source" />
      <input type="hidden" name="utm_medium" />
      <input type="hidden" name="utm_content" />
      <input type="hidden" name="utm_campaign" />
      {{ getCsrfInput() }}
      
      <header class="sub-form__header">
        <img src="/assets/images/icons/newsletter-icon.png">
        <h3 class="sub-form__headline">Get fresh content delivered weekly</h3>
        <p>Get insights on topics that matter to your business. Stay updated on the areas that interest you.</p>
      </header>

      <div class="input-group">
        <input type="email" class="form-control sub-form__email" placeholder="Just your email" name="Email_Address" required>
        <span class="input-group-btn open-aoe-modal">
          <a href="javascript:void(0)" id="#open-aoe-modal" class="btn btn-success">subscribe</a>
        </span>
      </div>
      <small class="help-block with-errors" style="color: red;"></small>
      <hr>

    </form>
</div>