{% extends "base_layouts/_site" %}
{% set title = entry.title %}

{% includeJsFile '/assets/js/impress.js' %}
{% includeCssFile '/assets/css/impress.css' %}

{% set aboutJs %}

impress().init();

{% endset %}

{% includeJs aboutJs %}

{% block main %}

<section id="impress" class="container">
  <div class="row">

    <div id="title" class="step col-sm-12" data-x="0" data-y="0" data-scale="13">
        <h1 class="text-center">About Aranca</h1>
        <p class="text-center abt__intro">Ever heard of a Decision Engineer? Ever met one? Talked to one? Worked with one?</p>
        <p class="text-center abt__intro">Welcome to a company of 500 Decision Engineers on 5 Continents</p>
        <p class=" text-center footlink">Welcome to Aranca</p>
    </div>

    <div id="so-far" class="step col-sm-12 small-text" data-x="1500" data-y="2500" data-z="-50000" data-scale="25" data-perspective="100" data-rotate-x="100">
        <h2>ARANCA SO FAR</h2>
        <h2>Once upon a Decision</h2>
        <p>In the early days of the new millenium, Hemendra was working in the IT consulting and outsourcing space. Somewhere in 2002, he accepted a offer to work with a consulting company in the US. After he had prepared to fly there, the offer was revoked due to bad market conditions. </p>
        <p>He had always had the idea to be an entrepreneur, and it certainly looked like destiny was compelling him to prepone the execution of that idea.</p>
        <p>In London, he started working with Indian outsourcing companies from the BPO and KPO space as a sales consultant for them in the western markets. Soon, he got an unusual opportunity: a key client required equity research support for his highly-regarded annual knowledge piece covering global stock exchanges, He was confident Hemendra could help, and he commissioned Hemendra to begin the research. This was the opportunity that Hemendra grabbed with both hands. </p>
        <p>He quickly located equity research talent who could be engaged to deliver the project within the very tight deadline on-hand. Summoning all his project management skills, honed from his experience in the IT outsourcing space, he delivered superlative research and the client, elated at having all his expectations exceeded, paid him more than double the initial agreed upon fee!</p>
        <p>This vote of approval convinced Hemendra that he had hit upon the right idea for his entrepreneurial venture and he registered the company in UK in June 2003.</p>
        <p>There is, of course, the matter of the name Aranca, and how it came to be. Hemendra was certain that the name had to have a global ring to it, no  specific regional biases, and be easy to recall. Of course, it also had to be available as a</p>

    </div>

     <div id="welcome" class="step col-sm-12 small-text" data-x="500" data-y="-4500" data-scale="8" data-perspective="300" data-rotate-y="190" data-z="-50000">
        <h1 class="abt__headline--large">Welcome to Aranca</h1>
        <a class="abt__footerlink">Aranca So Far</a>
        <a class="abt__footerlink">Aranca Today</a>
        <a class="abt__footerlink">Aranca Tomorrow</a>
    </div>

    <div id="tomorrow" class="step col-sm-12 small-text" data-x="500" data-y="-4500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-8000">
        <h2>Aranca Tomorrow</h2>
        <p>ERGO.</p>
        <p>Did you have anything resembling an aha moment when you read this page? Perhaps as much as an epiphany? Did you realise that something was missing in what you were otherwise getting from your intelligence companies? Then this page worked. For us.</p>
        <p>We'd love to come over and chat with you about what we can do for you. Tell us what you have been looking for, or still are looking for. Show us your world and what you have to deliver to and we'll show you how Aranca fuses methods, technologies, experts and expertise to deliver actionable insights for clients. Let us show you how we can be the Decision Engineers that can help you build powerful steps forward for you and your company.</p>
    </div>

    <div id="today" class="step col-sm-12 small-text" data-x="500" data-y="-8500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-60000">
        <h2>ARANCA TODAY</h2>
        <p>FIRST AMONG EQUALS.</p>
        <p>Every client, most certainly, knows of one or one more alternative to Aranca. The younger ones offer to match Aranca, the older ones lay claim to age and pedigree.</p>
        <p>So why do our clients insist on coming back to us?</p>
        <p>Lets talk business: we have no need of the small job, and we don't 'automatically' charge the big dollars. We will, when we deserve it, but not until.</p>
        <p>Then again, price has nothing to do with it.</p>
        <p>What Aranca delivers, as a matter of due delivery, every single time, is the insight that our client can use as a springboard to make a first move, or the fulcrum to make a fresh move.</p>
        <p>An insight that is much more than a conclusion, it is .... honestly ..... an insight. Something no one else saw. </p>
        <p>We think our youth gives us the insouciance to look at a situation from a completely different point of view. We think 13 years gives us the experience to not get lost in our own imaginings.</p>
        <p>Our clients tell us the impact our work has created for them. They relay their appreciation of going through a difficult door with an ace in their pocket. They speak of large volumes of returns realised on the strength of our delivery.</p>
        <p>We have carefully made note of what works, when, with whom and why. We have incorporated that in our methods. We can now do it, like we have been, for quite a while, with regularity.</p>
    </div>

    <div id="people-1" class="step col-sm-12 small-text" data-x="500" data-y="-4500" data-scale="8" data-perspective="300" data-rotate="180" data-z="-60000">
        <h2>People who made it possible</h2>
        <p><strong>Hemendra Aran, CEO & Founder</strong></p>
        <p>Hemendra founded Aranca in 2003 with the vision to offer world-class custom research and high quality analytics services to global clients. He has led Aranca’s evolution from being a one-man firm in 2003 to a 500-strong global player in the custom research and analytics domain today.</p>
        <p>An alumnus of London Business School (MBA), Haas School of Business, University of California, Berkeley, and Indian Institute of Technology (Madras), Hemendra brings in rich and extensive experience of outsourcing best practices after having worked with global corporations such as Goldman Sachs, Reebok, Thomson Electronics during his stint with Infosys.</p>
        <p>He has authored several books on outsourcing and global financial markets, such as Outsourcing Success: The Management Imperative, and Global Financial Markets Revolution: The Future of Exchanges and Capital Markets. Hemendra regularly comments for business media, and often speaks at top-tier institutes, forums and conferences. He is also quite passionate about meaningful and soulful cinema, and has produced and released an award-winning, full length feature film.</p>
    </div>

    <div id="people-2" class="step col-sm-12 small-text" data-x="15500" data-y="-4500" data-scale="8" data-perspective="600" data-rotate="90" data-z="-24000">
        <h2>People who made it possible</h2>
        <p><strong>Madhusudan Rajagopalan, COO</strong></p>
        <p>Madhusudan co-founded Aranca, and has enabled the organization to scale up and out to evolve as one of the key global players in the custom research and analytics domain. As its COO, Madhusudan develops and deploys client-centric strategies across the business functions of Aranca.</p>
        <p>He focuses on consistently driving operational excellence across Aranca, delivering research solutions to global clients, and improving its top and bottomline financial performance. Madhusudan has been instrumental in expanding Aranca’s global presence, service portfolio and its capabilities to ensure seamless and delightful operational experience for clients.</p>
        <p>An alumnus of Indian Institute of Management, Bangalore and Indian Institute of Technology, Madras, Madhusudan began his career as a management consultant with Accenture and has served large clients across sectors in a range of strategy and business performance improvement assignments. His comments and quotes are regularly published by reputed business media channels, and he has written various opinion articles on markets and finance for global publications.</p>
        <p>Madhusudhan is an avid runner and is a regular participant in marathon events.</p>
    </div>

    <div id="values-1" class="step col-sm-12 small-text" data-x="5000" data-y="-4500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-24000">
        <h2>OUR VALUES</h2>
        <ul class="abt__list">
          <li class="abt__list__item">Excellence: Nothing Less Will Do.</li>
          <li class="abt__list__item">People Matter Most: Listen. Care. Respect.</li>
          <li class="abt__list__item">Customers First: Rain Or Shine.</li>
          <li class="abt__list__item">Learn. Learn. Learn.</li>
          <li class="abt__list__item">Taking Ownership: Seeing it to the end.</li>
          <li class="abt__list__item">Create. Innovate. Think Afresh.</li>
          <li class="abt__list__item">Act Now.</li>
        </ul>

        <blockquote>
          BEHIND EVERY SUCCESSFUL INSIGHT IS...
          WHAT MAKES AN ARANCA INSIGHT SO UNIQUE.
        </blockquote>
        <p>We think its not a business model, or an algorithm, its a culture. A well-developed, well-articulated culture that leaves no room for doubt or misinterpretation. A inclusive culture that inculcates the same verities into every single person at Aranca. A culture based on a clear, concise, articulated set of values, each painstakingly explained, each one eminently adoptable, that the company hews to.</p>
        <p>We're one of those companies that openly states and shares our Values with our customers and the world at large. This is true of many companies who diligently practice those values, and an overwhelming number of our clients fit that description. So, in that spirit, here are ours:</p>
    </div>

    <div id="values-2" class="step col-sm-12 smaller-text" data-x="0" data-y="-9500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-24000">
      <h2>OUR VALUES (Part Two)</h2>
      <h3>Excellence: Nothing Less Will Do. </h3>
      <p>Excellence isn’t excellence unless it is a habit. We consider it our default setting. “Looks OK’’ is never OK. Ever.</p>
      <p>There is an extraordinary way to do the most ordinary thing, and that way must be found and done. After we do a fabulous job, we will find a more fabulous benchmark to set and meet.</p>
      <p>Our competence should be obvious. Our skills should be evident. And when we’ve concluded a job, we should be able to explain why it is superb, not just claim it is.</p>

      <h3>People Matter Most: Listen. Care. Respect.</h3>
      <p>We are the kind of leaders that earn our followers. We are passionate about each other’s well-being or we won’t feel good about ourselves. We are loyal to our teams. When we agree on a goal, we reach it with honesty and dignity. We keep our word, no matter what it costs us.</p>

      <h3>Customers First: Rain Or Shine.</h3>
      <p>Arancans start everything with the customer in mind and work from there. We make it a point to ‘wear the customer’s shoes’. We always deliver more than what is expected and our real pay check is when our customers are openly delighted. Our biggest team member, the one most deserving of our entire heart, is our client. We win only when they win.</p>

      <h3>Learn. Learn. Learn.</h3>
      <p>Personal and professional growth is always a priority. We are averse to complacency and are constantly vigilant against stagnation. We seek new knowledge every single day. An insatiable curiosity is desired, cultivated, and indulged. We always make it a point to find one more thing to learn. All the time.</p>

    </div>

    <div id="values-3" class="step col-sm-12 smaller-text" data-x="7000" data-y="-9500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-24000">
      <h2>OUR VALUES (Part Three)</h2>

      <h3>Taking Ownership: Seeing it to the end. </h3>
      <p>We don’t wait to be asked to do anything. We don’t confine ourselves to only our assigned duties. We see a ball rolling, we pick it up and run. Be it colleague or client, they deserve our assistance and service without having to ask for it. Our goal is always a task well completed.</p>

      <h3>Create. Innovate. Think Afresh. </h3>
      <p>“Never been done before” is why we do what we do. Arancans have the courage, imagination and passion to reinvent. We are committed to continuously making things better.</p>

      <h3>Act Now.</h3>
      <p>We move at the first opportunity. We think through every step but we don’t get lost in thinking. We value calculated risk. Moving quickly is key to our way.</p>
    </div>

    <div id="our-culture" class="step col-sm-12 smaller-text" data-x="0" data-y="-30500" data-scale="8" data-perspective="900" data-rotate="90" data-z="-30000">
      <h3>OUR CULTURE</h3>
      <p>Aranca is a leading provider of high quality, customized and cost effective research and analytics to global clients. Founded in UK in 2003, Aranca has a global presence including in the US, Europe and Middle East, and a state-of-the-art delivery center in Mumbai, India.</p>
      <p>Our research solutions are structured around four complementary business lines: Investment Research, Business Research, Valuation and Advisory Services and Intellectual Property Research.</p>
    </div>

    <div id="secret-sauce" class="step col-sm-12 smaller-text" data-x="0" data-y="-19500" data-scale="8" data-perspective="300" data-rotate="90" data-z="-12000">
      <h3>THE WAY ARANCA WORKS, OUR SECRET SAUCE</h3>
      <p>MAKE DECISION-MAKING FEARLESS</p>
      <p>EXPERTS > METHODOLOGY > TECHNOLOGY > INSIGHTS</p>
      <ul class="abt__list">
        <li class="abt__list__item">Know the context fully - WRITE THE ENTIRE PAST HISTORY</li>
        <li class="abt__list__item">Know the point of calculation - PEOPLE, SYSTEMS, FEARLESS, PRACTICES</li>
        <li class="abt__list__item">Project the prediction - WE'RE FEARLESS.  WE HAVE A UNIQUE PROMISE. WE HAVE UNIQUE EXPERTS.</li>
      </ul>
    </div>

  </div><!-- end row -->
</section>

{% endblock %}
