{% set whyarcCSS %}
  .why-arc-c {
    padding: 30px 0;
    background: url(/assets/images/backgrounds/why-aranca-c-bkg.jpg);
    padding: 60px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  .why-arc-c__headline--main {
    margin-bottom: 20px;
  }
  .why-arc-c__headline {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-top: -5px;
  }

  .why-arc-c__headline--small {
    color: white;
    font-size: 1.7em;
  }

  .why-arc-c__subtext {
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .why-arc-c__border {
    width: 15%;
    border: 2px solid #fff;
  }
  .why-arc-c__headline--col {
    text-align: center;
  }
  .why-arc-c__content {
    color: #fff;
  }

  .why-arc-c__content > p {
    font-size: 1.2em;
  }

  .why-arc-c__border--content {
    width: 50%;
  }

  .why-arc-c__icon {
    opacity: 0.8;
  }

{% endset %}

{% set whyarcJs %}
  new Waypoint.Inview({
    element: $('.why-arc-c__headline--col')[0],
    enter: function(direction) {
      $('.why-arc-c__headline--col').addClass('animated fadeInUp');
    }
  });

{% endset%}

{% includeCss whyarcCSS %}
{% includeJs whyarcJs %}

<section class="why-arc-c container-fluid">
  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 why-arc-c__headline--main">
            <h3 class="why-arc-c__headline">Why Aranca?</h3>
            <p class="why-arc-c__subtext"></p>
            <hr class="why-arc-c__border">
        </div><!-- end col 12 -->
      </div><!-- end row -->

      <div class="row">
        <div class="col-sm-4 why-arc-c__headline--col">
          <img src="/assets/uploads/icons/services/experience.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small">250+</h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>Technology domains, researched by our analysts</p>
          </div>
        </div>

        <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
          <img src="/assets/uploads/icons/services/focus-insight.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small">80%</h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>Analysts with advanced degrees (Masters and PhD)</p>
          </div>
        </div>

        <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
          <img src="/assets/uploads/icons/services/flexibility.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small"><p>200+</p></h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>Innovation driven enterprises and professional services firms trust us</p>
          </div>
        </div>
      </div><!-- row -->

      <br/><br/>
      <div class="row">
        <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
          <img src="/assets/uploads/icons/services/engage-expert.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small">Engage with experts</h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>Experienced analyst team structured around spend categories with deep knowledge of global markets</p>
          </div>
        </div>

        <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
          <img src="/assets/uploads/icons/services/global-footprint.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small">Global Footprint</h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>We operate through research centres in India and China, and maintain a on-ground presence in 30+ countries</p>
          </div>
        </div>

        <div class="col-sm-4 why-arc-c__headline--col animated fadeInUp">
          <img src="/assets/uploads/icons/services/power-knowledge.png" class="why-arc-c__icon" alt="cap-block-icon1">
          <h3 class="why-arc-c__headline--small">The power of knowledge</h3>
          <hr class="why-arc-c__border--content">
          <div class="why-arc-c__content">
            <p>We track market dynamics in over 2000 spend items across different regions of the world</p>
          </div>
        </div>

      </div><!-- row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>


