{% includeJsFile "/assets/js/zozo.tabs.min.js"  %}
{% includeCssFile "/assets/css/zozo.tabs.min.css"  %}

{% set ztabsCss %}

  .ztabs {
    padding: 60px 0;
    background: url('/assets/images/patterns/swirl_pattern.jpg');
  }

  .ztabs__headline {
    font-size: 3em;
    color: #e55b2b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 3px #ccc;
  }

  .ztab__list__item__head {
    font-size: 1.3em;
    line-height: 1.6em;
    color: {{ ttgrey }};
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px dashed #C2CDD5;
    padding-bottom: 0.5em;
    color: #A0ABB2;
  }

  .ztab__subllist > li {
    margin-left: 2em;
    list-style: none;
    line-height: 2.5em;
    background: url(/assets/images/icons/tick.png) left center no-repeat;
    padding-left: 30px;
  }

{% endset %}

{% set ztabsJs %}

 $(document).ready(function () {
      /*  jQuery activation and setting options. Visit docs.zozoui.com/tabs for
          complete documentation, option list, public methods, callback events.*/
      $("#tabbed-nav").zozoTabs({
          theme: "silver",
          orientation: "vertical",
          position: "top-left",
          size: "xlarge",
          animation: {
              duration: 400,
              effects: "slideV"
          },
      });
  });

{% endset %}

{% includeJs ztabsJs %}
{% includeCss ztabsCss %}

<section class="container-fluid ztabs">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

        <div class="lede__headline text-center">Solutions Experience in Aerospace and Defense</div>

        <div class="lede__subheadline text-center">Sub-segments and Platforms</div>
        <hr class="lede__border">
          <!-- Zozo Tabs Start-->
        <div id="tabbed-nav">

            <!-- Tab Navigation Menu -->
            <ul>
                <li><a>Military Aviation</a></li>
                <li><a>Army vehicles</a></li>
                <li><a>Naval systems</a></li>
                <li><a>Space vehicles</a></li>
                <li><a>Weapons</a></li>
                <li><a>Systems</a></li>
                <li><a>Products</a></li>
                <li><a>Services</a></li>
                <li><a>Participants</a></li>
            </ul>

            <!-- Content container -->
            <div>

                <!-- First col -->
                <div>
                    <h4 class="ztabs__headline">Military Aviation</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-4">
                        <li class="ztab__list__item__head">Combat Aircraft</li>
                        <ul class="ztab__subllist">
                          <li class="ztab__list__item">Bombers</li>
                          <li class="ztab__list__item">Fighters</li>
                          <li class="ztab__list__item">Attack helicopters</li>
                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <li class="ztab__list__item__head">Non combat aircraft</li>
                        <ul class="ztab__subllist">
                          <li class="ztab__list__item">Military transport</li>
                          <li class="ztab__list__item">Aerial Tanker</li>
                          <li class="ztab__list__item">Surveillance aircraft</li>
                          <li class="ztab__list__item">Trainer</li>
                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <li class="ztab__list__item__head">Unmanned systems</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- First col -->

                <!-- Second col -->
                <div>
                    <h4 class="ztabs__headline">Army vehicles</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Combat vehicles</li>
                        <ul class="ztab__subllist">
                          <li class="ztab__list__item">Armoured Fighting vehicles</li>
                          <li class="ztab__list__item">Armoured personnel vehicles</li>
                          <li class="ztab__list__item">Infantry fighting vehicles</li>
                          <li class="ztab__list__item">Main Battle Tanks</li>
                          <li class="ztab__list__item">Anti Mine vehicles</li>
                          <li class="ztab__list__item">Unmanned combat vehicles</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Non combat vehicles</li>
                        <ul class="ztab__subllist">
                          <li class="ztab__list__item">Light utility vehicles</li>
                          <li class="ztab__list__item">Recovery and Rescue vehicles</li>
                        </ul>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- Second col -->


                <!-- Third col -->
                <div>
                    <h4 class="ztabs__headline">Naval systems</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Warships</li>
                        <ul class="ztab__subllist">
                          <li class="ztab__list__item">Aircraft carriers</li>
                          <li class="ztab__list__item">Submarines</li>
                          <li class="ztab__list__item">Destroyers</li>
                          <li class="ztab__list__item">Corvettes</li>
                          <li class="ztab__list__item">Frigates</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Patrol vessels</li>
                        <li class="ztab__list__item__head">Coast guard vessels</li>
                        <li class="ztab__list__item__head">Unmanned Under Water Vehicles</li>
                        <li class="ztab__list__item__head">Auxiliary support vehicles</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- Third col -->

                <!-- Fourth col -->
                <div>
                    <h4 class="ztabs__headline">Space Vehicles</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-12">
                        <li class="ztab__list__item__head">Commercial satellites</li>
                        <li class="ztab__list__item__head">Science and National security satellites</li>
                        <li class="ztab__list__item__head">Space launch vehicles</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- Fourth col -->

                <!-- Fifth col -->
                <div>
                    <h4 class="ztabs__headline">Weapons</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Missiles and guided weapons</li>
                        <li class="ztab__list__item__head">Missile defense</li>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Munitions</li>
                        <li class="ztab__list__item__head">Caliber systems</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- Fifth col -->

                <!-- six col -->
                <div>
                    <h4 class="ztabs__headline">Systems</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Military engines</li>
                        <li class="ztab__list__item__head">Landing systems</li>
                        <li class="ztab__list__item__head">Electrical power equ</li>
                        <li class="ztab__list__item__head">Marine gas turbines</li>
                        <li class="ztab__list__item__head">Advanced materials</li>
                        <li class="ztab__list__item__head">Calibers</li>
                        <li class="ztab__list__item__head">Sensors</li>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Crew protection</li>
                        <li class="ztab__list__item__head">Surveillance cameras</li>
                        <li class="ztab__list__item__head">Antennas</li>
                        <li class="ztab__list__item__head">Actuators</li>
                        <li class="ztab__list__item__head">Relays and contactors</li>
                        <li class="ztab__list__item__head">Cables and connectors</li>
                        <li class="ztab__list__item__head">Cyber security</li>
                        <li class="ztab__list__item__head">Space components</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- six col -->

                <!-- seven col -->
                <div>
                    <h4 class="ztabs__headline">Products</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Military engines</li>
                        <li class="ztab__list__item__head">Landing systems</li>
                        <li class="ztab__list__item__head">Electrical power equipment</li>
                        <li class="ztab__list__item__head">Calibers</li>
                        <li class="ztab__list__item__head">Sensors</li>

                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Surveillance cameras</li>
                        <li class="ztab__list__item__head">Antennas & Actuators</li>
                        <li class="ztab__list__item__head">Relays and contactors</li>
                        <li class="ztab__list__item__head">Cables and connectors</li>
                        <li class="ztab__list__item__head">Cyber security</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- seven col -->

              <!-- eight col -->
                <div>
                    <h4 class="ztabs__headline">Services</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Logistics</li>
                        <li class="ztab__list__item__head">Aircraft simulation and training</li>
                        <li class="ztab__list__item__head">Maintenance, Repair and Overhaul</li>
                        <li class="ztab__list__item__head">Aircraft Modification & Upgrades </li>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Air traffic management</li>
                        <li class="ztab__list__item__head">Cloud computing in aerospace and defense</li>
                        <li class="ztab__list__item__head">Cyber security services</li>
                        <li class="ztab__list__item__head">Asset and life cycle management</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- eight col -->

                 <!-- Nine col -->
                <div>
                    <h4 class="ztabs__headline">Services</h4>
                    <br>
                    <div class="row">
                    <ul class="ztab__list">
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Primes</li>
                        <li class="ztab__list__item__head">Integrators</li>
                      </div>
                      <div class="col-sm-6">
                        <li class="ztab__list__item__head">Sub primes</li>
                        <li class="ztab__list__item__head">Product manufacturers</li>
                      </div>
                    </ul>
                    </div><!-- row -->
                </div><!-- Nine col -->


            </div> <!-- content container -->

        </div>
        <!-- Zozo Tabs End-->
        </div> <!-- end col-sm-12 -->
      </div> <!-- end row -->
    </div> <!-- end row -->
  </div> <!-- end row -->


</section><!-- end ztabs -->

