<div class="col-sm-3 cust-blok__headline--col">
  <img src="/assets/uploads/icons/services/market-stock.png" class="cust-blok__icon" alt="cap-block-icon1">
  <h3 class="cust-blok__headline--small">Bespoke Projects</h3>
  <div class="cust-blok__content">
    <p>For one-off research requirements</p>
  </div>
</div>
<div class="col-sm-3 cust-blok__headline--col">
  <img src="/assets/uploads/icons/services/billion-company.png" class="cust-blok__icon" alt="cap-block-icon2">
  <h3 class="cust-blok__headline--small">Research HelpDesk</h3>
  <div class="cust-blok__content">
    <p>Enterprise-wide cloud solution to address quick turnaround research needs </p>
  </div>
</div>
<div class="col-sm-3 cust-blok__headline--col">
  <img src="/assets/uploads/icons/services/cost-effective.png" class="cust-blok__icon" alt="cap-block-icon3">
  <h3 class="cust-blok__headline--small">Co-sourced Teams</h3>
  <div class="cust-blok__content">
    <p>Dedicated team of analysts to support ongoing CI/MI research needs </p>
  </div>
</div>
<div class="col-sm-3 cust-blok__headline--col">
  <img src="/assets/uploads/icons/services/exp-va-analysts.png" class="cust-blok__icon" alt="cap-block-icon4">
  <h3 class="cust-blok__headline--small">Knowledge Portals</h3>
  <div class="cust-blok__content">
    <p>Design and maintenance of customized self-service information assets </p>
  </div>
</div>
