{% extends "base_layouts/_site" %}

{% set title = entry.title %}


{% block main %}

{% include '_components/global/_header' %}

{% set articleLayoutCss %}

#main {
  background-color: #F4F8FA;
}

{% endset %}

{% includeCss articleLayoutCss %}

<div class="container-fluid article">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {% set category = entry.practiceCategory.first %}
          {% set content = entry.blogContent %}

          {% set assets = entry.blogsBanner %}
          {% include '_components/global/_json-ld'
            with { 'url':  entry.url, 'imageUrl': entry.blogsBanner.first().url,
            'author' : entry.multiAuthor.first().firstName, 'description': docDesc,
            'entryDate': entry.postDate }  %}

          {% include '_components/blogs/_article'
              with { 'category': category, 'content': content }
          %}

        </div>
      </div>
    </div>
  </div>
</div>
{% include '_components/global/_footer' %}
{% includeJsFile '/assets/js/disqus.js' %}
{% endblock %}
