{% includeCssFile '/assets/css/slick.css' %}
{% includeJsFile '/assets/js/slick.min.js' %}

{% set svcClientListCss %}
  .cl-list {
    background: #f3f3f3;
    padding: 30px 0;
  }

  .cl-list__slider {
    margin-top: 30px;
  }

  .cl-list__subheadline {
    font-size: 1.2em;
  }

{% endset %}

{% set svcClientListJs %}
    $('.slides').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
    });
{% endset %}

{% includeCss svcClientListCss %}
{% includeJs svcClientListJs %}

<section class="cl-list container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
          {% for block in entry.clientListIntro %}
          <h2 class="lede__headline text-center">{{ block.headline }}</h2>
          <hr class="lede__border">
          <!-- <p class="lede__subheadline text-center">{{ block.subHeadline}}</p> -->
          {% endfor %}

          {% if entry.clientLogoList | length %}
              <div class="row cl-list__slider">
                <ul class="slides">
                {% for asset in entry.clientLogoList %}
                  <li>
                    <img src="{{asset.url}}" alt="{{asset.altTag}}"
                    class="img-responsive cl-list__slider__item">
                  </li>
                {% endfor %}
                </ul>
              </div>
          {% endif %}
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end row -->
</section>
