{% set pressKitCss %}

.pk-download__headline {
  padding-top: 130px;
  color: white;
}

.pk-download__link, .pk-download__link > a  {
  color: {{ roman }};
  font-size: 1.3em;
}


@media(min-width: {{ screenmd }}) {

  .pk-download {
    margin-top: 20px;
    background: url('/assets/images/backgrounds/pk-download-bkg.jpg') no-repeat {{ brandPrimary }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 375px;
  }



}

{% endset %}


{% includeCss pressKitCss %}


<section class="row pk-download">
  <div class="col-sm-12">
    <h1 class="pk-download__headline text-center">DOWNLOAD OUR PRESS KIT</h1>
    <p class="pk-download__link text-center"><a href="/assets/uploads/press-kit/Aranca-BoilerPlate.pdf">Aranca Profile</a> | <a href="/assets/uploads/press-kit/Aranca-Fact-Sheet.pdf">Fact Sheet</a> | <a href="/assets/uploads/press-kit/Aranca-ExecutiveBios.pdf">Executive Bios</a>&nbsp;<a href="/assets/uploads/press-kit/aranca-executive-photographs.zip">&amp; photographs</a>
    </p>
    <p class="pk-download__ziplink text-center img-responsive">
      <a href="/assets/uploads/press-kit/aranca-press-kit-2016.zip">
        <img src="/assets/images/icons/download.png" alt="download press kit" />
      </a>
    </p>
  </div>
</section>





{# pressKit.pkDownload #}
