{% set pressKitCss %}
.pk-download {
  padding-bottom: 1.5em;
}

.pk-download__icon {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.pk-download__headline {

    color: #7f7d7d;
    font-weight: 100;
}


.pk-download__link, .pk-download__link > a  {
  color: #c1c1c1;
  font-size: 1.2em;
  font-weight: 300;
}

.pk-download__btn {
  margin-top: 60px;
}


.pk-download__btn a {
  color: grey;
  transition: 0.3s all;
  border: 1px solid #eaeaea;
  display: block;
  padding: 0.5em;
  background: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 0.9em;
}

.pk-download__btn a:hover {
  color: white;
  background: #00458C;
  text-decoration: none;
   border: 1px solid #00458C;

}



@media(min-width: {{ screenmd }}) {

  .pk-download {
    margin-top: 20px;
    background: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 375px;
  }



}

{% endset %}


{% includeCss pressKitCss %}


<section>
  <div class="pk-download shadow-box">
    <img class="pk-download__icon" src="/assets/images/icons/press-kit-download-icon.png" >
    <h1 class="pk-download__headline text-center">DOWNLOAD OUR PRESS KIT</h1>
    <p class="pk-download__link text-center">
    <a href="/assets/uploads/press-kit/Aranca-BoilerPlate.pdf" onClick="ga('send', 'event', { eventCategory: 'download', eventAction: 'Aranca Profile'});" >Aranca Profile</a> | 
    <a href="/assets/uploads/press-kit/Aranca-Fact-Sheet.pdf" onClick="ga('send', 'event', { eventCategory: 'download', eventAction: 'Fact Sheet'});">Fact Sheet</a> | 
    <a href="/assets/uploads/press-kit/Aranca-ExecutiveBios.pdf" onClick="ga('send', 'event', { eventCategory: 'download', eventAction: 'Executive Bios '});">Executive Bios</a>&nbsp;
    <a href="/assets/uploads/press-kit/aranca-executive-photographs.zip" onClick="ga('send', 'event', { eventCategory: 'download', eventAction: 'Photographs'});">&amp; photographs</a>
    </p>
    <p class="pk-download__btn text-center img-responsive">
      <a href="/assets/uploads/press-kit/aranca-press-kit-2016.zip">
        Download
      </a>
    </p>
  </div>
</section>





{# pressKit.pkDownload #}
