{% extends "layouts/_base" %}

{% block body %}
  {% include "includes/_top-bar.html" %}
  {% include "includes/_nav-bar.html" %}

  <main id="main" role="main">
   
    {% block main %}
    {% endblock %}
  
  </main>
{% endblock %}

{% block foot %}
  <script type="text/javascript">
    var oxyThemeData = {
        navbarHeight: 100,
        navbarScrolled: 90,
        navbarScrolledPoint: 20,
        menuClose: 'off',
        scrollFinishedMessage: 'No more items to load.',
        hoverMenu:
        {
            hoverActive: false,
            hoverDelay: 1,
            hoverFadeDelay: 200
        },
        siteLoader: 'on'
    };
  </script>
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/images-loaded-2.js"></script>
  <script src="assets/js/flexslider.js"></script>
  

{% endblock %}