{% extends "layouts/_base" %}

{% block body %}
  {% include "includes/_top-bar.html" %}
  {% include "includes/_nav-bar.html" %}

  <main id="main" role="main">

    {% block main %}
    {% endblock %}

  </main>
{% endblock %}

{% block foot %}



  <script type='text/javascript' >
    /* Analytics script:  */
    (function () {
    var p5 = document.createElement('script'); p5.type = 'text/javascript';
    p5.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cloud.plumb5.com/Script1/aranca_com_64.js';
    var p5s = document.getElementsByTagName('script')[0]; p5s.parentNode.insertBefore(p5, p5s);
    })();
  </script>


  <script type='text/javascript' >
    /*  Automation script:  */
    (function () {
    var p5cap = document.createElement('script'); p5cap.type = 'text/javascript';
    p5cap.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cloud.plumb5.com/Script/Domain14042015124110-64.js';
    var p5scap = document.getElementsByTagName('script')[0]; p5scap.parentNode.insertBefore(p5cap, p5scap);
    })();
  </script>



  <script type='text/javascript' >
    /* Chat script:  */
    (function () {
    var p5cap = document.createElement('script'); p5cap.type = 'text/javascript';
    p5cap.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cloud.plumb5.com/ChatScript/Chat14042015124129-64.js';
    var p5scap = document.getElementsByTagName('script')[0]; p5scap.parentNode.insertBefore(p5cap, p5scap);
    })();
  </script>

  <script type="text/javascript">
    var oxyThemeData = {
        navbarHeight: 100,
        navbarScrolled: 90,
        navbarScrolledPoint: 20,
        menuClose: 'off',
        scrollFinishedMessage: 'No more items to load.',
        hoverMenu:
        {
            hoverActive: false,
            hoverDelay: 1,
            hoverFadeDelay: 200
        },
        siteLoader: 'on'
    };
  </script>
  <script src="{{craft.config.assetsJsUrl}}/jquery.js"></script>
  <script src="{{craft.config.assetsJsUrl}}/bootstrap.js"></script>
  <script src="{{craft.config.assetsJsUrl}}/images-loaded-2.js"></script>
  <script src="{{craft.config.assetsJsUrl}}/flexslider.js"></script>
  <script src="{{craft.config.assetsJsUrl}}/jquery.flex-images.js"></script>
  <script src="{{craft.config.assetsJsUrl}}/site.js"></script>

{% endblock %}