
{% set mcmastheadCss %}

  .mc-masthead__content--headline {
    font-size: 5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 3px #6F361A;
  }

  .mc-masthead__content--tagline {
    font-size: 2.2em;
    line-height: 1em;
    color: white;
    text-shadow: 2px 2px 3px #6F361A;
  }

  .mc-masthead__border {
    margin: 5px 0;
  }



  @media(min-width: {{ screenmd }}) {
    .mc-masthead {
      background: url('/assets/images/backgrounds/mc-masthead-bkg.jpg') no-repeat {{ brandPrimary }};
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 610px;
    }

    .mc-masthead__content {
      position: relative;
      top: 360px;
      left: 545px;
      max-width: 641px;
    }

  }

{% endset %}

{% includeCss mcmastheadCss %}

<section class="container-fluid mc-masthead">
  <div class="row">
    <div class="mc-masthead__content">
      <h2 class="mc-masthead__content--headline">Media Center</h2>
      <hr class="mc-masthead__border">
      <p class="mc-masthead__content--tagline">
      announcements, coverage, press kit and more</p>
    </div>
  </div>
</section>
