{% set prListCss %}

.prList {
  background: #164873;
  padding: 10px 20px;
  border-top: 10px solid {{ roman }};
  padding-bottom: 200px;
}

.pr-list {
  position: relative;
}

.pr-list--triangle-up {
  width: 0;
  height: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-bottom: 200px solid white;
  position: absolute;
  left: -18px;
}

.pr-list__headline--big {
  text-transform: uppercase;
  color: #EFA044;
  font-size: 6.7em;
  font-weight: 300;
  margin-bottom: -7px;
}

.pr-list__headline {
  margin-top: 2px;
  text-transform: uppercase;
  color: white;
  font-size: 2.7em;
}

.pr-list__item {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6a88a2;
}

.pr-list__item:first-child {
  margin-top: 40px;
}

.pr-list__item__headline {
  line-height: 1.4em;
  font-weight: 300;
  font-size: 1.4em;
}

.pr-list__item__headline > a {
  color: white;
}

.pr-list__item__excerpt {

}




{% endset %}

{% includeCss prListCss %}

{% set prEntries = craft.entries.section('pressReleases').limit(8) %}

<section class="prList hidden-xs">
  <h2 class="pr-list__headline--big">Latest</h2>
  <h3 class="pr-list__headline">Press Releases</h3>

  <ul class="pr-list">
  {% for prEntry in prEntries %}
    <li class="pr-list__item">
      <h4 class="pr-list__item__headline"><a href="{{ prEntry.url }}">{{ prEntry.title }}</a></h4>
    </li>
  {% endfor %}
  <div class="pr-list--triangle-up"></div>
  </ul>
</section>
