<h3 class="htimeline__headline text-center">Looking for diversification opportunities in existing, adjacent or new markets?  </h3>
<hr class="htimeline__border">
<p class="htimeline__intro text-center">Here’s how we can help!</p>
<!-- The Timeline -->
<ul class="timeline">
  <!-- Item 1 -->
  <li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Opportunity scans</span>
    </div>
    <div class="desc">Shortlist ideas as relevant to your business and ecosystem
    </div>
  </div>
  </li>
  <!-- Item 2 -->
  <li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="flag">Diversification Case Examples</span>
    </div>
    <div class="desc">Learn what has worked or not worked for your peers or specific companies
    </div>
  </div>
  </li>
  <!-- Item 3 -->
  <li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Deep-dive market studies</span>
    </div>
    <div class="desc">Evaluate market attractiveness and KSFs for selected ideas
    </div>
  </div>
  </li>
  <!-- Item 4 -->
  <li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="flag">Route-to-entry options</span>
    </div>
    <div class="desc">Acquisitions or greenfield project? Whom can we potentially acquire?
    </div>
  </div>
  </li>
  <!-- Item 5 -->
  <li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Go-to-market strategy</span>
    </div>
    <div class="desc">Define all elements of supply chain and marketing strategy
    </div>
  </div>
  </li>
    <!-- Item 6 -->
  <li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Business Plan</span>
    </div>
    <div class="desc">Business case, financial model or project feasibility reports for internal approvals
    </div>
  </div>
  </li>
</ul>
