{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_svc-stats_blok' %}
{% include '_components/services/_client-list' with { 'padding': '30px 0 30px 0'} %}
{% include '_components/services/_why-aranca-b' with { 'blueBackground' : true} %}
{% include '_components/services/_customers-blok' %}
{% include '_components/services/_why-aranca-c' %}
{% include '_components/services/_svc_box_grid' with {'data': entry.experienceRichtext, 'brandColor': BrCore } %}
{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_kc-content' %}
{% include '_components/global/_footer' %}
