{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_customers-blok' with { 'bkColor': '#F2F2F2' } %}
{% include '_components/services/_services-intro' %}
{% include '_components/services/_svc_box_grid' with {'data': entry.experienceRichtext, 'brandColor': BrCore } %}
{% if entry.solutionRichtext|length %}
  {% include '_components/services/_ztabs' with {'blueBackground': 'aliceblue' } %}
{% endif %}
{% if entry.tfilterRichtext|length %}
  {# include '_components/services/_assignment-tab'  #}
  {% include '_components/services/_interactive'  %}
{% endif %}

{% include '_components/services/_full-cta-a' %}
{% include '_components/services/_kc-content' %}
{% include '_components/global/_footer' %}
