<article> 
	{% include "includes/_intro.html" %}
	{% include "includes/_landing.html" %}
	{% include "includes/_card.html" %}
	{% include "includes/_picture-quote.html" %}
	{% include "includes/_media-grid-a.html" %}
	{% include "includes/_media-grid-c.html" %}
	{% include "includes/_stats.html" %}
	{% include "includes/_link-box-grid.html" %}
	{% include "includes/_rich-content.html" %}
	{% include "includes/_profile-widget.html" %}
	{% include "includes/_rich-content-matrix.html" %}
	{% include "includes/_case-studies.html" with { categoryName: entry.servicesCategory.first() } %}
</article>