<article>
  {% include "includes/services/_intro.html" %}
  {% include "includes/services/_landing.html" %}
  {% include "includes/services/_card.html" %}
  {% include "includes/services/_picture-quote.html" %}
  {% include "includes/services/_media-grid-a.html" %}
  {% include "includes/services/_media-grid-c.html" %}
  {% include "includes/services/_stats.html" %}
  {% include "includes/services/_link-box-grid.html" %}
  {% include "includes/services/_rich-content.html" %}
  {% include "includes/_profile-widget.html" %}
  {% include "includes/services/_rich-content-matrix.html" %}
  {% include "includes/_case-studies.html" with { categoryName: entry.servicesCategory.first() } %}



  {% include "includes/services/_content-row.html" %}
</article>

<ul>
  <div class="row">
    <div class="col-md-6">
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Enter new markets</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Defining go-to-market strategies</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Launching new products</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Increasing market share</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Acquiring companies</li>

    </div>
    <div class="col-md-6">
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Understanding competitor's strategies</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Implementing digital strategies</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Driving innovation initiatives</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Tracking customer experience</li>
      <li><i class="fa fa-check" style="color:green"></i>&nbsp;&nbsp;Enhancing sales-force effectiveness</li>
    </div><!-- end col-md-6 -->
  </div>
</ul>
