{% extends "layouts/_site" %}

{% set title = "Home" %}

{% block main %}
  <article>
    <section class="section">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <img src="assets/banners/aranca-banner.jpg" alt="aranca-banner"/>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </article>
{% endblock %}