{% set thankyouCss %}

.thank-you {
  padding-top: 20px;
  padding-bottom: 30px;
}

{% endset %}


{% includeCss thankyouCss %}



<div class="container thank-you">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if craft.session.hasFlash('success') %}

          <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>  {{ craft.session.getFlash('success') | raw }}
          </div>

          {% endif %}
          <h1 class="lede__headline">Thank you for updating your subscription.</h1>
          <hr class="lede__border">
          <h2 class="lede__subheadline" style="text-align:left;">We have sent you an email with the changes that you have made for your review and records.</h2>
          <h2 class="lede__subheadline"  style="text-align:left; line-height:25px;">Connect with us on <a href="https://www.facebook.com/ArancaResearch" target="_blank">Facebook,</a> <a href="http://www.linkedin.com/company/aranca" target="_blank">Linkedin</a> and <a href="https://twitter.com/aranca" target="_blank">Twitter.</a> Our Research teams keeps updating our social media feeds with interesting posts on business, markets, finance, valuation, start-ups, etc. </h2>
          <h2 class="lede__subheadline" style="text-align:left;">Join our community to stay updated on our most recent published <a href="http://www.aranca.com/knowledge-library/blogs-and-opinions" target="_blank">blogs,</a> <a href="http://www.aranca.com/knowledge-library/articles" target="_blank">articles</a> and <a href="http://www.aranca.com/knowledge-library/special-reports" target="_blank">reports</a> too.</h2>

        </div>




      </div>
    </div>
  </div>
</div>



