{% extends "base_layouts/_site" %}

{% set title = entry.title %}

{% block main %}

{% include '_components/global/_header' %}

<div class="container-fluid article">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {% set category = entry.practiceCategory.first %}
          {% set content = entry.mcContent %}
          {% include '_components/media-center/_article'
              with { 'category': category, 'content': content }
          %}

        </div>
      </div>
    </div>
  </div>
</div>
{% include '_components/global/_footer' %}
{% endblock %}

