{% extends "base_layouts/_site" %}

{% set title = 'Media Room - Announcements, Coverage, Press kit and More' %}
{% set desc = 'Aranca has been profiled by global media agencies like Business Standard, BBC, CNBC, NDTV, The Economic Times, Zee News among others & is identified as a leading provider of outsourced research & analytics services.' %}
{% set keywords = 'media coverage, videos, press releases, global research services provider, aranca media, aranca press releases, aranca case studies, aranca interviews, aranca financial reports, industry reports by aranca' %}


{% block main %}

{% include '_components/global/_header' %}
{% include '_components/media-center/_masthead' %}
{% include '_components/media-center/_featured' %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 mc-sidebar">
      {% include '_components/media-center/_pr-list' %}
      {% include '_components/media-center/_archive' %}
    </div><!--  end col-sm-4 -->

    <div class="col-sm-8 mc-main">
      {% include '_components/media-center/_story-list' %}
      {% include '_components/media-center/_contact' %}
    </div><!--  end col-sm-8 -->
  </div><!--  end row -->
</div>

{% include '_components/global/_footer' %}


{% endblock %}
