{% set nav = 
   { about_us: {
        corporate_information: { 
          heading: { title: "Corporate Information", href: "#" },
          link1: { title: "Management", href: "#" },
          link2: { title: "Advisory Board", href: "#" },
          link3: { title: "Our Edge", href: "about-aranca/our-edge" },
          link4: { title: "Engagement Models", href: "#" }, 
          link5: { title: "Information Security and Confidentiality", href: "#" }, 
          link6: { title: "Client Testimonials", href: "about-aranca/client-testimonials" }, 
          link7: { title: "Corporate Social Responsibility (CSR)", href: "#" }, 
          link8: { title: "Awards and Recognitions", href: "#" }, 
          },
        media_center: { 
          heading: { title: "Media Center", href: "media-center" },
          link1: { title: "Press Releases", href: "#" },
          link2: { title: "Media Coverage", href: "#" },
          link3: { title: "Videos", href: "#" },
          link4: { title: "Media Contacts", href: "#" }, 
          },        
      },
      investment_research: {
        clients: { 
          heading: { title: "Clients", href: "#" },
          brokerage_firms: { title: "Brokerage Firms", href: "http://www.aranca.com/investment-research/clients/    brokerage-firms" },
          asset_managers: { title: "Asset Managers", href: "http://www.aranca.com/investment-research/clients/asset-managers" },
          investment_banks: { title: "Investment Banks", href: "http://www.aranca.com/investment-research/clients/investment-banks" },
          private_equity: { title: "Private Equity/ Venture Cap Firms", href: "http://www.aranca.com/investment-research/clients/private-equity-venture-cap-firms" } 
          },
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          equity_research: { title: "Equity Research", href: "#" },
          fixed_income: { title: "Fixed Income and Credit Research", href: "#" },
          investment_banking: { title: "Investment Banking Research", href: "#" },
          pe_vc: { title: "PE-VC Research", href: "#" },
          economic_research: { title: "Economic Research", href: "#" },
          sustainable_research: { title: "Sustainable and Responsible Investing Research", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      market_intelligence: {
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          link1: { title: "Enterprises", href: "#" },
          link2: { title: "Consulting Firms", href: "#" },
          link3: { title: "Law Firms", href: "#" },
          link4: { title: "Private Equity", href: "#" }, 
          link5: { title: "Research Helpdesk", href: "#" }, 
          },
        sector_experience: { 
          heading: { title: "Sector Experience", href: "#" },
          link1: { title: "Aerospace & Defense", href: "#" },
          link2: { title: "Agribusiness", href: "#" },
          link3: { title: "Alternate Energy & Fuels", href: "#" },
          link4: { title: "Automobiles & Auto Parts", href: "#" },
          link5: { title: "Banking & Financial Services", href: "#" }, 
          link6: { title: "Chemicals", href: "#" }, 
          link7: { title: "Education", href: "#" }, 
          link8: { title: "Electronics & IT", href: "#" }, 
          link9: { title: "Food & Beverages", href: "#" }, 
          link10: { title: "Insurance", href: "#" }, 
          link11: { title: "Internet", href: "#" }, 
          link12: { title: "Media & Entertainment", href: "#" }, 
          link13: { title: "Metals & Mining", href: "#" }, 
          link14: { title: "Packaging", href: "#" }, 
          link15: { title: "Pharma & Medical Devices", href: "#" }, 
          link16: { title: "Telecom", href: "#" }, 
          link17: { title: "Travel & Tourism", href: "#" },
          },        
        global_exprience: { 
          heading: { title: "Global Experience", href: "#" },
          link1: { title: "Asia Pacific", href: "#" },
          link2: { title: "Middle East & North Africa", href: "#" },
          link3: { title: "Central and Eastern Europe", href: "#" },
          link4: { title: "North America", href: "#" },
          link5: { title: "Western Europe", href: "#" }, 
          link6: { title: "South America", href: "#" }, 
          link7: { title: "South, West & East Africa", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      valuation_advisory: {
        us_tax_compliance: { 
          heading: { title: "US Tax Compliance", href: "#" },
          link1: { title: "IRC 409A Valuation", href: "#" },
          link2: { title: "Estate and Gift Tax", href: "#" },
          link3: { title: "IRC 83b Election", href: "#" },
          link4: { title: "'S' Corp Election (IRC1374)", href: "#" }, 
          link5: { title: "Carry Forward of NOLs (IRC382)", href: "#" }, 
          },
        us_gaap_reporting: { 
          heading: { title: "US GAAP Reporting", href: "#" },
          link1: { title: "Purchase Price Allocation (ASC805)", href: "#" },
          link2: { title: "Goodwill Impairment (ASC350)", href: "#" },
          link3: { title: "Portfolio Valuation (ASC820)", href: "#" },
          link4: { title: "Share Based Payments (ASC718)", href: "#" }, 
          },        
        ifrs_reporting: { 
          heading: { title: "IFRS Reporting", href: "#" },
          link1: { title: "Impairments of Assets (IAS36)", href: "#" },
          link2: { title: "Intangibles Valuation (IFRS3)", href: "#" },
          link3: { title: "Share Based Payments (IFRS2)", href: "#" },
          link4: { title: "Fair Value Measurement (IFRS13)", href: "#" },  
          },        
        transaction_support: { 
          heading: { title: "Transaction Support", href: "#" },
          link1: { title: "Fairness Opinions", href: "#" },
          link2: { title: "Buyer and Seller Services", href: "#" },
          link3: { title: "Financial Modeling", href: "#" },
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
      ip_research: {
        clients: { 
          heading: { title: "Clients", href: "#" },
          link1: { title: "Enterprises", href: "#" },
          link2: { title: "Law Firms", href: "#" },
          link3: { title: "Universities | R&D Institutions", href: "#" }, 
          },
        research_solutions: { 
          heading: { title: "Research Solutions", href: "#" },
          link1: { title: "Prior Art Searches", href: "#" },
          link2: { title: "Patent Analytics Services", href: "#" },
          link3: { title: "Outlicensing | Tehnology Transfer Support", href: "#" },
          link4: { title: "Patent Valuation Services", href: "#" }, 
          link5: { title: "Patent Prosecution Support", href: "#" }, 
          },        
        verticals: { 
          heading: { title: "Verticals", href: "#" },
          link1: { title: "Automotive", href: "#" },
          link2: { title: "Chemicals", href: "#" },
          link3: { title: "Electronics", href: "#" },
          link4: { title: "Energy", href: "#" },
          link5: { title: "Food Technologies", href: "#" }, 
          link6: { title: "IT and Computing", href: "#" }, 
          link7: { title: "Life Sciences", href: "#" }, 
          link8: { title: "Mechanical Engineering", href: "#" }, 
          link9: { title: "Pharmaceuticals", href: "#" }, 
          link10: { title: "Telecommunications", href: "#" }, 
          },
        download: {
          heading: { title: "Download", href: "#" },
          link1: { title: "Case Studies", href: "#" },
          link2: { title: "Request Samples", href: "#" },
          },
      },
    }
%}

<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky" id="masthead">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="{{craft.config.assetsImagesUrl}}/aranca-logo.png" alt="aranca-logo"/>
			</a>
		</div>
		<div class="nav-container">
			<nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
				<div class="menu-container">
					<ul class="nav navbar-nav" id="menu-main">

						 <li class="menu-item active dropdown menu-item-object-oxy_mega_menu"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us</a>
							<ul class="dropdown-menu dropdown-menu-left row ">
									
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-4">
									<img src="{{craft.config.assetsImagesUrl}}/corporate-info.jpg" alt="Investment Research"/ style="padding-top:20px;">
									<div><p>Aranca is a leading provider of customized investment research, business research, intellectual property research and valuation services to global clients.</p></div>
									</li>
								
								{% for section in nav.about_us %}
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-4"> <strong><a href="{{section.heading.href}}">{{section.heading.title}}</a></strong>
										<ul class="dropdown-menu-left">
											{% for link in section %}
												{% if loop.index0 !=0 %}
														<li class="menu-item"> 
														<a href="{{link.href}}">
															{{link.title}}
														</a> 
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</li>
								{% endfor %}
							</ul>
						</li>


						</li>

						<li class="menu-item  dropdown menu-item-object-oxy_mega_menu"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Investment Research</a>
								<ul class="dropdown-menu dropdown-menu-left row">
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-3">
									<strong><a href="http://www.aranca.com/investment-research">Investment Research Practice</a></strong>
									<img src="{{craft.config.assetsImagesUrl}}/investment-research.jpg" alt="Investment Research"/>
									<div><p>Aranca helps increase research coverage and depth without adding fixed costs, thereby allowing clients to focus on innovation, idea generation and client-facing activities.</p></div>
									<strong><a href="http://www.aranca.com/investment-research/investment-research-practice/experience">Experience</a></strong>
									</li>

								{% for section in nav.investment_research %}
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-3"> <strong><a href="{{section.heading.title}}">{{section.heading.title}}</a></strong>
										<ul class="dropdown-menu-left">
											{% for link in section %}
												{% if loop.index0 !=0 %}
														<li class="menu-item"> 
														<a href="{{link.href}}">
															{{link.title}}
														</a> 
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
	
								</ul>
							</li>

						<li class="menu-item  dropdown menu-item-object-oxy_mega_menu"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Research</a>
								<ul class="dropdown-menu dropdown-menu-left row">

									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2">
									<strong><a href="http://www.aranca.com/business-research">Business Research Practice</a></strong>
									<img src="{{craft.config.assetsImagesUrl}}/business-research.jpg" alt="Business Research"/>
									<div><p>Aranca supports senior managers in global enterprises, consulting, law and PE/VC firms with quick, accurate and insightful answers to critical questions on markets, competition, customers, supply chain, innovation and technology trends</p></div>
									<strong><a href="http://www.aranca.com/business-research/business-research-practice/track-record">Track Record</a></strong>
									<strong><a href="http://www.aranca.com/business-research/business-research-practice/research-approach">Research Approach</a></strong>
									</li>

									{% for section in nav.market_intelligence %}
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="{{section.heading.title}}">{{section.heading.title}}</a></strong>
										<ul class="dropdown-menu-left">
											{% for link in section %}
												{% if loop.index0 !=0 %}
														<li class="menu-item"> 
														<a href="{{link.href}}">
															{{link.title}}
														</a> 
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
{# 									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="http://www.aranca.com/business-research/research-solutions">Research Solutions</a></strong>
										<ul class="dropdown-menu-left">
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/research-solutions/enterprises">Enterprises</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/research-solutions/consulting-firms">Consulting Firms</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/research-solutions/law-firms">Law Firms</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/research-solutions/private-equity-venture-cap-firms">Private Equity</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/research-solutions/research-helpdesk">Research Helpdesk</a> </li>
										</ul>
									</li>
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="http://www.aranca.com/business-research/sector-experience">Sector Experience</a></strong>
										<ul class="dropdown-menu-left">
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/aerospace-and-defense">Aerospace and Defense</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/agribusiness">Agribusiness</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/alternate-energy-and-fuels">Alternate Energy and Fuels</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/automobiles-and-auto-parts">Automobiles and Auto Parts</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/banking-and-financial-services">Banking and Financial Services</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/chemicals">Chemicals</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/education">Education</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/electronics-and-it">Electronics and IT</a> </li>
										</ul>
									</li>
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2">
									<br/><br/>
										<ul class="dropdown-menu-left">
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/food-and-beverages">Food and Beverages</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/insurance">Insurance</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/internet">Internet</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/media-and-entertainment">Media and Entertainment</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/metals-and-mining">Metals and Mining</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/packaging">Packaging</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/pharma-and-medical-devices">Pharma and Medical Devices</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/telecom">Telecom</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/sector-experience/travel-and-tourism">Travel and Tourism</a> </li>

										</ul>
									</li>

									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"><strong><a href"http://www.aranca.com/business-research/global-experience">Global Experience</a></strong>
										<ul class="dropdown-menu-left">
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/asia-pacific">Asia Pacific</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/middle-east-and-north-africa">Middle East and North Africa</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/central-and-eastern-europe">Central and Eastern Europe</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/north-america">North America</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/western-europe">Western Europe</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/south-america">South America</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/global-experience/south-west-and-east-africa">South, West and East Africa</a> </li>
										</ul>
									</li>

									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="http://www.aranca.com/business-research/global-experience">Download</a></strong>
										<ul class="dropdown-menu-left">
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/download/case-studies">Case Studies</a> </li>
											<li class="menu-item"> <a href="http://www.aranca.com/business-research/download/request-samples">Request Samples</a> </li>
										</ul>
									</li>#}
								</ul>
							</li> 

							<li class="menu-item  dropdown menu-item-object-oxy_mega_menu"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Valuation and Advisory</a>
								<ul class="dropdown-menu dropdown-menu-left row">

									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2">

									<strong><a href="http://www.aranca.com/valuation-and-advisory">Valuation and Advisory Practice</a></strong>
									<img src="{{craft.config.assetsImagesUrl}}/valuation-and-advisory.jpg" alt="Valuation and Advisory Research"/>
									<div><p>Our ASA, CFA, CPA and CA credentialed experts deliver credible, independent and defensible valuations for tax compliance and financial reporting purposes.</p></div>

									<strong><a href="http://www.aranca.com/valuation-and-advisory/valuation-and-advisory-practice/expertise">Expertise</a></strong>

									</li>

									{% for section in nav.valuation_advisory %}
									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="{{section.heading.title}}">{{section.heading.title}}</a></strong>
										<ul class="dropdown-menu-left">
											{% for link in section %}
												{% if loop.index0 !=0 %}
														<li class="menu-item"> 
														<a href="{{link.href}}">
															{{link.title}}
														</a> 
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
								</ul>
							</li>

						<li class="menu-item  dropdown menu-item-object-oxy_mega_menu"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">IP Research</a>
								<ul class="dropdown-menu dropdown-menu-left row">

									<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-3">

									<strong><a href="http://www.aranca.com/intellectual-property-research">IP Research Practice</a></strong>
									<img src="{{craft.config.assetsImagesUrl}}/ip-research.jpg" alt="IP Research"/>
									<div><p>Aranca provides comprehensive research, analytics, valuation and out-licensing support services spanning the entire patent lifecycle to innovation-led enterprises, law-firms, universities and R&D institutions</p></div>

									<strong><a href="http://www.aranca.com/intellectual-property-research/ip-research-practice/track-record">Track Record</a></strong>
									<strong><a href="http://www.aranca.com/intellectual-property-research/ip-research-practice/language-capability">Language Capability</a></strong>
									<strong><a href="http://www.aranca.com/about-aranca/corporate-information/information-security-and-confidentiality"> Information Security and Confidentiality</a></strong>

									</li>
									{% for section in nav.ip_research %}
										<li class="menu-item menu-item-object-oxy_mega_columns menu-item-has-children dropdown-submenu dropdown col-md-2"> <strong><a href="{{section.heading.title}}">{{section.heading.title}}</a></strong>
											<ul class="dropdown-menu-left">
												{% for link in section %}
													{% if loop.index0 !=0 %}
															<li class="menu-item"> 
															<a href="{{link.href}}">
																{{link.title}}
															</a> 
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
							</li>
							

						<li class="menu-item"> <a href="#">Contact Us</a> </li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>