<section class="intro section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

          <h1 class="intro-lead-headline">
            {{block.headline}}
          </h1>
          {% if block.lead %}
            <hr class="divider-center-white" />
          {% endif %}
            <p class="intro-lead-content">
              {{block.lead}}
            </p>

      </div>  <!-- End of col-md-12  -->
    </div>  <!-- End of Row  -->
  </div>  <!-- End of container  -->
</section>