{% set latestMediaCoverageList = craft.entries.section('mediaCoverage').order('postDate desc').limit(5) %}
{% set latestMediaCoverage = latestMediaCoverageList.first() %}

<section class="press-releases">
  <div class="mc-featured">
      <p class="mc-featured__breadcrumb">Latest Media Coverage<p>
      <h1 class="mc-featured__headline">{{latestMediaCoverage.title}}</h1>
      <p class="release-date text-center"><span>Published on</span> {{latestMediaCoverage.postDate|date("d M, Y")}}</p>
      {% set image = latestMediaCoverage.shortImage.first() %}
      {% if image %}
      <img class="mc-featured__image" src="{{image.getUrl()}}" alt="">
      {% endif %}
      <p class="mc-featured__excerpt">{{latestMediaCoverage.excerpt}} <a href="{{latestMediaCoverage.url}}" class="read-more">Read More</a>
      </p>
  </div><!-- pr-featured -->
  <div class="mc-stories inverted-white">
    <div class="arrow-down"></div>
    <div class="row">
    {# Offset entries to avoid repeating latest entry #}
    {% for entry in latestMediaCoverageList.offset('1') %}
      <div class="col-sm-6">
        <h3 class="mc-stories__headline">{{entry.title}}</h3>
        <p class="release-date--small"><span>Released on</span> {{entry.postDate|date("d M, Y")}}</p>
      </div>
    {% endfor %}
    <div class="mc-cta-wrapper col-md-12 text-center"><a class="ghost-button--wide" href="/media-center/media-coverage">View All Media Coverage</a></div>
    </div><!-- row -->
  </div><!-- pr-stories -->
</section><!-- press-releases -->