{% include '_components/global/_header' %}
{% include '_components/services/_masthead' %}
{% include '_components/services/_service-intro' %}
{% include "_components/services/_content-row-grid" with { 'backgroundColor' : '#f6f6f6;' } %}
{% include '_components/salesint/_list-element-4col-2row.html' %}
{% include "_components/services/_why-aranca-d" with { 'backgroundColor' : '#f6f6f6;' } %}
{# include '_components/services/_sol-portfolio-b' #}
{% include '_components/services/assignment-slider' %}
{% include '_components/services/_profile-grid' %}
{# include '_components/salesint/_case-study-modal-os.html' #}
{% if entry.caseStudyEntries|length %}
  {% include '_components/services/_case-study-list' with { 'bkcolor': '#f6f6f6;'  } %}
{% endif %}
{% include '_components/salesint/_full-cta.html' %}
{% include '_components/global/_footer' %}