{# include '_components/salesint/_global/_dochead.html' #}
{# include '_components/salesint/_global/_logo.html' #}
{# include '_components/salesint/_masthead.html' #}
{% include '_components/landing-pages/global/_nav' %}
{% include '_components/landing-pages/_masthead' %}
{% include '_components/services/_service-intro' %}
{% include '_components/salesint/_solution-table.html' %}
{% include '_components/salesint/_landing page-form-hubspot.html' %}
{% include '_components/salesint/_list-element-4col-2row.html' %}
{% include '_components/salesint/_ztabs.html' %}
{% include '_components/salesint/_full-cta.html' %}
{% include '_components/salesint/_case-study-modal.html' %}
{# include '_components/salesint/_global/_footer.html' #}
{% include '_components/global/_footer' %}