<div class="pr-featured">
  {% for entry in craft.entries.section('pressReleases').order('postDate desc').limit(1) %}
    <p class="pr-featured__breadcrumb">Latest Press Release<p>
    <h1 class="pr-featured__headline">{{entry.title}}</h1>
    <p class="release-date"><span>Released on</span> {{entry.postDate|date("d M, Y")}}</p>
    {% set image = entry.shortImage.first() %}
    {% if image %}
    <img class="pr-featured__image" src="{{image.getUrl()}}" alt="">
    {% endif %}
    <p class="pr-featured__excerpt">{{entry.excerpt}} <a href="{{entry.url}}" class="read-more">Read More</a>
    </p>
  {% endfor %}
</div>
<div class="pr-stories">
  
</div>