<div class="pr-featured">
  <p class="pr-featured__breadcrumb">Latest Press Release<p>
  <h1 class="pr-featured__headline">Aranca bags 'Company of the year: IP and Valuation' Title</h1>
  <p class="release-date"><span>Released on</span> 24th June, 2014</p>
  <img class="pr-featured__image" src="/assets/images/backgrounds/rbi-story.jpg" alt="">
  <p class="pr-featured__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quod asperiores blanditiis eius. Nam fugit pariatur perferendis alias ipsum incidunt, accusantium ea debitis veniam possimus eveniet, repellat impedit distinctio maxime. <a href="#" class="read-more">Read More</a>
  </p>
</div>
<div class="pr-stories">
  
</div>