{% extends "layouts/_site" %}

{% block main %}

  <article> 
    {% include "includes/_intro.html" %}
    {% include "includes/_landing.html" %}
    {% include "includes/_card-block.html" %}
    {% include "includes/_picture-quote.html" %}
    {% include "includes/_media-grid-a.html" %}
    {% include "includes/_stat-block.html" %}
    {% include "includes/_content-block-navigation.html" %}
    {% include "includes/_case-studies.html" with { categoryName: entry.servicesCategory.first() } %}
  </article>
{% endblock %}